{% extends 'baseUser.html.twig' %}
{% block top_title %} TYPES D’UTILISATEURS | CRÉATION D'UN TYPE D'UTILISATEUR | ÉTAPE 1 : PERMISSIONS {% endblock %}
{% block body %}
    <div class="row mr-2">
        <div class="col-12">
            <button class="btn btn-primary float-right p-2">Supprimer le type d'utilisateur</button>
        </div>
    </div>

    <form action="#">
        <div class="row create-formation pr-4 pl-4">
                <div class="stepper-img text-center"><img src="{{ asset('images/icons/step1.png') }}"></div>
                <br>
                <label class="text-uppercase text-center sens-def ">
                    <span>GESTION DES PERMISSIONS DU TYPE D'UTILISATEUR</span>
                </label>
            <br>
                <div class="col-6">
                    <div class="form-group green-border-focus">
                        <label for="exampleFormControlTextarea5 text-uppercase">NOM</label>
                        <input class="form-control" id="exampleFormControlTextarea5" rows="1">
                    </div>
                    <div class="form-group green-border-focus description">
                        <label for="exampleFormControlTextarea5 text-uppercase">DESCRIPTION</label>
                        <textarea class="form-control" id="exampleFormControlTextarea5" rows="5"></textarea>
                    </div>
                    <div class="nature">
                        <div class="sidebar-dropdown dropdown-select right-check" id="choose-user">
                            <label class="dropdown-label text-uppercase">Nature</label>
                            <div class="select2-drop select2-display-none select2-drop-active"id="select2-drop">
                                <ul class="select2-results" role="listbox" id="select2-results-4">
                                    <li class="select2-results-dept-0 select2-result select2-result-selectable select2-highlighted" role="presentation">
                                        <div class="select2-result-label" id="select2-result-label-19" role="option">
                                            <span class="select2-match"></span>Nature
                                        </div>
                                    </li>
                                    <li class="select2-results-dept-0 select2-result select2-result-selectable" role="presentation">
                                        <div class="select2-result-label" id="select2-result-label-20" role="option">
                                            <span class="select2-match"></span>ÉTUDIANT
                                        </div>
                                    </li>
                                    <li class="select2-results-dept-0 select2-result select2-result-selectable" role="presentation">
                                        <div class="select2-result-label" id="select2-result-label-21" role="option">
                                            <span class="select2-match"></span>COACH
                                        </div>
                                    </li>
                                    <li class="select2-results-dept-0 select2-result select2-result-selectable" role="presentation">
                                        <div class="select2-result-label" id="select2-result-label-22" role="option">
                                            <span class="select2-match"></span>FORMATEUR
                                        </div>
                                    </li>
                                    <li class="select2-results-dept-0 select2-result select2-result-selectable" role="presentation">
                                        <div class="select2-result-label" id="select2-result-label-22" role="option">
                                            <span class="select2-match"></span>ÉDITEUR
                                        </div>
                                    </li>
                                    <li class="select2-results-dept-0 select2-result select2-result-selectable" role="presentation">
                                        <div class="select2-result-label" id="select2-result-label-22" role="option">
                                            <span class="select2-match"></span>ADMINISTRATEUR
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-6 text-center">
                            <span class="title"> ICONE</span>
                        <div class="btn-group switch-btn">
                            <div class="btn-toggle">
                                <button class="btn monthly-btn">Sélectionner</button>
                                <button class="btn annual-btn active">Télécharger</button>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="box">
                                <input type="file" name="file-5[]" id="file-5" class="inputfile inputfile-4 d-none" data-multiple-caption="{count} files selected" multiple="">
                                <img src="{{ asset('images/icons/images-step.png') }}">
                            </div>
                            <input type="text" class="form-control" name="image">
                            <button class="btn btn-primary small">Envoyer</button>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-center">
                            <span class="title">SÉLECTIONNER LA COULEUR DE L'ICONE</span>
                        <div class="btn-group switch-btn">
                            <div class="btn-toggle">
                                <button class="btn monthly-btn">Couleur</button>
                                <button class="btn annual-btn active">Dégradé</button>
                            </div>
                        </div>
                        <div class="form-group col-md-6 form-group col-md-8 ml-0 pl-0 pt-3">
                            <div class="custom-control custom-radio custom-control-inline small mb-2">
                                <input type="radio" class="color1" id="defaultInline1" name="gender" value="0">
                            </div>
                            <div class="custom-control custom-radio custom-control-inline small mb-2">
                                <input type="radio" class="color2" id="defaultInline2" name="gender" value="1">
                            </div>
                            <div class="custom-control custom-radio custom-control-inline small mb-2">
                                <input type="radio" class="color3" id="defaultInline3" name="gender" value="2">
                            </div>
                            <div class="custom-control custom-radio custom-control-inline small mb-2">
                                <input type="radio" class="color4" id="defaultInline4" name="gender" value="3">
                            </div>
                            <div class="custom-control custom-radio custom-control-inline small mb-2">
                                <input type="radio" class="color4" id="defaultInline5" name="gender" value="4">
                            </div>
                            <div class="custom-control custom-radio custom-control-inline small mb-2">
                                <input type="radio" class="color4" id="defaultInline6" name="gender" value="5">
                            </div>
                            <div class="custom-control custom-radio custom-control-inline small mb-2">
                                <input type="radio" class="color4" id="defaultInline7" name="gender" value="6">
                            </div>
                            <div class="custom-control custom-radio custom-control-inline small mb-2">
                                <input type="radio" class="color4" id="defaultInline8" name="gender" value="7">
                            </div>
                        </div>
                        </div>
        </div>
        <div class="next-step-btn pr-4">
            <a type="" class="btn btn-primary" href="{{ path('new_type_step2') }}"> Enregistrer  </a><img src="{{ asset('images/icons/next.png') }}">
        </div>
    </form>
{% endblock %}