{% extends 'baseStudent.html.twig' %}
{% block top_title %} <a href="{{ path('user_profile') }}">Profil</a> | Metre à  niveau mon abonnement {% endblock %}
{% block body %}
<div class="container-fluid abonnement-page">
    <div class="top-page text-center mb-5 mt-5">
        <h2 class="gray-title mb-5">MISE À NIVEAU DE VOTRE ABONNEMEN</h2>
        <div class="btn-group switch-btn">
            <div class="btn-toggle">
                <button class="btn monthly-btn" >Mensuel</button>
                <button class="btn active annual-btn">Annuel</button>
            </div>
        </div>
    </div>
    <section>
        <div class="container-fluid">
            <div class="container">
                <div class="row collapse" id="monthly">
                    {% for abonnement in monthly %}
                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="title">
                                <i class="fa fa-paper-plane" ></i>
                                <h2>{{ abonnement.name }}</h2>
                            </div>
                            <div class="price">
                                <h4><sup>{% if abonnement.devise == 'euro' %}€{% else %}${% endif %}</sup>{{ abonnement.value }}</h4>
                            </div>
                            <div class="option">
                                <ul>
                                    <li>{{ abonnement.description }}</li>
                                </ul>
                            </div>
                            <a href="{{ path('student_pannier') }}">Sélectionner le plan </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row collapse show" id="annual">
                    {% for abonnement in annual %}
                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="title">
                                <i class="fa fa-paper-plane" ></i>
                                <h2>{{ abonnement.name }}</h2>
                            </div>
                            <div class="price">
                                <h4><sup>{% if abonnement.devise == 'euro' %}€{% else %}${% endif %}</sup>{{ abonnement.value }}</h4>
                            </div>
                            <div class="option">
                                <ul>
                                    <li>{{ abonnement.description }}</li>
                                </ul>
                            </div>
                            <a href="{{ path('student_pannier') }}">Sélectionner le plan </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}