{% extends 'baseStudent.html.twig' %}
{% block top_title %}  <a href="{{path('student_formations')}}">Formations</a> | <a href="{{path('show_formation',{'id':'1'})}}"> CAP AEPE</a> | MATIÈRES GÉNÉRALES | SCIENCES PHYSIQUE{% endblock %}
{% block body %}
<div class="container-fluid text-gray-700 formation-student">
    <div class="row mb-2 pr-0 mr-0 ">
       <div class="course-header"></div>
        <div class="col-xl-3 col-md-3 mb-4">
            <div class="full-card shadow py-2 show-formation">
                <h5 class="text-uppercase  text-center pt-4">MATIÉRES GÉNÉRALES</h5>
               <ul class="">
                <li>
                    <img class="icon-categorie" src="/assets/images/icons/form2.png">
                    <a href="#cour1" class="cour p-0 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="cour1">
                        <span class="m-0 text-gray-700">HISTOIRE - GÉOGRAPHIE</span>
                        <img src="{{ asset('images/icons/arrow-left.png') }}">
                    </a>
                    <div class="collapse pl-5" id="cour1" style="">
                        <ul>
                            <li>Chap1</li>
                            <li>Chap2</li>
                        </ul>      
                    </div>
                </li> 
                <li>
                    <img class="icon-categorie" src="/assets/images/icons/form3.png">
                    <a href="#cour2" class="cour p-0 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="cour2">
                        <span class="m-0 text-gray-700">MATHÉMATIQUES</span>
                        <img src="{{ asset('images/icons/arrow-left.png') }}">
                    </a>
                    <div class="collapse pl-5" id="cour2" style="">
                        <ul>
                            <li>Chap1</li>
                            <li>Chap2</li>
                        </ul>      
                    </div>
                </li>  
                <li> 
                    <img class="icon-categorie" src="/assets/images/icons/form1.png">
                    <a href="#cour3" class="cour p-0" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="cour3">
                        <span class="m-0 text-gray-700">SCIENCES PHYSIQUES</span>
                        <img src="{{ asset('images/icons/arrow-left.png') }}">
                    </a>
                    <div class="collapse pl-5 show" id="cour3" style="">
                        <ul>
                            <li>01. ÉLECTRICITÉ<img src="/assets/images/icons/check-icon.png"></li>
                            <li>02. CHIMIE    <img src="/assets/images/icons/video-active.png"></li>
                            <li>03. MÉCANIQUE<img src="/assets/images/icons/lock.png"></li>
                            <li>04. ACOUSTIQUE<img src="/assets/images/icons/lock.png"></li>
                            <li>05. THERMOMÉTRIE<img src="/assets/images/icons/lock.png"></li>
                        </ul>      
                    </div>
                </li> 
                <li>
                    <img class="icon-categorie" src="/assets/images/icons/form4.png">
                    <a href="#cour4" class="cour p-0 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="cour4">
                        <span class="m-0 text-gray-700">FRANÇAIS</span>
                        <img src="{{ asset('images/icons/arrow-left.png') }}">
                    </a>
                    <div class="collapse pl-5" id="cour4" style="">
                        <ul>
                            <li>Chap1</li>
                            <li>Chap2</li>
                        </ul>      
                    </div>
                </li>     
                </ul>
            </div>
        </div>  
    </div>
     <div class="row mb-2 pr-0 mr-0 ">
        <div class="col-xl-9 col-md-9 mb-4 h-100 "></div>
        <div class="col-3">
            <div class="full-card text-center h-100 separed-element">
                <img src="{{ asset('images/icons/note.png') }}">
                <span class="text-uppercase">Notes</span>
            </div>
        </div>
    </div>
{% endblock %}