{% extends 'baseStudent.html.twig' %}
{% block top_title %} Dashboard {% endblock %}
{% block body %}
   {# <div class="d-flex vh-100">
        <div class="container m-auto">
            <img class="customimagencours" src="{{ asset('images/site-en-cours.svg') }}"/>
            <img class="customimagencours"  src="{{ asset('images/site-en-cours-2.svg') }}"/>
        </div>
    </div>#}

    <div class="row  pr-0 mr-0" id="dadshbordstudentstat">
    <div class="col-md-12 col-xl-4  col-12 ">
    <div class="full-card shadow py-2">
        <h2 class="text-center">Mes notes</h2>
    <div class="mbnote">

        <div class="row">
            {% for namestudents in namestudent %}
                <div class="col-md-10 col-10 bordbottomnote"><p>{{ namestudents.title }}</p></div>
          <div class=" col-md-1 col-2 cercleserach ">
             <a href="{{ path('update_note',{'id': namestudents.id}) }}"> <i class="fas fa-search"></i></a>

          </div>
            {% endfor %}

        </div>
    </div>
        <div class="row">
            <div class="col-12 margbtnhaut">
                <a href="{{ path('student_note') }}" class="customplus">Voir plus</a>
            </div>
        </div>
    </div>
    </div>
        <div class="col-md-6 col-xl-4  col-12">
            <div class="full-card shadow py-2">
                <div class="mbformation">
                    <h2 class="text-center">Mes formations</h2>
                    <div class="row  list-formations " id="liste">
                        {% for formation in formations %}
                            <div class="col-6  listeeFormation" data-type="{{ formation.category_choice|join() }}">
                                <div class="card box-formation">
                                    {# <i class="trophy fas fa-trophy "><sup>0</sup></i>
                                     <i class="custom-badge fas fa-certificate "><sup>0</sup></i>#}
                                    {% set imageformation = formation.image_formation%}
                                    {% if imageformation != null %}
                                        <div class="heightimg">
                                            <img class="card-img-top" src="http://lms.kiwi-institute.com/images/uploads/{{ formation.user.id }}/documents/{{formation.image_formation}}"/>
                                        </div>
                                    {% endif %}
                                    {% if imageformation == null %}
                                        <div class="heightimg" id="heartnull">
                                            <img src="{{ asset('images/icons/notfound.JPEG') }}"/>
                                        </div>
                                    {% endif %}
                                    <div class="card-body" id="card-formation">
                                        <h5 class="card-title">  <img class="pr-1" src="{{ asset('images/icons/form1.png') }}" width="25px">
                                            <a href="{{ path('show_formation', {'formationId':formation.id})}}">
                                                {{ formation.titre_formation }}</a></h5>

                                    </div>

                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <a href="{{ path('student_formations') }}" class="customplus">Voir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4   col-12">
            <div class="full-card shadow py-2">
                <div class="mbcontact">
                    <h2 class="text-center">Contact</h2>
                    <div class="visibiltysutdent">
                   <p> <strong>Sujet :</strong><input type="text" id="sendsubject"/></p>
                    <p><strong>Message :</strong> <textarea rows="3" id="messagemail"></textarea></p>
                    </div>
                    <div class="hidden visibiltyafter">
                        <p>Message envoyé  </p>
                    </div>
                    <a href="#" class="customplus" id="sendmessagedatsh">Envoyer</a>
                </div>
            </div>
        </div>

    </div>

    <div class="mension-legal">
        <a href={{ path('legal_notice') }}>Mentions Légales</a> |
        <a href={{ path('data_protection') }}>Protection des données</a>
    </div>
{% endblock %}