{% extends 'baseStudent.html.twig' %}
{% block title %}Formations - Kiwi Institute{% endblock %}
{% block top_title %}  Formations {% endblock %}
{% block body %}
<div class="container container-fluid text-gray-700 formation-student">
    <div class="row mb-2 pr-0 mr-0 " id="formationstudent">
        <div class="col-12 col-md-3 offset-md-5">
            <div class="search text-right ">
                <div id="" class="custom-table filter-search">
                    <input id="search-btn" type="checkbox">
                    <label for="search-btn"></label><label>
                        <input type="search" onkeyup="myFunctionserach()" class="form-control form-control-sm" placeholder="" aria-controls="dataTable" id="search-bar"></label>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-2 pt-2 " id="stat">
            <select class="small-select typste" id="statusFilter">
                <option></option>
                <option value="1" class="text-uppercase">En cours</option>
                <option value="2" class="text-uppercase">Terminé</option>
                <option value="3" class="text-uppercase">Favoris</option>
            </select>
        </div>
        <div class="wid-kiwi pt-2 col-12 col-md-2" id="categ">
            <select class="small-select typste" id="categoryslist" >
                <option></option>
                {% if categories %}
                {% for c in categories %}
                    <option >{{ c.name }}</option>
                {% endfor %}
                {% else %}
                    <option>Aucune catégorie</option>
                {% endif %}
            </select>
            {# <a href="#" class="pl-2 pr-2" id="liste-formations"><img src="{{ asset('images/icons/formations.png') }}" data-nonactiveimage="{{ asset('images/icons/formations.png') }}"  data-activeimage="{{ asset('images/icons/formations.png') }}" height="35px;"></a>

            <a href="#" id="table-formations"><img src="{{ asset('images/icons/tab-act.svg') }}" width="31px" data-activeimage="{{ asset('images/icons/tab-act.svg') }}" data-nonactiveimage="{{ asset('images/icons/tab-gary.png') }}"></a>
#}
        </div>
    </div>
    <div class="row pr-0 mr-0" id="">
            <div class="col-xl-12 col-md-12 mb-4 h-100">
                {#<div class="row formation-stat">
                    <div class="full-card shadow pl-0 pr-0 text-center">
                        <h3> 0</h3>
                        <h6> Formations en cours</h6>
                    </div>
                    <div class="full-card shadow pl-0 pr-0 text-center">
                        <h3> 0</h3>
                        <h6> Formations terminés</h6>
                    </div>
                   <div class="full-card shadow pl-0 pr-0 text-center">
                        <h3> 0h</h3>
                        <h6>Passée sur la plateforme</h6>
                    </div>
                   <div class="full-card shadow pl-0 pr-0 text-center">
                        <h3> 0</h3>
                        <h6> certificats</h6>
                    </div>
                   <div class="full-card shadow pl-0 pr-0 text-center">
                        <h3> 0</h3>
                        <h6> Badges</h6>
                    </div>
                </div>#}

                <div class="row mt-3 list-formations " id="liste">


                    <ul id="formationsearchparent">

                        {% set etatchapter ="" %}
{% set i=0 %}
                        {% for formation in formations %}
                            {% set statutscheck = [] %}
                            {% set check = "In progress" %}
                            {% set userChapter =  formation.getUserchapters %}
                            {% for userChap in userChapter %}
                                {% if userChap %}
                                    {% set etatchapter = userChap.getStatuts %}
                                    {% set statutscheck= statutscheck|merge([etatchapter]) %}
                                {% endif %}
                            {% endfor %}
                            {% if check in statutscheck %}
                                {% set check =1 %}
                            {% else %}
                                {% set check =2 %}
                            {% endif %}

                        <div class="col-md-3 col-6 mb-2 listeeFormation"  data-result="{{ check }}" data-type="{{ formation.category_choice|join() }}">
                            <li>
                                <div class="card box-formation">
                                    {# <i class="trophy fas fa-trophy "><sup>0</sup></i>
                                     <i class="custom-badge fas fa-certificate "><sup>0</sup></i>#}
                                    <input id="toggle-heart-{{ i }}" type="checkbox" class="hearts" value="0">
                                    <label for="toggle-heart-{{ i }}" aria-label="like">❤</label>
                                    {% set imageformation = formation.image_formation%}
                                    {% if imageformation != null %}
                                        <div class="heightimg">
                                            <img class="card-img-top" src="http://lms.kiwi-institute.com/images/uploads/{{ formation.user.id }}/documents/{{formation.image_formation}}"/>
                                        </div>
                                    {% endif %}
                                    {% if imageformation == null %}
                                        <div class="heightimg" id="heartnull">
                                            <img src="{{ asset('images/icons/notfound.JPEG') }}"/>
                                        </div>
                                    {% endif %}
                                    <div class="card-body" id="card-formation">
                                        <h5 class="card-title">  <img class="pr-1" src="{{ asset('images/icons/form1.png') }}" width="25px">
                                            <a href="{{ path('show_formation', {'formationId':formation.id})}}">
                                                {{ formation.titre_formation }}</a></h5>

                                    </div>

                                </div>
                            </li>
                        </div>
                            {% set i=i+1 %}
                        {% endfor %}

                    </ul>
                </div>
                <div class="findcategories">
                    {% for key,value in categories %}
                        <input type="hidden" value="{{ value.name }}">
                    {% endfor %}
                </div>
                <div class="row mt-3 tab-formations hidden" id="tabFor">
                    <div class="full-card shadow p-0 m-0">
                        <div class="mb-4">
                            <div class="card-body card-body pl-0 pr-0">
                                <div class="tbl-header">
                                    <div class="table-responsive">
                                        <table class="table" id="" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th width="5%"></th>
                                                <th class="text-left" width="20%">Nom de cours</th>
                                                <th class="text-left" width="20%"> Temps passé sur la formation</th>
                                                <th class="text-left" width="10%"> Certificats</th>
                                                <th class="text-left" width="10%">Badges</th>
                                                <th width="10%">Dérniere connexion</th>
                                                 <th class="text-left" width="25%"> </th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                <div class="tbl-content">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable1" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td width="5%">
                                                        <div class="img-status"><img src="{{ asset('images/icons/finish-stars.png') }}"></div>
                                                    </td>
                                                    <td class="text-left" width="20%">nom de cour</td>
                                                    <td class="text-left" width="20%"> 60 H</td>
                                                    <td class="text-left" width="10%"> 2/4</td>
                                                    <td class="text-left" width="10%">2/4</td>
                                                    <td class="text-left date-passed" width="10%">03 Jul- 2019</td>
                                                    <td class="td-actions text-right" width="25%">
                                                        <div class="row">
                                                            <div class="col-8">
                                                                <div class="progress-outer">
                                                                    <div class="progress">
                                                                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        <div class="progress-value"><span>100</span>%</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <img src="{{ asset('images/icons/herat-color.png') }}" width="20px">
                                                                <a href="{{ path('show_formation', {'id':'1'})}}" rel="tooltip" title="show formation" class="btn btn-vu btn-link btn-sm"> <i class="fas fa-eye"></i> </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="5%">
                                                        <div class="img-status"><img src="{{ asset('images/icons/finish-stars.png') }}"></div>
                                                    </td>
                                                    <td class="text-left" width="20%">nom de cour</td>
                                                    <td class="text-left" width="20%"> 60 H</td>
                                                    <td class="text-left" width="10%"> 2/4</td>
                                                    <td class="text-left" width="10%">2/4</td>
                                                    <td class="text-left date-passed" width="10%">03 Jul- 2019</td>
                                                    <td class="td-actions text-right" width="25%">
                                                        <div class="row">
                                                            <div class="col-8">
                                                                <div class="progress-outer">
                                                                    <div class="progress">
                                                                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        <div class="progress-value"><span>100</span>%</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <img src="{{ asset('images/icons/herat-color.png') }}" width="20px">
                                                                <a href="{{ path('show_formation', {'id':'1'})}}" rel="tooltip" title="show formation" class="btn btn-vu btn-link btn-sm"> <i class="fas fa-eye"></i> </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="5%">
                                                        <div class="img-status"> </div>
                                                    </td>
                                                    <td class="text-left" width="20%">nom de cour</td>
                                                    <td class="text-left" width="20%"> 60 H</td>
                                                    <td class="text-left" width="10%"> 2/4</td>
                                                    <td class="text-left" width="10%">2/4</td>
                                                    <td class="text-left date-passed" width="10%">03 Jul- 2019</td>
                                                    <td class="td-actions text-right" width="25%">
                                                        <div class="row">
                                                            <div class="col-8">
                                                                <div class="progress-outer">
                                                                    <div class="progress">
                                                                        <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        <div class="progress-value"><span>40</span>%</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <img src="{{ asset('images/icons/herat-color.png') }}" width="20px">
                                                                <a href="{{ path('show_formation', {'id':'1'})}}" rel="tooltip" title="show formation" class="btn btn-vu btn-link btn-sm"> <i class="fas fa-eye"></i> </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="5%">
                                                        <div class="img-status"> <img src="{{ asset('images/icons/lock.png') }}"></div>
                                                    </td>
                                                    <td class="text-left" width="20%">nom de cour</td>
                                                    <td class="text-left" width="20%"> 60 H</td>
                                                    <td class="text-left" width="10%"> 2/4</td>
                                                    <td class="text-left" width="10%">2/4</td>
                                                    <td class="text-left date-passed" width="10%">03 Jul- 2019</td>
                                                    <td class="td-actions text-right" width="25%">
                                                        <div class="row">
                                                            <div class="col-8">
                                                                <div class="progress-outer">
                                                                    <div class="progress">
                                                                        <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        <div class="progress-value"><span>0</span>%</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <img src="{{ asset('images/icons/herat-color.png') }}" width="20px">
                                                                <a href="{{ path('show_formation', {'id':'1'})}}" rel="tooltip" title="show formation" class="btn btn-vu btn-link btn-sm"> <i class="fas fa-eye"></i> </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#<div class="col-xl-3 col-md-3 mb-4">
        <div class="full-card shadow py-2">
            <h5 class="text-uppercase  text-center pt-4">Mon planing </h5>
            <div class="my-planing mb-4 mt-4 row ">
                <span class="planing-date col-2 text-center">19 Avril</span>
                <div class="col-10">
                    <img class="icon-categorie" src="{{ asset('images/icons/form2.png') }}">
                    <span>Géographie</span>
                </div>

            </div>
            <div class="my-planing mb-4 row">
                <span class="planing-date col-2 text-center">20 Avril</span>
                <div class="col-10">
                    <img class="icon-categorie" src="{{ asset('images/icons/form2.png') }}">
                    <span>Géographie</span>
                </div>
            </div>
            <div class="my-planing mb-4 row">
                <span class="planing-date col-2 text-center">21 Avril</span>
                <div class="col-10">
                    <img class="icon-categorie" src="{{ asset('images/icons/form3.png') }}">
                    <span>Mathématiques</span>
                </div>
            </div>
            <div class="my-planing mb-4 row">
                <span class="planing-date col-2 text-center">22 Avril</span>
                <div class="col-10">
                    <img class="icon-categorie" src="{{ asset('images/icons/form1.png') }}">
                    <span>Sciences</span>
                </div>
            </div>
            <div class="my-planing mb-4 row">
                <span class="planing-date col-2 text-center">23 Avril</span>
                <div class="col-10">
                    <img class="icon-categorie" src="{{ asset('images/icons/form4.png') }}">
                    <span>Histoir</span>
                </div>
            </div>
            <div class="my-planing mb-4 row">
                <span class="planing-date col-2 text-center">24 Avril</span>
                <div class="col-10">
                    <img class="icon-categorie" src="{{ asset('images/icons/form4.png') }}">
                    <span>Histoir</span>
                </div>
            </div>
            <div class="my-planing mb-4 row">
                <span class="planing-date col-2 text-center">25 Avril</span>
                <div class="col-10">
                    <img class="icon-categorie" src="{{ asset('images/icons/form4.png') }}">
                    <span>Histoir</span>
                </div>
            </div>
        </div>
    </div>  #}
</div>
{% endblock %}