{% extends 'baseStudent.html.twig' %}
{% block top_title %} <a href="{{ path('user_profile') }}">Profil</a> | mes factures {% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="top-page text-center mb-5 mt-5">
            <h2 class="gray-title mb-5 text-uppercase">Mes factures</h2>
        </div>
        <div class=" mb-4 bordered-table">
            <div class="card-header py-3">
                <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="checkAll">
                    <label class="custom-control-label" for="checkAll">Tout Sélectionner </label>
                    <button type="button" class="btn btn-download btn-link btn-sm">
                        <img src="{{ asset('images/svg/download.svg') }}" width="30px" height="20px">
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive custom-table">
                   <table class="table" id="" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="nosort"></th>
                                <th>Numéro de facture</th>
                                <th>Montant</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for elm in [1,2,3,4,5,6,7,8,9,10] %}
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input check-element" id="Check">
                                        <label class="custom-control-label" for="Check"></label>
                                    </div>
                                </td>
                                <td>001</td>
                                <td>10€</td>
                                <td>15 Avril, 2019</td>
                                <td class="td-actions text-right" >
                                    <a href="" rel="tooltip" title="Voir profile" class="btn btn-vu btn-link btn-sm" >  <i class="fas fa-eye"></i></a>
                                    <a href="" rel="tooltip" title="Supprimer utilisateur" class="btn btn-vu btn-link btn-sm delete-user" data-id="{{ elm }}"> <img src=" {{ asset('images/icons/trash-xs.png') }}"></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}