{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="text-center">Mes données Personnelles</h1>
<div class="row">
    <div class="col-6">
  {#      <p><img class="img-responsive" src="/images/users/{{infouser.picture}}"/> </p>#}
        <p><strong>Prénom :</strong>{{infouser.username}} </p>
        <p><strong>Nom :</strong>{{ infouser.lastname }}</p>
        <p><strong>E-mail :</strong> {{ infouser.email }}</p>
        {% if infouser.phone is not null %}
        <p><strong>Tel :</strong> {{ infouser.phone }}</p>
        {% endif %}
    </div>
    <div class="col-6">
        {% if infouser.address is not null %}
        <p><strong>Adresse :</strong> {{ infouser.address }}</p>
        {% endif %}
        {% if infouser.region is not null %}
        <p><strong>Région : </strong>{{ infouser.region }}</p>
        {% endif %}
        {% if infouser.zipCode is not null %}
        <p><strong>Code postal : </strong>{{ infouser.zipCode }}</p>
        {% endif %}
        {% if infouser.country is not null %}
        <p><strong>Pays : </strong> {{ infouser.country }}</p>
        {% endif %}

    </div>
</div>

    </div>


{% endblock %}