{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="text-center">Mes notes</h1>
        <div class="row">
            <div class="col-6">
                {% for note in notes %}
                    <p><strong>Titre : </strong>{{note.title}} </p>
                    <p><strong>Description : </strong>{{ note.value }}</p>
                    <p><strong>Date de création: </strong> {{note.createdAt|date("d M Y")}}</p>
                    <hr>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}