{% extends 'baseStudent.html.twig' %}
{% block top_title %} <a href="{{ path('user_profile') }}">Profil</a> | Mes produits {% endblock %}
{% block body %}
    <div class="container-fluid abonnement-page">
        <div class="top-page text-center mb-5 mt-5">
            <h2 class="gray-title mb-5">Vos produits de formation</h2>
        </div>

        <section>
            <div class="container-fluid">
                <div class="container">
                    <div class="row exist-product">
                        {% for i in [1,2,3,4] %}
                            <div class="col-sm-3">
                                <div class="card text-center">
                                    <div class="title">
                                        <i class="fa fa-paper-plane" ></i>
                                        <h2>Nom de l'abonnement</h2>
                                    </div>

                                    <div class="option pt-4">
                                        <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions.
                                           </p>
                                        <p>Félicitations! Vous l'avez déjà</p>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row not-exist-product mt-5">
                        {% for i in [1,2,3,4] %}
                            <div class="col-sm-3">
                                <div class="card text-center">
                                    <div class="title">
                                        <i class="fa fa-paper-plane" ></i>
                                        <h2>Nom de l'abonnement</h2>
                                    </div>
                                    <div class="price">
                                        <h4><sup>$</sup>50</h4>
                                    </div>
                                    <div class="option pt-4">
                                        <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions.
                                        </p>
                                        <a href="#">Acheter </a>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}