{% extends 'baseStudent.html.twig' %}
{% block top_title %}  <a href="{{path('student_formations')}}">Formations</a> |
<a href="{{ path('show_formation',  {formationId: formation.id})}}">{{ formation.titre_formation }}</a> {% endblock %}
{% block body %}

    <div class="pop-up-status hidden">
        <div class="btn-toogel-div"><i class="fas fa-caret-left text-gray-700"></i></div>
        <div class="full-card text-center h-100 separed-element" style="display: none;">
            <div class="hedaer-top">
                <span class="text-uppercase">{{ formation.titre_formation }} </span>
                <div class="row flexcenter">
                    <div class="offset-3 col-4">
                        <div class="canvas-holder">
                            <canvas id="canvas4" width="100" height="100"></canvas>
                            <div id="canvas-data4"></div>
                        </div>
                    </div>
                    <div class="col-3">
                        <span class="nomargright">Progression</span>
                    </div>
                </div>
            </div>
            <div class="body-progress">
                {% set datenow=0 %}
                {% for cour in cours %}
                    <div class="hidden findids " data-id-cours="{{ cour.id }}">
                    {% for chapter in cour.chapters %}
                        {% set datebloqued=0 %}
                        <span class="firsttextcour text-center pt-3">{{ cour.name }}</span>
                        {% set etatchapter="" %}
                        {% set userChapter =  chapter.getUserchapters() %}

                        {% set config =  chapter.getConfig() %}
                        {% set etatdateacces=0 %}
                        {% set disabledclass="" %}
                        {% if config %}
                        {% if config.getStautDatesubscribe %}
                            {% set datebloqued=config.getStautDatesubscribe|date  %}
                            {% set datenow="now" |date('U')%}
                            {% set datebloqued=datebloqued |date('U') %}
                        {% endif %}
                            {% if config.getStautSubscribe %}
                                {% set etatdateacces=config.getStautSubscribe %}
                            {% endif %}
                        {% if config.getStatusDateacces %}
                            {% set datebloqued=config.getStatusDateacces|date  %}
                            {% set datenow="now" |date('U')%}
                            {% set datebloqued=datebloqued |date('U') %}
                        {% endif %}
                            {% if config.getStatutAccesss %}
                                {% set etatdateacces=config.getStatutAccesss %}
                            {% endif %}
                        {% endif %}
                        {% set Userconnect=app.user.getID %}
                        {% for userChap in userChapter %}
                            {% set Useraffect =userChap.user.getID  %}
                            {% if userChap and Userconnect == Useraffect %}
                                {% set etatchapter =userChap.getStatuts %}
                            {% endif %}
                        {% endfor %}
                        {% if etatchapter=="Completed" %}
                            <div class="iframechapteretat">
                                <a href="{{ chapter.externalLink }}">
                                <img class="editwithimageetat" src="{{ asset('images/icons/validechapter.svg') }}">
                                </a>
                            </div>
                        {% endif %}
                        {% if etatchapter=="In progress" %}
                            <div class="iframechapteretat">
                                <a href="{{ chapter.externalLink }}">
                                <img class="editwithimageetat" src="{{ asset('images/icons/progress.svg') }}">
                                </a>
                            </div>
                        {% endif %}
                        {% if etatchapter =="" %}
                            <div class="iframechapteretat">
                                <a href="{{ chapter.externalLink }}">
                                <img  data-id-chapter="{{chapter.id }}" class="editwithimageetat " src="{{ asset('images/icons/notbegin.svg') }}">
                                </a>
                                <a class="chapter-content {{ disabledclass }}">
                                    <img data-link="{{ chapter.externalLink }}" datas-id-chapter="{{chapter.id }}" class="editwithimageetat removehiddenimg hidden" src="{{ asset('images/icons/progress.svg') }}">
                                </a>
                            </div>
                        {% endif %}
                        {% if ((datebloqued > datenow ) or (etatdateacces>1) ) %}
                            {% set disabledclass="Disabled" %}
                            <img class="editwithimageetat" src="{{ asset('images/icons/empty.svg') }}">
                        {% endif %}
                        <a class=" {{ disabledclass }}" href="#">
                        <span class="chapter-content" data-link="{{ chapter.externalLink }}">{{ chapter.name }}</span>
                        </a>
                    {% endfor %}
                    </div>
                {% endfor %}
        </div>
        </div>
    </div>
<div id="showbuttontermined" class="hidden">

</div>
<div class="container-fluid text-gray-700 formation-student" id="showformationstudents">
    <input type="hidden" id="imageformationid" value="{{formation.id}}"/>
    <input type="hidden" id="imageformationbanner" value=""/>
    <div class="row mb-2 pr-0 mr-0 ">
        <div class="col-xl-12 col-md-9 mb-4 h-100">
            <div class="row pr-0 mr-0">
                <div class="col-xl-12 col-md-12 mb-4 h-100" id="">
                    {% set imageformation = formation.banner%}
                    {% if imageformation == null %}
                    <div class="row formation-image">
                            <div class="col-12 text-center addhiddeninbanner">
                                <img src="{{ asset('/assets/images/default-image.png') }}" width="250px">
                            </div>
                    </div>
                        {% endif %}

                    {% if imageformation != null %}
                    <div class="row formations-image">
                            <div class="col-12 text-center addhiddeninbanner">
                                <img src="/images/formations/{{formation.banner}}" width="250px">
                            </div>
                    </div>
                        {% endif %}
                    </div>
                </div>
                    <div class="col-xl-12   details-formations pl-0 pr-0  ">
                        {% for module in modules %}
                        <div class="col-12 shadow mb-4 bgblanc">
                            <!-- Card Header - Accordion -->
                            <a href="#modul-{{ module.id }}" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                <h6 class="m-0 text-gray-700">{{ module.name }}  </h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse " id="modul-{{ module.id }}" style="">
                                <div class="card-body pl-0 pr-0 pt-0">
                                    <ul class="events pt-0">
                                        {% for cour in module.cour %}
                                        <li>
                                            <div class="row">
                                                <div class="col-12 col-md-4">
                                                    <div class="element">
                                                        <a href="{{ path('showcourses',  {formationId: formation.id, courId: cour.id})}}">
                                                            <div class="custom-control custom-radio">
                                                                <div class="custom-control-label" >
                                                                    <h5>{{ cour.name }}</h5>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                    </ul>
                              </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% for cour in cours %}
                        <div class="col-12 shadow mb-4 bgblanc">
                            <a href="#cour-{{ cour.id }}" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                <h6 class="m-0 text-gray-700">{{ cour.name }}
                                </h6>

                            </a>
                            <div class="collapse" id="cour-{{ cour.id }}" style="">
                                <div class="card-body pl-0 pr-0">
                                    <div class="row ">
                                        <div class="col-6 "></div>
                                        <div class="col-2 text-uppercase progressd "><small>avancement</small></div>
                                        <div class="col-2 text-uppercase progressd "><small>temps passé sur</small></div>
                                    </div>
                                    <ul class="events">

                                       <li>
                                           {% set datenow=0 %}
                                            {% for chapter in cour.chapters %}
                                           {# Récupération de la config chapter#}
                                           {% set config =  chapter.getConfig() %}

                                           {# Récupération de la config chapter#}
                                           {% set userChapter =  chapter.getUserchapters() %}

                                           {% set hour_tempsvalide =  -1 %}
                                           {% set hour_tempsvalide_byformateur =  -1 %}
                                           {% set statucompleted="" %}
                                           {% set etatdateacces=0 %}
                                           {% set disabledclass="" %}
                                           {% set sendvaluecomplted="" %}
                                           {% set datebloqued=0 %}
                                           {% set etat=0 %}
                                           {% set finchetat="In progress" %}
                                           {% if hour_tempsvalide_byformateur is null %}
                                               {% set hour_tempsvalide_byformateur =  0 %}
                                           {% endif %}
                                           {% if config %}
                                               {% if config.getStautDatesubscribe %}
                                                   {% set datebloqued=config.getStautDatesubscribe|date  %}
                                                   {% set datenow="now" |date('U')%}
                                                   {% set datebloqued=datebloqued |date('U') %}
                                               {% endif %}
                                               {% if config.getStautSubscribe %}
                                                   {% set etatdateacces=config.getStautSubscribe %}
                                               {% endif %}
                                               {% if config.getStatusDateacces %}
                                                   {% set datebloqued=config.getStatusDateacces|date  %}
                                                   {% set datenow="now" |date('U')%}
                                                   {% set datebloqued=datebloqued |date('U') %}
                                               {% endif %}
                                           {% if config.getStatutAccesss %}
                                               {% set etatdateacces=config.getStatutAccesss %}
                                           {% endif %}
                                               {% set statucompleted=config.getStatusCompleted %}
                                               {% if config.getTimeSpent %}
                                                   {% set hour_tempsvalide = config.getTimeSpent | date("H:i:s") %}
                                               {% endif %}
                                               {% if config.getValideHours %}
                                                   {% set hour_tempsvalide_byformateur = config.getValideHours | date("H:i:s") %}
                                               {% endif %}
                                           {% endif %}
                                           {% set hours =  0 %}
                                           {% set hourstimeprogress=0 %}
                                           {% set minuteprogress=0 %}
                                           {% set hourstimevalidet=0 %}
                                           {% set minutevalide=0 %}
                                           {% set tempsfinaleprogress=0 %}
                                           {% set stautchapter=0 %}
                                           {% set Userconnect=app.user.getID %}
                                           {% for userChap in userChapter %}
                                               {% set Useraffect =userChap.user.getID  %}
                                               {% if userChap and Userconnect == Useraffect %}
                                                   {% set etat =userChap.getStatuts %}
                                                   {% set hours = userChap.getHoursPass() | date("H:i:s") %}
                                                   {% set hourstimeprogress= userChap.getHoursPass() | date("H") %}
                                                   {% set minuteprogress= userChap.getHoursPass() | date("i") %}
                                                   {% set hours = userChap.getHoursPass() | date("H:i:s") %}
                                                   {% if config %}
                                                       {% if  config.getTimeSpent %}
                                                           {% set hourstimevalidet= config.getTimeSpent  | date("H") %}
                                                           {% set minutevalide= config.getTimeSpent  | date("i") %}
                                                           {% if hourstimevalidet != 0 %}
                                                             {%  set tempsfinaleprogress= ((hourstimeprogress * 60) + minuteprogress)*100/((hourstimevalidet*60)+minutevalide)  %}
                                                           {% else %}
                                                           {%  set tempsfinaleprogress= 0 %}
                                                               {% endif %}
                                                       {% endif %}
                                                       {% if  config.getValideHours %}
                                                           {% set hours_timevalidet_chapter= config.getValideHours  | date("H") %}
                                                           {% set minute_valide_chapter= config.getValideHours  | date("i") %}
                                                           {%  set tempsfinaleprogress= ((hourstimeprogress * 60) + minuteprogress)*100/((hours_timevalidet_chapter*60)+minute_valide_chapter)  %}
                                                       {% endif %}
                                                   {% endif %}
                                                   {%  set stautchapter=1 %}
                                               {% endif %}
                                           {% endfor %}
                                           {% if  statucompleted==1 %}
                                           {% set sendvaluecomplted =1 %}
                                           {% endif %}
                                           {% if (datebloqued > datenow or etatdateacces>1   ) %}
                                               {% set disabledclass="Disabled" %}
                                           {% endif %}
                                            <div class="row {{ disabledclass }}">
                                                <div class="col-6">
                                                    <div class="element">
                                                        <a href="#">
                                                            {% if etat=="Completed" %}
                                                                <img src="{{ asset('images/icons/validechapter.svg') }}">
                                                            {% endif %}
                                                            {% if etat=="In progress" or (tempsfinaleprogress|round)/100 <1  %}
                                                                <img src="{{ asset('images/icons/progress.svg') }}">
                                                            {% endif %}
                                                            {% if etat=="" %}
                                                                <img src="{{ asset('images/icons/notbegin.svg') }}">
                                                            {% endif %}

                                                            {% if ((datebloqued > datenow ) or (etatdateacces>1) ) %}
                                                                {% set disabledclass="Disabled" %}
                                                                <img src="{{ asset('images/icons/empty.svg') }}">
                                                            {% endif %}
                                                            {% if ((tempsfinaleprogress|round)/100 >=1 ) %}
                                                                <img src="{{ asset('images/icons/validechapter.svg') }}">
                                                                {% set tempsfinaleprogress=100 %}
                                                                {% set finchetat="Completed"%}
                                                            {% endif %}
                                                                    <h5 id="getprogressbar"   data-etat-finich="{{finchetat  }}" data-active-button="{{ sendvaluecomplted }}" data-id-formation="{{ formation.id }}" data-cours-ids="{{ cour.id }}" class="chapter-content {{ disabledclass }}"  data-result="{{ (tempsfinaleprogress|round)/100 }}" data-hours-validate="{{hour_tempsvalide_byformateur}}" data-hours="{{hours}}"   data-id="{{chapter.id  }}" data-hoursfianly="{{ hour_tempsvalide }}" data-name="{{ chapter.name }}" data-link="{{ chapter.externalLink }}">{{ chapter.name }}</h5>

                                                        </a>
                                                    </div>
                                                </div>
                                                {% if minuteprogress   %}
                                                    <div class="col-2">
                                                        <div class="progress-outer">
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar" style="width: {{ tempsfinaleprogress|round(2, 'floor') }}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>

                                                            <div class="progress-value"><span> {{ tempsfinaleprogress|round(2, 'floor') }}</span>%</div>
                                                        </div>
                                                    </div>
                                                    {% if ((tempsfinaleprogress|round)/100 ==1 ) %}
                                                        <div class="col-2 passed-time">{{ hourstimevalidet }} h {{ minutevalide }}</div>
                                                    {% endif %}
                                                    {% if ((tempsfinaleprogress|round)/100 <1 ) %}
                                                        <div class="col-2 passed-time">{{hourstimeprogress}} h {{minuteprogress}}</div>
                                                    {% endif %}
                                                {% else %}
                                                    <div class="col-2">
                                                        <div class="progress-outer">
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar" style="width:0%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                            <div class="progress-value"><span>0</span>%</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-2 passed-time">00 h 00</div>

                                                {% endif %}
                                                <div class="col-12">
                                                    <hr>
                                                </div>

                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
                    <div class="row" id="formationstudentformations1">

                        {% for chapter in chapters %}

                        <div class="col-12 shadow mb-4 bgblanc">
                            <a href="#chapters-{{ chapter.id }}" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">

                                <h6 class="m-0 text-gray-700">{{ chapter.name }}  </h6>
                            </a>
                        <div class="collapse " id="chapters-{{ chapter.id }}" style="">

                                <div class="custom-control custom-radio" >
                                    <div class="custom-control-label" >
                                        <h5 class="chapter-content" data-id="{{chapter.id  }}" data-name="{{ chapter.name }}"  data-hours="{{hours}}" data-hoursfianly="{{ hourtempsvalide }}"  data-link="{{ chapter.externalLink }}">    {{ chapter.name }}</h5>
                                    </div>
                                </div>

                        </div>
                        </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
     <div class="mb-2 pr-0 mr-0  pop-up-note hidden add-note-chap" id="">
        <div class="full-card text-center h-100 separed-element">
            <img src="{{ asset('images/icons/note.png') }}">
            <a class="text-uppercase">Notes</a>
        </div>
    </div>
    <div class="modal fade builder-modal uploadefilestudent" id="uploaderbaformation" tabindex="-1" role="dialog" aria-labelledby="library-modal-step1" aria-hidden="true" data-type="" >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="top-modal row">
                    <div class="col-12 text-center">
                        <div class="btn-group switch-btn d-inline-block mt-4 mb-4">
                            <div class="btn-toggle">
                                <button class="btn dounload-btn active">Image</button>
                                <button class="btn gallerie-btn">Vidéo</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-12 text-center ">
                        <div class="collapse show pl-2" id="dounload">
                            <h3 class="text-uppercase text-gray-700 font-weight-bolder mb-3">Choisissez un fichier</h3>
                            <div class="get-image mb-4" id="file-to-upload-step1">
                                <form method="post" action="" enctype="multipart/form-data"
                                      id="myform">
                                    <div >
                                        <input type="text" class="value-file" readonly  placeholder="Aucun fichier sélectionné" >
                                        <div class="btn-save-image">
                                            <input type="file" id="file" name="file" class="image-to-import" />
                                            <button class="btn btn-primary" id="import-img">Importer</button>
                                        </div>

                                    </div>
                                </form>
                            </div>


                        <div class="text-right">
                            <button class="btn btn-primary p-2 uploadefilestudent" id="save-file">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- modal create  note -->
    <div class="modal fade" id="add-note" tabindex="-1" role="dialog" aria-labelledby="add-note" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" id="new-note">
                    <div class="add-nod">
                        <a href="#" class="new-elemnt" id="addNewNote"> <img src="/assets/images/icons/plus.svg" width="20"></a>
                    </div>
                    <h5 class="modal-title text-center" id="exampleModalLongTitle">Notes</h5>
                    <button type="button" class="close-categ" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="formulaire">
                    <select id="select2note" class="form-control " name="studentnotes" data-placeholder="Sélectionner une note" class="form-control mb-3" data-path="{{ path('get-ajax-note') }}">
                        <option></option>
                        {% if notes %}
                            {% for note in notes %}
                                {%  if note.studentFolder %}
                                    {% set folderId = note.studentFolder.id%}
                                {% else %}
                                    {% set folderId = ""%}
                                {% endif %}
                                <option value="{{ note.id }}" data-folder="{{ folderId }}" data-title="{{ note.title }}" data-value="{{ note.value }}">{{ note.title }}</option>
                            {% endfor %}
                        {% else %}
                            <option>Aucune note enregistrée</option>
                        {% endif %}
                    </select>
                    <div class="get-note d-none">
                        <input type="hidden" id="idnote" value="">
                        <input type="text" id="form_title" name="title" maxlength="255" placeholder="Ajouter titre de la note" class="form-control mb-2 mt-2">
                        <select id="select2folder" name="studentFolder" data-placeholder="Sélectionner un dossier" class="select-folder form-control mb-3">
                            <option></option>
                            {%  if folders %}
                                {% for folder in folders %}
                                    <option value="{{ folder.id }}">{{ folder.name }}</option>
                                {% endfor %}
                            {% else %}
                                <option>Aucun dossier</option>
                            {% endif %}
                        </select>
                        <div class="mt-3">
                            <textarea name="" id="editor" class="ckeditor" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="row mt-2 noteAdd">
                        <div class="col-6 text-center">
                            <button class="btn btn-primary p-2 d-none" id="add-note-chapter" data-path="{{ path('add-ajax-note') }}">Ajouter une note</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <button id="clinbutton" class="btn btn-primary small hidden">Marquer comme terminé</button>
    <!-- end modal create  note -->
{% endblock %}