{% extends 'baseStudent.html.twig' %}
{% block title %} Forum - Kiwi Institute {% endblock %}
{% block top_title %} Forum {% endblock %}
{% block body %}
    <div class="d-flex vh-100">
        <div class="container m-auto">
            <img class="customimagencours" src="{{ asset('images/site-en-cours.svg') }}"/>
            <img class="customimagencours"  src="{{ asset('images/site-en-cours-2.svg') }}"/>
        </div>
    </div>
{% endblock %}
