{% extends 'baseUser.html.twig' %}
{% block title %}Gestion des classes - Kiwi Institute{% endblock %}
{% block top_title %} Classes {% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/classe.js') }}"></script>
{% endblock %}
{% block body %}

    <div class="row create-formation pr-4 pl-4">
        <div class="col-6 offset-5">
            <div class="btn-group switch-btn d-inline-block">
                <div class="btn-toggle">
                    <button class="btn active monthly-btn">Classes</button>
                    <button class="btn annual-btn">Statistiques</button>
                </div>
            </div>
        </div>
        <div class="col-4 offset-8 new-categ" >
            <a class="btn  btn-primary btn-classe" data-toggle="modal" href="#new-class">Nouvelle classe</a>
        </div>
    </div>
    <div class="container container-step class-container">
        <div class="collapse row show" id="monthly">
            <div class="col-12 offset-0 py-2 mt-4">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-3 text-left filter-choice pb-4">
                            <select class="text-uppercase select-filter " id="status" data-placeholder="Filtres">
                                <option></option>
                                <option>Plus récent</option>
                                <option>Plus ancien</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <select class="text-uppercase select-filter" id="classes" data-placeholder="">
                                <option>Assigner Cours</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 custom-control custom-checkbox small pt-4">
                            <div class="custom-control custom-checkbox small" id="forma">
                                <input type="checkbox" class="custom-control-input" id="checkAll">
                                <label class="custom-control-label" for="checkAll">Tout Sélectionner </label>
                                <div class="btn-action version-3 btn-action pt-2 pl-4 ml-3">
                                    <button type="button" class="btn btn-download btn-link btn-sm duplicate-classes" title="Dupliquer les classes selectionnées" data-path="{{ path('duplicate_classes')}}">
                                        <a href="" class="offset-0"> <img class="mr-1 mb-2" src="{{ asset('images/icons/formation/duplicate.png') }}" width="25px"></a>
                                    </button>
                                    <button type="button" class="btn btn-download btn-link btn-sm" rel="tooltip" data-toggle="modal" data-target="#delete-classes" title="Supprimer les classes selectionnées" data-path="{{ path('delete_classes')}}">
                                        <img src="{{ asset('images/icons/formation/trash-gray.png') }}" width="25">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 offset-2">
                            <div id="" class="custom-table filter-search" >
                                <input id="search-btn-2" type="checkbox">
                                <label for="search-btn-2"></label><label>
                                    <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable" id="search-bar"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-2">
                    <div class="add-certif">
                        <div class="row rounded-bloc">
                            {% for classe in classes %}
                                <div class="col-2-classe">
                                    <div class="box-arrow-b">
                                        <!--<div class="tools-certifs">

                                        </div>-->
                                        <div class="top-text text-right tools-certifs mr-2">
                                            <a href="{{ path('membres',{'classId': classe.id}) }}" rel="tooltip" title="Membres de la Classe" class="btn btn-vu btn-link btn-sm  copy-class "><img src="{{ asset('images/icons/pensil-sm.png') }}" width="20"></a>
                                            <a href="{{ path('duplicate_classe',{'id': classe.id}) }}" rel="tooltip" title="Dupliquer Classe" class="btn btn-vu btn-link btn-sm copy-class "><img src="{{ asset('images/icons/formation/duplicate.png') }}" width="20"></a>
                                            <a href="{{ path('delete_classe',{'id': classe.id}) }}" rel="tooltip" data-toggle="modal" data-target="#delete-classe" title="Supprimer Classe" class="btn btn-vu btn-link btn-sm offset-0 delete-class z-ind wid-b"  data-id="{{ classe.id }}"><img src="{{ asset('images/icons/formation/trash-gray.png') }}" width="20"></a>

                                        </div>
                                        <div class="checkbox odd custom-control-certif custom-checkbox small pb-3">
                                            <input type="checkbox" class="custom-control-input check-element" name="classe-check" id="classeCheck_{{ classe.id }}" data-id="{{ classe.id }}">
                                            <label for="classeCheck_{{ classe.id }}" class="custom-control-label text-uppercase">
                                            </label>
                                        </div>
                                        <img class="grayscale" src="{{ asset('images/svg/classe.svg') }}" width="80">
                                        <div class="o">
                                            <span class="color-bad text-uppercase">{{ classe.name}}</span> <br>
                                            <span class="desc color-bad" >120 étudiants</span>
                                        </div>
                                        <div class="up-certif">

                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- New Class -->
                    <div class="modal fade" id="new-class" tabindex="-1" role="dialog" aria-labelledby="classe-modal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title-categ-new text-uppercase" id="new-classe">Nouvelle classe</h5>
                                    <button type="button" class="close-categ" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                {{ form_start(form) }}
                                <div class="modal-body">
                                    <div class="col-6">
                                        <div class="form-container sign-in-container">
                                            <div class="form-group green-border-focus">
                                                <label for="exp" class="offset-1 text-uppercase title-new-categ">Nom</label>
                                                {{ form_widget(form.name) }}
                                            </div>
                                        </div>
                                    </div>
                                    {#<div role="tabpanel">
                                        <nav class="nav flex-column">
                                            <a class="nav-link active" href="#uploadTab">Active</a>
                                            <a class="nav-link" href="#browseTab">Link</a>
                                            <a class="nav-link" href="#">Link</a>
                                            <a class="nav-link disabled" href="#">Disabled</a>
                                        </nav>
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="uploadTab">upload Tab</div>
                                            <div role="tabpanel" class="tab-pane" id="browseTab">browseTab</div>
                                        </div>
                                    </div>#}
                                </div>
                                <div class="modal-footer-categ">
                                    <button type="submit" class="btn btn-class btn-primary ">Enregistrer</button>
                                </div>
                                {{  form_end(form) }}
                            </div>
                        </div>
                    </div>
                    <!-- end class-->
                    <!-- modal delete classe -->
                    <div class="modal fade" id="delete-classe" tabindex="-1" role="dialog" aria-labelledby="delete-classe" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Supprimer cette classe</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Êtes-vous sûr de vouloir supprimer cette classe ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                    <button class="btn btn-primary" id="delete-selectedClass">Oui</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end modal delete classe -->
                    <!-- modal delete selected classes -->
                    <div class="modal fade" id="delete-classes" tabindex="-1" role="dialog" aria-labelledby="add-folder" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Supprimer les classes</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <span> Voulez vous supprimer les classes sélectionnés? </span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Non</button>
                                    <button class="btn btn-primary" id="delete-listClasses">Oui</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end modal selected classes -->
                </div>
            </div>
                </div>
            </div>

{% endblock %}