{% extends 'baseAdmin.html.twig' %}
{% block title %} Bibliothèque de contenus - Kiwi Institute {% endblock %}
 {% block top_title %} Bibliothèque de contenus {% endblock %}
{% block body %}
    <div id="wrapper" class="update-imageInfo">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" >
        	 
        </div> <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid" id="contentLibrary">
                <div class="row row pr-0 mr-0 mb-5 library-content listfolder"> 
					<!--Carousel Wrapper-->
					<div id="multi-item-example" class="carousel carousel-multi-item text-gray-600 small-content mt-2">
						<!--Controls-->
						<div class="controls-top">
					    	<a class="btn-floating controle-left" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
					    	<a class="btn-floating controle-right" href="#multi-item-example" data-slide="next"><i
					        class="fas fa-chevron-right"></i></a>
					  	</div>
					  	<!--/.Controls-->
					  <!--Slides-->
					  	<div class="carousel-inner" role="listbox" id="carousel-folder">
						    {% for key,tab in folders %}
						    <div class="carousel-item {% if key == 0 %} active {% endif %}" >
								{% for folder in tab %}
						        <div class="full-card h-100 shadow py-2 text-center ml-2" data-id="{{ folder.id }}">
						            <div class="card-body p-0">
						                <div class="row no-gutters align-items-center list-btn-note ">
						                	<div class="current-folder">
						                		<div class="align-content-center">
						                            <img src="{{ asset('images/icons/open-folder-xs.png') }}" width="45px"> 
						                        </div>
						                        <div class="formation-name text-uppercase ">{{ folder.name }} <span class="nb-doc">({{folder.getDocuments()|length}})</span></div>
						                    </div>
						                	<div class="pr-2 folder-actions">
						                		<div class="top-text text-right">
						                            <a href="" data-id="{{folder.id }}" data-path="{{path('delete_folder_doc')}}" id="delete-folder-doc"><img src="{{ asset('images/icons/trash-sm.png') }}" width="20px" height="20px"></a>
						                            <a href="" data-toggle="modal" data-target="#update-folder" data-name="{{folder.name }}" data-id="{{folder.id }}" id="update-name"><img src="{{ asset('images/icons/pensil-sm.png') }}" width="20px" height="20px"></a>
						                            <a href=""><img src="{{ asset('images/icons/download-sm.png') }}" width="20px" height="20px"></a>
						                        </div>
						                    </div>
						                </div>
						            </div>
						        </div>
							    {% endfor %}
						    </div>
						{% endfor %}
			  			</div>
			  			<!--/.Slides-->
					</div>
					<!--/.Carousel Wrapper-->  
				</div>
		
				<div class="row row pr-0 mr-0 mb-5 row-action">
					<div class="col-md-2 text-left pr-4 pt-2" id="noteFold">
						<div class="custom-control custom-checkbox small">
							<input type="checkbox" class="custom-control-input" id="checkAll">
							<label class="custom-control-label" for="checkAll">Tout Sélectionner </label>
		                    <div class="btn-action">
								<button type="button" class="btn btn-download btn-link btn-sm pt-2" id="delete-all-file" data-path="{{ path('delete_files')}}">
									<img src="{{ asset('images/icons/trash-sm.png') }}" width="30px" height="30px">
								</button>
		                    </div>
		                </div>
	            	</div>
	            	 <div class="col-md-8 pr-4 filter-choice pt-1" id="getfilterpicture">
	            	 	<div class="filter ">
	            	 		<select data-placeholder="Type de fichier" class="select-filter" >
	            	 			<option></option>
	            	 			<option class="text-uppercase">Image</option>
	            	 			<option class="text-uppercase">Audio</option>
	            	 			<option class="text-uppercase">Vidéo</option>
	            	 			<option class="text-uppercase">Document</option>
								<option class="text-uppercase">Excel</option>
								<option class="text-uppercase">PDF</option>
								<option class="text-uppercase">Scorm</option>
								<option class="text-uppercase">Aicc</option>
								<option class="text-uppercase">Tin Can X API</option>
	            	 		</select>
	            	 	</div>
	            	 	<div class="filter" id="getfilterdate">
							<select data-placeholder="Filtre par date" class="select-filter">
	            	 			<option></option>
								<option>Plus récent</option>
								<option>plus ancien</option>
								<option>Ajouté le</option>
								<option>Avant le</option>
								<option>Après le</option>
								<option>Récemment modifié</option>
								<option>Modifié le</option>
							</select>
	            	 	</div>
                         <input type="date" class="hidden" id="dateavant"/>
						 <div class="filter">
							 <select data-placeholder="Présent Dans:" class="select-filter">
								 <option></option>
								 {#<option>
								 {% for f in formation %}
                                     <div class="col-2 shadow mb-4 details-formations tit-f" id="devoir">
                                         <a href="#collapseCardExample1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                             <h6 class="m-0 text-gray-700">{{ f.titre_formation }}</h6>
                                         </a>
                                         <!-- Card Content - Collapse -->
                                         {% for module in modules %}
                                             <div class="collapse" id="collapseCardExample1">

                                                 <a href="#collapseCardExample2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample2">
                                                     <h6 class="m-0 text-gray-700">{{ module.name }}</h6>
                                                 </a>
                                                 {% for cour in module.cours %}
                                                     <div class="collapse" id="collapseCardExample2">
                                                         <a href="#collapseCardExample3" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample2">
                                                             <h6 class="m-0 text-gray-700">{{ cour.name }}</h6>
                                                         </a>
                                                     </div>
                                                     <div class="collapse chapter-search" id="collapseCardExample3">
                                                         <ul class="events">
                                                             {% for chapitre in cour.chapters %}
                                                                 <li>
                                                                     <div class="row">
                                                                         <div class="col-6">
                                                                             <div class="element">
                                                                                 <div class="checkbox custom-control custom-checkbox small">
                                                                                     <input type="checkbox" class="custom-control-input check" id="score_{{ chapitre.id }}" data-id-chapter="{{ chapitre.name }}">
                                                                                     <label class="custom-control-label" for="score_{{ chapitre.id }}"> {{ chapitre.name }}</label>
                                                                                 </div>
                                                                             </div>
                                                                         </div>
                                                                     </div>
                                                                 </li>
                                                             {% endfor %}
                                                         </ul>
                                                     </div>
                                                 {% endfor %}
                                             </div>
                                         {% endfor %}
                                     </div>
								 {% endfor %}
								 </option>#}

							 </select>
						 </div>
	            	 </div>
	                <div class="col-md-2 text-right">
							{#<div class="search" id="search-lib">
							#}{#	{{ form_start(search_form) }}
								{{ form_end(search_form) }}#}{#
								<div class="custom-table filter-search pt-2">
									<input id="search-btn" type="checkbox">
									<label for="search-btn"></label><label>
										<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable" id="search-bar-lib"></label>
								</div>
							</div>#}

							<div class="search" id="search-lib">
								<div class="custom-table filter-search pt-2">
									<input id="search-btn" type="checkbox" >
									<label for="search-btn"></label><label>
										<input type="search" name="search" value="" onkeyup="myFunction()" class="form-control form-control-sm" placeholder="" aria-controls="dataTable" id="search-bar-lib"></label>
								</div>
							</div>


			            <a href="" id="add-file"><img src="{{ asset('images/icons/img_upload.svg') }}" width="52px"> </a>
			            <a href="#" data-href="" data-toggle="modal" data-target="#add-folder" id="new-folder"><img src="{{ asset('images/icons/iconeFolder.svg') }}" width="60px"> </a>
			        </div>
				</div>
			   <div class="row row pr-0 mr-0 mt-5 cutsom-dropzone hidden position-relative">
			    	<div class="dropzone my-dropzone" id="form_snippet_image" action="{{path('ajax_snippet_image_send')}}">
			    		<div class="dz-default dz-message">
			    			<span>Glisser-déposer vos fichiers  ici </span> 
			    			<span>ou </span>
			    			<button class="btn btn-primary"> Sélectionner des fichiers </button>
			    		</div>
			        </div>
				   <button class="btn btn-primary btnpop-bib position-absolute mr-5 mb-2"> Télécharger </button>
			    </div>
			    <div class="row row pr-0 mr-0 mt-5 mr-4" id="file-view">
                    <ul id="myUL">
			     	{% for media in userMedia %}
					 {% set extention = media.name|split('.')|last %}
                        <li>
			     		<div class="full-card mb-2 mr-3 main getattrextension" id="media-{{media.id}}" data-id="{{media.id}}" data-date-upload="{{media.createdAt|date("d M Y")}}" data-date="{{media.createdAt|date("d/m/Y")}}" data-extension="{{ media.name|split('.')|last }}" data-size-file="{{media.size}}" data-name="{{ media.name}}" data-title="{{media.title}}" data-alternatif-text="{{ media.alternatifText}}" data-description="{{ media.description}}">
				          	{% if extention == 'pdf' %}
							  	<img class="" src="/images/pdf.png" width="120">
							{% elseif extention == 'docx' %}
							  	<img class="" src="/images/word.png" width="120">
                            {% elseif extention == 'doc' %}
                                <img class="" src="/images/word.png" width="120">
							{% elseif extention == 'wav' %}
							  	<img class="" src="/images/audio.png" width="120">
                                {% elseif extention == 'mp4' %}
                                    <video width="120" controls>
                                        <source src="/images/uploads/{{app.user.id}}/documents/{{media.name}}" type="video/mp4">

                                    </video>

                                {% else %}
								<img class="" src="/images/uploads/{{app.user.id}}/documents/{{media.name}}" width="120" height="120">
							{% endif %}

							<div  id="doc-check">
							<div class="custom-control custom-checkbox small">
			                    <input type="checkbox" class="custom-control-input check-element" id="Check_{{ media.id }}" name="file-check" value="{{ media.id }}">
			                    <label class="custom-control-label" for="Check_{{ media.id }}"></label>
			                </div>
							</div>

				            <div class="top-text text-right">
				            	<p id="p{{media.id}}" class="hidden">{{ app.request.getSchemeAndHttpHost() }}/images/uploads/{{app.user.id}}/documents/{{media.name}}</p>

			                    <a href="#menu-toggle" class="update-fileName menu-toggle" data-id="{{media.id}}" ><img src="{{ asset('images/icons/pensil-sm.png') }}" width="20px" height="20px"></a>

			                    <a href="" onclick="copyToClipboard('#p{{media.id}}')" class="copie-link" data-value=""><img src="{{ asset('images/icons/formation/attach-formation.png') }}" width="20px" height="20px"></a>

								<a href="{{ path('download_file',{'id': media.id}) }}" rel="tooltip" class="btn btn-vu btn-link btn-sm"><img src="{{ asset('images/icons/download-sm.png') }}" width="20px" height="20px"></a>

								<a href="" data-toggle="modal" data-target="#delete-doc" title="Supprimer Fichier" class="delete-image" data-id="{{media.id}}"><img src="{{ asset('images/icons/trash-sm.png') }}" width="20px" height="20px"></a>
			                </div>
				          <div class="card-body sub">
				            <h6 class="card-title">{{media.name}}</h6>
				            <p class="card-text">Ajouté le : {{media.createdAt|date("d/m/Y")}}</p>
				          </div>
				        </div>
						</li>
                                {% else %}
						<tr>
							<td colspan="4">no records found</td>
						</tr>
					{% endfor %}
                    </ul>
			    </div>
            </div>
        </div> <!-- /#page-content-wrapper -->
    </div> <!-- /#wrapper -->

     <!-- modal create folder document -->
    <div class="modal fade" id="add-folder" tabindex="-1" role="dialog" aria-labelledby="add-folder" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" id="new-note">
                    <h5 class="modal-title text-uppercase" id="exampleModalLongTitle">Ajouter un dossier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                	<label>Titre</label>
                    <input type="text" class="form-control" id="folder_name" placeholder="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="add-folder-doc" data-path="{{path('add_folder_document')}}">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal create folder document -->

    <!-- modal update folder note -->
    <div class="modal fade" id="update-folder" tabindex="-1" role="dialog" aria-labelledby="update-folder" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" id="new-note">
                    <h5 class="modal-title text-uppercase" id="exampleModalLongTitle">Renommer un  dossier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                	<label>Titre</label>
                    <input type="text" class="form-control" id="folder_name" placeholder="" value="">
                    <input type="hidden" id="idfolder">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="update-folderDoc" data-path="{{path('update_folder_doc')}}">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal update folder note -->

     <!-- modal update folder note -->
    <div class="modal fade" id="affect-file-folder" tabindex="-1" role="dialog" aria-labelledby="affect-file-folder" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase" id="exampleModalLongTitle">Joindre le fichier au(x) dossier(s)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                	<label>Sélectionner un ou plusieurs dossiers</label>
                	<div class="custom-dropdown" id="dropdown-folder">
					  <label class="dropdown-label">Ajouter au(x) dossier(s)</label>
					  
					  <div class="dropdown-list">
					    {% for folder in allfolders %}
					    <div class="checkbox custom-control custom-checkbox small">
					      <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom_{{ folder.id }}" />
					      <label for="checkbox-custom_{{ folder.id }}" class="custom-control-label" data-id="{{folder.id}}"> {{ folder.name }}</label>
					    </div>
					      {% endfor %}
					  </div>

					</div>
                    <input type="hidden" id="media-ids" value="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="affect-filetofolder" data-path="{{path('update_folder_doc')}}">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal update folder note -->
	<!-- modal delete document -->
	<div class="modal fade" id="delete-doc" tabindex="-1" role="dialog" aria-labelledby="add-folder" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header" id="new-note">
					<h5 class="modal-title text-uppercase pl-5" id="exampleModalLongTitle">Supprimer un fichier</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-center">
					Êtess-vous sûr de vouloir supprimer ce fichier?
				</div>
				<div class="modal-footer noteAdd">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
					<button id="del-file" class="btn btn-primary">Oui</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end modal document -->
	<!-- modal image -->
	<div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">
						<?=multiLanguage( "Edit Foto" , "Edit Photo" )?></h4>
				</div>
				<div class="modal-body">
					<div id="upload-demo" class="center-block"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" id="cropImageBtn" class="btn btn-primary">Crop</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end modal image -->
{% endblock %}
