  {% for key,tab in folders %}
    <div class="carousel-item {% if key == 0 %} active {% endif %}">
		{% for folder in tab %}
        <div class="full-card h-100 shadow py-2 text-center ml-2">
            <div class="card-body p-0">
                <div class="row no-gutters align-items-center list-btn-note ">
                	<div class="current-folder">
                		<div class="align-content-center">
                            <a href="">
                              <img src="{{ asset('images/icons/open-folder-xs.png') }}"> 
                            </a>
                        </div>
                        <div class="formation-name text-uppercase ">{{ folder.name }} <span class="nb-doc">(20)</span></div>
                    </div>
                	<div class="folder-actions pr-2">
                		<div class="top-text text-right">
                            <a href="" data-id="{{folder.id }}" data-path="{{path('delete_folder_doc')}}" id="delete-folder-doc"><img src="{{ asset('images/icons/trash-sm.png') }}" width="20px" height="20px"></a>
                            <a href="" data-toggle="modal" data-target="#update-folder" data-name="{{folder.name }}" data-id="{{folder.id }}" id="update-name"><img src="{{ asset('images/icons/pensil-sm.png') }}" width="20px" height="20px"></a>
                            <a href=""><img src="{{ asset('images/icons/download-sm.png') }}" width="20px" height="20px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	    {% endfor %}
    </div>
{% endfor %}