{% extends 'baseAdmin.html.twig' %}
{% block top_title %} Bonjour {{ app.user.username | title ~ ' ' ~ app.user.lastname| title }}  {% endblock %}
{% block body %}
    <div id="hoveradmincercle">
    <ul class=" ch-grid">
        <div class="row">
            <div class="col-4">
    <li >
    <div class="ch-item">
        <div class="ch-info">
            <div class="ch-info-front ch-img-3"></div>
            <div class="ch-info-back">
                <div class="centerbloc">
                <h3>E-Learning</h3>
                <div class="left1">
                       <p> <a class="link-normal" href="{{ path('admin_dashboard')}}">Dashboard</a></p>
                        <p>  <a class="link-normal" href="{{ path('admin_config')}}">Réglages</a></p>
                        <p> <a class="link-normal" href="{{ path('home_formation') }}">Formations</a></p>
                        <p> <a class="link-normal" href="{{ path('admin_awards') }}">Récompenses</a></p>
                    <p> <a class="link-normal" href="{{ path('content_library') }}">Bibliothèque <br> <span class="topnega">de contenus</span></a></p>
                    </div>
                <div class="left1">
                    <p><a class="link-normal" href="{{ path('admin_profil') }}">Profil</a></p>
                    <p><a class="link-normal" href="#">Statistiques</a></p>
                    <p><a class="link-normal" href="{{path ('admin_planning')}}">Plannings</a></p>
                    <p><a class="link-normal" href="{{path('admin_messagerie')}}">Messagerie</a></p>
                    <p><a class="link-normal" href="{{path ('forum')}}">Forums</a></p>
                    <p><a class="link-normal" href="{{path ('admin_live')}}">Lives et vidéos</a></p>
                </div>
                </div>
            </div>
        </div>
    </div>
        <span class="customtitle">E-Learning</span>
    </li>
            </div>
            <div class="col-4">
        <li >
            <div class="ch-item">
                <div class="ch-info">
                    <div class="ch-info-front ch-img-2"></div>
                    <div class="ch-info-back">
                        <div class="centerbloc">
                        <h3>Site et Blog</h3>

                                <p> <a class="link-normal" href="#">Voir mon site
                                      </a></p>

                                <p><a class="link-normal" href="#">  Modifier mon site</a></p>
                        </div>
                    </div>
                </div>

            </div>
            <span class="customtitle">Site et Blog</span>
        </li>
            </div>
            <div class="col-4">
        <li >
            <div class="ch-item">
                <div class="ch-info">
                    <div class="ch-info-front ch-img-1"></div>
                    <div class="ch-info-back">
                        <div class="centerbloc">
                        <h3>Boutique</h3>
                        <div class="left1">
                                <p> <a class="link-normal" href="#">Dashboard
                                    </a></p>
                                <p> <a class="link-normal" href="#">Réglages
                                    </a></p>
                            <p> <a class="link-normal" href="#">Bibliothèque <br> <span class="topnega">de contenus</span>
                                    </a></p>
                                <p> <a class="link-normal" href="#">Chat
                                    </a></p>
                                <p> <a class="link-normal" href="#">Catalogues
                                    </a></p>
                            <p> <a class="link-normal" href="#"> Abonnements et <br><span class="topnega">formations</span>
                                    </a></p>

                            </div>
                        <div class="left1">
                                <p><a class="link-normal" href="#">  Produits</a></p>
                                <p><a class="link-normal" href="#">  Réductions et<br><span class="topnega"> programme  de
                                            fidélité</span></a></p>
                                <p><a class="link-normal" href="#">   Affiliation et
                                        parrainage</a></p>
                                <p><a class="link-normal" href="#">    Historique des
                                        achats</a></p>
                                <p><a class="link-normal" href="#">    Statistiques</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="customtitle">Boutique</span>
        </li>
            </div>
        </div>
    </ul>
    <ul class="  ch-grid margedit">
        <div class="row">
            <div class="offset-2 col-4 col-4">
            <li>
            <div class="ch-item">
                <div class="ch-info">
                    <div class="ch-info-front ch-img-4"></div>
                    <div class="ch-info-back">
                        <div class="centerbloc">
                        <h3>Aide</h3>
                                <p> <a class="link-normal" href="#">Dashboard
                                    </a></p>
                                <p> <a class="link-normal" href="#">Tickets non lus
                                    </a></p>
                                <p><a class="link-normal" href="#">  Tickets en  cours</a></p>
                                <p><a class="link-normal" href="#">  Tickets archivés</a></p>

                        </div>
                    </div>
                </div>

            </div>
                <span class="customtitle">Aide</span>
        </li>
            </div>

                <div class="col-4">
                    <li>
                        <div class="ch-item">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-6"></div>
                                <div class="ch-info-back">
                                    <div class="centerbloc">
                                    <h3>Gestion
                                        d’utilisateurs</h3>
                                            <p> <a class="link-normal" href="{{ path('type_user')}}">Type d'utilisateurs
                                                </a></p>
                                            <p> <a class="link-normal" href="{{ path('membres')}}">Membres
                                                </a></p>
                                            <p><a class="link-normal" href="{{ path('new_code')}}">  Codes d'invitations</a></p>
                                            <p><a class="link-normal" href="{{ path('home_classe')}}">  Classes</a></p>
                                    </div>
                            </div>

                        </div>
                        </div>

            <span class="customtitle editbottomusertile">Gestion
d’utilisateurs</span>
                    </li>
                </div>

    </ul>


    </div>
 {#   <div class="row row pr-0 mr-0">
	   <div class="a-section octopus-pc-category-card-v2-content">
        <ul class="a-unordered-list a-nostyle a-horizontal a-spacing-none">
            <span class="a-declarative">
                <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                    <span class="a-list-item">
                        <div class="a-section octopus-pc-category-card-v2-item-block">
                          <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                            <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">  
                              <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                    <img  alt="e-learning" src="{{ asset('images/e-learning.png') }}" class="octopus-pc-category-card-v2-image" height="130px" width="130px">
                            </div> 
                            <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                              <span class="a-size-medium a-color-base a-text-bold">E-Learning</span>
                            </div>
                          </a>
                          <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">
                              <a class="link-normal" href="{{ path('admin_dashboard')}}">Dashboard</a>
                              <a class="link-normal" href="{{ path('admin_config')}}">Réglages</a>
                              <a class="link-normal" href="{{ path('home_formation') }}">Formations</a>
                              <a class="link-normal" href="{{ path('admin_awards') }}">Récompenses</a>
                              <a class="link-normal" href="{{ path('content_library') }}">Bibliothéque de contenus</a>
                              <a class="link-normal" href="{{ path('user_profile') }}">Profil</a>
                              <a class="link-normal" href="#">Statistiques</a>
                              <a class="link-normal" href="{{path ('admin_planning')}}">Plannings</a>
                              <a class="link-normal" href="#">Messagerie</a>
                              <a class="link-normal" href="{{path ('forum')}}">Forums</a>
                          </div>
                        </div>
                    </span>
                </li>
          </span>
          <span class="a-declarative">
                <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                    <span class="a-list-item">
                        <div class="a-section octopus-pc-category-card-v2-item-block">
                          <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                            <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">  
                              <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                    <img  alt="e-learning" src="{{ asset('images/sit-blog.png') }}" class="octopus-pc-category-card-v2-image" height="130px" width="130px">
                            </div> 
                            <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                              <span class="a-size-medium a-color-base a-text-bold">Site et Blog</span>
                            </div>
                          </a>
                          <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">
                             <!-- <a class="a-link-normal octopus-pc-category-card-v2-subcategory-link">
                                <div class="a-section octopus-pc-category-card-v2-subcategory-title">
                                  <span class="a-size-base a-color-base">Eveil</span>
                                </div>
                              </a>
                              <a class="a-link-normal octopus-pc-category-card-v2-subcategory-link">
                                <div class="a-section octopus-pc-category-card-v2-subcategory-title">
                                  <span class="a-size-base a-color-base">Fiction</span>
                                </div>
                              </a>
                              <a class="a-link-normal octopus-pc-category-card-v2-subcategory-link">
                                <div class="a-section octopus-pc-category-card-v2-subcategory-title">
                                  <span class="a-size-base a-color-base">Jeux, arts et création</span>
                                </div>
                              </a> -->
                          </div>
                        </div>
                    </span>
                </li>
          </span>
        <span class="a-declarative">
                <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                    <span class="a-list-item">
                        <div class="a-section octopus-pc-category-card-v2-item-block">
                          <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                            <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">  
                              <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                    <img  alt="e-learning" src="{{ asset('images/boutique.png') }}" class="octopus-pc-category-card-v2-image" height="130px" width="130px">
                            </div> 
                            <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                              <span class="a-size-medium a-color-base a-text-bold">Boutique</span>
                            </div>
                          </a>
                          <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">

                          </div>
                        </div>
                    </span>
                </li>
          </span>
          
          <span class="a-declarative">
                <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                    <span class="a-list-item">
                        <div class="a-section octopus-pc-category-card-v2-item-block">
                          <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                            <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">  
                              <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                    <img  alt="e-learning" src="{{ asset('images/aide.png') }}" class="octopus-pc-category-card-v2-image" height="130px" width="130px">
                            </div> 
                            <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                              <span class="a-size-medium a-color-base a-text-bold">Aide</span>
                            </div>
                          </a>
                          <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">

                          </div>
                        </div>
                    </span>
                </li>
          </span>

         #}{# <span class="a-declarative">
                <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                    <span class="a-list-item">
                        <div class="a-section octopus-pc-category-card-v2-item-block">
                          <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                            <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">
                              <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                    <img  alt="e-learning" src="{{ asset('images/emailing.png') }}" class="octopus-pc-category-card-v2-image" height="130px" width="130px">
                            </div>
                            <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                              <span class="a-size-medium a-color-base a-text-bold">Webinaires et Mailing</span>
                            </div>
                          </a>
                          <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">

                          </div>
                        </div>
                    </span>
                </li>
          </span> #}{#
        </ul>
    </div>
</div>#}
    </div>
{% endblock %}