{% extends 'baseAdmin.html.twig' %}
{% block title %} Récompenses des paramètres - Kiwi Institute {% endblock %}
{% block top_title %} Récompenses {% endblock %}
{% block body %}
    <div class="d-flex vh-100">
        <div class="m-auto">
            <img class="customimagencours" src="{{ asset('images/site-en-cours.svg') }}"/>
            <img class="customimagencours1"  src="{{ asset('images/site-en-cours-2.svg') }}"/>
        </div>
    </div>
{% endblock %}