.modal {
    left: 15%;
    width: 70%;
}
body {
    font-family: 'Nunito', sans-serif;
}
p{
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}
.builder .default-content {
    background: #fff;
    border: 1px dashed #ccc;
    min-height: 250px;
    display: block;
    line-height: 250px;
}
.builder .default-content .new-cols {
    display: inline-flex;
    position: relative;
}
.builder .default-content .new-cols .type-grid {
    min-height: 250px;
    position: absolute;
    background: #fff;
    border: 2px solid #ccc;
    left: -167px;
    min-width: 400px;
    top: 50px;
    border-radius: 10px;
    max-width: 400px;
}
.bulider-content .content-block {
    background: #fff;
    border: 1px dashed #ccc;
    min-height: 250px;
    display: block;
    line-height: 250px;
}
.left-build {
    position: relative;
    background: #fff;
    min-height: 100vh;
    text-align: center;
}
.type-grid .row {
    padding: 15px;
}
.type-grid .row img {
    display: flex;
}
#create-page .bulider-content .col-item {
    background: #fff;
}
.bulider-content .col-item {
    border: 1px dashed #ccc;
    min-height: 250px;
    display: block;
    line-height: 250px;
    padding: 2px 12px;
}
.bulider-content .action-col {
    position: absolute;
    left: 11px;
    background-image: linear-gradient(90deg, #d22228, #aa2b87, #3f2d87);
    z-index: 1;
    padding: 5px;
    border-radius: 0px 0 15px 0;
    display: grid;
}
.bulider-content .action-col img {
    width: 30px;
    padding: 2px;
}
.config-list {
    display: flex;
    position: absolute;
    left: 36%;
}
/** modale **/
.builder-modal .modal-dialog{
    min-width: 70%
}
.builder-modal.modal-content {
    height: 700px
}
#choose-page .cercel-sh {
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-align: center;
    margin: 55px;
}
#choose-page .cercel-sh img {
    margin-top: 45px;
    padding-bottom: 15px;
    height: 130px;
}
#choose-page .cercel-sh span {
    font-size: 15px;
}
#choose-page span{
    font-size: 25px;
}
#choose-page .modal-header{
    border: none;
    padding: 0;
}
.builder-modal .close {
    font-weight: normal;
    color: #fff;
    display: block;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    background-image: linear-gradient(90deg, #d22228 10%, #aa2b87 50%, #3f2d87 100% );
    padding: 3px;
    position: absolute;
    right: 5px;
    top: 2px;
    opacity: 1 !important;
}
#choose-page  .modal-footer {
    background-image: linear-gradient(90deg, #d22228 10%, #aa2b87 50%, #3f2d87 100% );
    padding: 0.5rem;
}
.builder-modal .modal-footer{
    border: none;
}
.builder-modal .modal-header {
    border: none;
    padding: 0;
}
#get-composition {
    min-height: 50px;
}
.newElment {
    position: relative;
}
.newElment .new-cols {
    margin-left: 3px;
    margin-top: -30px;
}
.builder .default-content.newElment .new-cols .type-grid {
    left: 36%;
    top: 97%;
}
.builder .default-content.newElment {
    min-height: initial;
    line-height: 0;
    border: none;
    height: 0
}
.updateElment {
    position: absolute;
    right: -1px;
    top: -3px;
    box-shadow: 0 1rem 1rem rgba(0,0,0,.175)!important;
    z-index: 1;
    padding: 5px;
    border-radius: 15px 0px 0px 15px;
    display: inline-block;
    line-height: 0;
    border: 1px solid #ccc;
    background: #fff;
}
.updateElment img {
    width: 30px;
    padding: 2px;
    z-index: 99;
}

.builder .default-content.newElment .new-cols .type-grid .update-grid {
    left: 64px;
    top: -137px;
}
.config-list button {
    background: transparent;
    border: none;
    outline: none;
}
.custom-side {
    background: #fff;
    min-height: 100vh;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    position: relative;
}
.custom-side .save-config, .custom-side .discart-change {
    position: absolute;
    bottom: 35px;
    padding: 4px 12px;
    border-radius: 11px;
}
.custom-side .save-config {
    right: 15px;
}
.custom-side .discart-change {
    left: 15px;
}
.left-build .btn-group.switch-btn {
    margin: 0 auto;
}
.title-sidebar {
    font-size: 25px;
}

/** color picker **/

.pickr {
    position: relative;
    overflow: visible
}

.pickr * {
    box-sizing: border-box
}

.pickr .pcr-button {
    position: relative;
    height: 2em;
    width: 2em;
    padding: .5em;
    border-radius: .15em;
    cursor: pointer;
    background: transparent;
    transition: background-color .3s;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif
}

.pickr .pcr-button:before {
    background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
    background-size: .5em;
    border-radius: .15em;
    z-index: -1
}

.pickr .pcr-button:after,
.pickr .pcr-button:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.pickr .pcr-button:after {
    background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" stroke="%2342445A" stroke-width="5px" stroke-linecap="round"><path d="M45,45L5,5"></path><path d="M45,5L5,45"></path></svg>') no-repeat 50%;
    background-size: 70%;
    opacity: 0
}

.pickr .pcr-button.clear:after {
    opacity: 1
}

.pickr .pcr-button.disabled {
    cursor: not-allowed
}

.pcr-app {
    position: absolute !important;
    display: flex;
    flex-direction: column;
    z-index: 10000;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    box-shadow: 0 .2em 1.5em 0 rgba(0, 0, 0, .1), 0 0 1em 0 rgba(0, 0, 0, .02);
    top: 5px;
    height: 15em;
    width: 28em;
    max-width: 95vw;
    padding: .8em;
    border-radius: .1em;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s
}

.pcr-app.visible {
    visibility: visible;
    opacity: 1
}

.pcr-app .pcr-interaction {
    display: flex;
    align-items: center;
    margin: 1em -.2em 0
}

.pcr-app .pcr-interaction>* {
    margin: 0 .2em
}

.pcr-app .pcr-interaction input {
    padding: .5em .6em;
    border: none;
    outline: none;
    letter-spacing: .07em;
    font-size: .75em;
    text-align: center;
    cursor: pointer;
    color: #c4c4c4;
    background: #f8f8f8;
    border-radius: .15em;
    transition: all .15s
}

.pcr-app .pcr-interaction input:hover {
    color: grey;
}
.pcr-app .pcr-interaction .pcr-result {
    color: grey;
    text-align: left;
    flex-grow: 1;
    min-width: 1em;
    transition: all .2s;
    cursor: text;
    padding-left: .8em;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 15px;
    border: 1px solid #ccc;
}

.pcr-app .pcr-interaction .pcr-result:focus {
    color: #4285f4
}

.pcr-app .pcr-interaction .pcr-result::selection {
    background: #4285f4;
    color: #fff
}

.pcr-app .pcr-interaction .pcr-type.active {
    color: #fff;
    background: #4285f4
}

.pcr-app .pcr-interaction .pcr-clear,
.pcr-app .pcr-interaction .pcr-save {
    color: #fff;
    width: auto
}

.pcr-app .pcr-interaction .pcr-save {
    background: #4285f4
}

.pcr-app .pcr-interaction .pcr-save:hover {
    background: #4370f4;
    color: #fff
}

.pcr-app .pcr-interaction .pcr-clear {
    background: #f44250
}

.pcr-app .pcr-interaction .pcr-clear:hover {
    background: #db3d49;
    color: #fff
}

.pcr-app .pcr-selection {
    display: flex;
    justify-content: space-between;
    flex-grow: 1
}

.pcr-app .pcr-selection .pcr-picker {
    position: absolute;
    height: 18px;
    width: 18px;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
}

.pcr-app .pcr-selection .pcr-color-preview {
    position: relative;
    z-index: 1;
    width: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.pcr-app .pcr-selection .pcr-color-preview:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
    background-size: .5em;
    border-radius: .15em;
    z-index: -1
}

.pcr-app .pcr-selection .pcr-color-preview .pcr-last-color {
    cursor: pointer;
    transition: background-color .3s;
    border-radius: .15em .15em 0 0
}

.pcr-app .pcr-selection .pcr-color-preview .pcr-current-color {
    border-radius: 0 0 .15em .15em
}

.pcr-app .pcr-selection .pcr-color-preview .pcr-current-color,
.pcr-app .pcr-selection .pcr-color-preview .pcr-last-color {
    background: transparent;
    width: 100%;
    height: 50%
}

.pcr-app .pcr-selection .pcr-color-chooser,
.pcr-app .pcr-selection .pcr-color-opacity,
.pcr-app .pcr-selection .pcr-color-palette {
    position: relative;
    user-select: none;
    display: flex;
    flex-direction: column
}

.pcr-app .pcr-selection .pcr-color-palette {
    width: 80%;
    z-index: 1
}

.pcr-app .pcr-selection .pcr-color-palette .pcr-palette {
    height: 100%;
    border-radius: .15em
}

.pcr-app .pcr-selection .pcr-color-palette .pcr-palette:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
    background-size: .5em;
    border-radius: .15em;
    z-index: -1
}

.pcr-app .pcr-selection .pcr-color-chooser .pcr-picker,
.pcr-app .pcr-selection .pcr-color-opacity .pcr-picker {
    left: 50%;
    transform: translateX(-50%)
}

.pcr-app .pcr-selection .pcr-color-chooser .pcr-slider,
.pcr-app .pcr-selection .pcr-color-opacity .pcr-slider {
    width: 8px;
    height: 100%;
    border-radius: 50em
}

.pcr-app .pcr-selection .pcr-color-chooser .pcr-slider {
    background: linear-gradient(180deg, red, #ff0, #0f0, #0ff, #00f, #f0f, red)
}

.pcr-app .pcr-selection .pcr-color-opacity .pcr-slider {
    background: linear-gradient(180deg, transparent, #000), url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
    background-size: 100%, 50%
}
/** end color picker **/
.appercu-color, .appercu-color-text, .appercu-color-border, .cover-Video {
    height: 70px;
    border: 1px solid #e3e6f0;
}
.list-sttaic-color span {
    cursor: pointer;
}
.mod-note span.color1 {
    background: #353a92;
}
.mod-note span.color2 {
    background: #159dd9
}
.mod-note span.color3 {
    background: #f59223;
}
.mod-note span.color4 {
    background: #f05a2a
}
.mod-note span.color5 {
    background: #111416;
}
.mod-note span.color6 {
    background: #9d1a61;
}
.mod-note span.color7 {
    background: #8f268d;
}
.mod-note span.color8 {
    background: #652e8e;
}
.mod-note span.color9 {
    background: #159546;
}
.mod-note span.color10 {
    background: #8ac53e;
}
.mod-note span.color11 {
    background: #d5de2f;
}
.mod-note span.color12 {
    background: #f4ed35;
}
.mod-note span.color13 {
    background: #e9158b;
}
.mod-note span.color14 {
    background: #8a5d3b;
}
.mod-note span.color15 {
    background: #603711;
}
.mod-note span.color16 {
    background: #d91a5b;
}
.mod-note span.color17 {
    background: #fff;
    border: 1px solid #ccc;
}
.mod-note span.color18 {
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
}
.mod-note span.color18 small {
    position: absolute;
    text-align: center;
    left: 3px;
    top: -5px;
    font-size: 19px;
}
.pcr-app.visible {
    top: 405px !important;
    width: 16%;
    height: 8rem;
    background: transparent;
    padding: 0 10px;
    box-shadow: none;
}
.pcr-app .pcr-selection .pcr-color-chooser {
    padding: 0 7px;
}
#magic-sidebar .switch-btn {
    width: 90%;
    margin-left: 7px;
}
#magic-sidebar .switch-btn .btn-toggle {
    min-width: 70%;
}
.builder .switch-btn .btn-toggle .btn {
    padding: 5px;
}
.list-effect {
    list-style: none;
    padding: 20px;
}
.espacement {
    position: relative;
}
.espacement a {
    position: initial;
}
.espacement a .img-phone {
    margin-left: -20px;
    position: absolute;
    right: -20px;
    opacity: 1;
}
.espacement a.collapsed .img-phone {
    opacity: 0;
}
.btn-devices {
    margin-right: -18px;
    text-align: right;
}
#espacement input {
    padding: 5px;
    border-radius: 8px;
    width: 73%;
    line-height: 1px;
}
.img-join {
    position: absolute;
    top: 10px;
    left: 40px;
    width: 20px;
}
.list-effect .effect img {
    transform: rotate(180deg);
    float: right;
    width: 20px;
}
.has-border:after {
    content: "";
    height: 31px;
    width: 2px;
    color: #ccc;
    position: absolute;
    border: 1px solid #ccc;
    top: 0;
    left: 48px;
}
.list-effect li {
    padding-bottom: 0.5rem;
}
.list-effect li  a.effect img {
    transform: initial;
}

.list-effect li  a.effect.collapsed img {
    transform: rotate(180deg);
}
.list-effect li .form-select {
    width: 98%;
}
.list-effect li  input {
    border: 1px solid #6666;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.175)!important;
}
.list-effect li .form-select .select2-choice {
    height: 40px;
    padding: 8px;
    line-height: 21px;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.175)!important;
}
.list-effect li .select2-container .select2-choice .select2-arrow {
    top: 20px;
}
.custom-slider {
    width: 100%;
}
.custom-slider .slider.slider-horizontal{
    width: 60%
}
.custom-slider span.valueSlider {
    width: 20%;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    border: 1px solid #ccccccad;
    padding: 6px;
    border-radius: 12px;
}
.gradient-slider .slider.slider-horizontal .slider-tick,.gradient-slider .slider.slider-horizontal .slider-handle {
    background-image: linear-gradient(90deg, #d22228, #aa2b87, #3f2d87);
    width: 10px;
    height: 10px;
    top: 2px;
}
.bordure {
    border: 1px solid #ccc;
    padding: 5px;
    position: relative;
    height: 90px;
}
.bordure .left-top {
    position: absolute;
    top: 2px;
    left: 2px;
}
.bordure .left-bottom {
    position: absolute;
    bottom: 2px;
    left: 2px;
}
.bordure .right-buttom{
    position: absolute;
    right: 2px;
    bottom: 2px;
}
.bordure .right-top {
    position: absolute;
    right: 2px;
    top: 2px;
}
.bordure img {
    position: relative;
    left: 26px;
    width: 70%;
}
.bordure input {
    width: 35px;
}
.bordure-type {
    display: inline-flex;
}
.display-border {
    width: 77%;
    height: 66px;
    left: 23px;
    top: 11px;
    position: absolute;
}
.gradient-slider .slider.slider-horizontal .slider-track {
    background: #ccc;
    height: 5px;
}
.gradient-slider  .slider.slider-horizontal .slider-selection {
    background-image: linear-gradient(90deg, #d22228, #aa2b87, #3f2d87);
}
.list-btn ul li {
    width: 24%;
    border-right: 2px solid #ccc;
}
.list-btn ul li a , .list-btn .nav-pills .nav-link.active{
    background-color: transparent;
    text-align: center;
    position: relative;
}
.list-btn .nav-pills .nav-link {
    padding: 0;
}
.list-btn ul li:last-child {
    border: none
}
.list-btn #pills-palette-tab.active::after, .list-btn #font-pills-palette-tab.active::after {
    content: url(../images/builder/sidebar/activePalette.svg);
    position: absolute;
    right: 12px;
    top: 2px;
    width: 23px
}
.list-btn #pills-gradient-tab.active::after ,.list-btn #font-pills-gradient-tab.active::after{
    content: url(../images/builder/sidebar/gradient-active.svg);
    position: absolute;
    right: 6px;
    top: 2px;
    width: 30px;
}
.list-btn #pills-image-tab.active::after,.list-btn #font-pills-image-tab.active::after {
    content: url(../images/builder/sidebar/img-active.svg);
    position: absolute;
    right: 6px;
    top: 2px;
    width: 30px;
}
.list-btn #pills-video-tab.active::after,.list-btn #font-pills-video-tab.active::after {
    content: url(../images/builder/sidebar/video-active.svg);
    position: absolute;
    right: 8px;
    top: 0px;
    width: 30px;
}
.list-btn .nav-pills .nav-link img {
    width: 30px;
}
.appercu-img {
    width: 120%;
    margin-left: -25px;
}
#config-sidebar .form-group .full-width, #bordures .full-width {
    width: 95%;
}
.full-width .select2-choice {
    height: 40px;
    line-height: 40px;
}
.full-width .select2-choice .select2-arrow {
    top: 20px;
}
.list-btn .nav-link.active img {
    display: none;
}
.pcr-app.visible.gradient {
    top: 217px !important;
}
.select2-container .select2-choice .select2-arrow b {
    transform: translateY(-48%) rotate(-88deg);
}
.select2-dropdown-open.full-width .select2-choice .select2-arrow b {
    transform: translateY(-10%) rotate(0deg);
    background-position: -2px -3px;
}
.select2-dropdown-open.full-width .select2-choice .select2-arrow
{
    right: 15px;
}
.custom-switcher {
    background: url(../images/builder/switcher.png);
    background-repeat: no-repeat;
    width: 107px;
    position: relative;
}
.custom-switcher img{
    position: absolute;
}
.custom-switcher .btn-1{
    left: 15px;
    top: 15px;
}
.custom-switcher .btn-2{
    right: 6px;
    top: 6px;
}
.custom-switcher .btn-3 {
    left: 8px;
    top: 4px;
}
.custom-switcher .btn-4 {
    right: 15px;
    top: 15px;
}
/* new toogle btn */

.custom-switcher-builder .tabsbg {
    background: url(../images/step6/step6drag/bgtabs.png) !important;
    background-repeat: no-repeat;
    width: 99px;
    position: relative;
    height: 50px;
}
.custom-switcher-builder button.btn.monthly-btn.active .normaltabsimage, .normaltabsimageactive {
    display: none;
}
.custom-switcher-builder a.btn.btn-default.active {
    position: absolute;
    left: 0 !important;
    top: 2px !important;
    left: 3px !important;
}

.custom-switcher-builder a.btn.btn-default8 {
    position: absolute;
    right: -83px;
    top: 10px;
}
.custom-switcher-builder .btn-togglepicture {
    position: relative;
}

.custom-switcher-builder a.btn.btn-default.active img.hoverimgtabs {
    display: block;
}

.custom-switcher-builder a.btn.btn-default.active  img.normaltabsimage {
    display:none;
}
.custom-switcher-builder  a.btn.btn-default {
    position: absolute;
    left: 0;
    top: 11px;
    left: 9px;
}
.custom-switcher-builder a.btn.btn-default8.focus img.hoverimgtabsnotactive {
    display: none;
}
.custom-switcher-builder  a.btn.btn-default8.focus img.normaltabsimageactive {
    display: block;
}
.custom-switcher-builder a.btn.btn-default8.focus {
    right: -96px;
    top: 3px;
}
.custom-switcher-builder  img.hoverimgtabs {
    display: none;
}
.custom-switcher-builder img.normaltabsimage, .custom-switcher-builder button.btn.monthly-btn.active img.hoverimgtabs ,.custom-switcher-builder button.btn.annual-btn.active img.normaltabsimageactive{
    display: block;
    text-align: center;
    margin: 0 auto;
}

/** end btn switcher **/
/** appercu builder**/
#appercu-Builder .list-group-item {
    border: none;
    background-color: initial;
}

#appercu-Builder .list-group-item.col-item .custom-row:hover  .updateElment {
    display: block !important;
}
#config-sidebar .btn-group-side {
    top: 15rem;
}
.btn-group-side {
    position: fixed;
    top: 50%;
    left: 15%;
    z-index: 9;
    -webkit-transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    transform: translateY(-15%);
}
.btn-group-side a {
    display: block;
    text-align: center;
    padding: 2px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.btn-group-side .btn-save {
    background-color: #59AF31;
}
.btn-group-side .btn-prev {
    background-color: #D3C61F;
}
.btn-group-side  .btn-next{
    background-color: #ED7121;
}
.btn-group-side .btn-discart {
    background-color: #E4221F;
}
#library-modal .switch-btn .btn-toggle {
    min-width: auto;
}
#library-modal .switch-btn .btn-toggle .btn {
    line-height: 0.8rem;
    width: auto;
}
#library-modal .get-image .value-file {
    width: 60%;
    border-radius: 0;
    border: 2px dashed #ccc;
}
#library-modal  .get-image .btn {
    position: absolute;
    border-radius: 5px !important;
    padding: 7px;
    right: -34%;
    z-index: 1;
}
#library-modal .btn-save-image {
    position: relative;
    width: 60%;
    text-align: right;
    margin-top: 20px;
}
#library-modal .btn-save-image #file {
    position: absolute;
    opacity: 0;
    z-index: 9;
}
#library-modal .card-img-top {
    -webkit-box-shadow: -5px 10px 32px -7px #aaa;
    -moz-box-shadow: -5px 10px 32px -7px rgba(204,12,1,1);
    box-shadow: -5px 10px 32px -7px #aaa;
    border: 1px solid #cccccc2e;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#library-modal .card-img-top.selected {
    box-shadow: none;
}
.global-content {
    width: 100%;
    height: 100%;
}
#appercu-Builder {
    position: relative;
}
/** list of composition **/
#composotion .model-composition {
    content: "";
    width: 100%;
    height: 60px;
}
#composotion .model-composition.image-comp-1 {
    background: url(../images/builder/compositions/model1.svg);
    background-repeat: no-repeat;
    background-position: 19px 0px;
}
#composotion .comp.active .image-comp-1,#composotion .comp .image-comp-1:hover {
    background: url(../images/builder/compositions/model1-active.svg);
    background-repeat: no-repeat;
    background-position: 19px 0px;
}
#composotion .model-composition.image-comp-2 {
    background: url(../images/builder/compositions/model2.svg);
    background-repeat: no-repeat;
    background-position: 19px 0px;
}
#composotion .comp.active .image-comp-2,#composotion .comp .image-comp-2:hover {
    background: url(../images/builder/compositions/model2-active.svg);
    background-repeat: no-repeat;
    background-position: 12px 0px;
}
#composotion .model-composition.image-comp-3 {
    background: url(../images/builder/compositions/model3.svg);
    background-repeat: no-repeat;
    background-position: 53px 0px;
}
#composotion .comp.active .image-comp-3,#composotion .comp .image-comp-3:hover {
    background: url(../images/builder/compositions/model3-active.svg);
    background-repeat: no-repeat;
    background-position: 52px 0px;
}
#composotion .model-composition.image-comp-4 {
    background: url(../images/builder/compositions/model4.svg);
    background-repeat: no-repeat;
    background-position: 41px 0px;
}
#composotion .comp.active .image-comp-4,#composotion .comp .image-comp-4:hover {
    background: url(../images/builder/compositions/model4-active.svg);
    background-repeat: no-repeat;
    background-position: 41px 0px;
}
#composotion .model-composition.image-comp-5 {
    background: url(../images/builder/compositions/model5.svg);
    background-repeat: no-repeat;
    background-position: 41px 0px;
}
#composotion .comp.active .image-comp-5,#composotion .comp .image-comp-5:hover {
    background: url(../images/builder/compositions/model5-active.svg);
    background-repeat: no-repeat;
    background-position: 41px 0px;
}
#composotion .model-composition.image-comp-6 {
    background: url(../images/builder/compositions/model6.svg);
    background-repeat: no-repeat;
    background-position: 41px 0px;
}
#composotion .comp.active .image-comp-6,#composotion .comp .image-comp-6:hover {
    background: url(../images/builder/compositions/model6-active.svg);
    background-repeat: no-repeat;
    background-position: 41px 0px;
}
.model-composition.image-comp-7 {
    background: url(../images/builder/compositions/model7.svg);
    background-repeat: no-repeat;
    background-position: 19px 0px;
}
#composotion .comp.active .image-comp-7,#composotion .comp .image-comp-7:hover {
    background: url(../images/builder/compositions/model7-active.svg);
    background-repeat: no-repeat;
    background-position: 19px 0px;
}
#composotion .model-composition.image-comp-8 {
    background: url(../images/builder/compositions/model8.svg);
    background-repeat: no-repeat;
    background-position: 80px 0px;
}
#composotion .comp.active .image-comp-8,#composotion .comp .image-comp-8:hover {
    background: url(../images/builder/compositions/model8-active.svg);
    background-repeat: no-repeat;
    background-position: 80px 0px;
}
#composotion .model-composition.image-comp-9 {
    background: url(../images/builder/compositions/model9.svg);
    background-repeat: no-repeat;
    background-position: 80px 0px;
}
#composotion .comp.active .image-comp-9,#composotion .comp .image-comp-9:hover {
    background: url(../images/builder/compositions/model9-active.svg);
    background-repeat: no-repeat;
    background-position: 80px 0px;
}
#composotion .model-composition.image-comp-10 {
    background: url(../images/builder/compositions/model10.svg);
    background-repeat: no-repeat;
    background-position: 110px 0px;
}
#composotion .comp.active .image-comp-10,#composotion .comp .image-comp-10:hover {
    background: url(../images/builder/compositions/model10-active.svg);
    background-repeat: no-repeat;
    background-position: 110px 0px;
}
#composotion .model-composition.text-comp-1 {
    background: url(../images/builder/compositions/text-2.svg);
    background-repeat: no-repeat;
    background-position: 75px 0px;
}
#composotion .comp.active .text-comp-1, #composotion .comp .text-comp-1:hover {
    background: url(../images/builder/compositions/text-2-active.svg);
    background-repeat: no-repeat;
    background-position: 75px 0px;
}
#composotion .model-composition.text-comp-2 {
    background: url(../images/builder/compositions/text-3.svg);
    background-repeat: no-repeat;
    background-position: 10px 0px;
}
#composotion .comp.active .text-comp-2, #composotion .comp .text-comp-2:hover {
    background: url(../images/builder/compositions/text-3-active.svg);
    background-repeat: no-repeat;
    background-position: 10px 0px;
}
#composotion .model-composition.text-comp-3 {
    background: url(../images/builder/compositions/text-4.svg);
    background-repeat: no-repeat;
    background-position: 35px 0px;
}
#composotion .comp.active .text-comp-3, #composotion .comp .text-comp-3:hover {
    background: url(../images/builder/compositions/text-4-active.svg);
    background-repeat: no-repeat;
    background-position: 35px 0px;
}
#composotion .model-composition.text-comp-4 {
    background: url(../images/builder/compositions/text-5.svg);
    background-repeat: no-repeat;
    background-position: 27px 0px;
}
#composotion .comp.active .text-comp-4, #composotion .comp .text-comp-4:hover {
    background: url(../images/builder/compositions/text-5-active.svg);
    background-repeat: no-repeat;
    background-position: 27px 0px;
}
#composotion .model-composition.text-comp-5 {
    background: url(../images/builder/compositions/text-6.svg);
    background-repeat: no-repeat;
    background-position: 10px 0px;
}
#composotion .comp.active .text-comp-5, #composotion .comp .text-comp-5:hover {
    background: url(../images/builder/compositions/text-6-active.svg);
    background-repeat: no-repeat;
    background-position: 10px 0px;
}
#composotion .model-composition.text-comp-6 {
    background: url(../images/builder/compositions/text-7.svg);
    background-repeat: no-repeat;
    background-position: 35px 0px;
}
#composotion .comp.active .text-comp-6, #composotion .comp .text-comp-6:hover {
    background: url(../images/builder/compositions/text-7-active.svg);
    background-repeat: no-repeat;
    background-position: 35px 0px;
}
.custom-side .form-select {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 9px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border-radius: 15px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.left-build .btn-action-builder {
    position: absolute;
    bottom: 27px;
    right: 45px;
    display: contents;
    padding-bottom: 15px;
}
.left-build .btn-action-builder .btn {
    min-width: 100px;
}
#pills-tabContent .show  .list-sttaic-color, #ont-pills-tabContentfont-pills-tabContent .show  .list-sttaic-color{
    margin-bottom: 140px;
}
.builder-modal#edit-text .modal-dialog{
    width: 50%;
}
.show-chapter .list-group-item {
    border: none;
    padding: 0;
    background-color: transparent;
}
.global-content .custom-row img, .bulider-content .custom-row img {
    max-height: 250px;
    object-fit: contain;
}
/** builder **/
.et-fb-settings-options-wrap {
    overflow-y: auto;
}
.et-fb-settings-options {
    padding: 18px 15px 10px;
}
.et-fb-settings-options-tab {
    display: block;
    padding: 0;
    margin-left: -30px;
}
.et-fb-columns-layout {
    position: relative;
    padding: 0!important;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
ul.et-fb-columns-layout li:nth-child(odd) {
    clear: none!important;
}
ul.et-fb-columns-layout li {
    width: 29%;
    overflow: hidden;
    color: #4c5866;
    text-decoration: none;
    padding: 5px 15px;
    line-height: 2.35em;
    font-size: 13px;
    text-align: center;
    float: right;
    margin: 0 1% 1% 0;
    border-radius: 3px;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
.et-fb-columns-layout li .column-block-wrap {
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 2px;
}
.et-fb-columns-layout li .column-block-wrap .column-block {
    background: #939598;
    display: block;
    font-size: 11px;
    text-align: center;
    text-indent: -9999em;
    padding: 2px 0;
    transition: background .2s ease;
    border-radius: 3px;
}
.et-fb-columns-layout li:hover .column-block-wrap .column-block {
    background: #939598a8;
}
.custom-switcher-builder input[type=radio] {
    position: absolute;
    visibility: hidden;
}
.all-modules .col-6, .medias .col-6 {
    padding: 0px 6px;
}
.select-type .card-header  h6 {
    position: relative;
    text-align: center;
}
.select-type .card-header.collapsed h6::after {
    top:0 ;
    transform: translateY(0%) rotate(0deg);
}
.select-type .card-header h6::after, .links-collapsed::after{
    content: "";
    cursor: pointer;
    width: 2rem;
    height: 1rem;
    background-image: url(../images/icons/arrow_gray.png);
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 10px;
    transform: translateY(-50%) rotate(-93deg);
    top: 5px;
}
.builder-item .module-image {
    height: 85px;
    margin-top: 10px;
    line-height: 85px;
}
.links-collapsed {
    position: relative;
    text-align: center;
}
.links-collapsed a {
    position: relative;
    text-align: center;
    color: #6e707e!important;
    font-size: 1em;
}
.select-type .builder-item {
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 1rem 1rem rgba(0,0,0,.175)!important;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 98%;
    text-align: center;
    color: #6e707e;
}
.select-type .builder-item.active, .select-type .builder-item:hover {
    background-image: linear-gradient(90deg, #d22228, #aa2b87, #3f2d87);
    cursor: pointer;
    color: #fff;
}
.select-type .builder-item img {
    text-align: center;
    margin: 0 auto;
}
.select-type .builder-item span {
    font-size: 0.7em;
}
.left-build .switch-btn .btn-toggle {
    min-width: 100%;
}
.left-build .switch-btn .btn-toggle .btn {
    width: auto;
}

.top-modal .exist-page {
    padding: 10px;
    width: 70%;
}
.types-global .cercel-img {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 20px;
    text-align: center;
    position: relative;
}
.types-global .cercel-img  img{
    width: 50px;
    position: absolute;
    left: 26px;
    top: 23px;
}
.types-global .cercel-img.active {
    background-image: linear-gradient(90deg, #0b9c3c, #1366b0, #009d8b );
}
.hidden {
    display: none;
}
.custom-file-upload {
    background-image: linear-gradient(90deg, #3f2d87 10%, #aa2b87 50%, #d51317 100%) !important;
    border-radius: 10px;
    color: #fff;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
}
.custom-file-upload input {
    display: none;
}
.get-image {
    position: relative;
}
.get-image .value-file {
    border-radius: 50px;
    padding: 6px 12px;
    cursor: pointer;
    width: 95%;
    height: 36px;
    border: 1px solid #ccc;
    margin-left: 6px;
}

.get-image .image-font {
    position: absolute;
    right: 0;
    width: 91px;
    opacity: 0;
    z-index: 99;
}
.get-image .btn {
    position: absolute;
    right: 11px;
    width: 91px;
    padding: 4px;
    top: 1px;
    z-index: 1;
}
#composotion .comp {
    border-radius: 10px;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    width: 100%;
    border: 1px solid #ccc;
    display: flex;
    max-height: 80px;
    margin-bottom: 10px;
}
#composotion .comp.active, #composotion .comp:hover {
    background-image: linear-gradient(90deg, #3f2d87 10%, #aa2b87 50%, #d51317 100%) !important;
    min-height: 80px;
}
#composotion .comp img {
    margin: 0 auto;
}
.bulider-content .col-item .comp .col:first-child {
    border-right: 1px dashed #ccc;
}
.no-font #content {
    background-image: none;
    padding: 0;
}
.switch-btn {
    border-radius: 50px;
    padding: 1px;
    background-image: linear-gradient(90deg, #3f2d87 10%, #aa2b87 50%, #d51317 100%);
}

.switch-btn .btn-toggle {
    background: #fff;
    padding: 3px;
    border-radius: 50px;
    min-width: 320px;
}

.switch-btn .btn-toggle button.active {
    color: #fff;
    background-image: linear-gradient(90deg, #3f2d87 10%, #aa2b87 50%, #d51317 100%) !important;
    border: none;
}

.switch-btn .btn-toggle .btn {
    border-radius: 50px;
    background: #fff;
    width: 49%;
    padding: 10px;
}
.btn.focus,
.btn:focus {
    box-shadow: none;
}
.btn-group.switch-btn {
    margin-bottom: 15px;
    margin: 0 -25px 15px;
}
.btn-toggle {
    display: flex;
}
.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
    background: #fff;
    border-color: #ccc;
}
.small-select .select2-choice b {
    background-size: 15px !important;
}
.select2-container.small-select  .select2-choice .select2-arrow
{
    top: 3px;
}
.select2-dropdown-open.small-select  .select2-choice .select2-arrow {
    top: 10px;
}
custom-checkbox .dropdown-select {
    display: inline-block;
    position: absolute;
    background: #fff;
    width: 18%;
}
.select2-container-active .select2-choice, .select2-conta.static-helpiner-active .select2-choices {
    border: 1px solid #ccc;
}
.select2-container .select2-choice {
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 13px;
    padding: 0px 15px 0 15px;
    box-shadow: none;
    background-image: none;
}
.select2-container .select2-choice .select2-arrow {
    background-image: none;
    border: none;
    right: 6px;
    background: transparent;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: 0px;

}
.select2-dropdown-open .select2-choice {
    border-radius: 15px 15px 0px 0px;
    background: #fff;
}
.select2-dropdown-open .select2-choice .select2-arrow {
    top: 15px;
}
.custom-checkbox .dropdown-select .dropdown-label {
    margin: 2px 0px;
}
.custom-checkbox .dropdown-select.open .dropdown-list {
    padding: 0;
}
.custom-checkbox .dropdown-select.open .checkbox {
    z-index: 99;
    margin-bottom: 0;
    padding-left: 10px;
}
.custom-checkbox  .right-check .custom-control-label::before, .custom-checkbox .right-check .custom-control-label::after {
    width: 1rem;
    height: 1rem;
}
.custom-checkbox .dropdown-select.open .dropdown-label:before {
    top: 10%;
    right: 13px;
}
/** yes no btn **/
.gradient-radio {
    position: relative;
}
.gradient-radio .switch {
    position: absolute;
    top: 50%;
    left: 55%;
    width: 110px;
    height: 35px;
    text-align: center;
    margin: -30px 0 0 -75px;
    transition: all 0.2s ease;
    border-radius: 25px;
    border: 1px solid #d22228;
}

.gradient-radio input[type=radio] {
    display: none;
}
.switch label {
    cursor: pointer;
    color: #858585;
    width: 60px;
    line-height: 30px;
    transition: all 0.2s ease;
}
.gradient-radio label.btn-yes {
    position: absolute;
    left: 0px;
    height: 20px;
}
.gradient-radio label.btn-no {
    position: absolute;
    right: 2px;
}

.gradient-radio .radio-yes:checked ~ .switch label.btn-yes {
    color: #fff;
    background-image: linear-gradient(90deg, #d22228, #aa2b87, #3f2d87);
    height: 90%;
    border-radius: 20px;
    top: 2px;
    left: 3px;
}
.gradient-radio .radio-no:checked ~ .switch label.btn-no {
    color: #fff;
    background-image: linear-gradient(90deg, #d22228, #aa2b87, #3f2d87);
    height: 90%;
    border-radius: 20px;
    top: 2px;
}
.builder .form-control {
    border: 1px solid #858585;
}
.select2-drop-active {
    border: 1px solid #ccc;
    border-radius: 0px 0px 15px 15px;
    border-top: none;
    padding: 2px 6px;
}
.mod-note  {
    margin-top: 15px;
}
.mod-note span {
    width: 20px;
    height: 20px;
    background: #ccc;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
}
a:hover{
    text-decoration: none;
}
#create-page .bulider-content .col-item {
    margin: 0;
}
/** btn witch **/
.green-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}
.green-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.green-switch .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.green-switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.green-switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-image: url(../images/svg/check_active.png);
    background-size: 18px;
}

/* Rounded sliders */
.green-switch .slider.round {
    border-radius: 34px;
}

.green-switch .slider.round:before {
    border-radius: 50%;
}
/** style of the color picker **/
#main-color {
    position: absolute;
}
#main-color .picker_sample, #main-color .picker_done {
    display: none;
}
#main-color .picker_editor {
    width: 100%;
    margin: 0px;
}
#main-color .layout_default.picker_wrapper {
    position: absolute;
    top:372px;
    background: transparent;
    box-shadow: none;
    left: 30px;
}
.layout_default .picker_hue {
    padding: 1.5em !important;
}
#main-color .layout_default .picker_sl {
    display: none;
}
.picker_slider .picker_selector {
    border-radius: 50%;
}
.layout_default .picker_slider, .layout_default .picker_selector {
    padding: 16px;
    border-radius: 120px;
}
.layout_default .picker_editor input {
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 0.4em;
    position: absolute;
    top: -45px;
    height: 73% !important;
}
.layout_default .picker_selector {
    border-radius: 16px !important;
    padding: 0.9rem !important;
}
.list-color-gr .show-color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}
.list-color-gr {
    position: absolute;
    display: flex;
    top: 420px;
    left: 43px;
}
.show-color.cl-2 {
    opacity: 0.7;
}
.show-color.cl-3 {
    opacity: 0.5;
}
.show-color.cl-4 {
    opacity: 0.4;
}
.show-color.cl-5 {
    opacity: 0.2;
}

@media(min-width:1200px){
    .builder .switch-btn .btn-toggle .btn{
        font-size: 12px;
    }
}
@media  screen and (max-width: 1366px) {
    .img-join {
        left: 29px;
        width: 15px;
    }
    .builder .has-border:after {
        left: 37px;
    }
    #main-color .layout_default.picker_wrapper {
        width: 10rem;
    }
    .list-color-gr .show-color {
        width: 25px;
        height: 25px;
    }
}
@media(max-width: 500px) {
    .layout_default .picker_editor {
        width: 100%;
    }
}
/** modal choose bloc **/
