/** DARK MODE STYLE **/

.dark-mod {
    background: #222222c7;
    color: #fff !important;
}

.dark-mod .wrapper #content {
    background-color: #222222c7;
}

.sidebar-dark #sidebarToggle {
    background-image: linear-gradient(90deg, #3f2d87 10%, #aa2b87 50%, #d51317 100%);
}

.dark-mod .bg-gradient-primary {
    background-color: #525252;
    background-image: none;
}

.dark-mod .bg-white {
    background-color: #525252 !important;
}

.dark-mod .gray-title,
.dark-mod .sidebar-dark .nav-item .nav-link {
    color: #fff;
}

.dark-mod .custom-control-label,
.dark-mod .student .form-control,
.dark-mod .student .form-group i {
    color: #fff;
}

.dark-mod .student .full-card {
    background-color: #525252;
}

.dark-mod .form-control::placeholder {
    color: #fff;
    opacity: 1
}
.dark-mod .formation-stat .full-card h6 {
    font-size: 0.8rem;
    color: #fff;
}



.dark-mod .planing-date  {
    color: #fff;
}
.dark-mod .my-planing{
    color: #fff;
}
.dark-mod .text-uppercase{
    color: #fff;
}
.dark-mod .full-card .shadow h5 {
    color:#fff;
}
.dark-mod .formation-stat .full-card h3 {
    color:#ebe97b;
}

.dark-mod .align-items-center h1{
    color:#fff !important;
}

.dark-mod .h5{
    color:#fff ;
}

.dark-mod span{
    color:#fff ;
}

.dark-mod h2{
    color:#fff ;
}

.dark-mod h3{
    color:#fff ;
}
.dark-mod h6{
    color:#fff !important ;
}


.dark-mod ul{
    color:#fff ;
}

.dark-mod p{
    color:#fff !important;
}

.dark-mod .modal .modal-content .default-conten {
    color:#fff !important;
}


.dark-mod .full-card span{
    color:#fff !important;
}

.dark-mod .text-uppercase .select2{
    color:rgb(75, 72, 72) !important;
}