:root {
    --screen-width:     768px;

    --splash-bg-color: #368887;
}

.wrapper #content {
    background-image: url(../img/fond_kiwi.svg);
}

#stat .select2-container .select2-choice .select2-arrow b {
    background: url(../images/icons/arrow-kiwi.svg) no-repeat 0 1px;
    position: relative;
    top: 3px;
    left: 10em;
}
#stat .select2-container .select2-choice .select2-arrow {
    left: 4px;
    top: 3px;
    background-image: url(../images/icons/traits.svg);
    width: 16%;
    background-repeat: no-repeat;
    background-position-y: 3px;
    background-position-x: 3px;
}
#stat .select2-container .select2-choice > .select2-chosen {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: none;
    text-align: center;
}
#formationstudent #stat .select2-dropdown-open b {
    background: url(../images/icons/arrow-kiwi.svg) no-repeat 0 1px;
    transform: rotate(181deg);
    top: -10px;
    /* right: -26px; */
    left: 121px;
    /* position: absolute; */
    /* top: 134%; */
    /* background-position: right; */
}
#categ .select2-dropdown-open.small-select .select2-choice .select2-arrow {
    top: 3px;
}
#formationstudent #categ .select2-dropdown-open b {
    background: url(../images/icons/arrow-kiwi.svg) no-repeat 0 1px;
    transform: rotate(181deg);
    top: -10px;
    /* right: -26px; */
    left: 136px;
    /* position: absolute; */
    /* top: 134%; */
    /* background-position: right; */
}
#categ .select2-container .select2-choice .select2-arrow b {
    background: url(../images/icons/arrow-kiwi.svg) no-repeat 0 1px;
    position: relative;
    top: 3px;
    left: 11.4em;
}
#categ .select2-container .select2-choice .select2-arrow {
    left: 4px;
    background-image: url(../images/icons/traits.svg);
    width: 17%;
    background-repeat: no-repeat;
    background-position-y: 3px;
    background-position-x: 3px;
}
#categ .select2-container .select2-choice > .select2-chosen {
    display: block;
    /* margin-left: 0px; */
    /* overflow: hidden; */
    white-space: nowrap;
    text-overflow: ellipsis;
    /* float: right; */
    margin-left: 30px;
    width: 115px;
}
.wid-kiwi {
    width: 16%;
}
/*#formationstudent .filter-choice .select2-container .select2-choice .select2-arrow {
    left: 0px;
    background-image: url(../images/icons/traits.svg);
    width: 22%;
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: 2px;
}
#formationstudent .select2-container .select2-choice > .select2-chosen {
    margin-right: -18px;
    padding-right: -15px;
    !* padding-left: 37px; *!
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: none;
    width: 10em;
    !* width: auto; *!
}


#categorys .filter-choice .select2-container .select2-choice .select2-arrow b {
    display: block;
    background-position: right;
    left: 0px;
    background-image: url(../images/icons/traits.svg);
    width: 24%;
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: 2px;
}
#status .filter-choice .select2-container .select2-choice .select2-arrow b {
    display: block;
    background-position: right;
    left: 0px;
    background-image: url(../images/icons/traits.svg);
    width: 24%;
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: 2px;
}*/

.formation-student .progress-bar {
    background-color: #336330;
    background-image: none;

}

#sidebarToggleTop i {
    color: #1D4851;
    font-size: 25px;
}

/** select 2 with icon left **/
#formationstudent .filter-choice .select2-container .select2-choice {
    padding: 5px 32px 7px 28px;
}
#formationstudentformation1 a[data-toggle=collapse]::after {
    background-image: url(../images/icons/arrow-kiwi.svg);
}
#formationstudentformation1 a[data-toggle=collapse]::after {
    background-image: url(../images/icons/arrow-kiwi.svg);
}

.details-formations li .row .passed-time {
    color: #232323;
    text-align: right;
}
#formationstudentformation1 .progress-value {
    color: #336330;
}

.radio {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    font-size: 14px;
    margin: 15px;
}
.radio .label{
    position: relative;
    display: block;
    float: left;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #C8CCD4;
    border-radius: 100%;
    -webkit-tap-highlight-color: transparent;
}
.custom-radio .custom-control-label::before {
    background-color: #336330;
    background-image: none;
    border: #fafafa solid 2px;
}
.custom-radio .custom-control-label::after {

    left: -20px;
    top: 4px;
    border-radius: 53%;
}

.custom-radio .label:hover .label::after{
    transform: scale(3.6);
}
input[type="custom-radio"]:checked .label{
    border-color: #336330;
}
input[type="custom-radio"]:checked .label::after{
    transform: scale(1);
    transition: all .2s cubic-bezier(.35,.9,.4,.9);
    opacity: 1;
}


.sidebar .nav-item .nav-link i {
    font-size: 31px;
    margin-right: 15px;
}

.sidebar-dark .nav-item.active .nav-link .fa-list:before {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);

}
.sidebar-dark .nav-item.active .nav-link .fa-home:before {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);

}
.sidebar-dark .nav-item.active .nav-link .fa-cog:before {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);

}
.sidebar-dark .nav-item.active .nav-link .fa-images:before {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);

}
.sidebar-dark .nav-item.active .nav-link .fa-medal:before {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);

}
.sidebar-dark .nav-item.active .nav-link .fa-photo-video:before {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);

}
.sidebar-dark .nav-item.active .nav-link .fa-user-friends:before {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);

}
.sidebar-dark .nav-item.active .nav-link .fa-user:before {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);

}
.sidebar-dark .nav-item.active .nav-link .fa-chart-line:before {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);

}
.sidebar-dark .nav-item.active .nav-link .fa-calendar:before {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);

}
.sidebar-dark .nav-item.active .nav-link .fa-envelope:before {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);

}
.sidebar-dark .nav-item.active .nav-link .fa-comments:before {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);

}
.sidebar-dark .nav-item.active .nav-link .fa-play:before {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);

}
 .sidebar-dark .nav-item.active .nav-link .fa-users-cog:before {
     -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
     filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);

 }
.sidebar-dark .nav-item.active .nav-link .fa-user-check:before {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);

}
.sidebar-dark .nav-item.active .nav-link .fa-envelope-open-text:before {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);

}
.sidebar-dark .nav-item.active .nav-link .fa-graduation-cap:before {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);

}
#home-menu .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#reg-menu .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}

#formation-menu .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#recomp-menu .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#content-menu .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#users-menu .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#user-menu .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#stat-menu .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#planing-menu .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#messagerie-menu .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#forums-menu .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#video-menu .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#type-user .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#membres .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#code-invit .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#class-user .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
/*base Student*/
.sidebar-dark .nav-item.active .nav-link .fa-list-alt:before {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);

}

#home-student .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#formation-student .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#msg-student .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#forum-student .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#video-student .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#calendar-student .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#stat-student .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#profil-student .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
#note-student .sidebar-dark .nav-item.active .nav-link i {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
/*end*/

/*.select2-results {
    overflow-x: hidden;
    overflow-y: hidden;
}*/
.nav-link .select2 .select2-choice::before {
    background-image: url(../images/icons/e-learning.svg);
    left: 14px;
    top: 7px;
    background-size: 38px;
    width: 50px;
    height: 50px;
}

.nav-link .select2 .select2-choice {
    height: 50px;
    padding: 16px 27px 29px 6px;
    padding-left: 10px;
}
/*.nav-link .select2-container .select2-choice .select2-arrow b {
    background-image: url(../images/icons/arrow-kiwi.svg);
}*/
.nav-link .select2-container .select2-arrow a[data-toggle=collapse]::before {
    background-image: url(../images/icons/arrow-kiwi.svg);
}
#users-titre span#select2-chosen-2 {
    font-size: 13px;
}
.topbar .dropdown .dropdown-menu {
    width: calc(15% - 1.5rem);
    right: 4rem;
}
div#adminDrop {
    right: 7.5rem;
}
.topbar .dropdown {
    position: inherit;
    width: 48px;
}
.student .user-profile .form-control {
    /* background-image: linear-gradient(90deg, #3f2d87 10%, #aa2b87 50%, #d51317 100%); */
    padding: 3px 40px;
    color: #fff;
}
#langue select.form-control.btn-user {
    width: 82%;
    display: initial;
}
.user-profile .dropdown-menu {
/*linear-gradient(90deg, #3b3686, #52ab6e )!important*/
    border: 1px solid #52ab6e;
    padding-bottom: 0;
    margin-top: 25px;
}

.user-profile .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in.show:after {
    content: "";
    position: absolute;
    right: 18px;
    top: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #52ab6e transparent;
    z-index: 9998;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #3b3686, #52ab6e )!important;
    border-radius: 10px;
    margin: 10px 0;
}
.formation-stat .full-card h3 {
    color: #336330;
}
div#formationstep1 .btn.small,.switch-btn .btn-toggle button.active,div#library-modal-step1 .btn-primary,
div#library-modal-step1 .switch-btn,.builder-modal .close,#btnstep1 button.btn.btn-primary,.input-color,.custom-pensil
{
    background-image: linear-gradient(90deg, #3b3686, #52ab6e )!important;
}
.container-contact100 {
     background: none;
}
.wrapper.student {
    height: initial;
}
#notes .search img{
    background-image: linear-gradient(90deg, #5a9346, #0b5d69 )!important;
    border-radius: 60px;
}

.btn-primary {
    background-image: linear-gradient(90deg, #3b3686, #52ab6e )!important;
    color: white !important;
}
.btn-primary:hover {
    background-image: linear-gradient(90deg, #52ab6e, #3b3686 )!important;
}
#add-folder .form-control {
    border: 1px solid #336330;
}
#form_title .form-control {
    border: 1px solid #336330;
}
#form_studentFolder .form-control {
    border: 1px solid #336330;
}
.custom-pensil {
    line-height: initial;
    position: relative;
}

.custom-pensil:after {
    position: absolute;
    top: 6px;
    right: 0;
    left: 0;
}
.nav-link #s2id_adminselectdatsh .select2-choice {
    height: 50px;
    padding: 16px 27px 29px 6px;
    padding-left: 10px;
    border-radius: 25px;
}

.nav-link #s2id_adminselectdatsh .select2-choice::before {
    content: '';
    background-image: url(../images/icons/users.gif);
    position: absolute;
    left: 6px;
    top: 8px;
    z-index: 16;
    background-size: 44px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}
.nav-link #s2id_adminselectdatsh  .select2-choice::before {
    background-image: url(../images/icons/e-learning.svg);
    left: 14px;
    top: 7px;
    background-size: 38px;
    width: 50px;
    height: 50px;
}
.nav-link #s2id_adminselectdatsh.select2-dropdown-open .select2-choice {
    border-radius: 15px 15px 0px 0px;
}
a.custombtnmentionlegal.btn.btn-primary {
    background-image: linear-gradient(90deg, #3b3686, #52ab6e )!important;
    display: flex;
    margin: 0 auto 15px;
    justify-content: center;
    max-width: 172px;
    width: 100%;
    color: #fff;
}

a.custombtnmentionlegal.btn.btn-primary:hover {
    background-image: linear-gradient(90deg, #52ab6e, #3b3686 )!important;
}
#customprofilstudent .student .vich-image{
    background-image: linear-gradient(90deg, #3b3686, #52ab6e );
}
div#customprofilstudent button {
    background-image: linear-gradient(90deg, #3b3686, #52ab6e );
}
#customprofilstudent .list-btn {
    margin-top: 15px;
}
div#customprofilstudent button:hover{
    background-image: linear-gradient(90deg, #52ab6e, #3b3686 )!important;
}
div#profile_birthday {
    border-color: transparent;
}

.fa-user-circle:before {
    content: "\f2bd";
    font-size: 3em;
    position: absolute;
    top: -3px;
}
.container-contact100 {
    background: none!important;
}
#card-formation .list-formations .card-body {
    padding: 0px;
    text-align: center;
    padding-top: 19px;
    padding-right: 5px;
}
.fa-trash-alt:before {
    content: "\f2ed";
    font-size: 20px;
    /* height: 22px; */
    /* padding-top: 7px; */
    line-height: -9px;
    padding: 3px;
}
.fa-cloud-download-alt:before {
    content: "\f381";
    font-size: 20px;
    /* margin-left: 1px; */
    line-height: 44px;
    margin: 8px;
    padding-left: -7px;
}
#formulaire .form-control{
    border: 1px solid #618876;
}
.bar {

    width: 7em;
}
.bar-value{
    position: relative;
    font-size: 14px;
    bottom: 16px;
    margin-left: 115px;
}
#user-kiwi .rounded-circle{
position: absolute;
top: -2px;
}
.sidebar .nav-item .nav-link .img-profile, .topbar .nav-item .nav-link .img-profile {
height: 3rem;
width: 3rem;
padding-top: -9px;
}
#liste .card-body {
padding: 0px;
text-align: center;
padding-top: 25px;
padding-right: -66px;
padding-left: 4px;
}
#hoverkiwi .btn.btn-primary.p-2:hover {
    background-image: linear-gradient(90deg, #52ab6e, #3b3686 )!important;
}
#kiwiicon .custom-table table.dataTable thead .sorting:before, .custom-table table.dataTable thead .sorting_asc:before, .custom-table table.dataTable thead .sorting_desc:before, .custom-table table.dataTable thead .sorting_asc_disabled:before, .custom-table table.dataTable thead .sorting_desc_disabled:before {
    background-image: url(../images/icons/fleche_down.png);
}
#kiwiicon .custom-table table.dataTable thead .sorting:after, .custom-table table.dataTable thead .sorting_asc:after, .custom-table table.dataTable thead .sorting_desc:after, .custom-table table.dataTable thead .sorting_asc_disabled:after, .custom-table table.dataTable thead .sorting_desc_disabled:after{
    background-image: url(../images/icons/fleche_down.png);
}
/*.close span {
    background: #0b5d69 !important;
}*/
.container-contact100-form-btn button:hover {
    background-image: linear-gradient(90deg, #52ab6e, #3b3686 )!important;
}

/*search formation*/
.nosort-formation {
    visibility: hidden;
}


.custom-search-formation .table td,.custom-table .table th {
    vertical-align: middle;
    padding: 3px;
    text-align: center;
}
.custom-search-formation .table tbody tr td{
    border-bottom: 2px solid #e3e6f0;

}
.custom-search-formation .dataTables_info {
    display:none;
}
.custom-search-formation .td-actions {
    white-space: nowrap;
}
.custom-search-formation .dataTables_wrapper {
    overflow-x: hidden;
}
.custom-search-formation .dataTables_filter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.custom-search-formation .dataTables_filter label {
    color: #fff;
}

.custom-search-formation [id="search-btn"] {
    position: absolute;
    left: -100vw;
}
.custom-search-formation [id="search-btn"] ~ * {
    --i: var(--pos, 1);
    --j: calc(1 - var(--i));
}
.custom-search-formation [id="search-btn"]:checked ~ * {
    --pos: 0;
}

.custom-search-formation [for="search-btn"] {
    order: 1;
    overflow: hidden;
    position: relative;
    z-index: 2;
    margin-left: -1.25em;
    width:3em;
    height: 3em;
    border-radius: 50%;
    transform: translate(var(--pos, 0em)) rotate(45deg);
    background: hsl(calc(336 - var(--i)*269), calc(77% + var(--i)*2%), calc(49% + var(--i)*13%));
    text-indent: -100vw;
    transition: 0.65s ease-out;
    cursor: pointer;
    background-image: linear-gradient(90deg, #52ab6e, #3b3686 )!important;
    color: #fff;
}
.custom-search-formation [for="search-btn"]:before,.custom-search-formation [for="search-btn"]:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.8125em;
    width: 1.625em;
    height: 1.625em;
    transition: inherit;
    content: "";
}
.custom-search-formation [for="search-btn"]:before {
    margin-top: -0.08125em;
    height: 0.203125em;
    transform-origin: 100% 0;
    transform: translate(var(--pos, 0.40625em)) scalex(calc(1 - var(--i)*0.5));
    background: currentcolor;
}
.custom-search-formation [for="search-btn"]:after {
    border: solid 0.103125em currentcolor;
    border-radius: calc(var(--i)*50%);
    transform: translate(var(--pos, -0.40625em)) scalex(calc(var(--j)*0.125 + var(--i)));
    box-shadow: inset 0 0 0 calc(var(--j)*0.8125em) currentcolor;
    transition-property: border-radius, transform, box-shadow;
    transition-timing-function: cubic-bezier(calc(var(--j)*0.42), 0, calc(1 - var(--i)*0.42), 1), cubic-bezier(calc(var(--i)*0.42), 0, calc(1 - var(--j)*0.42), 1);
}

.custom-search-formation [id="search-bar"] {
    margin-right: -1.25em;
    border: none;
    padding: 0 1em;
    width: 20em !important;
    height: 3em !important;
    border-radius: 3.25em;
    transform: translate(var(--pos, 10em));
    background: #3f324d;
    --cp: inset(-2em var(--pos, 100%) -2em -2em);
    -webkit-clip-path: var(--cp);
    clip-path: var(--cp);
    color: #fff;
    font: 1em century gothic, verdana, arial, sans-serif;
    transition: 0.65s;
}

.custom-search-formation [id="search-bar"]:focus {
    outline: none;
    box-shadow: 0 0 1.5em #ffeacc, 0 1.25em 1.5em rgba(0, 0, 0, 0.2);
    background: #ffeacc;
}
/** end search formations **/

.custom-table [for^="search-btn"] {
    background-image: linear-gradient(90deg, #5a9346, #0b5d69 )!important;
}
.custom-table [id^="search-bar"] {
    background: #0b5d69;
    color: #fff !important;
}
.custom-table [id^="search-bar"]:focus {
    background: #0b5d69;
}
.create-formation a.btn.btn-primary {
    max-width: 50%;
}
#new-catag .filter-search, #new-forma .filter-search{
    margin-left: -2rem;
    margin-top: 10px;
    right: initial;
}
.switch-btn {
    background-image: linear-gradient(90deg, #3b3686, #52ab6e );
}
.list-btn-chart {
    position: absolute;
    right: -6rem;
    top: 20px;
}
#new-catag .filter-search [id^="search-bar"], #new-forma .filter-search [id^="search-bar"]{
    width: 13em !important;
}
/*#editchaptsutdent .progress .progress-value{
    left: 27em;
    top: -6px;
}*/
.noteAdd button:hover {
    background-image: linear-gradient(90deg, #52ab6e, #3b3686 )!important;
}
div#lamp-modal {
    background-color: rgb(220,220,220,0.5);
}
#lamp-modal .modal-content {
    background-color: transparent;
}
div#lamp-modal .btn-primary:hover {
    background-image: linear-gradient(90deg, #52ab6e, #3b3686 )!important;
}
.close-categ span {
    background-image: linear-gradient(90deg, #52ab6e, #3b3686 )!important;
}
#new-chapter-link .close-categ span{
    margin: 21px;
}
#editchaptsutdent h5 {
    cursor: pointer;
}
.chapter-iframe {
    width: 100%;
    height: 100vh;
}
#langue select.form-control.btn-user.ml-3.pr-0 {
    position: relative;
    padding-left: 26px;
}
#new-note .close span {
    background: none!important;
}
#update-form .form-control{
    border: 1px solid #618876;
}
#noteFold .small .btn-action {
    position: absolute;
    display: inline;
    top: -14px;
    left: 164px;
}
#noteFold .custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    padding: 0px 8px;
    font-size: 16px;
    color: #666;
    letter-spacing: 1px;
}
.headnote {
    padding-right: 1em!important;
}
#doc-check .custom-control.custom-checkbox.small {
    position: absolute;
    top: 5px;
    opacity: 1;
}
label.cabinet{
    display: block;
    cursor: pointer;
}

label.cabinet input.file{
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    margin-top:-30px;
}

#upload-demo{
    width: 99%;
    height: 260px;
    padding-bottom: 25px;
}
figure figcaption {
    position: absolute;
    color: #fff;
    width: 100%;
    padding-right: 29px;
    padding-bottom: 5px;
    text-shadow: 0 0 10px #000;
}
#form-sidebar .form-control {
    border: 1px solid #336330;
}
#select2-filter-category-formation-container {
    padding: 0px 37px 0px 0px;
}
#getfilterpicture .filter .select2-container .select2-choice .select2-arrow {
    background-image: url(../images/icons/traits.svg);
    left: 0px;
    background-repeat: no-repeat;
    background-position-y: 9px;
    background-position-x: 5px;
    width: 49px;
}
input#search-bar-lib {
    width: 13em !important;
}
#search-lib .filter-search {
    right: 136px;
}
#file-view .main:hover>.sub, #file-view .main.active .sub {
     top: auto;
    /* height: 48px; */

}
#file-view .active,
#file-view .hover {
    background-image: linear-gradient(90deg, #3b3686, #52ab6e )!important;
}
ul#myUL {
    list-style: none;
    /* padding: 0px; */
    display: flex;
}
#carousel-folder .listfolder .full-card.active, .listfolder .full-card.hover {
    background-image: linear-gradient(90deg, #3b3686, #52ab6e )!important;
}


#uploaderbaformation button#save-file:hover{
    background-image: linear-gradient(90deg, #52ab6e, #3b3686 )!important;
}
.customplus:hover{
    background-image: linear-gradient(90deg, #52ab6e, #3b3686 ) !important;
    color:#fff;
}
@media (max-width:768px) {
    .nav__toggle {
        display: inline-block;
        position: absolute;
        z-index: 10;
        padding: 0;
        border: 0;
        background: rgba(0, 0, 0, 0.5) !important;
        outline: 0;
        left: 8px;
        top: 11px;
        cursor: pointer;
        border-radius: 50%;
        transition: background-color .15s linear;

    }
    .nav__toggle:hover, .nav__toggle:focus {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .nav__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*height: var(--screen-height);*/
        position: relative;
        z-index: 9999;
        top: 40px;
        visibility: hidden;
        list-style: none;
    }
    .nav__item {
        opacity: 0;
        transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
    }
    .nav__item:nth-child(1) {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
    .nav__item:nth-child(2) {
        -webkit-transform: translateY(-80px);
        transform: translateY(-80px);
    }
    .nav__item:nth-child(3) {
        -webkit-transform: translateY(-120px);
        transform: translateY(-120px);
    }
    .nav__item:nth-child(4) {
        -webkit-transform: translateY(-160px);
        transform: translateY(-160px);
    }
    .nav__item:nth-child(5) {
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px);
    }
    .nav__link {
        color: white;
        display: block;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 1.25rem;
        text-decoration: none;
        padding: 1rem;
    }
    .nav__link:hover, .nav__link:focus {
        outline: 0;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .menuicon {
        display: block;
        cursor: pointer;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .menuicon__bar, .menuicon__circle {
        fill: none;
        stroke: currentColor;
        stroke-width: 3;
        stroke-linecap: round;
    }
    .menuicon__bar {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        transition: -webkit-transform .25s ease-in-out;
        transition: transform .25s ease-in-out;
        transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
    }
    .menuicon__circle {
        transition: stroke-dashoffset .3s linear .1s;
        stroke-dashoffset: 144.513262038;
        stroke-dasharray: 144.513262038;
    }
    .splash {
        position: absolute;
        top: 40px;
        width: 1px;
        height: 1px;
        z-index: 999;
    }
    .splash::after {
        content: "";
        display: block;
        position: absolute;
        background-color: var(--splash-bg-color);
        width: 28400vmax;
        height: 384vmax;
        top: -195vmax;
        right: -142vmax;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        transition: -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06), -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
        will-change: transform;
        overflow-x: hidden;
    }
    .nav:target > .splash::after,
    .nav--open > .splash::after {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .nav:target .menuicon,
    .nav--open .menuicon {
        color: white;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .nav:target .menuicon__circle,
    .nav--open .menuicon__circle {
        stroke-dashoffset: 0;
    }
    .nav:target .menuicon__bar:nth-child(1), .nav:target .menuicon__bar:nth-child(4),
    .nav--open .menuicon__bar:nth-child(1),
    .nav--open .menuicon__bar:nth-child(4) {
        opacity: 0;
    }
    .nav:target .menuicon__bar:nth-child(2),
    .nav--open .menuicon__bar:nth-child(2) {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .nav:target .menuicon__bar:nth-child(3),
    .nav--open .menuicon__bar:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .nav:target .nav__menu,
    .nav--open .nav__menu {
        visibility: visible;
        padding: 0;
    }
    .nav:target .nav__item,
    .nav--open .nav__item {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        grid-auto-rows: 130px;
        grid-gap: 20px;
    }
    .gallery__item {
        height: 100%;
        background-color: #D8D8D8;
    }
        .gallery__item:hover, .gallery__item:focus {
        background-color: #A4A4A4;
    }
    .viewport {
        width: 100%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        background-color: white;
        display: block;
    }

    .activeremove {
        display: initial;
        position: inherit;
    }
    #sidebar ul li.active>a, a[aria-expanded="true"] {
        color: #fff;
        z-index: 999999;
    }
    .nav__item a:hover {
        color: white;
        text-decoration: none;
        transition: all 0.3s;
    }
    .nav__item.active .nav__link {
        color: orange;
    }
    .hiddenmobile {
        display: none !important;
    }
    .visiblemobile {
        display: block !important;
    }
    .mod-mobile #formationstudentformation1, .mod-mobile #showformationstudents {
        margin: 20px;
        padding: 10px !important;
    }
    .mod-mobile .visiblemobile {
        background-color: #368887;
    }
   .mod-mobil .nav__toggle{

    }
   .add-note-chap .separed-element {
       width: 50px;
       height: 44px !important;
       background: #ffffff;
       position: absolute;
       right: -32px;
       top: 15px;
       border-radius: 10px 0px 0px 10px;
       border: 1px solid #ccc;
       padding: 0;
       color: transparent;
   }
    .add-note-chap .separed-element img {
        width: 32px;
        padding-top: 6px;
    }

}
.visiblemobile {
    display: none;
}
.vh-60{
    height: 60vh!important;
}
.live-btn{
    float: right;
}
.search-live{
    height: 40px;
    position: absolute;
    /* top: 60px; */
    /* margin-top: -46px; */
    display: flex;
    /* margin-left: 38px; */
    /* font-size: 12px; */
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    /* position: initial; */
    z-index: 9999;
/* padding-left: 15px;*/
}
.box-arrow .live-cont{
    line-height: 77px;
    z-index: 999;
    margin-bottom: 15px;
}
.box-arrow .live-cont input {
    height: 40px;
    display: block;
    /*font-size: 12px;*/
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    position: initial;
    z-index: 9999;
    width: 80%;
}
.box-arrow .my-result {
    display: flex;
    margin-top: unset;
    padding: unset;
}
#als-data {
    width: 63%;
    margin-top: -8px;
    margin-left: 0px;
}
.box-arrow.live {
    line-height: 30px;
    height: auto;
}
.btn-live:hover {
    background-image: linear-gradient(90deg, #52ab6e, #3b3686 )!important;
}
.closepopup span{
    background-image: linear-gradient(90deg, #52ab6e, #3b3686 )!important;
}
div#buttonpublier .btn-2{
    background-color: #0b5d69;
}
div#buttonpublier .btn-2:hover{
    background-image: linear-gradient(90deg, #52ab6e, #3b3686 )!important;
}
.fa-times:before {
    color: darkcyan;
}
.mod-note .color-bg {
    background: #45731a;
}
.mod-note .color-bg2 {
    background: #5a9346;
}
.mod-note .color-bg3 {
    background: #0b5d69 ;
}
.mod-note .color-bg4 {
    background: #007e7c ;
}
.mod-note .color-bg5 {
    background: #199519;
}
.rounded-circle-comment {
    width: 45px;
    height: 45px;
    border-radius: 50%!important;
}
.message-list {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.message-list div {
    text-align: left;
    margin-bottom: 5px;
    padding: 10px;
}
.embed-vid {
    border-radius: 6px;
}