
#globallangue span {
    text-transform: initial;
    margin-bottom: 0px;
    text-align: left;
    margin-top: 0px;
}
.dropdown-list.text-uppercase.catalogue-list{

    width: 100% !important;
}

#langue {
    padding: 0px 1px !important;
    margin: 0px !important;
}

.sidebar-dropdown.dropdown-select.right-check.selectedall.m-3 {
    background-image: linear-gradient(90deg, #3b3686, #52ab6e )!important;
    color: white !important;

}
.dropdown-select.open .dropdown-label:before {
    top: 5%;
}