.orgchart {
    background-image: none;
    padding: 0;
}
.orgchart .node .title {
    height: 40px;
    line-height: 35px;
    border-radius: 8px;
}
.orgchart .lines .downLine {
    margin: -12px auto 0px auto;
}
.orgchart .node{
    margin: -6px 0 0 0;
}

#list-module .orgchart .lines, #list-module .orgchart table .node {
    display: none;
}
#list-module .orgchart table .nodes .node{
    display: inline-block;
}
#list-module .orgchart table .nodes td {
    display: block ;
}