{% extends 'baseAdmin.html.twig' %}
{% block top_title %} NOUVELLE FORMATION I ÉTAPE 7: INSCRIPTIONS | AJOUTER DES UTILISTATEURS{% endblock %}
{% block body %}
    <div class="add-users">
        <div class="row">
            <div class="offset-1 col-11 pt-4">
        <div class="row align-items-center">
            <div class="offset-4 col-3 text-left">
                <img  class="pl-4 ml-4" src="{{ asset('images/icons/step1_06.svg') }}" width="60%">
                <span class="d-block text-gray-700 mt-4 mb-4 step-titel">Nouveaux Utilisateurs</span>
            </div>
        </div>
        <div class="row pl-0 mt-4 mb-4" id="forma">
            <div class="col-2 card-header">
                <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="checkAll">
                    <label class="custom-control-label" for="checkAll">Tout Sélectionner </label>
                </div>
            </div>
            <div class="col-3 pr-2 pl-2 ml-2 pt-2">
                <select class="select-filter small-select typste" id="typeFC">
                    <option class="text-uppercase">Affecter</option>
                    <option class="text-uppercase">Ajouter à une/des formation(s)</option>
                    <option class="text-uppercase">Ajouter à une/des classe(s)</option>
                </select>
            </div>
            {#type class or formation#}
            <div class="col-3 pr-0 pl-0 ml-2 pt-2" id="formationS">
                <div class="sidebar-dropdown dropdown-select right-check p-0">
                    <label class="dropdown-label text-uppercase color-select">Sélectionner</label>
                    <div class="dropdown-list text-uppercase pl-0">
                        {% for formation in formations %}
                            <div class="checkbox custom-control custom-checkbox small pl-0" >
                                <input type="checkbox" class="custom-control-input " id="formationCheck_{{ formation.id }}">
                                <label for="formationCheck_{{ formation.id }}" class="custom-control-label pl-0 text-uppercase position-absolute"> {{formation.titre_formation}}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-3 pr-0 pl-0 ml-2 pt-2 hidden" id="classe">
                <div class="sidebar-dropdown dropdown-select right-check p-0">
                    <label class="dropdown-label text-uppercase color-select">SÉLECTIONNER</label>
                    <div class="dropdown-list text-uppercase p-0">
                        {% for classe in classes %}
                            <div class="checkbox custom-control custom-checkbox small" >
                                <input type="checkbox" class="custom-control-input " id="formationCheck_{{ classe.id }}">
                                <label for="formationCheck_{{ classe.id }}" class="custom-control-label pl-0 text-uppercase position-absolute"> {{classe.name}}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-2 ">
                <button type="button" id="affect-user" class="btn btn-primary style-btn-save">Affecter</button>
            </div>
        </div>
    </div>
        </div>

        <form name="profile" method="post" enctype="multipart/form-data" id="form_user" data-nb-user="5">
            <div class="row">
                <div class="offset-1 col-10">
                    <div class="row rounded-bloc">
                        <div class="col-2 pr-0 pl-0">
                           <div class="box-arrow ">
                               <div class="text-uppercase n-users mb-3">
                                    Nom
                               </div>
                               {% for i in [1,2,3,4,5] %}
                               <div class="form-group pt-0 m-2 user-gr list-name" id="">
                                   <div class="checkbox custom-checkbox small pt-2 pl-2">
                                       <input type="checkbox" class="custom-control-input check-element" name="user-check" id="userCheck_{{ i }}">
                                       <label for="userCheck_{{ i }}" class="custom-control-label text-uppercase pl-0 pr-2 ml-2"> </label>
                                   </div>
                                   <input type="text" id="profile_lastname_{{ i }}" name="lastname_{{ i }}"  maxlength="255" class="form-control" data-num_user="{{ i }}">
                               </div>
                               {% endfor %}
                           </div>
                        </div>
                        <div class="col-2 pr-0 pl-0">
                            <div class="box-arrow ">
                                <div class="text-uppercase n-users mb-3">
                                    Prénom
                                </div>
                                {% for i in [1,2,3,4,5] %}
                                <div class="row list-userName">
                                    <div class="form-group pt-0 m-2 ">
                                        <input type="text" id="profile_username{{ i }}" name="username_{{ i }}" maxlength="255" class="form-control" data-num_user="{{ i }}">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-2 pr-0 pl-">
                           <div class="box-arrow">
                                <div class="text-uppercase n-users mb-3">
                                    Mail
                                </div>
                               {% for i in [1,2,3,4,5] %}

                                <div class="row  list-email">
                                    <div class="form-group pt-0  m-2">
                                        <input type="email" id="profile_email_{{ i }}" name="email_{{ i }}"  maxlength="255" class="form-control" data-num_user="{{ i }}">
                                    </div>
                                </div>
                               {% endfor %}
                            </div>
                        </div>
                        <div class="col-2 pr-0 pl-0">
                            <div class="box-arrow ">
                                <div class="text-uppercase n-users mb-2">
                                    Formation supplémentaire(s)
                                </div>
                                {% for i in [1,2,3,4,5] %}
                                <div class="row list-formations">
                                    <div class="col-11 m-2" id="" >
                                        <div class="sidebar-dropdown dropdown-select right-check" id="formation-search_{{ i }}" >
                                            <label class="dropdown-label text-uppercase">Sélection</label>
                                            <div class="dropdown-list text-uppercase catalogue-list pl-0 pad-user">
                                                {% for formation in formations %}
                                                    <div class="checkbox custom-control custom-checkbox small pl-0" >
                                                        <input type="checkbox" id="profile_formations_sup_{{ formation.id }}_{{ i }}"  name="listFormation_{{ i }}" data-id-formation="{{ formation.id }}" class="check custom-control-input pl-0" value="{{ formation.id }}" data-num_user="{{ i }}">
                                                        <label class="custom-control-label pl-0 position-absolute" for="profile_formations_sup_{{ formation.id }}_{{ i }}">{{ formation.titre_formation }}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-2 pr-0 pl-0">
                           <div class="box-arrow ">
                                 <div class="text-uppercase n-users mb-3">
                                    Classe(s)
                                </div>
                               <div class="row">
                                   <div class="col-11" id="class">
                                       {% for i in [1,2,3,4,5] %}
                                       <div id="class_{{ i }}" class="p-2 list-class">
                                           <div class="sidebar-dropdown dropdown-select right-check class-search">
                                               <label class="dropdown-label text-uppercase">Sélection</label>
                                               <div class="dropdown-list text-uppercase catalogue-list pl-0 pad-user">
                                                   {% for class in classes %}
                                                   <div class="checkbox custom-control custom-checkbox small" >
                                                       <input type="checkbox" id="profile_class_{{ class.id }}_{{ i }}" name="class_{{ i }}" class="check custom-control-input pl-0" value="{{ class.id }}" data-num_user="{{ i }}">
                                                       <label class="custom-control-label pl-0 position-absolute" for="profile_formations_sup_{{ class.id }}_{{ i }}">{{ class.name }}</label>
                                                   </div>
                                                   {% endfor %}
                                               </div>
                                           </div>
                                       </div>
                                       {% endfor %}
                                   </div>
                               </div>
                            </div>
                        </div>
                        <div class="col-2 pr-0 pl-0">
                            <div class="box-arrow ">
                                <div class="text-uppercase n-users mb-3">
                                    Statut
                                </div>
                                {% for i in [1,2,3,4,5] %}
                                <div class="row list-roles">
                                    <div class="col-11 " >
                                        <div id="statut_{{ i }}" class="m-2">
                                            <div class="sidebar-dropdown dropdown-select right-check">
                                                <label class="dropdown-label text-uppercase">Sélection</label>
                                                <div class="dropdown-list text-uppercase catalogue-list pl-0 pad-user">
                                                    <div class="checkbox custom-control custom-checkbox small">
                                                        <input type="checkbox"  name="roles_{{ i }}" class="check custom-control-input " id="checkbox-statut_1_{{ i }}"  data-num_user="{{ i }}" value="ROLE_STUDENT"/>
                                                        <label for="checkbox-statut_1_{{ i }}" class="custom-control-label pl-0" data-id="1"> Étudiant</label>
                                                    </div>
                                                    <div class="checkbox custom-control custom-checkbox small">
                                                        <input type="checkbox" name="roles_{{ i }}" class="check custom-control-input " id="checkbox-statut_2_{{ i }}"  data-num_user="{{ i }}" value="ROLE_EDITOR"/>
                                                        <label for="checkbox-statut_2_{{ i }}" class="custom-control-label pl-0" data-id="2"> Éditeur</label>
                                                    </div>
                                                    <div class="checkbox custom-control custom-checkbox small">
                                                        <input type="checkbox" name="roles_{{ i }}" class="check custom-control-input " id="checkbox-statut_3_{{ i }}"  data-num_user="{{ i }}" value="ROLE_FORMATOR"/>
                                                        <label for="checkbox-statut_3_{{ i }}" class="custom-control-label pl-0" data-id="3"> Formateur</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                        <a href="#" id="addNewUser"><img src="{{ asset('images/step/plus-round.png') }}"></a>

                    <div class="row col-2 offset-11 pl-2 pb-4 pt-4">
                    <button type="submit" class="btn btn-primary-c small" id="save-user">Enregistrer</button>
                </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}