{% extends 'baseAdmin.html.twig' %}
{% block top_title %} PARAMÈTRES “QUIZ A”RÉGLAGES GÉNÉRAUX  {% endblock %}
{% block body %}
    <div class="row ">
        <div id="configchaiptrequiz" class="offset-1 col-8 pb-3">
            <div class="custom-control custom-checkbox small customlabelconfigstud">
                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox15" />
                <label for="checkbox14" class="custom-control-label" data-id="15">Quiz validé uniquement avec</label>

                <input type="text" class="form-control" id="nbrepoint" placeholder="75%">de bonne réponses
            </div>

<div id="customfildeback">
<div class="inputfeddbackpart1">
        <p>Entre X et X</p>
        <div class="d-inline-block margauto">
            <input type="text" class="form-control" id="entreone" placeholder="0%"> -
            <input type="text" class="form-control" id="entreone1" placeholder="30%">
        </div>


</div>


    <div class="inputfeddbackpart2">
        <p>
            Feedback</p>
        <textarea class="form-control" id="feddbacktextera" rows="3"></textarea>
    </div>

    <div class="inputfeddbackpart3">
        <p>
            Points
        </p>
        <input type="text" class="form-control" id="pointfedd" placeholder="0">
    </div>
    <div class="inputfeddbackpart4">
        <p>
            Note
        </p>
        <input type="text" class="form-control" id="notefedd" placeholder="0">
    </div>
</div>
            <img id="addrowfedd" src="{{ asset('images/icons/plus-round.png') }}">
            <div class="checkbox custom-control custom-checkbox small">
                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox14" />
                <label for="checkbox14" class="custom-control-label" data-id="14">
                    Proposer selon le pourcentage de
                    réussite un feedback et/ou une not
                    e et/ou un score


                </label>
            </div>
            <div class="custom-control custom-checkbox small customlabelconfigstud">
                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox13" />
                <label for="checkbox13" class="custom-control-label" data-id="13">Afficher la correction après</label>

                <input type="text" class="form-control" id="nbrepoint" placeholder="0">essais
            </div>


            <div class="checkbox custom-control custom-checkbox small  has-help">
                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox12" />
                <label for="checkbox7" class="custom-control-label" data-id="12"> Nombre de tentatives vers autorisés limités á

                    <span class="static-help" id="help-text2" data-tooltip="Valable uniquement si l'option réseau social est activée sur la plateforme"
                          data-tooltip-location="right">?</span>
                </label>

            </div>

            <div class="checkbox custom-control custom-checkbox small">
                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox2" />
                <label for="checkbox2" class="custom-control-label" data-id="2"> Cacher le bouton “Marquer comme
                    terminé” jusqu’à ce que le temps recommandé soit atteint
                </label>
            </div>
            <div class="checkbox custom-control custom-checkbox small">
                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox3" />
                <label for="checkbox3" class="custom-control-label" data-id="3"> Cacher le bouton “Marquer comme
                    terminé” jusqu’à ce que le temps recommandé soit atteint
                </label>
            </div>
            <div class="checkbox custom-control custom-checkbox small">
                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox4" />
                <label for="checkbox4" class="custom-control-label" data-id="4"> Activer le bouton “Afficher la solution”
                </label>
            </div>
            <ul class="liststylenon">
                <li>
                    <div class="checkbox custom-control custom-checkbox small">
                        <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox5" />
                        <label for="checkbox5" class="custom-control-label" data-id="5"> Réponse requise avant que la solution puisse être affichée
                        </label>
                    </div>
                </li>
            </ul>

            <div class="checkbox custom-control custom-checkbox small">
                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox6" />
                <label for="checkbox6" class="custom-control-label" data-id="6"> Mélanger les réponses dans un ordre aléatoire

                </label>
            </div>
            <div class="checkbox custom-control custom-checkbox small">
                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox7" />
                <label for="checkbox7" class="custom-control-label" data-id="7"> Afficher le bouton “Ignorer” une question
                </label>
            </div>
            <div class="checkbox custom-control custom-checkbox small">
                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox8" />
                <label for="checkbox8" class="custom-control-label" data-id="8"> Afficher le bouton “Retour” une question
                </label>
            </div>
            <div class="checkbox custom-control custom-checkbox small">
                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox9" />
                <label for="checkbox9" class="custom-control-label" data-id="9"> Désactiver le zoom sur image pour l’illustration de la question
                </label>
            </div>

            <div class="checkbox custom-control custom-checkbox small">
                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox16" />
                <label for="checkbox16" class="custom-control-label" data-id="16">
                    En cas de validation du quiz renvoyer l’étudiant vers
                </label>
                <div class="validation">
                    <div class=" mb-4 details-formations">
                        <a href="#collapseCardExample1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                            <h6 class="m-0 text-gray-700">CAP AEPE > MATIÈRES GÉNÉRALES > MATH</h6>
                        </a>
                        <!-- Card Content - Collapse -->
                        <div class="collapse" id="collapseCardExample1" style="">

                            <a href="#collapseCardExample2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample2">
                                <h6 class="m-0 text-gray-700">Francais</h6>
                            </a>
                            <div class="collapse" id="collapseCardExample2" style=""><ul class="events">
                                    <li>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="element">
                                                    <div class="checkbox custom-control custom-checkbox small">
                                                        <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox1" checked />
                                                        <label for="checkbox1" class="custom-control-label" data-id="3"> Français
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="element">
                                                    <div class="checkbox custom-control custom-checkbox small">
                                                        <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox2" checked />
                                                        <label for="checkbox2" class="custom-control-label" data-id="3"> MATHÉMATIQUES
                                                        </label>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul></div>
                        </div>
                    </div></div>
            </div>

            <div class="checkbox custom-control custom-checkbox small">
                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox8" />
                <label for="checkbox8" class="custom-control-label" data-id="8">
                    Proposer un indice toutes les
                </label>
                <input type="text" class="form-control" id="secindice" placeholder="0"> sec
            </div>

            <div id="product">
                <div class="form-group" id="clone-box">
                    <label for="indice1">Indice n°
                        <span class="incrementindice">1 </span> :</label>
                    <input type="text" class="form-control" id="demo0" placeholder="">
                </div>
            </div>
            <img id="addrow" src="{{ asset('images/icons/plus-round.png') }}">

            <input type="hidden" id="textBox" value="0">
            <div id="buttonpublier" >
                <button class="btn-2">Publier</button>
            </div>

        </div>
        <div class="col-3 pr-5  pt-3 customSideright pb-3  ">
            <div id="formationaborsance">
                <div class="modules">
                    <div class="img">
                        <img src="{{ asset('images/icons/formation/14.png') }}">
                        <img src="{{ asset('images/icons/formation/15.png') }}">
                        <img src="{{ asset('images/icons/formation/16.png') }}">
                        <img src="{{ asset('images/icons/formation/17.png') }}">
                    </div>
                    <span>Module A</span>
                </div>
                <ul class="nopadd">

                    <li>


                        <ul>
                            <li class="cours">
                                <div class="img">
                                    <img src="{{ asset('images/icons/formation/14.png') }}">
                                    <img src="{{ asset('images/icons/formation/15.png') }}">
                                    <img src="{{ asset('images/icons/formation/16.png') }}">
                                    <img src="{{ asset('images/icons/formation/17.png') }}">
                                </div>
                                <span>Cour 1</span>
                            </li>
                            <li>


                                <ul>
                                    <li class="module chapitre">
                                        <div class="img">
                                            <img src="{{ asset('images/icons/formation/14.png') }}">
                                            <img src="{{ asset('images/icons/formation/15.png') }}">
                                            <img src="{{ asset('images/icons/formation/16.png') }}">
                                            <img src="{{ asset('images/icons/formation/17.png') }}">
                                        </div>
                                        <span>Chap 1</span>
                                    </li>
                                    <li class="module chapitre">
                                        <div class="img">
                                            <img src="{{ asset('images/icons/formation/14.png') }}">
                                            <img src="{{ asset('images/icons/formation/15.png') }}">
                                            <img src="{{ asset('images/icons/formation/16.png') }}">
                                            <img src="{{ asset('images/icons/formation/17.png') }}">
                                        </div>
                                        <span>Chap 2</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>


                    <li>


                        <ul>
                            <li class="cours">
                                <div class="img">
                                    <img src="{{ asset('images/icons/formation/14.png') }}">
                                    <img src="{{ asset('images/icons/formation/15.png') }}">
                                    <img src="{{ asset('images/icons/formation/16.png') }}">
                                    <img src="{{ asset('images/icons/formation/17.png') }}">
                                </div>
                                <span>Cours 2</span>
                            </li>

                            <li>


                                <ul>
                                    <li class="module chapitre">
                                        <div class="img">
                                            <img src="{{ asset('images/icons/formation/14.png') }}">
                                            <img src="{{ asset('images/icons/formation/15.png') }}">
                                            <img src="{{ asset('images/icons/formation/16.png') }}">
                                            <img src="{{ asset('images/icons/formation/17.png') }}">
                                        </div>
                                        <span>Chap 1</span>
                                    </li>
                                    <li class="module quiz">
                                        <div class="img">
                                            <img src="{{ asset('images/icons/formation/14.png') }}">
                                            <img src="{{ asset('images/icons/formation/15.png') }}">
                                            <img src="{{ asset('images/icons/formation/16.png') }}">
                                            <img src="{{ asset('images/icons/formation/17.png') }}">
                                        </div>
                                        <span>Quiz</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                </li>
                </ul>

            </div>

            <div id="formationaborsance">
                <div class="modules">
                    <div class="img">
                        <img src="{{ asset('images/icons/formation/14.png') }}">
                        <img src="{{ asset('images/icons/formation/15.png') }}">
                        <img src="{{ asset('images/icons/formation/16.png') }}">
                        <img src="{{ asset('images/icons/formation/17.png') }}">
                    </div>
                    <span>Module B</span>
                </div>
                <ul>

                    <li class="chapitre">
                        <div class="img">
                            <img src="{{ asset('images/icons/formation/14.png') }}">
                            <img src="{{ asset('images/icons/formation/15.png') }}">
                            <img src="{{ asset('images/icons/formation/16.png') }}">
                            <img src="{{ asset('images/icons/formation/17.png') }}">
                        </div>
                        <span>Chap 1</span>
                    </li>
                    <li class="chapitre">
                        <div class="img">
                            <img src="{{ asset('images/icons/formation/14.png') }}">
                            <img src="{{ asset('images/icons/formation/15.png') }}">
                            <img src="{{ asset('images/icons/formation/16.png') }}">
                            <img src="{{ asset('images/icons/formation/17.png') }}">
                        </div>
                        <span>Chap 2</span>
                    </li>

                </ul>
            </div>
            <div class="row absoultenergistre">
                <div class="col-2">
                 <a   href="{{ path('new_formation_cours') }}">
                     <img class="transoformpicture" src="{{ asset('images/icons/formation/12.png') }}">
                 </a>
                </div>
                <div class="col-8 ">
                    <button class="btn btn-primary small widthbtnstepcenter">Enregistrer</button>
                </div>
                <div class="col-2">
                    <img src="{{ asset('images/icons/formation/12.png') }}">
                </div>
            </div>
        </div>
    </div>

{% endblock %}