{% extends 'baseAdmin.html.twig' %}
{% block top_title %} NOUVELLE FORMATION I ÉTAPE 4: SCÉNARIO PÉDAGOGIQUE I PARAMÈTRES I MODULE A {% endblock %}
{% block body %}
    <div class="row">
        <div class="offset-1 col-8 borderright ">
            <h2 class="center">PARAMÈTRES “MODULE A”
            </h2>
            <div class="custom-control custom-checkbox small customlabelconfigstud">
                <input type="checkbox" class="custom-control-input" id="chekpoint">
                <label class="custom-control-label" for="checkAll">Attribuer un score de fin de module </label>
                <input type="text" class="form-control" id="nbrepoint" placeholder="2000">points
            </div>
            <div class="custom-control custom-checkbox small customlabelconfigstud">
                <input type="checkbox" class="custom-control-input" id="chekacces">
                <label class="custom-control-label" for="checkAll">Bloquer l’accès jusqu’au
                </label>

                <div class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control" id="dateacces">
                    {#   <div class="input-group-addon">
                           <span class="glyphicon glyphicon-th"></span>
                       </div>#}
                </div>
            </div>
            <div class="custom-control custom-checkbox small customlabelconfigstud">
                <input type="checkbox" class="custom-control-input" id="chekpoint">
                <label class="custom-control-label" for="checkAll">Bloquer l’accès jusqu’au</label>

                <input type="text" class="form-control" id="nbrepoint" placeholder="">jour ( post inscription )
            </div>
            <div class="custom-control custom-checkbox small customlabelconfigstud">
                <input type="checkbox" class="custom-control-input" id="chekpoint">
                <label class="custom-control-label" for="checkAll">Activer les prérequis</label>
                <div class="sidebar-dropdown dropdown-select right-check" id="choose-folder">
                    <label class="dropdown-label text-uppercase">SÉLECTIONNER</label>
                    <div class="dropdown-list text-uppercase catalogue-list ">
                        <div class="checkbox custom-control custom-checkbox small">
                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom1" />
                            <label for="checkbox-custom1" class="custom-control-label" data-id="1"> NOTES</label>
                        </div>
                        <div class="checkbox custom-control custom-checkbox small">
                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom1" />
                            <label for="checkbox-custom1" class="custom-control-label" data-id="2"> SCORE</label>
                        </div>
                        <div class="checkbox custom-control custom-checkbox small">
                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom1" />
                            <label for="checkbox-custom1" class="custom-control-label" data-id="3"> CHAPITRE</label>
                        </div>
                        <div class="checkbox custom-control custom-checkbox small">
                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom2" />
                            <label for="checkbox-custom2" class="custom-control-label" data-id="4"> FORMATION</label>
                        </div>
                        <div class="checkbox custom-control custom-checkbox small">
                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom3" />
                            <label for="checkbox-custom3" class="custom-control-label" data-id="5"> COURS</label>
                        </div>
                        <div class="checkbox custom-control custom-checkbox small">
                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom4" />
                            <label for="checkbox-custom4" class="custom-control-label" data-id="6"> MODULE</label>
                        </div>
                    </div>
                </div>
                <input type="text" class="form-control" id="nbrepoint" placeholder="2000">points
            </div>
            <div class="row">
                <div class="col-4">
                    <span class="titleconfigformation">Choisir l'icône du module</span>
                    <div class="emoji">
                        <span dat-id-simle="1"> ☺</span>
                        <span dat-id-simle="2">☹️</span>
                        <span dat-id-simle="3">✌️ </span>
                        <span dat-id-simle="4">✌️ </span>
                        <span dat-id-simle="5">😌 </span>
                        <span dat-id-simle="6"> 🤑  </span>
                        <span dat-id-simle="7">  🌙   </span>
                        <span data-id-simle="8"> 🌧️ </span>
                        <span data-id-simle="9">  🌨️  </span>
                        <span data-id-simle="10">  🥪 </span>
                        <span data-id-simle="11">  🏝️  </span>
                        <span data-id-simle="12">  🎄  </span>
                        <span data-id-simle="13"> ❤️  </span>


                    </div>
                </div>
                <div class="col-4">
<span class="titleconfigformation titleconfigformation1 text-uppercase">
    CHARGER UN ICÔNE PERSONNALISÉ
</span>
                    <div class="boximagefile">
                        <input type="file" name="fileconfig" id="fileconfig" class="inputfile inputfile-4 d-none"
                               data-multiple-caption="{count} files selected" multiple="">
                        <img src="{{ asset('images/icons/formation/20.png') }}">
                    </div>
                    <input type="text" class="form-control" name="image">
                    <button class="btn btn-primary small rightbtn">Envoyer</button>
                </div>

            </div>
            <div id="buttonpublier" class="postabsolute">
                <button class="btn-2">Publier</button>
            </div>
        </div>
        <div class="col-3 pr-5 ">
            <div id="formationaborsance">
                <div class="modules">
                    <div class="img">
                        <img src="{{ asset('images/icons/formation/14.png') }}">
                        <img src="{{ asset('images/icons/formation/15.png') }}">
                        <img src="{{ asset('images/icons/formation/16.png') }}">
                        <img src="{{ asset('images/icons/formation/17.png') }}">
                    </div>
                    <span>Module A</span>
                </div>
                <ul class="nopadd">

                    <li>


                        <ul>
                            <li class="cours">
                                <div class="img">
                                    <img src="{{ asset('images/icons/formation/14.png') }}">
                                    <img src="{{ asset('images/icons/formation/15.png') }}">
                                    <img src="{{ asset('images/icons/formation/16.png') }}">
                                    <img src="{{ asset('images/icons/formation/17.png') }}">
                                </div>
                                <span>Cour 1</span>
                            </li>
                            <li>


                                <ul>
                                    <li class="module chapitre">
                                        <div class="img">
                                            <img src="{{ asset('images/icons/formation/14.png') }}">
                                            <img src="{{ asset('images/icons/formation/15.png') }}">
                                            <img src="{{ asset('images/icons/formation/16.png') }}">
                                            <img src="{{ asset('images/icons/formation/17.png') }}">
                                        </div>
                                        <span>Chap 1</span>
                                    </li>
                                    <li class="module chapitre">
                                        <div class="img">
                                            <img src="{{ asset('images/icons/formation/14.png') }}">
                                            <img src="{{ asset('images/icons/formation/15.png') }}">
                                            <img src="{{ asset('images/icons/formation/16.png') }}">
                                            <img src="{{ asset('images/icons/formation/17.png') }}">
                                        </div>
                                        <span>Chap 2</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>


                    <li>


                        <ul>
                            <li class="cours">
                                <div class="img">
                                    <img src="{{ asset('images/icons/formation/14.png') }}">
                                    <img src="{{ asset('images/icons/formation/15.png') }}">
                                    <img src="{{ asset('images/icons/formation/16.png') }}">
                                    <img src="{{ asset('images/icons/formation/17.png') }}">
                                </div>
                                <span>Cours 2</span>
                            </li>

                            <li>


                                <ul>
                                    <li class="module chapitre">
                                        <div class="img">
                                            <img src="{{ asset('images/icons/formation/14.png') }}">
                                            <img src="{{ asset('images/icons/formation/15.png') }}">
                                            <img src="{{ asset('images/icons/formation/16.png') }}">
                                            <img src="{{ asset('images/icons/formation/17.png') }}">
                                        </div>
                                        <span>Chap 1</span>
                                    </li>
                                    <li class="module quiz">
                                        <div class="img">
                                            <img src="{{ asset('images/icons/formation/14.png') }}">
                                            <img src="{{ asset('images/icons/formation/15.png') }}">
                                            <img src="{{ asset('images/icons/formation/16.png') }}">
                                            <img src="{{ asset('images/icons/formation/17.png') }}">
                                        </div>
                                        <span>Quiz</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                </li>
                </ul>

            </div>

            <div id="formationaborsance">
                <div class="modules">
                    <div class="img">
                        <img src="{{ asset('images/icons/formation/14.png') }}">
                        <img src="{{ asset('images/icons/formation/15.png') }}">
                        <img src="{{ asset('images/icons/formation/16.png') }}">
                        <img src="{{ asset('images/icons/formation/17.png') }}">
                    </div>
                    <span>Module B</span>
                </div>
                <ul>

                    <li class="chapitre">
                        <div class="img">
                            <img src="{{ asset('images/icons/formation/14.png') }}">
                            <img src="{{ asset('images/icons/formation/15.png') }}">
                            <img src="{{ asset('images/icons/formation/16.png') }}">
                            <img src="{{ asset('images/icons/formation/17.png') }}">
                        </div>
                        <span>Chap 1</span>
                    </li>
                    <li class="chapitre">
                        <div class="img">
                            <img src="{{ asset('images/icons/formation/14.png') }}">
                            <img src="{{ asset('images/icons/formation/15.png') }}">
                            <img src="{{ asset('images/icons/formation/16.png') }}">
                            <img src="{{ asset('images/icons/formation/17.png') }}">
                        </div>
                        <span>Chap 2</span>
                    </li>

                </ul>
            </div>
            <div class="row">
                <div class="col-2">

                    <a   href="{{ path('new_formation_step3v2') }}">
                    <img class="transoformpicture" src="{{ asset('images/icons/formation/12.png') }}">
                    </a>
                </div>
                <div class="col-8 ">
                    <button class="btn btn-primary small widthbtnstepcenter">Enregistrer</button>
                </div>
                <div class="col-2">
                    <a   href="{{ path('new_formation_chaiptre') }}">
                    <img src="{{ asset('images/icons/formation/12.png') }}">
                    </a>
                </div>
            </div>
        </div>


    </div>
{% endblock %}