{% extends 'baseAdmin.html.twig' %}
{% block top_title %} NOUVELLE FORMATION I ÉTAPE 4: SCÉNARIO PÉDAGOGIQUE I PARAMÈTRES I COURS A  {% endblock %}
{% block body %}
    <div class="row">
        <div class="offset-1 col-8 borderright ">
            <h2 class="center">PARAMÈTRES “COURS  A”
            </h2>
            <div class="custom-control custom-checkbox small customlabelconfigstud">
                <input type="checkbox" class="custom-control-input" id="chekpoint">
                <label class="custom-control-label" for="checkAll">Attribuer un score de fin de module </label>
                <input type="text" class="form-control" id="nbrepoint" placeholder="2000">points
            </div>
            <div class="custom-control custom-checkbox small customlabelconfigstud">
                <input type="checkbox" class="custom-control-input" id="chekacces">
                <label class="custom-control-label" for="checkAll">Bloquer l’accès jusqu’au
                </label>



                    <div id="datetpicket" class="input-group date form_date col-md-3" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input class="form-control" size="16" type="text" value="" readonly>

                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <input type="hidden" id="dtp_input2" value="" /><br/>


            </div>
            <div class="custom-control custom-checkbox small customlabelconfigstud">
                <input type="checkbox" class="custom-control-input" id="chekpoint">
                <label class="custom-control-label" for="checkAll">Bloquer l’accès jusqu’au</label>

                <input type="text" class="form-control" id="nbrepoint" placeholder="">jour ( post inscription )
            </div>
            <div class="custom-control custom-checkbox small customlabelconfigstud">
                <input type="checkbox" class="custom-control-input" id="chekpoint">
                <label class="custom-control-label" for="checkAll">Activer les prérequis</label>
                <div class="sidebar-dropdown dropdown-select right-check" id="choose-folder">
                    <label class="dropdown-label text-uppercase">SÉLECTIONNER</label>
                    <div class="dropdown-list text-uppercase catalogue-list ">
                        <div class="checkbox custom-control custom-checkbox small">
                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom1" />
                            <label for="checkbox-custom1" class="custom-control-label" data-id="1"> NOTES</label>
                        </div>
                        <div class="checkbox custom-control custom-checkbox small">
                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom1" />
                            <label for="checkbox-custom1" class="custom-control-label" data-id="2"> SCORE</label>
                        </div>
                        <div class="checkbox custom-control custom-checkbox small">
                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom1" />
                            <label for="checkbox-custom1" class="custom-control-label" data-id="3"> CHAPITRE</label>
                        </div>
                        <div class="checkbox custom-control custom-checkbox small">
                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom2" />
                            <label for="checkbox-custom2" class="custom-control-label" data-id="4"> FORMATION</label>
                        </div>
                        <div class="checkbox custom-control custom-checkbox small">
                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom3" />
                            <label for="checkbox-custom3" class="custom-control-label" data-id="5"> COURS</label>
                        </div>
                        <div class="checkbox custom-control custom-checkbox small">
                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom4" />
                            <label for="checkbox-custom4" class="custom-control-label" data-id="6"> MODULE</label>
                        </div>
                    </div>
                </div>
                <input type="text" class="form-control" id="nbrepoint" placeholder="2000">points
            </div>
            <div id="buttonpublier" class="postabsolute">
                <button class="btn-2">Publier</button>
            </div>
        </div>
        <div class="col-3 pr-5  pt-3 customSideright   ">
            <div id="formationaborsance">
                <div class="modules">
                    <div class="img">
                        <img src="{{ asset('images/icons/formation/14.png') }}">
                        <img src="{{ asset('images/icons/formation/15.png') }}">
                        <img src="{{ asset('images/icons/formation/16.png') }}">
                        <img src="{{ asset('images/icons/formation/17.png') }}">
                    </div>
                    <span>Module A</span>
                </div>
                <ul class="nopadd">

                    <li>


                        <ul>
                            <li class="cours">
                                <div class="img">
                                    <img src="{{ asset('images/icons/formation/14.png') }}">
                                    <img src="{{ asset('images/icons/formation/15.png') }}">
                                    <img src="{{ asset('images/icons/formation/16.png') }}">
                                    <img src="{{ asset('images/icons/formation/17.png') }}">
                                </div>
                                <span>Cour 1</span>
                            </li>
                            <li>


                                <ul>
                                    <li class="module chapitre">
                                        <div class="img">
                                            <img src="{{ asset('images/icons/formation/14.png') }}">
                                            <img src="{{ asset('images/icons/formation/15.png') }}">
                                            <img src="{{ asset('images/icons/formation/16.png') }}">
                                            <img src="{{ asset('images/icons/formation/17.png') }}">
                                        </div>
                                        <span>Chap 1</span>
                                    </li>
                                    <li class="module chapitre">
                                        <div class="img">
                                            <img src="{{ asset('images/icons/formation/14.png') }}">
                                            <img src="{{ asset('images/icons/formation/15.png') }}">
                                            <img src="{{ asset('images/icons/formation/16.png') }}">
                                            <img src="{{ asset('images/icons/formation/17.png') }}">
                                        </div>
                                        <span>Chap 2</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>


                    <li>


                        <ul>
                            <li class="cours">
                                <div class="img">
                                    <img src="{{ asset('images/icons/formation/14.png') }}">
                                    <img src="{{ asset('images/icons/formation/15.png') }}">
                                    <img src="{{ asset('images/icons/formation/16.png') }}">
                                    <img src="{{ asset('images/icons/formation/17.png') }}">
                                </div>
                                <span>Cours 2</span>
                            </li>

                            <li>


                                <ul>
                                    <li class="module chapitre">
                                        <div class="img">
                                            <img src="{{ asset('images/icons/formation/14.png') }}">
                                            <img src="{{ asset('images/icons/formation/15.png') }}">
                                            <img src="{{ asset('images/icons/formation/16.png') }}">
                                            <img src="{{ asset('images/icons/formation/17.png') }}">
                                        </div>
                                        <span>Chap 1</span>
                                    </li>
                                    <li class="module quiz">
                                        <div class="img">
                                            <img src="{{ asset('images/icons/formation/14.png') }}">
                                            <img src="{{ asset('images/icons/formation/15.png') }}">
                                            <img src="{{ asset('images/icons/formation/16.png') }}">
                                            <img src="{{ asset('images/icons/formation/17.png') }}">
                                        </div>
                                        <span>Quiz</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                </li>
                </ul>

            </div>

            <div id="formationaborsance">
                <div class="modules">
                    <div class="img">
                        <img src="{{ asset('images/icons/formation/14.png') }}">
                        <img src="{{ asset('images/icons/formation/15.png') }}">
                        <img src="{{ asset('images/icons/formation/16.png') }}">
                        <img src="{{ asset('images/icons/formation/17.png') }}">
                    </div>
                    <span>Module B</span>
                </div>
                <ul>

                    <li class="chapitre">
                        <div class="img">
                            <img src="{{ asset('images/icons/formation/14.png') }}">
                            <img src="{{ asset('images/icons/formation/15.png') }}">
                            <img src="{{ asset('images/icons/formation/16.png') }}">
                            <img src="{{ asset('images/icons/formation/17.png') }}">
                        </div>
                        <span>Chap 1</span>
                    </li>
                    <li class="chapitre">
                        <div class="img">
                            <img src="{{ asset('images/icons/formation/14.png') }}">
                            <img src="{{ asset('images/icons/formation/15.png') }}">
                            <img src="{{ asset('images/icons/formation/16.png') }}">
                            <img src="{{ asset('images/icons/formation/17.png') }}">
                        </div>
                        <span>Chap 2</span>
                    </li>

                </ul>
            </div>
            <div class="row">
                <div class="col-2">
                    <a   href="{{ path('new_formation_generalconfigchaiptre') }}">
                    <img class="transoformpicture" src="{{ asset('images/icons/formation/12.png') }}">
                    </a>
                </div>
                <div class="col-8 ">
                    <button class="btn btn-primary small widthbtnstepcenter">Enregistrer</button>
                </div>
                <div class="col-2">
                    <a   href="{{ path('new_formation_configformationquiz') }}">
                    <img src="{{ asset('images/icons/formation/12.png') }}">
                    </a>
                </div>
            </div>
        </div>


    </div>
{% endblock %}