{% extends 'baseAdmin.html.twig' %}
{% block title %}Formations - Kiwi Institute{% endblock %}
{% block javascripts %}
    <script>
        var url_to_send_to = "{{ path('duplicate_formation') }}";
    </script>
{% endblock %}
{% block top_title %} Formations | Catégories {% endblock %}
{% block body %}

    <div class="row create-formation pr-4 pl-4">
        <div class="col-6 offset-5">
            <div class="btn-group switch-btn d-inline-block">
                <div class="btn-toggle">
                    <button class="btn {%  if fromCategory == 'false' %} active {% endif %} forma-btn">Formations</button>
                    <button class="btn categ-btn {%  if fromCategory == 'true' %} active {% endif %}">Catégories</button>
                </div>
            </div>
        </div>
        <div class="col-4 offset-8 new-categ {%  if fromCategory == 'false' %} hidden {% endif %}" id="new-catag">
            <div id="" class="custom-table filter-search" >
                <input id="search-btn-2" type="checkbox">
                <label for="search-btn-2"></label><label>
                    <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable" id="search-bar"></label>
            </div>
            <a class="btn btn-categ float-right btn-primary" data-toggle="modal" href="#new-cat">Nouvelle catégorie</a>
        </div>
        <div class="col-4 offset-8 new-categ {%  if fromCategory == 'true' %} hidden {% endif %}" id="new-forma">
            <div id="" class="custom-table filter-search" >
                <input id="search-btn" type="checkbox">
                <label for="search-btn"></label><label>
                    <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable" id="search-bar"></label>
            </div>
            <a class="btn btn-categ float-right btn-primary" href="{{ path('new_formation_step1')}}">Nouvelle formation</a>
        </div>
    </div>
        <div class="container container-step col-12">
            <div class="collapse row {%  if fromCategory == 'true' %} show {% endif %}" id="categ">
                <div class="col-12 offset-0 py-2 mt-4">
                    <div class="card-header py-3">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="checkAll">
                            <label class="custom-control-label pt-0" for="checkAll">Tout Sélectionner </label>
                            <div class="btn-action pt-2 pl-4 ml-3">
                                <button type="button" class="btn btn-download btn-link btn-sm duplicate-categories" title="Dupliquer les catégorie selectionnées" data-path="{{ path('duplicate_categories')}}">
                                    <a href="" class="offset-0"><img src="{{ asset('images/icons/formation/duplicate.png') }}" width="24px;"></a>
                                </button>
                                <button type="button" class="btn btn-download btn-link btn-sm" rel="tooltip" data-toggle="modal" data-target="#delete" title="Supprimer les catégories selectionnées" data-path="{{ path('delete_categories')}}">
                                    <img class="img-trash ml-2" src="{{ asset('images/icons/formation/trash-gray.png') }}">
                                </button>
                            </div>
                            <div class="forma-tag filter-choice offset-10 pl-4">
{#
                                <a href="#" class="pl-2 pr-2" id="list-categories"><img src="{{ asset('images/icons/formations.png') }}" data-nonactiveimage="{{ asset('images/icons/formations.png') }}" data-activeimage="{{ asset('images/icons/active-list.png') }}" height="35px;"></a>
#}

{#
                                <a href="#" id="tab-categories"><img src="{{ asset('images/icons/tab.png') }}" data-activeimage="{{ asset('images/icons/tab.png') }}" data-nonactiveimage="{{ asset('images/icons/tab-gary.png') }}"></a>
#}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-categories">
                            <div class="row list-categ ">
                                {% for cat in categories %}
                                    <div class="col-categ mb-2">
                                        <div class="card shadow">
                                            <div class="tools-categ">
                                                <a href="{{ path('duplicate_category',{'id': cat.id}) }}" rel="tooltip" title="Dupliquer la catégorie" class="btn btn-vu btn-link btn-sm offset-0">  <img src="{{ asset('images/icons/formation/duplicate.png') }}" width="23px;" class="pt-1"></a>
                                                <a data-toggle="modal" data-target="#categ-edit" href=""  data-id="{{ cat.id }}" data-name="{{ cat.name }}" class="offset-0 edit-categ"><img src="{{ asset('images/icons/formation/params.png') }}" width="23px" class="pb-1"></a>
                                                <a href="" rel="tooltip" data-toggle="modal" data-target="#delete-category" title="Supprimer Categorie" class="btn btn-vu btn-link btn-sm offset-0 delete-cat" data-id="{{ cat.id }}"><img class="img-trash" src="{{ asset('images/icons/formation/trash-gray.png') }}"></a>
                                            </div>
                                            <div class="checkbox odd custom-control-categ custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input check-element" name="categorie-check" id="categCheck_{{ cat.id }}" data-id="{{ cat.id }}">
                                                <label for="categCheck_{{ cat.id }}" class="custom-control-label text-uppercase" data-id="{{ cat.id }}"> </label>
                                            </div>
                                            <div class="card-body offset-3 pl-1" style="height:112px;padding-top: 56px">
                                                <span class="categ-title text-uppercase">{{ cat.name }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            </div>
                        <!-- New-Categ -->
                        <div class="modal fade" id="new-cat" tabindex="-1" role="dialog" aria-labelledby="categ-modal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content-categ">
                                    <div class="modal-header-categ">
                                        <h5 class="modal-title-categ-new text-uppercase" id="new-categ">Créer une nouvelle catégorie</h5>
                                        <button type="button" class="close-categ" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>

                                    <div class="modal-body-categ">
                                        <div class="col-6">
                                            <div class="form-container sign-in-container">
                                                <div class="form-group green-border-focus">
                                                    <label for="exp" class="offset-1 text-uppercase title-new-categ">Nom</label>
                                                    <input type="text" id="category_name" name="category[name]" required="required" class="custom-control-label-categ shadow">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer-categ">
                                        <button  class="btn btn-mod" id="add-category">Créer</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Edit-Categ -->
                        <div class="modal fade" id="categ-edit" tabindex="-1" role="dialog" aria-labelledby="categ-modal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content-categ">
                                    <div class="modal-header-categ">
                                        <h5 class="modal-title-categ text-uppercase" id="new-categ">Modifier une catégorie</h5>
                                        <button type="button" class="close-categ" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body-categ">
                                        <div class="col-6">
                                            <div class="form-container sign-in-container">
                                                <div class="form-group green-border-focus">
                                                    <input type="hidden" value="" id="getCategID">
                                                    <label for="exp" class="offset-1 text-uppercase title-new-categ">Nom</label>
                                                    <input type="text" id="name-categ" class="custom-control-label-categ shadow"  value="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer-categ">
                                        <button class="btn btn-mod" id="update-category">Modifier</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- modal delete selected categories -->
                        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="add-folder" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Supprimer les catégories</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <span> Voulez vous supprimer les catégories sélectionnés? </span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Non</button>
                                        <a href="#" class="btn btn-primary" id="delete-categories">Oui</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end modal selected categories -->
                        <!-- Delete category -->
                        <div class="modal fade" id="delete-category" tabindex="-1" role="dialog" aria-labelledby="categ-modal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content-categ">
                                    <div class="modal-header-categ pl-2">
                                        <h5 class="modal-title-categ text-uppercase" id="supp-categ">Supprimer cette catégorie</h5>
                                        <button type="button" class="close-categ" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body-categ pt-4 pb-4">
                                        <div class="form-container sign-in-container">
                                            <div class="form-group green-border-focus">
                                                <label class="offset-1 pl-4 title-new-categ">Voulez-vous supprimer les catégories supprimées ?</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer text-center">
                                        <button type="button" class="btn btn-secondary btn-green del-categ" >Oui</button>
                                        <button type="button" class="btn btn-primary-no" data-dismiss="modal">Non</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end modal delete category -->
                        <div class="row tab-categ hidden">
                            <div class="full-card shadow py-2 mt-4">
                                <div class="card-body">
                                    <div class="table-responsive custom-table">
                                        <table class="table" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th class="nosort"></th>
                                                <th>ID</th>
                                                <th>Catégorie</th>
                                                <th class="nosort"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for c in categories %}
                                                <tr>
                                                    <td>
                                                        <div class="custom-control custom-checkbox small">
                                                            <input type="checkbox" class="custom-control-input check-element"  name="user_check"  id="user_{{ c.id }}" name="user-{{ c.id }}" data-id="{{ c.id }}" value="">
                                                            <label class="custom-control-label" for="user_{{ c.id }}"></label>
                                                        </div>
                                                    </td>
                                                    <td>{{ c.id }}</td>
                                                    <td>{{ c.name }}</td>
                                                    <td class="td-actions text-right" >
                                                        <a href="{{ path('home_formation',{'id': c.id}) }}" rel="tooltip" title="Voir categorie" class="btn btn-vu btn-link btn-sm" >  <i class="fas fa-eye"></i></a>
                                                        <a href="" rel="tooltip" data-toggle="modal" data-target="#delete-category" title="Supprimer Categorie" class="btn btn-vu btn-link btn-sm offset-0 del-categ" data-id="{{ c.id }}">
                                                            <img class="img-trash pb-2" src="{{ asset('images/icons/formation/trash-gray.png') }}"></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse row {%  if fromCategory == 'false' %} show {% endif %}" id="forma">
                <div class="col-xl-9 col-md-9 mb-4 h-100">
                    <div class="card-header py-3">

                        <div class="row row pr-0 mr-0 mb-5 library-content listfolder">
                            <!--Carousel Wrapper-->
                            <div id="multi-item-example" class="carousel carousel-multi-item text-gray-600 small-content mt-2">
                                <!--Controls-->
                                <div class="controls-top">
                                    <a class="btn-floating controle-left" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                                    <a class="btn-floating controle-right" href="#multi-item-example" data-slide="next"><i
                                                class="fas fa-chevron-right"></i></a>
                                </div>
                                <!--/.Controls-->
                                <!--Slides-->
                                <div class="carousel-inner" role="listbox" id="carousel-formation">
                                    {% for key,tab in categories %}
                                        <div class="carousel-item {% if key == 0 %} active {% endif %}" >
                                            {% for categorie in tab %}
                                                <div class="full-card h-100 shadow py-2 text-center ml-2" data-id="{{ categorie.id }}">
                                                    <div class="card-body p-0">
                                                        <div class="row no-gutters align-items-center list-btn-note ">
                                                            <div class="current-folder">
                                                                <div class="align-content-center">
                                                                    <img src="{{ asset('images/icons/open-folder-xs.png') }}" width="45px">
                                                                </div>
                                                                <div class="formation-name text-uppercase ">{{ categorie.name }} <span class="nb-doc"></span></div>
                                                            </div>
                                                            <div class="pr-2 folder-actions">
                                                                <div class="top-text text-right">
                                                                    <a href="" data-id="{{categorie.id }}" data-path="{{path('delete_folder_doc')}}" id="delete-folder-doc"><img src="{{ asset('images/icons/trash-sm.png') }}" width="20px" height="20px"></a>
                                                                    <a href="" data-toggle="modal" data-target="#update-folder" data-name="{{categorie.name }}" data-id="{{categorie.id }}" id="update-name"><img src="{{ asset('images/icons/pensil-sm.png') }}" width="20px" height="20px"></a>
                                                                    <a href=""><img src="{{ asset('images/icons/download-sm.png') }}" width="20px" height="20px"></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <!--/.Slides-->
                            </div>
                            <!--/.Carousel Wrapper-->
                        </div>
                        <div class="row">
                            <div class="col-10 custom-control custom-checkbox small">
                                <input type="checkbox" class="custom-control-input" id="checkAllf">
                                <label class="custom-control-label pt-0" for="checkAllf">Tout Sélectionner </label>
                                <div class="btn-action pt-2 pl-4 ml-3">
                                    <button type="button" class="btn btn-download btn-link btn-sm duplicate-formations" title="Dupliquer les formations selectionnées" data-path="{{ path('duplicate_formations')}}">
                                        <a href="" class="offset-0"><img src="{{ asset('images/icons/formation/duplicate.png') }}" width="24px;"></a>
                                    </button>
                                      <button type="button" class="btn btn-download btn-link btn-sm" rel="tooltip" data-toggle="modal" data-target="#delete-formations" title="Supprimer les formations selectionnées" data-path="{{ path('delete_formations')}}">
                                        <img class="img-trash ml-2" src="{{ asset('images/icons/formation/trash-gray.png') }}">
                                    </button>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="forma-tag text-right pr-4">
                                    <select class="text-uppercase" id="filter-category-formation">
                                        <option></option>
                                        {% for c in categories %}
                                            <option >{{ c.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="add-certif">
                            <div class="row rounded-bloc-certif table-forma">
                                {% for formation in formations %}

                                    <div class="col-2-certif" data-name="{{ formation.category_choice|join('","') }}">
                                        <div class="box-arrow-formation">
                                            <div class="tab-forma">
                                                <a href="{{ path('new_formation_update', {'formationId': formation.id})}}" title="Modifier Formation" class="btn btn-vu btn-link btn-sm offset-9 wid-b"><img src="{{ asset('images/icons/formation/params.png') }}"></a>
                                                <a href="" rel="tooltip" data-toggle="modal" data-target="#delete-formation" title="Supprimer Formation" class="btn btn-vu btn-link btn-sm offset-0 z-ind delete-forma" data-id="{{ formation.id }}"><img src="{{ asset('images/icons/formation/trash-gray.png') }}" width="23px"></a>
                                            </div>
                                            <div class="checkbox odd custom-control-certif custom-checkbox small pb-3">
                                                <input type="checkbox" class="custom-control-input check-element-f" name="formation-check" id="formationCheck_{{ formation.id }}" data-id="{{ formation.id }}">
                                                <label for="formationCheck_{{ formation.id }}" class="custom-control-label text-uppercase" data-id="{{ formation.id }}">
                                                </label>
                                            </div>
                                            <div class="imageoo pt-2">
                                                <a href="{{ path('new_formation', {'formationId': formation.id})}}" ><img id="imag"  src="{{ asset('images/icons/img-forma.png') }}" width="38%"></a>
                                            </div>
                                            <div class="pt-2 img-size">
                                                <img class="pl-1 pb-1" src="{{ asset('images/icons/form2.png') }}" width="25px">
                                                <a href="{{ path('new_formation', {'formationId': formation.id})}}" >{{ formation.titre_formation}}</a>
                                            </div>
                                            <div class="up-formation pt-2">
                                                <span class="color-bad" > <a href="#"> <img src="{{ asset('images/icons/formation/attach-formation.png') }}" class="pl-2" width="30px"></a>
                                                <a class="ml-2 modal-dup" data-toggle="modal" href="#copy-form" data-id="{{ formation.id }}" data-name="{{ formation.titre_formation }}"><img src="{{ asset('images/icons/formation/duplicate.png') }}" width="25px"></a>
                                                <a class="ml-2" href="#"> <img src="{{ asset('images/icons/formation/exp-formation.png') }}" width="25px"></a>
                                                <span class="etud-1000 ml-1">1000 <br> étudiants</span></span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                   <div class="findcategor">
                        {% for key,value in categories %}
                        <input type="hidden" value="{{ value.name }}" id="tableau" >
                        {% endfor %}
                       </div>
                        <!-- Delete formation -->
                        <div class="modal fade" id="delete-formation" tabindex="-1" role="dialog" aria-labelledby="add-folder" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Supprimer Formation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir supprimer cette formation ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                        <a href="#" class="btn btn-primary del-forma">Oui</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end modal delete formation -->
                        <!-- modal delete selected formations -->
                        <div class="modal fade" id="delete-formations" tabindex="-1" role="dialog" aria-labelledby="delete-forms" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Supprimer les formations</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <span> Voulez-vous supprimer les formations sélectionnées? </span>
                                    </div>
                                    <div class="modal-footer">
                                            <button type="button" class="btn btn-primary-no" data-dismiss="modal">Non</button>
                                            <a href="#" class="btn btn-primary-yes" id="delete-formas" data-dismiss="modal">Oui</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end modal selected formations -->
                        <!-- New-Form -->
                        <div class="modal fade" id="copy-form" tabindex="-1" role="dialog" aria-labelledby="categ-modal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">

                                <div class="modal-content">
                                    <div class="modal-header-categ">
                                        <h5 class="modal-title-categ-new text-uppercase" id="new-categ">Dupliquer la formation</h5>
                                        <button type="button" class="close-categ" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-6 dup-f">
                                            <div class="form-container sign-in-container" id="dupForm">
                                                {% for forma in formation %}
                                                    <input type="hidden" value="{{ forma.id }}" id="popupF" />
                                                <div class="form-group green-border-focus">
                                                    <label for="exp" class="offset-1 text-uppercase title-new-categ">Nom du projet</label>
                                                    <input type="text" class="custom-control-label-categ shadow form-val" id="categ-val" value="" />
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input" id="descrip" data-description="{{forma.descprition_formation}}"/>
                                                    <label for="descrip" class="custom-control-label desc-forma"> Description de la formation</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="couv" data-picture="{{forma.image_formation}}"/>
                                                    <label for="couv" class="custom-control-label desc-forma"> Images et vidéos de couverture</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="etudcoach"/>
                                                    <label for="etudcoach" class="custom-control-label desc-forma"> Etudiants et coachs</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="formedit"/>
                                                    <label for="formedit" class="custom-control-label desc-forma"> Formateurs et éditeurs</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="requis"/>
                                                    <label for="requis" class="custom-control-label desc-forma"> Prérequis</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="scoring"/>
                                                    <label for="scoring" class="custom-control-label desc-forma"> Scoring</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="badgecertif"/>
                                                    <label for="badgecertif" class="custom-control-label desc-forma"> Badges et certificats</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="stat"/>
                                                    <label for="stat" class="custom-control-label desc-forma"> Statistiques</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="coment"/>
                                                    <label for="coment" class="custom-control-label desc-forma"> Commentaires</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="forums"/>
                                                    <label for="forums" class="custom-control-label desc-forma"> Forums</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="paramchap"/>
                                                    <label for="paramchap" class="custom-control-label desc-forma"> Paramètres des chapitres </label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="parammomd"/>
                                                    <label for="parammomd" class="custom-control-label desc-forma"> Paramètres des modules</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="paramcours"/>
                                                    <label for="paramcours" class="custom-control-label desc-forma"> Paramètres des cours</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="paramquiz"/>
                                                    <label for="paramquiz" class="custom-control-label desc-forma"> Paramètres des quiz</label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer-categ">
                                        <button type="button" class="btn btn-primary" id="dupliquer-formation">Dupliquer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-forma hidden">
                            <div class="full-card shadow py-2 mt-4">
                                <div class="card-body">
                                    <div class="table-responsive custom-table">
                                        <table class="table" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th class="nosort"></th>
                                                <th>ID</th>
                                                <th>Formation</th>
                                                <th class="nosort"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for f in formations %}
                                                <tr>
                                                    <td>
                                                        <div class="custom-control custom-checkbox small">
                                                            <input type="checkbox" class="custom-control-input check-element"  name="user_check"  id="user_{{ f.id }}" name="user-{{ f.id }}" data-id="{{ f.id }}" value="">
                                                            <label class="custom-control-label" for="user_{{ f.id }}"></label>
                                                        </div>
                                                    </td>
                                                    <td>{{ f.id }}</td>
                                                    <td>{{ f.titre_formation }}</td>
                                                    <td class="td-actions text-right" >
                                                        <a href="{{ path('new_formation', {'formationId': f.id}) }}" rel="tooltip" title="Voir categorie" class="btn btn-vu btn-link btn-sm" >  <i class="fas fa-eye"></i></a>
                                                        <a href="" rel="tooltip" data-toggle="modal" data-target="#delete-category" title="Supprimer Categorie" class="btn btn-vu btn-link btn-sm offset-0" data-id="{{ f.id }}">
                                                            <img class="img-trash pb-2" src="{{ asset('images/icons/formation/trash-gray.png') }}"></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-xl-3 col-md-3 mb-4">
                        <div class="full-card shadow py-2">
                            <h5 class="text-uppercase modif text-center pt-4">Dernières modifications </h5>
                            {% for formation in formations %}
                            <div class="my-planing-f mb-4 mt-4 pl-2 row ">
                                <span class="planing-date col-2 text-center">{{ formation.createdAt|date('d M') }}</span>
                                <div class="col-10">
                                    <img class="icon-categorie" src="{{ asset('images/icons/form2.png') }}">
                                    </a><span class="modif-der pl-2"><td>Formation : {{ formation.titre_formation|capitalize }}</td></span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}