{% extends 'baseAdmin.html.twig' %}
{% block top_title %}  <a href="{{path('student_formations')}}">Formations</a> | <a href="{{path('new_formation',{'formationId':formation.id})}}"> {{ formation.titre_formation }}</a> | {{ cour.module.name}}| {{ cour.name }}{% endblock %}
{% block body %}
<div class="container-fluid text-gray-700 formation-student">
    <div class="row mb-2 pr-0 mr-0 ">
        <div class="col-xl-9 col-md-9 mb-4 h-100">
            <div class="row pr-0 mr-0">
                <div class="col-xl-12 col-md-12 mb-4 h-100">
                    <div class="row formation-image-forms">
                        <div class="col-11" id="hiddenimgappend">

                        {% set imageformation = cour.banner%}

                        {% if imageformation != null %}

                            <img class="" src="{{app.request.getSchemeAndHttpHost()}}/images/formations/{{cour.banner}}"/>

                        {% endif %}
                        </div>
                        {% if imageformation == null %}
                           <img src="{{ asset('images/icons/img-forma.png') }}" width="150px">
                        {% endif %}
                        <div class="col-1 head-img-formation"> <a href="#" data-toggle="modal" class="custompersilicone" data-target="#uploaderbaformation" id="upload-global-images">
                                <span class="custom-pensil"></span> </a></div>
                    </div>
                    <input type="hidden" id="imagecoursbanner" value=""/>
                    <input type="hidden" id="courid" value="{{ cour.id }}"/>
                    <div class="row details-formations">
                        <div class="col-12 mb-4">
                            <ul class="events">
                                {% for chapter in chapters %}
                                    {% set config =  chapter.getConfig() %}

                                    {% set hour_tempsvalide="00" %}
                                    {% set min_tempsvalide="00"%}
                                    {% if config %}
                                   {% if config.getTimeSpent()  %}
                                        {% set hour_tempsvalide = config.getTimeSpent | date("H") %}
                                        {% set min_tempsvalide = config.getTimeSpent | date("i") %}
                                    {% endif %}
                                    {% endif %}
                                <li>
                                    <div class="row pl-4">
                                        <div class="col-6">
                                            <div class="img-header-m">
                                                <a href="#"><img src="/assets/images/builder/change-pos.png" width="20px"></a>
                                                <a href="#" class="chapterpopup" data-hours={{hour_tempsvalide}} data-minute={{min_tempsvalide}}   data-ids="{{ chapter.id }}" data-name="{{ chapter.name }}"  data-toggle="modal" data-target="#chaiptreconfig"  id="chaiptreconfigs">
                                                    <img src="/assets/images/icons/opt.png" width="20px">
                                                </a>
                                                <a href="" class="add-chapter-link" data-id="{{ chapter.id }}" data-link="{{ chapter.externalLink }}"><img src="/assets/images/icons/pencil.png" width="20px"></a>
                                                <a href="#"><img src="/assets/images/icons/drash.png" width="20px"></a>
                                            </div>
                                            <div class="element-mod">
                                                <div class="custom-control custom-radio">
                                                    <div class="custom-control-label" >
                                                        <h5 class="chap-f">{{chapter.name}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-3 mb-4">
            <div class="full-card shadow py-2 show-formation">
                <h5 class="text-uppercase modif text-center pr-4 pt-4">Derniéres modifications </h5>
                {% for chapter in chapters %}
                <div class="my-planing mb-4 mt-4 pl-4 row ">
                    <span class="planing-date col-2 text-center">20 Avril</span>
                    <div class="col-10">
                        <span class="modif-der">{{chapter.name}}</span>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>  
    </div>
    <!-- New Class -->
    <input type="hidden" id="imageformationid" value="{{ formation.id }}">
    <input type="hidden" id="nameimageforrmation" value="">

    <div class="modal fade" id="new-chapter-link" tabindex="-1" role="dialog" aria-labelledby="new-chapter-link" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title-categ-new text-uppercase" id="new-classe">Ajouter lien du chapitre</h5>
                    <button type="button" class="close-categ" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-6">
                        <div class="form-container sign-in-container">
                            <div class="form-group green-border-focus">
                                <label for="exp" class="offset-1 text-uppercase title-new-categ">Lien du chapitre</label>
                                <input type="hidden" id="chapter-id">
                                <input type="text" class="custom-control-label-categ shadow" id="link-chapter" value="">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer-categ">
                    <button class="btn btn-class btn-primary " id="save-link-chapter">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end class-->

    <div class="modal fade" id="chaiptreconfig" tabindex="-1" role="dialog" aria-labelledby="chaiptreconfig" aria-hidden="true">
    <input type="hidden" id="idchapter" value=" "/>
    <div class="modal-dialog" role="document">
        <div class="modal-content-dev">
            <button type="button" class="closepopup close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="modal-header-dev">
                <h2 class="modal-title-dev text-uppercase text-center" id="modal-title">
                    PARAMÈTRES “CHAPITRE A”</h2>
            </div>
            <div class="modal-body">
                <div class="row create-formation">
                    <div class="col-2 pl-0">
                        <img src="{{ asset('images/icons/formation/51.png') }}">
                        <p class="customdevoir">AJOUTER UN DEVOIR</p>
                        <input type="text" value="" id="picture" readonly/>
                        <input type="hidden" value="" id="pictureselect"/>
                        <a href="#" class="btn btn-primary small rightbtn" data-toggle="modal"  data-target="#library-modal-step1" id="upload-fond-doc">
                            Envoyer
                        </a>
                    </div>
                    <div id="configchapitrestep1" class=" col-10 borderright ">
                     <input type="hidden" value="" id="timerecuper"/>
                        <div class="row align-items-baseline">
                            <div class=" pl-3 pr-3">
                                <p>Temps passé sur le chapitre recommandé
                                </p>
                            </div>
                            <div class="inputforms">
                                <input type="hidden" id="time_spent"/>
                                <input type="number" min="0" max="23" id="valueheureconfigchaiptre" class="form-control px-2" > H
                                <input type="number"  min="0" max="59" id="valueminconfigchaiptre" class="form-control" > min
                            </div>
                        </div>
                        <div class="checkbox custom-control custom-checkbox small">
                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="status_completed" />
                            <label class="custom-control-label" for="status_completed">
                                Cacher le bouton “Marquer comme terminé” jusqu’à ce que le temps recommandé soit atteint
                            </label>
                        </div>


                        <div class="checkbox custom-control custom-checkbox small">
                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="score_chaiptre" />
                            <label  class="custom-control-label" for="score_chaiptre">
                                Attribuer un score de fin de chapitre :
                            </label>
                            <input type="number" id="score_point" > points
                        </div>


                        <div class="checkbox custom-control custom-checkbox small">

                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="statut_accesss" />
                            <label  class="custom-control-label" for="statut_accesss">
                                Bloquer l’accès jusqu’au
                            </label>
                            <div id="datetpickets" class="input-group date form_date d-inline-block " >
                                <input class="form-control" id="status_dateacces" size="16" type="text" value="" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>

                        </div>
                        <div class="checkbox custom-control custom-checkbox small">
                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="staut_subscribe" />
                            <label  class="custom-control-label" for="staut_subscribe">
                                Bloquer l’accès jusqu’au
                            </label>
                            <input type="text" id="staut_datesubscribe" placeholder=""> jour (post inscription)
                        </div>

                        <div class="checkbox custom-control custom-checkbox small">
                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="staut_prerequis" />
                            <label  class="custom-control-label" for="staut_prerequis">
                                Activer les prérequis
                            </label>
                            <div class="sidebar-dropdown dropdown-select right-check" id="choose-folder">
                                <label class="dropdown-label text-uppercase">SÉLECTIONNER</label>
                                <div class="dropdown-list text-uppercase catalogue-list ">
                                    <div class="checkbox custom-control custom-checkbox small">
                                        <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-customs-1" />
                                        <label for="checkbox-customs-1" class="custom-control-label" data-id="1">  Note</label>
                                    </div>
                                    <div class="checkbox custom-control custom-checkbox small">
                                        <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-customs-2" />
                                        <label for="checkbox-customs-2" class="custom-control-label" data-id="2"> Score </label>
                                    </div>
                                    <div class="checkbox custom-control custom-checkbox small">
                                        <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-customs-3" />
                                        <label for="checkbox-customs-3" class="custom-control-label" data-id="3"> CHAPITRE</label>
                                    </div>
                                    <div class="checkbox custom-control custom-checkbox small">
                                        <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-customs-4" />
                                        <label for="checkbox-customs-4" class="custom-control-label" data-id="4"> FORMATION </label>
                                    </div>
                                    <div class="checkbox custom-control custom-checkbox small">
                                        <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-customs-5" />
                                        <label for="checkbox-customs-5" class="custom-control-label" data-id="5"> COURS </label>
                                    </div>
                                    <div class="checkbox custom-control custom-checkbox small">
                                        <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-customs-6" />
                                        <label for="checkbox-customs-6" class="custom-control-label" data-id="5"> MODULE </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row align-items-baseline">
                            <div class="pl-3 pr-3">
                                <p>Validation automatique du chapitre après</p>
                            </div>
                            <input type="hidden" value="" id="heurechapterfin"/>
                            <div class="inputforms">
                                <input type="number" min="0" max="23" id="getheurefinchaiptre" class="form-control px-2" placeholder="15"> H
                                <input type="number" min="0" max="59" id="getminfinchaiptre"  class="form-control" placeholder="45"> min
                            </div>

                        </div>
                        <input type="hidden" value="" id="choice-chaiptre" />
                        <div class="checkbox custom-control custom-checkbox small">
                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="staut_chapitre" />
                            <label for="staut_chapitre" class="custom-control-label" data-id="staut_chapitre">
                                Validation automatique du chapitre après réussite au

                            </label>
                            <div class="sidebar-dropdown dropdown-select right-check list-devoir" id="getdevoirname">
                                <label class="dropdown-label text-uppercase">SÉLECTIONNER</label>

                                {#              {% set i = 1 %}
                                              {% for devoir in devoirs %}
                                                  {% if devoir.type=="devoir" %}
                                                      {% set devoirsplit = devoir.name|split('.')|first %}
                                              <div class="checkbox custom-control custom-checkbox small">
                                                  <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="devoir{{ i }}" />
                                                  <label for="devoir{{ i }}" class="custom-control-label" data-id="devoir{{ i }}">  {{devoirsplit}} {{ i }}</label>
                                              </div>
                                                      {% set i = i + 1 %}
                                                  {% endif %}

                                          {% endfor %}#}



                            </div>
                        </div>
                        <div id="buttonpublier" >
                            <button id="btnenvoyemodulechaiptre" data-dismiss="modal"  class="btnchapterpopup btn-2">Publier</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="modal fade builder-modal" id="uploaderbaformation" tabindex="-1" role="dialog" aria-labelledby="library-modal-step1" aria-hidden="true"  >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="top-modal row">
                    <div class="col-3 text-left"> <img src="{{ asset('images/builder/bg-2.png') }}" class="exist-page" ></div>
                    <div class="col-8 text-center">
                        <div class="btn-group switch-btn d-inline-block mt-4 mb-4">
                            <div class="btn-toggle">
                                <button class="btn dounload-btn active">Télécharger</button>
                                <button class="btn gallerie-btn">Galerie</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <input type="hidden" value="" id="typevideoorimage"/>
                    <div class="col-10 text-center mb-4 mr-0">
                        <div class="collapse show pl-2" id="dounload">
                            <h3 class="text-uppercase text-gray-700 font-weight-bolder mb-3">Choisissez un fichier</h3>
                            <p class="text-uppercase text-gray-700 font-weight-bolder">Taille : 1900px*300px</p>
                            <div class="get-image mb-4" id="file-to-upload-step1">
                                <form method="post" action="" enctype="multipart/form-data"
                                      id="myform">
                                    <div >
                                        <input type="text" class="value-file" readonly  placeholder="Aucun fichier sélectionné" >
                                        <div class="btn-save-image">
                                            <input type="file" id="file" name="file" class="image-to-import" />
                                            <button class="btn btn-primary" id="import-img">Importer</button>
                                        </div>

                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="collapse pl-2" id="gallerie">
                            <div class="row row pr-0 mr-0 mt-5 mr-4" id="file-view">
                                <input type="hidden" id="user-id"  value="{{app.user.id}}">
                                {% for media in userMedia %}
                                    {% set extention = media.name|split('.')|last %}
                                    {% if (extention == 'mp4') %}
                                        <div class="col-3 video mb-5">
                                            <div class="video">
                                                <video id="example_video_by_hand" class="card-img-top" controls width="100%" height="100%"  preload="auto" data-setup="{}" data-video-gl="{{media.name}}">
                                                    <source type="video/mp4" src="/images/uploads/{{app.user.id}}/documents/{{media.name}}">
                                                </video>
                                                <label class="d-block text-gray-700">{{media.name}}</label>
                                            </div>
                                        </div>
                                    {%  else %}
                                        <div class="col-3 image mb-5">
                                            <img class="card-img-top" data-image-gl="{{media.name}}" src="/images/uploads/{{app.user.id}}/documents/{{media.name}}">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                        <div class="text-right">
                            <button class="btn btn-primary p-2 uploadefilebannercour" id="save-file">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}