{% extends 'baseAdmin.html.twig' %}
{% block top_title %} NOUVELLE FORMATION I ÉTAPE 7: INSCRIPTIONS | GÉNÉRER UN CODE D'INVITATION{% endblock %}
{% block body %}
    <div class="add-users">
        <div class="row">
    <div class="offset-1 col-11">
        <div class="row" style="align-items: center;">
            <div class="col-12" style="text-align: center">
                <img src="{{ asset('images/icons/step1_06.svg') }}" width="20%">
                <span class="d-block n-user pt-4 text-uppercase">Générer un code d'invitation avec plusieurs places dans la formation</span>
            </div>
        </div>
                {{ form_start(form) }}
    <div class="row offset-1 mb2">
        <div class="col-3 form-container sign-in-container">
            <div class="col-12 pl-0 pr-0 form-group step-name green-border-focus">
                <label for="name" class="text-left text-uppercase tit">Titre</label>
                {{ form_widget(form.title) }}
            </div>
        </div>
        <div class="col-8 form-container sign-in-container">
        <div class="col-10 pl-0 form-group step-name green-border-focus">
            <label for="name" class="text-left text-uppercase tit">Description</label>
            {{ form_widget(form.description) }}
        </div>
        </div>
    </div>
        <div class="row offset-1 mb2">
                <div class="col-2 pr-2 pl-2 ml-2 pt-2">
                    <select class="select-filter small-select" id="typeFC" style="display: block;">
                        <option class="text-uppercase">Affecter</option>
                        <option class="text-uppercase">Ajouter à une/des formation(s)</option>
                        <option class="text-uppercase">Ajouter à une/des classe(s)</option>
                    </select>
                </div>
                {#type class or formation#}
                <div class="col-2 pr-0 pl-0 ml-2 pt-2" id="formationS">
                    <div class="sidebar-dropdown dropdown-select right-check">
                        <label class="dropdown-label text-uppercase" style="color: #676767">Sélectionner</label>
                        <div class="dropdown-list text-uppercase pl-2">

                            <div class="checkbox custom-control custom-checkbox small" >
                                <input type="checkbox" class="custom-control-input " id="customCheck_1">
                                <label for="customCheck_1" class="custom-control-label text-uppercase" style="position: absolute" data-id="1"> Formation 1</label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" class="custom-control-input " id="customCheck_2">
                                <label for="customCheck_2" class="custom-control-label text-uppercase" style="position: absolute" data-id="2"> Formation 2</label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" class="custom-control-input " id="customCheck_3">
                                <label for="customCheck_3" class="custom-control-label text-uppercase" style="position: absolute" data-id="3"> Formation 3</label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" class="custom-control-input " id="customCheck_4">
                                <label for="customCheck_4" class="custom-control-label text-uppercase" style="position: absolute" data-id="4"> Formation 4</label>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-2 pr-2 pl-2 ml-2 pt-2 hidden" id="classe">
                    <div class="sidebar-dropdown dropdown-select right-check">
                        <label class="dropdown-label text-uppercase" style="color: #676767">SÉLECTIONNER</label>
                        <div class="dropdown-list text-uppercase pl-0 pr-0">

                            <div class="checkbox custom-control custom-checkbox small" >
                                <input type="checkbox" class="custom-control-input " id="customCheck_1">
                                <label for="customCheck_1" class="custom-control-label text-uppercase" style="position: absolute" data-id="1"> Classe 1</label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" class="custom-control-input " id="customCheck_2">
                                <label for="customCheck_2" class="custom-control-label text-uppercase" style="position: absolute" data-id="2"> Classe 2</label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" class="custom-control-input " id="customCheck_3">
                                <label for="customCheck_3" class="custom-control-label text-uppercase" style="position: absolute" data-id="3"> Paris 19éme</label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" class="custom-control-input " id="customCheck_4">
                                <label for="customCheck_4" class="custom-control-label text-uppercase" style="position: absolute" data-id="4"> Nantes</label>
                            </div>


                        </div>
                    </div>
                </div>
        </div>
            <div class="container container-step col-12">
                <div class="row offset-1 rounded-bloc-c">
                    <div class="row box-arrow-code ">
                        <div class="col-2 pr-0 pl-0">
                            <div class="box-arrow ">
                                <div class="text-uppercase n-users">
                                    Quantité de places
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        {{ form_widget(form.quantity) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 pr-0 pl-0">
                            <div class="box-arrow ">
                                <div class="text-uppercase n-users">
                                    Formation(s) supplémentaires(s)
                                </div>
                                <div class="row">
                                    <div class="col-11 pr-2 pl-2 ml-2 pt-2" id="formation">
                                        <div id="supp">
                                            <div class="sidebar-dropdown dropdown-select right-check">
                                                <label class="dropdown-label text-uppercase" style="color: #676767">SÉLECTIONNER</label>
                                                <div class="dropdown-list text-uppercase pl-0 pr-0 pad-user">
                                                    {% for formation in form.formations %}
                                                        <div class="checkbox custom-control custom-checkbox small" >
                                                            {{ form_widget(formation, {'attr':{'class':'check custom-control-input pl-0'}}) }}
                                                            {{ form_label(formation, null , {'label_attr':{'class':'custom-control-label pl-0 position-absolute'}}) }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 pr-0 pl-0">
                            <div class="box-arrow ">
                                <div class="text-uppercase n-users">
                                    Classe(s)
                                </div>
                                <div class="row">
                                    <div class="col-11 pr-2 pl-2 ml-2 pt-2" id="class">
                                        <div id="class">
                                            <div class="sidebar-dropdown dropdown-select right-check">
                                                <label class="dropdown-label text-uppercase" style="color: #676767">SÉLECTIONNER</label>
                                                <div class="dropdown-list text-uppercase pl-0 pad-user">
                                                    {% for classe in form.class %}
                                                        <div class="checkbox custom-control custom-checkbox small" >
                                                            {{ form_widget(classe, {'attr':{'class':'check custom-control-input pl-0'}}) }}
                                                            {{ form_label(classe, null , {'label_attr':{'class':'custom-control-label pl-0 position-absolute'}}) }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 pr-0 pl-0">
                            <div class="box-arrow ">
                                <div class="text-uppercase n-users">
                                    Statut
                                </div>
                                <div class="row">
                                    <div class="col-11 pr-2 pl-2 ml-2 pt-2" id="statut">
                                        <div id="statut">
                                            <div class="sidebar-dropdown dropdown-select right-check">
                                                <label class="dropdown-label text-uppercase" style="color: #676767">SÉLECTIONNER</label>
                                                <div class="dropdown-list text-uppercase pl-0 pr-0">
                                                    {% for stat in form.statut %}
                                                        <div class="checkbox custom-control custom-checkbox small">
                                                            {{ form_row(stat, {'attr':{'class':'custom-control-input check-bg'}}) }}
                                                            {{ form_label(stat, null , {'label_attr':{'class':'custom-control-label text-uppercase'}}) }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 pr-0 pl-0">
                            <div class="box-arrow ">
                                <div class="text-uppercase n-users">
                                    Valable jusqu'au
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        {{ form_widget(form.period) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 offset-5 pl-4 pb-4 pt-4">
                    <a href="#"><img src="/assets/images/step/plus-round.png"></a>
                </div>
                <div class="row col-2 offset-9 pl-4 pr-4 pb-4 pt-4">
                    <button type="submit" class="btn btn-primary-c small">Générer le code</button>
                </div>
            </div>
                {{  form_end(form) }}
            </div>
        </div>
{% endblock %}