{% extends 'baseAdmin.html.twig' %}
{% block top_title %} {{nameformation}} I ÉTAPE 2 : PARAMÈTRES {% endblock %}
{% block javascripts %}
<script>
    var url_to_send_to = "{{ path('new_formation_step2', {'formationId' : idformation}) }}";
</script>
{% endblock %}
{% block body %}

    {{ form_start(form,{'enctype':"multipart/form-data"}) }}
        <div id="formationstep2" class="row create-formation pr-4 pl-4">
            <div class="col-2 text-center">
                <img src="{{ asset('images/icons/step1_02.svg') }}" class="img-responsive">
                <div class="row">
                    <div class="col-12 pl-0 pr-1">
                        {{  form_label(form.language, null, {
                            'label': 'CHOISIR UNE LANGUE',
                            'label_attr': {'class': 'text-uppercase mt-5'}
                        }) }}
                        {{ form_widget(form.language, {'attr':{'placeholder':'SÉLECTIONNER','class':"select-filter select-langue small-select"}})}}


                    </div>
                </div>

            </div>
            <div class="col-3 prerequisites">
                {{ form_widget(form.preq_formation, {'attr':{'class':"opacity0"}})}}

                <div class="catalogue">
                    <label >DÉFINIR UN PRÉREQUIS À LA FORMATION</label>
                    <div class="sidebar-dropdown dropdown-select right-check notprequis" id="choose-folder">
                        <label class="dropdown-label text-uppercase">SÉLECTIONNER</label>
                        <div class="dropdown-list text-uppercase catalogue-list ">
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " data-type="Score" id="checkbox-custom1" />
                                <label for="checkbox-custom1" class="custom-control-label" data-id="Score"> Score</label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " data-type="Note" id="checkbox-custom2" />
                                <label for="checkbox-custom2" class="custom-control-label" data-id="Note"> Note</label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " data-type="Temps" id="checkbox-custom3" />
                                <label for="checkbox-custom3" class="custom-control-label" data-id="Temps"> Temps</label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " data-type="Valide" id="checkbox-custom4" />
                                <label for="checkbox-custom4" class="custom-control-label" data-id="Valide"> Validé</label>
                        </div>
                        </div>
                    </div>
                    <div class="list-selection row">
                    </div>
                </div>
                <div class="score hidden">
                <div class="bloc block-1 text-center">
                    <span>PRÉREQUIS POINTS</span>

                    {{ form_widget(form.point_prequis, {'attr':{'class':"input-color"}})}}

                </div>
                </div>
<div class="hidden note">
                <div class="bloc block-2 blocvisible">
                    <span>PRÉREQUIS NOTE</span>
                    {{ form_widget(form.point_note, {'attr':{'placeholder':'0/20', 'class':"input-color colorwhiter"}})}}


                    <select class="select-filter small-select " id="listformationstep2devoir" >
                        {% for key,value in namedevoir %}
                            <option> {{ value }}</option>
                        {% endfor %}
                    </select>
                    {{ form_widget(form.list_note, {'attr':{ 'class':"no-showform"}})}}
                </div>
</div>
                <div class="bloctemps hidden">
                <div class="bloc block-3">
                    <span>PRÉREQUIS TEMPS</span>
                    {{  form_widget(form.hour_time, {'attr':{'placeholder':'0H', 'class':"input-color colorwhiter"}})}}
                    {#{{  form_widget(form.list_temp, {'attr':{'class':"select-filter small-select"}})}}
#}     <select class="select-filter small-select " id="listformationstep2" >
                        <option>Plateforme</option>
   <option> Forum
</option>
                        {% for formation in formations %}
                            {% if formation.id  != idformation %}
                            <option>{{formation.titre_formation}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    {{  form_widget(form.list_temp, {'attr':{'class':"no-showform"}})}}
                </div>
                </div>
                <div class="blocformationgeneral hidden">
                <div class="bloc block-4">
                    <span>PRÉREQUIS VALIDATION</span>
                    <div class="validation">
                        <div class="shadow mb-4 details-formations"  id="preqstep2">
                            <a href="#formationglobal" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                <h6 class="m-0 text-gray-700">Formations </h6>
                            </a>
                            <div class="collapse eachaccordion" id="formationglobal">
                            {% for formation in formations %}
                                {% if formation.id  != idformation %}
                                    <input type="hidden" id="nameformationaccordion" value="{{ formation.titre_formation }}"/>
                            <a data-idformation=" {{formation.id }}" href="#formation-{{formation.id }}" data-id-formation="{{ formation.titre_formation }}" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                <h6 class="m-0 text-gray-700">{{ formation.titre_formation }}</h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            {% for module in formation.modules %}
                                <div class="collapse" id="formation-{{formation.id }}" style="">

                                    <a href="#module-{{ module.id }}" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample2">
                                        <h6 class="m-0 text-gray-700">{{ module.name }}</h6>
                                    </a>

                                    {% for cour in module.cours %}
                                        <div class="collapse" id="module-{{ module.id }}" style="">

                                            <a href="#cours-{{ cour.id }}" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample3">
                                                <h6 class="m-0 text-gray-700">{{ cour.name }}</h6>
                                            </a>

                                        {% for chapitre in cour.chapters %}

                                            <ul class="events">
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="element">
                                                                    <div class="checkbox custom-control custom-checkbox small">
                                                                        <input type="checkbox" class="custom-control-input check-element"name="chap_check" id="chap_{{ chapitre.id }}" >
                                                                        <label class="custom-control-label" for="chap_{{ chapitre.id }}"> {{ chapitre.name }}</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                            </ul>
                                        {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
                </div>
            </div>
            <div class="col-7">
                <label>FONCTIONNALITÉS</label>
                <div class="checkbox custom-control custom-checkbox small">
                    {{ form_widget(form.enable_comment, {'attr':{'class':"check custom-control-input"}})}}
                    {{ form_label(form.enable_comment, null, {
                        'label': 'Autoriser les commentaires sur les chapitres',
                        'label_attr': {'class': 'custom-control-label'}
                    }) }}

                </div>
                <div class="checkbox custom-control custom-checkbox small">
                    {{ form_widget(form.enable_point, {'attr':{'class':"check custom-control-input"}})}}
                    {{ form_label(form.enable_point, null, {
                        'label': 'Activer les gains de points sur la formation',
                        'label_attr': {'class': 'custom-control-label'}
                    }) }}
                </div>
                <div class="checkbox custom-control custom-checkbox small">
                    {{ form_widget(form.enable_hours, {'attr':{'class':"check custom-control-input"}})}}
                    {{ form_label(form.enable_hours, null, {
                        'label': 'Durée définie: cours disponible ',
                        'label_attr': {'class': 'custom-control-label'}
                    }) }}
                    {{ form_widget(form.enable_hourbyday, {'attr':{'class':"widthinput form-control"}})}}
                    <span class="size15">jours</span>

                </div>
                <div class="checkbox custom-control custom-checkbox small ml-5 hidden" id="sub-delay">
                       {{ form_widget(form.disable_quiz, {'attr':{'class':"check custom-control-input"}})}}
                       {{ form_label(form.disable_quiz, null, {
                                   'label': 'Supprimer les données des quiz et cours après expiration de la formation',
                        'label_attr': {'class': 'custom-control-label'}
                    }) }}
                </div>
                <div class="checkbox custom-control custom-checkbox small">
                    {{ form_widget(form.enable_inscrit, {'attr':{'class':"check custom-control-input"}})}}
                    {{ form_label(form.enable_inscrit, null, {
                        'label': 'Autoriser les utilisateurs inscrits à cette formation à accéder au(x) forum(s)',
                        'label_attr': {'class': 'custom-control-label'}
                    }) }}
                    <div class="sidebar-dropdown dropdown-selectforum right-check small-select text-left" id="formdrown">

                        <label class="dropdown-labelforum text-uppercase">Nom Du Forum</label>
                        <div class="dropdown-forum text-uppercase">
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-groupform" class="check custom-control-input " id="forum1" />
                                <label for="forum1" class="custom-control-label" data-id="1"> forum 1</label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-groupform" class="check custom-control-input " id="forum2" />
                                <label for="forum2" class="custom-control-label" data-id="2"> forum 2</label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-groupform" class="check custom-control-input " id="forum3" />
                                <label for="forum3" class="custom-control-label" data-id="3"> forum 3</label>
                            </div>
                        </div>
                    </div>
                    {{ form_widget(form.insert_forform, {'attr':{'class':"opacity0"}})}}
                </div>
                <div class="checkbox custom-control custom-checkbox small">
                    {{ form_widget(form.form_member, {'attr':{'class':"check custom-control-input"}})}}
                    {{ form_label(form.form_member, null, {
                        'label': 'Créer un forum uniquement accessible aux membres de cette formation',
                        'label_attr': {'class': 'custom-control-label'}
                    }) }}




                </div>
                <div class="checkbox custom-control custom-checkbox small  has-help hidden">
                    {{ form_widget(form.chaine_formation, {'attr':{'class':"check custom-control-input"}})}}
                    {{ form_label(form.chaine_formation, null, {
                        'label': 'Créer une Chaîne dédiée aux membres de cette formation',
                        'label_attr': {'class': 'custom-control-label'}
                    }) }}



                        <span class="static-help" id="help-text2" data-tooltip="Valable uniquement si l'option réseau social est activée sur la plateforme"
                              data-tooltip-location="right">?</span>
                    </label>
                    <!--<span class="hidden" id="help-text-2">Valable uniquement si l'option réseau social est activée sur la plateforme</span>-->
                </div>

              <!--  <div class="checkbox custom-control custom-checkbox small">
                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox8" />
                    <label for="checkbox8" class="custom-control-label" data-id="4"> Activer le carnet de notes
                    </label>
                </div>-->

                <div class="checkbox custom-control custom-checkbox small hidden">
                    {{ form_widget(form.enable_description, {'attr':{'class':"check custom-control-input"}})}}
                    {{ form_label(form.enable_description, null, {
                        'label': 'Permettre l’autodescription sur cette formation',
                        'label_attr': {'class': 'custom-control-label'}
                    }) }}

                </div>
                <div class="checkbox custom-control custom-checkbox small hidden">
                    {{ form_widget(form.enable_autodesccomplete, {'attr':{'class':"check custom-control-input"}})}}
                    {{ form_label(form.enable_autodesccomplete, null, {
                        'label': 'Permettre l’autodescription sur cette formation même complète',
                        'label_attr': {'class': 'custom-control-label'}
                    }) }}

                </div>
                <div class="checkbox custom-control custom-checkbox small">
                    {{ form_widget(form.enanble_invit, {'attr':{'class':"check custom-control-input"}})}}
                    {{ form_label(form.enanble_invit, null, {
                        'label': 'Activer l\'invitation à commenter et noter la formation à ',
                        'label_attr': {'class': 'custom-control-label'}
                    }) }}

                        {{ form_widget(form.progress_enableinvit, {'attr':{'class':"form-control"}})}}
                      % d’avancement

                </div>
                <div class="custom-popup ml-5 pl-3">
                    <a href="#" data-href="" data-toggle="modal" data-target="#setting-modal" id="custom-setting-modal"><span class="custom-pensil"></span> Personnaliser le pop up</a>
                </div>
            </div>
        </div>
    <div id="step2retour">
        <a class="showhref" href="{{ path('new_formation_update', {'formationId' : idformation}) }}">
            <img src="{{ asset('images/icons/fleche.svg') }}">
        </a>
    </div>
        <div id="btnstep1" class="next-step-btn pr-4 stepbtnsave step2saveabosule">
            <button type="submit" class="btn btn-primary" > Enregistrer  </button>

           <a class="showhref" href="{{ path('new_formation_step3', {'formationId' : idformation}) }}">
               <img src="{{ asset('images/icons/next-step.svg') }}">
           </a>
        </div>

    <!-- modal create folder note -->
    <div class="modal fade notesallmodal" id="setting-modal" tabindex="-1" role="dialog" aria-labelledby="setting-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="change-text" id="edit-title"><span class="custom-pensil"></span> <input type="text" class="form-control disabled" disabled id="modal-title" value="UN PETIT COUP DE POUCE ?"></div>
                    <div class="change-text"  id="edit-text"><span class="custom-pensil"></span> <textarea class="form-control disabled" disabled id="modal-text">Un commentaire et une note nous permettrais d’améliorer notre formation !? </textarea></div>
                    <div class="change-text"  id="edit-btn"><span class="custom-pensil"></span> <input type="text" class="form-control input-color disabled" disabled id="modal-btn" value="Noter"></div>
                </div>

                <div class="modal-footer">
                    <button data-dismiss="modal" type="button" class="btn btn-primary" id="save-folder-note" >Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <!-- end modal create folder note -->
{% endblock %}