<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="{{ asset('css/fontawesome.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <script src="{{ asset('js/circle-progress-bar.min.js') }}"></script>
    <link href="{{ asset('css/sb-admin.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/dropzone/dropzone.css') }}" rel="stylesheet" />
    <script src="{{ asset('js/dropzone/dropzone.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/select2.css') }}">
    <link href="{{ asset('css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/jquery.jOrgChart.css') }}">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" />
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="content overflow-hidden">
{% block body %}

    <div class="row create-formation pr-4 pl-4">
        <div class="col-4">

                <img width="150px" height="150px" alt="logo" src="/assets/images/svg/logo.svg">
            <span class="text-uppercase gray-title-entrep">Nom de l'entreprise</span>
        </div>
        <div class="col-12">
        <div class="stepper-img text-center margin-title">
            <span class="d-block mt-4 mb-4 title-welc text-uppercase">Bienvenue sur votre page d'inscription</span>
            <span class="d-block mt-4 mb-4 par-7">Vous pouvez remplir le nom, le prénom et mail des personnes à inscrire dans le bon groupe. Chacun recevra un mail pour finaliser son inscription</span>
        </div>
        </div>
        <div class="col-4 text-center step6">
            <div class="btn-group switch-btn d-inline-block">
                <div class="btn-toggle">
                    <button class="btn active monthly-btn">Groupe 1</button>
                    <button class="btn annual-btn">Groupe 2</button>
                </div>
            </div>
        </div>
        <div class="container container-step col-10">
            <div class="collapse show" id="monthly">

                <div class="full-card-users shadow py-2 mt-4">
                    <div class="card-header py-3 st-head">
                        <h6 class="text-uppercase gray-title-g">Groupe 1 - 24 Places</h6>
                        <p class="parag-step-g">
                            Formation(s) : "CAP AEPE" ; "FORMATION 2" ; "FORMATION 4" <br>
                            Classe(s) : Pas de classe <br>
                            Statut(s) : Coach ; Formateur <br>
                            Valable jusqu'au : Pas de durée
                        </p>
                        <br>
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="checkAll">
                            <label class="custom-control-label" for="checkAll">Tout Sélectionner </label>
                            <div class="btn-action version-3">
                                <button type="button" class="btn btn-download btn-link btn-sm" rel="tooltip" data-toggle="modal" data-target="#delete-selected-user" title="Supprimer les utilisateurs selectionnées" data-path="/student/deleteNotes">
                                    <img src="/assets/images/icons/trash-small.png">
                                </button>
                                <label class="green-switch">
                                    <input type="checkbox"  class="activate_all_user">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive custom-table">
                            <table class="table" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th class="nosort"></th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>E-mail</th>
                                    <th>Activer/desactiver</th>
                                    <th class="nosort"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                <tr>
                                    <td>
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input check-element"  name="user_check"  id="user_{{ user.id }}" name="user-{{ user.id }}" data-id="{{ user.id }}" value="">
                                            <label class="custom-control-label" for="user_{{ user.id }}"></label>
                                        </div>
                                    </td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.lastname }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>
                                        <label class="green-switch">
                                            <input type="checkbox" {% if  user.active == 1 %}checked {% endif %} class="activate-user" data-id="{{ user.id }}">
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                    <td class="td-actions text-right" >
                                        <img src="/assets/images/icons/arrow-buttom.png" class="img-step">
                                        <a href="" rel="tooltip" data-toggle="modal" data-target="#delete-user" title="Supprimer utilisateur" class="btn btn-vu btn-link btn-sm modal-delete-user" data-id="{{ user.id }}"> <img src=" {{ asset('images/icons/trash-xs.png') }}"></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse" id="annual">

                <div class="full-card shadow py-2 mt-4">
                    <div class="card-header py-3">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="checkAll">
                            <label class="custom-control-label" for="checkAll">Tout Sélectionner </label>
                            <div class="btn-action version-2">
                                <button type="button" class="btn btn-download btn-link btn-sm" rel="tooltip" data-toggle="modal" data-target="#delete-selected-user" title="Supprimer les utilisateurs selectionnées" data-path="/student/deleteNotes">
                                    <img src="/assets/images/icons/trash-small.png">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="col-4 offset-10 envoyer-step7" >
                <button class="btn btn-primary small">Envoyer</button>
            </div>
        </div>
    </div>
{% endblock %}
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('js/select2.js') }}"></script>
<script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('js/Sortable.min.js') }}"></script>
<script src="{{ asset('js/jquery.jOrgChart.js') }}"></script>


<script src="{{ asset('js/OrgChart.js') }}"></script>
<script src="{{ asset('js/ajax-live-search.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-datetimepicker.js') }}"></script>
<script src="{{ asset('js/locales/bootstrap-datetimepicker.fr.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>