{% extends 'baseAdmin.html.twig' %}
{% block top_title %} nouvelle formation I étape 6 : RécOMPENSES I Créer un certificat {% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/sortablecustom.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block body %}
    <div class="row" id="customcertificatstep6">
        <input type="hidden" id="refidfromation" value="{{ formationId }}"/>
        <div class="col-10">
            <div class="flexcener">
                <img class="customimagestep6" src="{{ asset('images/step6/step6drag/edit.png') }}">
                <img  class="customimagestep6" src="{{ asset('images/step6/step6drag/cloud.png') }}">

                <div id="tab30" class="tabsbg btn-group btn-group-justified" data-toggle="buttons">
                    <div class="btn-togglepicture">
                        <a href="#editdrag" class="btn btn-default active" data-toggle="tab">
                            <input type="radio" />
                            <img class="normaltabsimage" src="{{ asset('images/step6/step6drag/notactivetabs1.png') }}">
                            <img class="hoverimgtabs" src="{{ asset('images/step6/step6drag/activetabs1.png') }}">

                        </a>
                        <a href="#finallayout" class="btn btn-default8" data-toggle="tab">
                            <input type="radio" /><img class="hoverimgtabsnotactive" src="{{ asset('images/step6/step6drag/notactivetabs2.png') }}">
                            <img class="normaltabsimageactive" src="{{ asset('images/step6/step6drag/activetabs2.png') }}">
                        </a>
                    </div>
                </div>

            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="editdrag">
                    <div class="bloc-content">

                        <div class="row ">
                            <div class="col-10 col-item">
                            </div>
                            <div class="col-2 col-item">

                                <ul class="connectedSortable">
                                    <li class="" data-target="2"> Date</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-9 col-item">
                                {#    <ul class="connectedSortable">
                                        <li class="" data-target="3"></li>
                                    </ul>#}
                            </div>
                            <div class="col-3 col-item">
                                <ul class="connectedSortable">
                                    <li class="" data-target="3">Prénom</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-item">
                                <ul class="connectedSortable">
                                    <li class="" data-target="11"> Texte</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-10 col-item">
                            </div>
                            <div class="col-2 col-item">

                                <ul class="connectedSortable">
                                    <li class="" data-target="8"> SIGNATURE</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="finallayout">
                    <div class="bloc-content">
                        <div class="row ">
                            <div class="col-10 ">
                            </div>
                            <div class="col-2 ">
                                <div id="daterecuper"></div>



                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-9 ">

                            </div>
                            <div class="col-3 ">

                                <div id="nameprenomrecup"></div>

                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12">
                                <div id="textdescrecuper"></div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-10 ">

                            </div>
                            <div class="col-2 ">
                                <div id="signaturecuper"></div>



                            </div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 pr-3 pl-3 shadow-lg customSideright">
            <div class="stepper-imgstep6 text-center margin-title">
                <img src="{{ asset('images/icons/step1_05.svg') }}">
            </div>
            <div id="tab" class="btn-group btn-group-justified" data-toggle="buttons">
                <div class="btn-toggle80">
                    <a href="#prices" class="btn btn-default active" data-toggle="tab">
                        <input type="radio" />Blocs
                    </a>
                    <a href="#features" class="btn btn-default" data-toggle="tab">
                        <input type="radio" />Conditions
                    </a>
                    <a href="#code" class="btn btn-default" data-toggle="tab">
                        <input type="radio" />Code
                    </a>
                </div>
            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="prices">
                    <div class="bloc-content">
                        <ul id="sortableleft" class="row connectedSortable">
                            <li  data-id="2" class="col-6 ui-state-default acceptable">
                                <div class="hauterimage">
                                    <img src="{{ asset('images/step6/step6drag/date.png') }}"/>
                                </div>
                                <span class="text">DATE</span>

                                <input class="form-control"  id="date_certif" name="date" type="date" value="" >


                                <input type="hidden" id="dtp_input2" value="" /><br/>
                            </li>
                            <li data-id="3"  class="col-6 ui-state-default">
                                <div class="hauterimage">
                                    <img src="{{ asset('images/step6/step6drag/Nom.png') }}"/>
                                </div>
                                <span class="text">NOM/PRÉNOM</span>
                                <input class="form-control"  id="nomprenom" name="nomprenom" type="text" value="" >
                            </li>
                            <li data-id="4" class="col-6 ui-state-default">
                                <div class="hauterimage">
                                    <img src="{{ asset('images/step6/step6drag/Nom.png') }}"/>
                                </div>
                                <span class="text">ÉLÉMENT DU PROFIL</span></li>
                            <li data-id="5" class="col-6 ui-state-default ui-state-disabled">
                                <div class="hauterimage">
                                    <img src="{{ asset('images/step6/step6drag/image.png') }}"/>
                                </div>
                                <span class="text"> Image</span></li>
                            <li data-id="6" class="col-6 ui-state-default ui-state-disabled">
                                <div class="hauterimage">
                                    <img src="{{ asset('images/step6/step6drag/code.png') }}"/>
                                </div>
                                <span class="text"> < CODE ></span> </li>
                            <li data-id="7" class="col-6 ui-state-default ui-state-disabled">
                                <div class="hauterimage">
                                    <img src="{{ asset('images/step6/step6drag/notes.png') }}"/>
                                </div>
                                <span class="text">< NOTE(S) ></span> </li>
                            <li data-id="8" class="col-6 ui-state-default ">
                                <div class="hauterimage">
                                    <img src="{{ asset('images/step6/step6drag/signature.png') }}"/>
                                </div>
                                <span class="text"> SIGNATURE</span>
                                <input class="form-control"  name="singature" type="file" value="" >
                            </li>
                            <li data-id="9" class="col-6 ui-state-default ui-state-disabled">
                                <div class="hauterimage">
                                    <img src="{{ asset('images/step6/step6drag/resultat-quiz.png') }}"/>
                                </div>
                                <span class="text"> RÉSULTAT À
                    UN/DES QUIZ </span> </li>

                            <li data-id="10" class="col-6 ui-state-default ui-state-disabled">
                                <div class="hauterimage">
                                    <img src="{{ asset('images/step6/step6drag/attribution.png') }}"/>
                                </div>
                                <span class="text"> NUMÉRO
                    D’ATTRIBUTION  </span></li>
                            <li data-id="11" class="col-6 ui-state-default ui-state-disabled">
                                <div class="hauterimage">
                                    <img src="{{ asset('images/step6/step6drag/text.png') }}"/>
                                </div>
                                <span class="text"> TEXTE </span>
                                <textarea class="form-control" id="nametextcertif" rows="3"></textarea>
                            </li>
                            <li data-id="12" class="offset-3 col-6 ui-state-default ui-state-disabled">
                                <div class="hauterimage">
                                    <img src="{{ asset('images/step6/step6drag/score.png') }}"/>
                                </div>
                                <span class="text"> SCORE</span>  </li>
                        </ul>
                    </div>
                </div>

                <div class="tab-pane" id="features">
                    <div class="bloc-content">
                        <div class="form-group">
                            <label for="exampleTextarea">NOM DU CERTIFICAT</label>
                            <textarea class="form-control" id="namecertificat" rows="3"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="exampleTextarea">DESCRIPTION</label>
                            <textarea class="form-control" id="namecertificat" rows="3"></textarea>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline small mb-2">
                            <input type="radio" class="custom-control-input" id="check1" checked="" name="certificat">
                            <label class="custom-control-label pt-0" for="check1">ATTRIBUER MANUELLEMENT</label>

                        </div>
                        <div class="custom-control custom-radio custom-control-inline small mb-2">
                            <input type="radio" class="custom-control-input" id="check2" checked="" name="certificat">
                            <label class="custom-control-label pt-0" for="check2">ATTRIBUER AUTOMATIQUEMEN</label>

                        </div>

                        <a type="" class="btn btn-primary"> Paramètres  </a>
                        <div class="checkbox custom-control custom-checkbox small">
                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox1">
                            <label for="checkbox1" class="custom-control-label" data-id="3">valable uniquement pendant
                            </label>
                        </div>
                        <div class="moisinput">
                        <input class="form-control"  id="editmoisstep6" type="text" value="0"> <span>Mois</span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="code">
                    <div class="bloc-content">
                        <p>code</p>
                    </div>
                </div>
                <div class="row absoultenergistre p-0 m-0">
                    <div class="col-2">
                        <a   href="#">
                            <img class="transoformpicture" src="/assets/images/icons/formation/12.png">
                        </a>
                    </div>
                    <div class="col-8 ">
                        <a href="#" class="btn btn-primary small widthbtnstepcenter"  >
                            Enregistrer</a>

                    </div>
                    <div class="col-2">
                        <a   href="#">

                            <img src="/assets/images/icons/formation/12.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>







{% endblock %}