{% extends 'baseAdmin.html.twig' %}
{% block top_title %} {{nameformation}}  ÉTAPE 5 : CARNET DE NOTE {% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/categoriechart.js') }}"></script>
    <script>
        var url_to_send_to = "{{ path('new_formation_step5carnetdenote', {'formationId' : formationId}) }}";
    </script>
{% endblock %}
{% block body %}
    <div id="editForm" style="display:none; text-align:center; position:absolute; border: 1px solid #aeaeae;width:150px;background-color:rgba(89, 45, 135, 0.22);z-index:10000; ">
        <div>
            <div style="padding: 22px 0 1px 0;display: flex">
                <input style="width: 100%" id="name" value="" />
                <span style="width:30px;background-color: #59AF31;" id="save"><img  style="width: 25px;padding: 3px;" src="{{ asset('images/builder/save.png') }}"></span>
                <span style="width:30px;background-color: #E4221F;" id="cancel"><img style="width: 25px;padding: 3px;" src="{{ asset('images/builder/btn-discart.png') }}"></span>
            </div>
        </div>
    </div>
    <div id="btnnote" class="row" >
        <input type="hidden" id="refidfromation" value="{{ formationId }}"/>
        <div class="col-9  editwidthdevoir1  borderright">
            <div class="btnnotess">
                <a id="btncategorieclik" type="" class="btn btn-primary mr-4"> Nouvelle catégorie  </a>
            </div>
            <div class="img-top"><img  class="m-auto" src="{{ asset('images/icons/step1_04.svg') }}" width="20%"></div>
            
            <div id="four"></div>
        </div>
        <div class="col-3 pr-3 pl-2 editwidthdevoirsss customSideright pt-4  ">
            <h3 class="text-center pb-4">Devoirs non ajoutés</h3>

            {% set i = 1 %}
            <div id="items">
                {% for key,value in namedevoir %}
                    <div data-id="devoir-{{i}}" class="item custombtndevoir">
                        {{ value }}
                    </div>
                    {% set i = i + 1 %}
                {% endfor %}
            </div>
            <div class="row absoultenergistre p-0 m-0">
                <div class="col-2">
                    <a  href="{{ path('new_formation_step3', {'formationId' : formationId}) }}">
                        <img class="transoformpicture" src="/assets/images/icons/next-step.svg">
                    </a>
                </div>
                <div class="col-8 ">
                    <button id="submitFormation" class="btn btn-primary small widthbtnstepcenter">Enregistrer</button>
                </div>
                <div class="col-2">
                    <a href="{{ path('new_formation_step7') }}">
                        <img src="/assets/images/icons/next-step.svg" class="right-img">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="step6confirm" tabindex="-1" role="dialog" aria-labelledby="new-chapter-link" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title-categ-new text-uppercase" id="new-classe">Voulez vous passer à la création des badge et des certificat</h5>
                    <button type="button" class="close-categ" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-12 text-center">
                        <div id="change">

                            <a href="{{ path('new_badge_step6',  {formationId: formationId}) }}" class="btn btn-primary mr-4"> oui  </a>

                            <a href="{{ path('new_formation_step7') }}"  class="btn btn-primary mr-4"> Non  </a>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




{% endblock %}