{% extends 'baseAdmin.html.twig' %}
{% block top_title %} NOUVELLE FORMATION I ÉTAPE 1: CARTE D'IDENTITÉ {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8 text-center">
                <div class="col-12 ">
                    <img src="{{ asset('images/icons/step1_06.svg') }}" width="30%">
                    <div class="col-12 text-center"> <span class="d-block text-gray-700 mt-4 mb-4 step-titel">Utilisateurs de la plateforme</span></div>
                </div>
            </div>
            <div class="col-4">
                <a href="{{ path('add_users_to_formation') }}" class="btn btn-primary classic-btn">Ajouter des utilisateurs</a>
                <a href="{{ path('new_code')}}" class="btn btn-primary-empty classic-btn">Créer des codes d'invitation</a>
            </div>
        </div>
        <div class="row rounded-bloc">
            <div class="col-3">
                <div class="box-arrow ">
                    <div class="als-cont text-uppercase">
                        Formateurs
                        <input type="text" name="search" id="formateurs" onkeyup="search(this.value,'formateurs')" autocomplete="on" class="search" />
                    </div>
                    <div class="row my-result my-result-formateurs"></div>
                </div>
            </div>
            <div class="col-3">
                <div class="box-arrow ">
                    <div class="als-cont text-uppercase">
                        étudiants
                        <input type="text" name="search" id="students" onkeyup="search(this.value,'students')" autocomplete="on"  class="search"/>
                    </div>
                    <div class="row my-result my-result-students"></div>
                </div>
            </div>
            <div class="col-3">
                <div class="box-arrow ">
                    <div class="als-cont text-uppercase">
                        éditeurs
                        <input type="text" name="search" id="editor" onkeyup="search(this.value,'editor')" autocomplete="on"  class="search" />
                    </div>
                    <div class="row my-result my-result-editor"></div>
                </div>
            </div>
            <div class="col-3">
                <div class="box-arrow ">
                    <div class="als-cont text-uppercase">
                        Class
                        <input type="text" name="search" id="coachs" onkeyup="search(this.value,'coachs')" autocomplete="on"   class="search" />
                    </div>
                    <div class="row my-result my-result-coachs">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row absoultenergistre divStep7">
        <div class="col-2">
            <a  href="" >
                <img class="transoformpicture" src="/assets/images/icons/next-step.svg">
            </a>
        </div>
        <div class="col-8 ">
            <button type="button" id="submitSearchUser" class="btn btn-primary style-btn-save float-right">Enregistrer</button>
        </div>
        <div class="col-2">
            <a  href="#">
                <img src="/assets/images/icons/next-step.svg" class="right-img float-right">
            </a>
        </div>
    </div>
{% endblock %}