{% extends 'baseAdmin.html.twig' %}
{% block top_title %} NOUVELLE FORMATION I ÉTAPE 3 : SCÉNARIO PÉDAGOGIQU{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/jquery.orgchart.css') }}">
    <link rel="stylesheet" href="{{ asset('css/tree.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.orgchart.js') }}"></script>
    <script src="{{ asset('js/tree.js') }}"></script>
{% endblock %}
{% block body %}

    <div class="row create-formation ">
        <div class="col-2 customSideleft shadow-lg ">
            <span class="top-title">Nouveau</span>
            <div class="left-bloc">
                <span class="text-uppercase">Module</span>
                <div class="number-input">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="btn-top"></button>
                    <input class="nb-module" min="0" name="nb-module" value="1" type="number" disabled>
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="plus btn-bottom"></button>
                </div>
            </div>
            <div class="left-bloc">
                <span class="text-uppercase">COURS</span>
                <div class="number-input">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="btn-top"></button>
                    <input class="nb-cour" min="0" name="nb-cour" value="10" type="number" disabled>
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="plus btn-bottom"></button>
                </div>
            </div>
            <div class="left-bloc">
                <span class="text-uppercase">CHAPITRES</span>
                <div class="number-input">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="btn-top"></button>
                    <input class="nb-chapter" min="0" name="nb-chapter" value="1" type="number" disabled>
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="plus btn-bottom"></button>
                </div>
            </div>
            <div class="left-bloc">
                <span class="text-uppercase">QUIZ</span>
                <div class="number-input">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="btn-top"></button>
                    <input class="nb-quiz" min="0" name="nb-quiz" value="1" type="number" disabled>
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="plus btn-bottom"></button>
                </div>
            </div>
            <span class="top-title">EXISTANT</span>
            <div class="btn-group switch-btn ml-1 mb-3">
                <div class="btn-toggle">
                    <button class="btn active module-btn">Modules</button>
                    <button class="btn cour-btn">Cours</button>
                    <button class="btn chapter-btn">Chapitre</button>
                    <button class="btn quiz-btn">Quiz</button>
                </div>
            </div>
            <div class=" right-check text-left">
                <div class="text-uppercase">
                    <div class="checkbox custom-control custom-checkbox small">
                        <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="module1" />
                        <label for="module1" class="custom-control-label" data-id="1"> Module 1</label>
                    </div>
                    <div class="checkbox custom-control custom-checkbox small">
                        <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="module2" />
                        <label for="module2" class="custom-control-label" data-id="2"> Module 2</label>
                    </div>
                    <div class="checkbox custom-control custom-checkbox small">
                        <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="module3" />
                        <label for="module3" class="custom-control-label" data-id="3"> Module 3</label>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary mb-5 mt-5" id="add-config" data-path="">Ajouter</button>
        </div>
        <div class="col-8 text-center">
            <div class="btn-group switch-btn">
                <div class="btn-toggle">
                    <button class="btn monthly-btn">Non linéaire</button>
                    <button class="btn active annual-btn">Linéaire</button>
                </div>
            </div>
            <div class="collapse" id="monthly">
                tt
            </div>
            <div class="collapse show" id="annual">
                <div id="chart-container"></div>
            </div>
        </div>
        <div class="col-2 shadow-lg customSideright">
            <div  class="text-center">
                <img src="{{ asset('images/icons/step3.png') }}">
                <div class="bloc-content">
                    <a href="#collapseModule" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseModule">
                        <h6 class="m-0 text-gray-700 text-uppercase">Modules</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse" id="collapseModule" style="">
                        <div id="list-module">

                        </div>
                    </div>
                </div>

                <div class="bloc-content">
                    <a href="#collapseCour" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCour">
                        <h6 class="m-0 text-gray-700 text-uppercase">Cours</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse" id="collapseCour" style="">
                        <div id="list-cour">

                        </div>
                    </div>
                </div>

                <div class="bloc-content">
                    <a href="#collapseCardExample" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                        <h6 class="m-0 text-gray-700 text-uppercase">Chapitres</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse" id="collapseCardExample" style="">
                        <ul id="list-chap">
                        </ul>
                    </div>
                </div>
                <div class="bloc-content">
                    <a href="#collapseQuiz" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseQuiz">
                        <h6 class="m-0 text-gray-700 text-uppercase">Quiz</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse" id="collapseQuiz" style="">
                        <ul id="list-quiz">

                        </ul>
                    </div>
                </div>


            </div>
            <div class="row absoultenergistre">
                <div class="col-2">
                    <a   href="{{ path('new_formation_generalconfigchaiptre') }}">
                        <img class="transoformpicture" src="/assets/images/icons/formation/12.png">
                    </a>
                </div>
                <div class="col-8 ">
                    <button type="submit" id="submitFormation" class="btn btn-primary small widthbtnstepcenter">Enregistrer</button>
                </div>
                <div class="col-2">
                    <a   href="{{ path('new_formation_configformation') }}">

                        <img src="/assets/images/icons/formation/12.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>

    {#Module#}
    <div class="modal fade" id="moduleconfigitemdat" tabindex="-1" role="dialog" aria-labelledby="devoir-modal" aria-hidden="true">
        <input type="hidden" value="" id="valueofdat"/>
        <div class="modal-dialog" role="document">
            <div class="modal-content-dev">
                <button type="button" class="closepopup close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="modal-header-dev">

                    <h2 class="modal-title-dev text-uppercase text-center" id="modal-title">
                        PARAMÈTRES “MODULE A”</h2>
                </div>
                <div class="modal-body">
                    <div class="custom-control custom-checkbox small customlabelconfigstud">
                        <input type="checkbox" class="custom-control-input"  id="statut_score">
                        <label class="custom-control-label" for="statut_score">Attribuer un score de fin de module : </label>
                        <input type="text" class="form-control" id="score"  placeholder="2000">points
                    </div>
                    <div class="custom-control custom-checkbox small customlabelconfigstud">
                        <input type="checkbox" class="custom-control-input" id="access">
                        <label class="custom-control-label" for="access">Bloquer l’accès jusqu’au
                        </label>

                        <div class="input-group date" >
                            <input type="date" id="access_input" class="form-control">
                            {#   <div class="input-group-addon">
                                   <span class="glyphicon glyphicon-th"></span>
                               </div>#}
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox small customlabelconfigstud">
                        <input type="checkbox" class="custom-control-input" id="access_subscribe">
                        <label class="custom-control-label" for="access_subscribe">Bloquer l’accès jusqu’au</label>

                        <input type="text" class="form-control" id="acces_days" placeholder="">jour ( post inscription )
                    </div>
                    <div class="custom-control custom-checkbox small customlabelconfigstud">
                        <input type="checkbox" class="custom-control-input" id="statut_prequis">
                        <label class="custom-control-label" for="statut_prequis">Activer les prérequis</label>
                        <div class="sidebar-dropdown dropdown-select right-check" id="choose-folder">
                            <label class="dropdown-label text-uppercase">SÉLECTIONNER</label>
                            <div class="dropdown-list text-uppercase catalogue-list ">
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom1" />
                                    <label for="checkbox-custom1" class="custom-control-label" data-id="1"> NOTES</label>
                                </div>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom1" />
                                    <label for="checkbox-custom1" class="custom-control-label" data-id="2"> SCORE</label>
                                </div>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom1" />
                                    <label for="checkbox-custom1" class="custom-control-label" data-id="3"> CHAPITRE</label>
                                </div>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom2" />
                                    <label for="checkbox-custom2" class="custom-control-label" data-id="4"> FORMATION</label>
                                </div>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom3" />
                                    <label for="checkbox-custom3" class="custom-control-label" data-id="5"> COURS</label>
                                </div>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom4" />
                                    <label for="checkbox-custom4" class="custom-control-label" data-id="6"> MODULE</label>
                                </div>
                            </div>
                        </div>
                        <input type="text" class="form-control" id="point_preq" placeholder="2000">points
                    </div>
                    <div class="row">
                        <div class="col-4 pr-0 text-center">
                            <span class="titleconfigformation">Choisir l'icône du module</span>
                            <div class="emoji">
                                <span data-id-simle="1"> 😳</span>
                                <span data-id-simle="2">☹️</span>
                                <span data-id-simle="3">✌️ </span>
                                <span data-id-simle="4">😌 </span>
                                <span data-id-simle="5"> 🤑  </span>
                                <span data-id-simle="6">  🌙   </span>
                                <span data-id-simle="7">  🌨️  </span>
                                <span data-id-simle="8">  🥪 </span>
                                <span data-id-simle="9">  🏝️  </span>
                                <span data-id-simle="10">  🎄  </span>
                                <span data-id-simle="11"> ❤️  </span>


                            </div>
                            <input type="hidden" value="" id="icon"/>
                            <input type="hidden" value="" id="choice_preq"/>
                        </div>
                        <div class="col-4 pl-0 text-center">
                            <span class="titleconfigformation titleconfigformation1 text-uppercase">
                                  Charger un icône personnalisé
                            </span>

                            <div  class="box" >
                                <img src="{{ asset('images/icons/formation/20.png') }}">
                            </div>
                            <input type="text"  id="icone_image" class="form-control" name="image">
                            <a href="#" data-toggle="modal" data-target="#library-modal-step1" id="upload-global-image" class="btn btn-primary small rightbtn">
                                Envoyer
                            </a>
                        </div>

                    </div>
                    <div id="buttonpublier" >
                        <button  id="btnenvoyemodule" data-dismiss="modal" class="btn-2">Publier</button>
                    </div>

                </div>
            </div>
        </div>
    </div>




    {#fincModulepop up#}
    {#popup cours up#}
    <div class="modal fade" id="courspopup" tabindex="-1" role="dialog" aria-labelledby="cours-modal" aria-hidden="true">
        <input type="hidden" value="" id="valueofdat"/>
        <div class="modal-dialog" role="document">
            <div class="modal-content-dev">
                <button type="button" class="closepopup close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="modal-header-dev">
                    <h2 class="modal-title-dev text-uppercase text-center" id="modal-title">
                        paramètres “cours A”</h2>
                </div>
                <div class="modal-body">
                    <div class="custom-control custom-checkbox small customlabelconfigstud">
                        <input type="checkbox" class="custom-control-input" id="score_cours">
                        <label class="custom-control-label"  for="score_cours">Attribuer un score de fin de cours </label>
                        <input type="text" class="form-control" id="score_point" placeholder="2000">points
                    </div>
                    <div class="custom-control custom-checkbox small customlabelconfigstud">
                        <input type="checkbox" class="custom-control-input" id="statut_access">
                        <label class="custom-control-label" for="statut_access">Bloquer l’accès jusqu’au
                        </label>
                        <div id="datetpicket" class="input-group date form_date col-md-3" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" id="date_access" size="16" type="text" value="" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <input type="hidden" id="dtp_input2" value="" /><br/>
                    </div>
                    <div class="custom-control custom-checkbox small customlabelconfigstud">
                        <input type="checkbox" class="custom-control-input" id="accesssubscribe">
                        <label class="custom-control-label" for="accesssubscribe">Bloquer l’accès jusqu’au</label>

                        <input type="text" class="form-control" id="day_acces" placeholder="">jour ( post inscription )
                    </div>
                    <div class="custom-control custom-checkbox small customlabelconfigstud">
                        <input type="checkbox" class="custom-control-input" id="statuts_prerequis">
                        <label class="custom-control-label" for="statuts_prerequis">Activer les prérequis</label>
                        <div class="sidebar-dropdown dropdown-select right-check" id="choose-folder">
                            <label class="dropdown-label text-uppercase">SÉLECTIONNER</label>
                            <div class="dropdown-list text-uppercase catalogue-list ">
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom1" />
                                    <label for="checkbox-custom1" class="custom-control-label" data-id="1"> NOTES</label>
                                </div>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom1" />
                                    <label for="checkbox-custom1" class="custom-control-label" data-id="2"> SCORE</label>
                                </div>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom1" />
                                    <label for="checkbox-custom1" class="custom-control-label" data-id="3"> CHAPITRE</label>
                                </div>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom2" />
                                    <label for="checkbox-custom2" class="custom-control-label" data-id="4"> FORMATION</label>
                                </div>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom3" />
                                    <label for="checkbox-custom3" class="custom-control-label" data-id="5"> COURS</label>
                                </div>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom4" />
                                    <label for="checkbox-custom4" class="custom-control-label" data-id="6"> MODULE</label>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" value="" id="select_choiceprerequis"/>
                        <input type="text" class="form-control" id="numberpoints_prerequis" placeholder="2000">points
                    </div>
                    <div id="buttonpublier" >
                        <button id="btnenvoyemodulecours" data-dismiss="modal" class="btn-2">Publier</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {#    fin cours
        debut chaiptre #}


    <div class="modal fade" id="chaiptreconfig" tabindex="-1" role="dialog" aria-labelledby="chaiptre-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content-dev">
                <button type="button" class="closepopup close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="modal-header-dev">

                    <h2 class="modal-title-dev text-uppercase text-center" id="modal-title">
                        PARAMÈTRES “CHAPITRE A”</h2>
                </div>
                <div class="modal-body">

                    <div class="row create-formation">
                        <div class="col-2 pl-0">

                                <img src="{{ asset('images/icons/formation/51.png') }}">

                            <p class="customdevoir">AJOUTER UN DEVOIR</p>

                            <input type="text" value="" id="picture" readonly/>
                            <input type="hidden" value="" id="pictureselect"/>
                            <a href="#" class="btn btn-primary small rightbtn" data-toggle="modal"  data-target="#library-modal-step1" id="upload-fond-doc">
                                Envoyer
                            </a>
                        </div>



                        <div id="configchapitrestep1" class=" col-10 borderright ">


                            <div class="row align-items-baseline">
                                <div class="col-8 pr-0">
                                    <p>Temps passé sur le chapitre recommandé
                                    </p>
                                </div>


                                <div class="inputforms">
                                    <input type="hidden" id="time_spent"/>
                                    <div class="d-flex justify-content-center align-items-center pr-3">
                                        <input type="text" id="valueheureconfigchaiptre" class="form-control px-2" placeholder="15"> H
                                    </div>
                                    <div class="d-flex">
                                        <input type="text" id="valueminconfigchaiptre" class="form-control" placeholder="45"> min
                                    </div>

                                </div>

                            </div>

                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="status_completed" />
                                <label class="custom-control-label" for="status_completed">
                                    Cacher le bouton “Marquer comme terminé” jusqu’à ce que le temps recommandé soit atteint
                                </label>
                            </div>


                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="score_chaiptre" />
                                <label  class="custom-control-label" for="score_chaiptre">
                                    Attribuer un score de fin de chapitre :
                                    <input type="text" id="score_point" placeholder="2000"> points
                                </label>
                            </div>


                            <div class="checkbox custom-control custom-checkbox small">

                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="statut_accesss" />
                                <label  class="custom-control-label" for="statut_accesss">
                                    Bloquer l’accès jusqu’au
                                </label>
                                <div id="datetpicket" class=" postabsot input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                    <input class="form-control" id="status_dateacces" size="16" type="text" value="" readonly="">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="staut_subscribe" />
                                <label  class="custom-control-label" for="staut_subscribe">
                                    Bloquer l’accès jusqu’au
                                    <input type="text" id="staut_datesubscribe" placeholder=""> jour (post inscription)
                                </label>
                            </div>

                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="staut_prerequis" />
                                <label  class="custom-control-label" for="staut_prerequis">
                                    Activer les prérequis
                                </label>
                                <div class="sidebar-dropdown dropdown-select right-check" id="choose-folder">
                                    <label class="dropdown-label text-uppercase">SÉLECTIONNER</label>
                                    <div class="dropdown-list text-uppercase catalogue-list ">
                                        <div class="checkbox custom-control custom-checkbox small">
                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom1" />
                                            <label for="checkbox-custom1" class="custom-control-label" data-id="1">  Note</label>
                                        </div>
                                        <div class="checkbox custom-control custom-checkbox small">
                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom2" />
                                            <label for="checkbox-custom2" class="custom-control-label" data-id="2"> Score </label>
                                        </div>
                                        <div class="checkbox custom-control custom-checkbox small">
                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom3" />
                                            <label for="checkbox-custom3" class="custom-control-label" data-id="3"> CHAPITRE</label>
                                        </div>
                                        <div class="checkbox custom-control custom-checkbox small">
                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom4" />
                                            <label for="checkbox-custom4" class="custom-control-label" data-id="4"> FORMATION </label>
                                        </div>
                                        <div class="checkbox custom-control custom-checkbox small">
                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom5" />
                                            <label for="checkbox-custom4" class="custom-control-label" data-id="5"> COURS </label>
                                        </div>
                                        <div class="checkbox custom-control custom-checkbox small">
                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom5" />
                                            <label for="checkbox-custom4" class="custom-control-label" data-id="5"> MODULE </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row align-items-baseline">
                                <div class="col-8 pr-0">
                                    <p>Validation automatique du chapitre après</p>
                                </div>
                                <input type="hidden" value="" id="heurechapterfin"/>
                                <div class="inputforms">
                                    <div class="d-flex justify-content-center align-items-center pr-3">
                                        <input type="text" id="getheurefinchaiptre" class="form-control px-2" placeholder="15"> H
                                    </div>
                                    <div class="d-flex">
                                        <input type="text" id="getminfinchaiptre"  class="form-control" placeholder="45"> min
                                    </div>

                                </div>

                            </div>
                            <input type="hidden" value="" id="choice-chaiptre" />
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="staut_chapitre" />
                                <label for="staut_chapitre" class="custom-control-label" data-id="staut_chapitre">
                                    Validation automatique du chapitre après réussite au

                                </label>
                                <div class="sidebar-dropdown dropdown-select right-check list-devoir" id="choose-folder">
                                    <label class="dropdown-label text-uppercase">SÉLECTIONNER</label>

                          {#              {% set i = 1 %}
                                        {% for devoir in devoirs %}
                                            {% if devoir.type=="devoir" %}
                                                {% set devoirsplit = devoir.name|split('.')|first %}
                                        <div class="checkbox custom-control custom-checkbox small">
                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="devoir{{ i }}" />
                                            <label for="devoir{{ i }}" class="custom-control-label" data-id="devoir{{ i }}">  {{devoirsplit}} {{ i }}</label>
                                        </div>
                                                {% set i = i + 1 %}
                                            {% endif %}

                                    {% endfor %}#}



                                </div>
                            </div>
                            <div id="buttonpublier" >
                                <button id="btnenvoyemodulechaiptre" data-dismiss="modal"  class="btn-2">Publier</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="quizs" tabindex="-1" role="dialog" aria-labelledby="quizs-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content-dev">
                    <button type="button" class="closepopup close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-header-dev">

                        <h2 class="modal-title-dev text-uppercase text-center" id="modal-title">
                            PARAMÈTRES “QUIZ A”RÉGLAGES GÉNÉRAUX </h2>
                    </div>
                    <div class="modal-body">
                        <div class="row ">
                            <div id="configchaiptrequiz" class="offset-1 col-8 pb-3">
                                <div class="custom-control custom-checkbox small customlabelconfigstud">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox15" />
                                    <label for="checkbox14" class="custom-control-label" data-id="15">Quiz validé uniquement avec</label>

                                    <input type="text" class="form-control" id="nbrepoint" placeholder="75%">de bonne réponses
                                </div>

                                <div id="customfildeback">
                                    <div class="inputfeddbackpart1">
                                        <p>Entre X et X</p>
                                        <div class="d-inline-block margauto">
                                            <input type="text" class="form-control" id="entreone" placeholder="0%"> -
                                            <input type="text" class="form-control" id="entreone1" placeholder="30%">
                                        </div>


                                    </div>


                                    <div class="inputfeddbackpart2">
                                        <p>
                                            picture                                 Feedback</p>
                                        <textarea class="form-control" id="feddbacktextera" rows="3"></textarea>
                                    </div>

                                    <div class="inputfeddbackpart3">
                                        <p>
                                            Points
                                        </p>
                                        <input type="text" class="form-control" id="pointfedd" placeholder="0">
                                    </div>
                                    <div class="inputfeddbackpart4">
                                        <p>
                                            Note
                                        </p>
                                        <input type="text" class="form-control" id="notefedd" placeholder="0">
                                    </div>
                                </div>
                                <img id="addrowfedd" src="{{ asset('images/icons/plus-round.png') }}">
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox14" />
                                    <label for="checkbox14" class="custom-control-label" data-id="14">
                                        Proposer selon le pourcentage de
                                        réussite un feedback et/ou une not
                                        e et/ou un score


                                    </label>
                                </div>
                                <div class="custom-control custom-checkbox small customlabelconfigstud">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox13" />
                                    <label for="checkbox13" class="custom-control-label" data-id="13">Afficher la correction après</label>

                                    <input type="text" class="form-control" id="nbrepoint" placeholder="0">essais
                                </div>


                                <div class="checkbox custom-control custom-checkbox small  has-help">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox12" />
                                    <label for="checkbox7" class="custom-control-label" data-id="12"> Nombre de tentatives vers autorisés limités á

                                        <span class="static-help" id="help-text2" data-tooltip="Valable uniquement si l'option réseau social est activée sur la plateforme"
                                              data-tooltip-location="right">?</span>
                                    </label>

                                </div>

                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox2" />
                                    <label for="checkbox2" class="custom-control-label" data-id="2"> Cacher le bouton “Marquer comme
                                        terminé” jusqu’à ce que le temps recommandé soit atteint
                                    </label>
                                </div>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox3" />
                                    <label for="checkbox3" class="custom-control-label" data-id="3"> Cacher le bouton “Marquer comme
                                        terminé” jusqu’à ce que le temps recommandé soit atteint
                                    </label>
                                </div>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox4" />
                                    <label for="checkbox4" class="custom-control-label" data-id="4"> Activer le bouton “Afficher la solution”
                                    </label>
                                </div>
                                <ul class="liststylenon">
                                    <li>
                                        <div class="checkbox custom-control custom-checkbox small">
                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox5" />
                                            <label for="checkbox5" class="custom-control-label" data-id="5"> Réponse requise avant que la solution puisse être affichée
                                            </label>
                                        </div>
                                    </li>
                                </ul>

                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox6" />
                                    <label for="checkbox6" class="custom-control-label" data-id="6"> Mélanger les réponses dans un ordre aléatoire

                                    </label>
                                </div>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox7" />
                                    <label for="checkbox7" class="custom-control-label" data-id="7"> Afficher le bouton “Ignorer” une question
                                    </label>
                                </div>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox8" />
                                    <label for="checkbox8" class="custom-control-label" data-id="8"> Afficher le bouton “Retour” une question
                                    </label>
                                </div>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox9" />
                                    <label for="checkbox9" class="custom-control-label" data-id="9"> Désactiver le zoom sur image pour l’illustration de la question
                                    </label>
                                </div>

                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox16" />
                                    <label for="checkbox16" class="custom-control-label" data-id="16">
                                        En cas de validation du quiz renvoyer l’étudiant vers
                                    </label>
                                    <div class="validation">
                                        <div class=" mb-4 details-formations">
                                            <a href="#collapseCardExample1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                                <h6 class="m-0 text-gray-700">CAP AEPE > MATIÈRES GÉNÉRALES > MATH</h6>
                                            </a>
                                            <!-- Card Content - Collapse -->
                                            <div class="collapse" id="collapseCardExample1" style="">

                                                <a href="#collapseCardExample2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample2">
                                                    <h6 class="m-0 text-gray-700">Francais</h6>
                                                </a>
                                                <div class="collapse" id="collapseCardExample2" style=""><ul class="events">
                                                        <li>
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <div class="element">
                                                                        <div class="checkbox custom-control custom-checkbox small">
                                                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox1" checked />
                                                                            <label for="checkbox1" class="custom-control-label" data-id="3"> Français
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <div class="element">
                                                                        <div class="checkbox custom-control custom-checkbox small">
                                                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox2" checked />
                                                                            <label for="checkbox2" class="custom-control-label" data-id="3"> MATHÉMATIQUES
                                                                            </label>


                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul></div>
                                            </div>
                                        </div></div>
                                </div>

                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox8" />
                                    <label for="checkbox8" class="custom-control-label" data-id="8">
                                        Proposer un indice toutes les
                                    </label>
                                    <input type="text" class="form-control" id="secindice" placeholder="0"> sec
                                </div>

                                <div id="product">
                                    <div class="form-group" id="clone-box">
                                        <label for="indice1">Indice n°
                                            <span class="incrementindice">1 </span> :</label>
                                        <input type="text" class="form-control" id="demo0" placeholder="">
                                    </div>
                                </div>
                                <img id="addrow" src="{{ asset('images/icons/plus-round.png') }}">

                                <input type="hidden" id="textBox" value="0">
                                <div id="buttonpublier" >
                                    <button class="btn-2">Publier</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade builder-modal" id="library-modal-step1" tabindex="-1" role="dialog" aria-labelledby="library-modal-step1" aria-hidden="true"  >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <input type="hidden" value="" id="valueofdat"/>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="top-modal row">
                    <div class="col-3 text-left"> <img src="{{ asset('images/builder/bg-2.png') }}" class="exist-page" ></div>
                    <div class="col-8 text-center">
                        <div class="btn-group switch-btn d-inline-block mt-4 mb-4">
                            <div class="btn-toggle">
                                <button class="btn dounload-btn active">Télécharger</button>
                                <button class="btn gallerie-btn">Galerie</button>
                                <button class="btn models-btn">Mes modéles </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <input type="hidden" value="" id="typevideoorimage"/>
                    <input type="hidden" value="" id="videodoc"/>
                    <div class="col-10 text-center mb-4 mr-0">
                        <div class="collapse show pl-2" id="dounload">
                            <h3 class="text-uppercase text-gray-700 font-weight-bolder mb-3">Choisissez un fichier</h3>
                            <div class="get-image mb-4" id="file-to-upload-step1">
                                <form method="post" action="" enctype="multipart/form-data"
                                      id="myform">
                                    <div >
                                        <input type="text" class="value-file" readonly  placeholder="Aaucun fichier séléctionné" >
                                        <div class="btn-save-image">
                                            <input type="file" id="file" name="file" class="image-to-import" />
                                            <button class="btn btn-primary" id="import-img">Importer</button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <div class="option text-left">
                                <label class="text-gray-700 d-block pb-3"> Options:</label>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="option1" />
                                    <label for="option1" class="custom-control-label" data-id="1"> Remplacer le contenu existant</label>
                                </div>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="option2" />
                                    <label for="option2" class="custom-control-label" data-id="2"> Enregistrer la sauvegarde avant d'importer</label>
                                </div>
                            </div>
                        </div>
                        <div class="collapse pl-2" id="gallerie">
                            <div class="row row pr-0 mr-0 mt-5 mr-4" id="file-view">
                                <input type="hidden" id="user-id"  value="{{app.user.id}}">
                                {% for media in userMedia %}
                                    {% set extention = media.name|split('.')|last %}

                                    {% if (extention == 'pdf' ) %}
                                        <div class="col-3 doc mb-5">
                                            <img class="card-img-top" data-doc-gl="{{media.name}}" src="/images/uploads/{{app.user.id}}/documents/{{media.name}}">
                                        </div>
                                    {% endif %}
                                    {% if (extention == 'mp4') %}
                                        <div class="col-3 video mb-5">
                                            <div class="video">
                                                <video id="example_video_by_hand" class="card-img-top" controls width="100%" height="100%"  preload="auto" data-setup="{}" data-video-gl="{{media.name}}">
                                                    <source type="video/mp4" src="/images/uploads/{{app.user.id}}/documents/{{media.name}}">
                                                </video>
                                                <label class="d-block text-gray-700">{{media.name}}</label>
                                            </div>
                                        </div>
                                    {%  else %}
                                        <div class="col-3 image mb-5">
                                            <img class="card-img-top" data-image-gl="{{media.name}}" src="/images/uploads/{{app.user.id}}/documents/{{media.name}}">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="collapse pl-2" id="models">models</div>
                        <div class="text-right">
                            <button class="btn btn-primary p-2" id="save-file" data-dismiss="modal">Enregistrer</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}