{% extends 'baseAdmin.html.twig' %}
{% block top_title %} NOUVELLE FORMATION I ÉTAPE 6 : RÉCOMPENSES {% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/modelimage.js') }}"></script>
    <script>
    var url_to_send_to = "{{ path('new_badge_step6', {'formationId' : formationId}) }}";
    </script>
{% endblock %}
{% block body %}


        <div class="stepper-img text-center margin-title">
            <img src="{{ asset('images/step6/step-6.png') }}">
        </div>

                {{ form_start(form,{'enctype':"multipart/form-data"}) }}
            <div class="row create-formation pr-4 pl-4">
                <div class="col-8 offset-3 pt-5">
                <div class="form-container sign-in-container">
                    <div class="form-group step-name green-border-focus bad-wid">
                        <label for="name" class="text-uppercase tit-bad">Nom du badge</label>
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="row pr-0 mr-0">
                        <div class="col-4 pl-5">
                                <div class="box-badge " id="imagestep1">
                                    <img src="{{ asset('images/icons/step1_05.svg') }}">
                                </div>
                                {{ form_widget(form.picture)}}
                                <a href="#" data-toggle="modal" class="btn btn-primary-c small" data-target="#library-modal-step1" id="upload-global-image" >
                                Télécharger</a>
                        </div>
                        <div class="col-6 pt-4 pl-0 pr-0">
                        <div class="row" id="badge-attribute">
                            <div class="offset-2 col-9">

                            {% for a in form.type %}
                                <div class="rad-exp pb-2 pr-0 jstop" >
                                    {{ form_widget(a, {'attr' : {'class' : 'circle'}}) }}
                                    {{ form_label(a, null , {'label_attr' : {'class' : 'entry-label lab-bad pl-4 pb-2 text-uppercase'}}) }}
                                </div>
                            {% endfor %}

                            <div class="checkbox pl-4 pt-4 custom-checkbox smalls">
                                {{ form_widget(form.available) }}
                                <label for="badge_available" class="custom-control-label text-uppercase val" data-id="3"> Valable uniquement pendant{{ form_widget(form.period) }}mois
                                </label>
                            </div>
                            </div>
                            <div class="col-1 pl-0 pr-0 jstop2">
                                <button type="button" data-toggle="modal" data-target="#devoir" class="btn btn-primary-c small">Paramètres</button>
                            </div>
                        </div>

                        </div>
                    </div>
                    <!-- Devoir -->
                    <div class="modal fade" id="devoir" tabindex="-1" role="dialog" aria-labelledby="devoir-modal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content-dev">
                                <div class="modal-header-dev">
                                    <h2 class="modal-title-dev text-uppercase text-center" id="modal-title">Condition - Devoir</h2>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                    <div class="col-4">
                                        <select class="select-filter small-select typste"  id="typestep">
                                            <option class="devoir text-uppercase">Devoir</option>
                                            <option class="valid text-uppercase">Valider</option>
                                            <option class="quiz text-uppercase">Quiz</option>
                                            <option class="score text-uppercase">Score</option>
                                            <option class="temps text-uppercase">Temps</option>
                                            <option class="forum text-uppercase">Forum</option>
                                            <option class="note text-uppercase">Note</option>
                                            <option class="recompense text-uppercase">Récompenses</option>
                                        </select>
                                    </div>
                                    <div class="col-4" id="dev-3">
                                        <select class="select-filter small-select typste" id="badge-devoir">
                                            <option class="text-uppercase">Choisir le devoir</option>
                                            <option class="appreciation">Appréciation</option>
                                            <option class="chiffree">Chiffré</option>
                                            <option class="couleurs">Couleur</option>
                                            <option class="autre">Autre</option>
                                        </select>
                                    </div>
                                    <div class="col-4 hidden" id="dev-5">
                                        {{form_widget(form.duty)}}
                                    </div>
                                        <div class="col-4 hidden" id="devoir-val">
                                            {{ form_widget(form.val_duty, {'attr':{'placeholder':'0/20'}}) }}
                                        </div>
                                        <div class="col-4 hidden" id="devoir-otr">
                                            {{ form_widget(form.val_duty, {'attr':{'placeholder':'A'}}) }}
                                        </div>
                                        <div class="col-3 hidden" id="dev-color">
                                            {{ form_widget(form.val_duty, {'attr':{'class':'select-color small-select','id':'dev-color'}}) }}
                                            {#<select class="select-color small-select" style="display: block;">
                                                <option value="green" data-image="{{ asset('images/step6/9.png') }}"></option>
                                                <option value="orange" data-image="{{ asset('images/step6/10.png') }}"></option>
                                                <option value="red" data-image="{{ asset('images/step6/11.png') }}"></option>
                                            </select>#}
                                        </div>
                                        <!--Valid!-->
                                        <div class="col-8 hidden" id="valid-8">
                                            <div class="shadow mb-4 details-formations tit-f" id="devoir">
                                                <a href="#collapseCardExample1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                                    <h6 class="m-0 text-gray-700">{{ formation.titre_formation }}</h6>
                                                </a>
                                                <!-- Card Content - Collapse -->
                                                {% for module in modules %}
                                                <div class="collapse" id="collapseCardExample1">

                                                    <a href="#collapseCardExample2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample2">
                                                        <h6 class="m-0 text-gray-700">{{ module.name }}</h6>
                                                    </a>
                                                    {% for cour in module.cours %}
                                                    <div class="collapse" id="collapseCardExample2">
                                                        <a href="#collapseCardExample3" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample2">
                                                            <h6 class="m-0 text-gray-700">{{ cour.name }}</h6>
                                                        </a>
                                                    </div>
                                                        <div class="collapse chapitre-search" id="collapseCardExample3">
                                                            <ul class="events">
                                                                {% for chapitre in cour.chapters %}
                                                                <li>
                                                                    <div class="row">
                                                                        <div class="col-6">
                                                                            <div class="element">
                                                                                <div class="checkbox custom-control custom-checkbox small">
                                                                                    <input type="checkbox" class="custom-control-input check"name="chap_check" id="valid_{{ chapitre.id }}" data-id-chapitre="{{ chapitre.name }}">
                                                                                    <label class="custom-control-label" for="valid_{{ chapitre.id }}"> {{ chapitre.name }}</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                {% endfor %}

                                                </div>
                                            </div>
                                        <!--end!-->
                                        <!--Quiz!-->
                                        <div class="col-3 hidden" id="quiz-3">
                                            <select class="select-filter small-select text-uppercase typste" id="badge-quiz">
                                                <option>Sélectionner</option>
                                                <option class="badges">Badges</option>
                                                <option class="certificats">Certificats</option>
                                            </select>
                                        </div>
                                        <div class="col-5 hidden" id="quiz-5">
                                            {{form_widget(form.quiz)}}
                                        </div>
                                        <div class="col-5 hidden" id="quiz-dev">
                                            {{ form_widget(form.val_quiz, {'attr':{'placeholder':'0'}}) }}
                                            <span class="points"> Points sur </span>
                                            <br>
                                            {{form_widget(form.quiz)}}
                                        </div>
                                        <!--end!-->
                                        <!--score!-->
                                        <div class="col-6 offset-1 hidden" id="score-6">
                                            {{ form_widget(form.score, {'attr':{'placeholder':'0'}}) }}
                                            <span class="text-uppercase points"> Points sur </span>
                                            <br>
                                        </div>
                                        <div class="col-8 offset-4 hidden" id="score-8">
                                            <div class="shadow mb-4 details-formations tit-f" id="devoir">
                                                <a href="#collapseCardExample1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                                    <h6 class="m-0 text-gray-700">{{ formation.titre_formation }}</h6>
                                                </a>
                                                <!-- Card Content - Collapse -->
                                                {% for module in modules %}
                                                    <div class="collapse" id="collapseCardExample1">

                                                        <a href="#collapseCardExample2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample2">
                                                            <h6 class="m-0 text-gray-700">{{ module.name }}</h6>
                                                        </a>
                                                        {% for cour in module.cours %}
                                                            <div class="collapse" id="collapseCardExample2">
                                                                <a href="#collapseCardExample3" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample2">
                                                                    <h6 class="m-0 text-gray-700">{{ cour.name }}</h6>
                                                                </a>
                                                            </div>
                                                            <div class="collapse chapter-search" id="collapseCardExample3">
                                                                <ul class="events">
                                                                    {% for chapitre in cour.chapters %}
                                                                        <li>
                                                                            <div class="row">
                                                                                <div class="col-6">
                                                                                    <div class="element">
                                                                                        <div class="checkbox custom-control custom-checkbox small">
                                                                                            <input type="checkbox" class="custom-control-input check" id="score_{{ chapitre.id }}" data-id-chapter="{{ chapitre.name }}">
                                                                                            <label class="custom-control-label" for="score_{{ chapitre.id }}"> {{ chapitre.name }}</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                        <!--end!-->
                                        <!--Temps!-->
                                        <div class="col-4 hidden pl-0" id="temps-4">
                                            {{ form_widget(form.time, {'attr':{'placeholder':'0h'}}) }}
                                            <span class="text-uppercase pass"> Passé sur </span>
                                            <br>
                                        </div>
                                        <div class="col-4 hidden" id="temps--4">
                                            <div id="bad">
                                                {% for formation in formations %}
                                                    <select class="select-filter small-select typste" id="badge-formation">
                                                        <option class="text-uppercase">Sélectionner</option>
                                                        <option class="text-uppercase">{{ formation.titre_formation }}</option>
                                                    </select>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <!--end!-->
                                        <!--Forum!-->
                                        <div class="col-6 hidden pl-0" id="forum-4">
                                            {{ form_widget(form.forum, {'attr':{'placeholder':'0'}}) }}
                                            <span class="text-uppercase msg"> Messages mininmum </span>
                                            <br>
                                        </div>
                                        <!--end!-->
                                        <!--Récompenses!-->
                                        <div class="col-4 hidden recomp recomp" id="recomp-4">
                                            <div class="shadow mb-4 details-note tit-f" id="devoir">
                                                <div class="sidebar-dropdown dropdown-select right-check open" id="choose-badge" data-ids="">
                                                    <label class="dropdown-label text-uppercase color-bad">Badges</label>
                                                        <div class="dropdown-list text-uppercase">
                                                            <div class="checkbox custom-control custom-checkbox small">
                                                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-badge1"/>
                                                                <label for="checkbox-badge1" class="custom-control-label" data-id="1"> Badge 1</label>
                                                            </div>
                                                            <div class="checkbox custom-control custom-checkbox small">
                                                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-badge2" />
                                                                <label for="checkbox-badge2" class="custom-control-label" data-id="2"> Badge 2</label>
                                                            </div>
                                                            <div class="checkbox custom-control custom-checkbox small">
                                                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-badge3" />
                                                                <label for="checkbox-badge3" class="custom-control-label" data-id="3"> Badge 3</label>
                                                            </div>
                                                            <div class="checkbox custom-control custom-checkbox small">
                                                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-badge4" />
                                                                <label for="checkbox-badge4" class="custom-control-label" data-id="4"> Badge 4</label>
                                                            </div>
                                                        </div>
                                                        {#{% for badge in badges %}
                                                            <div class="checkbox custom-control custom-checkbox small">
                                                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="badCheck_{{ badge.id }}"/>
                                                                <label for="badCheck_{{ badge.id }}" class="custom-control-label" data-id="1"> {{ badge.name }}</label>
                                                            </div>
                                                        {% endfor %}#}
                                                    <div class="list-selection row">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 hidden recomp" id="recomp--4">
                                            <div class="shadow mb-4 details-note tit-f" id="devoir">
                                                <div class="sidebar-dropdown dropdown-select right-check open" id="choose-certif" data-ids="">
                                                    <label class="dropdown-label text-uppercase color-bad " >Certificats</label>
                                                    <div class="dropdown-list text-uppercase">
                                                        <div class="checkbox custom-control custom-checkbox small">
                                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom1" />
                                                            <label for="checkbox-custom1" class="custom-control-label" data-id="1"> Certificat 1</label>
                                                        </div>
                                                        <div class="checkbox custom-control custom-checkbox small">
                                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom2" />
                                                            <label for="checkbox-custom2" class="custom-control-label" data-id="2"> Certificat 2</label>
                                                        </div>
                                                        <div class="checkbox custom-control custom-checkbox small">
                                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom3" />
                                                            <label for="checkbox-custom3" class="custom-control-label" data-id="3"> Certificat 3</label>
                                                        </div>
                                                        <div class="checkbox custom-control custom-checkbox small">
                                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom4" />
                                                            <label for="checkbox-custom4" class="custom-control-label" data-id="4"> Certificat 4</label>
                                                        </div>
                                                    </div>
                                                    {#<div class="dropdown-list text-uppercase">
                                                        {% for certif in form.certifs %}
                                                            <div class="checkbox custom-control custom-checkbox small">
                                                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="certifCheck"/>
                                                                <label for="certifCheck" class="custom-control-label" data-id="1"> {{ form_label(certif) }}</label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>#}
                                                </div>
                                            </div>
                                        </div>
                                        <!--end!-->
                                        <!--Note!-->
                                        <div class="col-5 hidden recomp" id="note-4">
                                            <div class="shadow mb-4 details-note tit-f" id="devoir">
                                                <h6 class="text-uppercase notes">Note sur la moyenne de:</h6>
                                                <div class="back">
                                                    {% for formation in formations %}
                                                <a href="#collapseOne" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                                    <h6 class="text-gray-700 text-uppercase">{{ formation.titre_formation }}</h6>
                                                </a>
                                                    {% endfor %}
                                                </div>
                                                {% for module in modules %}
                                                <div class="collapse colaps" id="collapseOne">

                                                    <a href="#collapseTwo" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample2">
                                                        <h6 class="text-gray-700 text-uppercase">{{ module.name }}</h6>
                                                    </a>

                                                </div>
                                                    <div class="collapse cour-search coltwo" id="collapseTwo">
                                                        {% for cour in module.cour %}
                                                            <div class="checkbox custom-control custom-checkbox cour-badge btn-primary">
                                                                <input type="checkbox" name="dropdown-group" class="check custom-control-input" data-id-cour="{{cour.name}}" id="cour_{{ cour.id }}" />
                                                                <label for="cour_{{ cour.id }}" class="custom-control-label text-uppercase title-white" data-id="{{ cour.id }}" > {{ cour.name }}</label>
                                                            </div>
                                                            {#<div class="btn-primary d-block card-header py-3">
                                                                <input type="checkbox" name="dropdown-group" id="cour_{{ cour.id }}" value=" {{ form_widget(form.note) }}" />
                                                                <label for="cour_{{ cour.id }}" class="text-uppercase"> {{ cour.name }}</label>
                                                            </div>#}
                                                        {#<span class="d-block card-header py-3">
                                                            {{ form_widget(form.note ) }}
                                                            <h6 class="text-gray-700 text-uppercase">{{ cour.name }}</h6>
                                                        </span>#}
                                                        {% endfor %}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-3 hidden pl-0" id="note--4">
                                            {{ form_widget(form.note_val) }}
                                            {#<input type="number" class="custom-control-label-dev" style="padding-left: 31px; width: 77px;top: -24px;margin-left: 68px;" placeholder="0" min="0" value="">#}
                                        </div>
                                        <!--end!-->
                                    </div>
                                </div>
                                <div class="hidden">
                                    {{ form_widget(form.val_time)}}
                                </div>
                                <div class="hidden">
                                    {{ form_widget(form.val_score) }}
                                </div>
                                <div class="hidden">
                                    {{ form_widget(form.val_valid) }}
                                </div>
                                <div class="hidden">
                                    {{ form_widget(form.note) }}
                                 </div>
                                <div class="modal-footer-dev text-center enr">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="clickModal">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group step-name green-border-focus pt-4 bad-wid des">
                        <label for="description" class="text-uppercase tit-bad">Description</label>
                        {{ form_widget(form.description) }}
                    </div>
                </div>
                </div>
            </div>
                    <div class="btn-sav">
                    <button type="submit" class="btn btn-primary small">Enregistrer</button>
                    </div>
                </div>
                {{  form_end(form) }}
            <!-- Picture -->
            <div class="modal fade builder-modal" id="library-modal-step1" tabindex="-1" role="dialog" aria-labelledby="library-modal-step1" aria-hidden="true"  >
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="top-modal row">
                            <div class="col-3 text-left"> <img src="{{ asset('images/builder/bg-2.png') }}" class="exist-page" ></div>
                            <div class="col-8 text-center">
                                <div class="btn-group switch-btn d-inline-block mt-4 mb-4">
                                    <div class="btn-toggle">
                                        <button class="btn dounload-btn active">Télécharger</button>
                                        <button class="btn gallerie-btn">Galerie</button>
                                        <button class="btn models-btn">Mes modéles </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" value="" id="typevideoorimage"/>
                            <div class="col-10 text-center mb-4 mr-0">
                                <div class="collapse show pl-2" id="dounload">
                                    <h3 class="text-uppercase text-gray-700 font-weight-bolder mb-3">Choisissez un fichier</h3>
                                    <div class="get-image mb-4" id="file-to-upload-step1">
                                        <form method="post" action="" enctype="multipart/form-data"
                                              id="myform">
                                            <div >
                                                <input type="text" class="value-file"  placeholder="Aucun fichier séléctionné" >
                                                <div class="btn-save-image">
                                                    <input type="file" id="file" name="file" class="image-to-import" />
                                                    <button class="btn btn-primary" id="import-img">Importer</button>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                    <div class="option text-left">
                                        <label class="text-gray-700 d-block pb-3"> Options:</label>
                                        <div class="checkbox custom-control custom-checkbox small">
                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="option1" />
                                            <label for="option1" class="custom-control-label" data-id="1"> Remplacer le contenu existant</label>
                                        </div>
                                        <div class="checkbox custom-control custom-checkbox small">
                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="option2" />
                                            <label for="option2" class="custom-control-label" data-id="2"> Enregistrer la sauvegarde avant d'importer</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse pl-2" id="gallerie">
                                    <div class="row row pr-0 mr-0 mt-5 mr-4" id="file-view">
                                        <input type="hidden" id="user-id"  value="{{app.user.id}}">
                                        {% for media in userMedia %}
                                            {% set extention = media.name|split('.')|last %}
                                            {% if (extention == 'mp4') %}
                                                <div class="col-3 video mb-5">
                                                    <div class="video">
                                                        <video id="example_video_by_hand" class="card-img-top" controls width="100%" height="100%"  preload="auto" data-setup="{}" data-video-gl="{{media.name}}">
                                                            <source type="video/mp4" src="/images/uploads/{{app.user.id}}/documents/{{media.name}}">
                                                        </video>
                                                        <label class="d-block text-gray-700">{{media.name}}</label>
                                                    </div>
                                                </div>
                                            {%  else %}
                                                <div class="col-3 image mb-5">
                                                    <img class="card-img-top" data-image-gl="{{media.name}}" src="/images/uploads/{{app.user.id}}/documents/{{media.name}}">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="collapse pl-2" id="models">models</div>
                                <div class="text-right">
                                    <button class="btn btn-primary p-2" id="save-file">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end -->
{% endblock %}