{% extends 'baseAdmin.html.twig' %}
{% block title %} Plannings des paramètres - Kiwi Institute {% endblock %}
{% block top_title %} Lives et vidéos {% endblock %}
{% block body %}
    <div class="container pt-4">
            <div class="row col-3 live-btn pl-4 pb-4 mr-2">
                <a href="{{ path('admin_live') }}" class="btn btn-primary btn-live classic-btn">Créer live</a>
            </div>
    <div class="row col-12 pr-0 mr-0 margin-15-mobile pt-4">
        <div class="col-12">
            <div class="full-card shadow py-2">
                <div class=" mb-4">
                    {#<div class="card-header py-3" id="noteFold">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="checkAll">
                            <label class="custom-control-label" for="checkAll">Tout Sélectionner </label>
                            <div class="btn-action">
                                <button type="button" class="btn btn-download btn-link btn-sm pt-2" id="delete-all-videos" data-path="{{ path('delete_notes')}}">
                                    <img src="{{ asset('images/icons/trash-sm.png') }}" width="30px" height="30px">
                                </button>
                            </div>
                        </div>
                    </div>#}
                    <div class="card-body">
                        <div class="tbl-content">
                            <div class="table-responsive custom-table">
                                <table class="table"  width="100%" cellspacing="0" id="note-tab">
                                    <thead>
                                    <tr>
                                       {# <th width="5%"></th>#}
                                        <th class="text-left span" width="35%">Nom de la video</th>
                                        <th class="text-left span" width="20%"> URL</th>
                                        <th class="text-left span" width="20%"> Description</th>
                                        <th class="text-left span" width="10%">Date</th>
                                        <th class="text-left span" width="10%">Heure</th>
                                        <th class="text-left span" width="10%">Durée</th>
                                        <th width="10%">&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for video in videos %}
                                        <tr>
                                           {# <td width="5%"><div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input check-element" id="Check_{{ video.id }}" name="video-check" value="{{ video.id }}" data-id="{{ video.id }}">
                                                    <label class="custom-control-label" for="Check_{{ video.id }}"><span class="hidden">{{ video.name }}</span></label>
                                                </div></td>#}
                                            <td class="text-left" width="35%">{{ video.name }}</td>
                                            <td class="text-left" width="20%">  {{ video.url }}</td>
                                            <td class="text-left" width="20%"> {{ video.description }}</td>
                                            <td class="text-left" width="10%">{{ video.date |date("d M Y")}}</td>
                                            <td class="text-left" width="10%">{{ video.hour |date("h:i")}}</td>
                                            <td class="text-left" width="10%">{{ video.duration }}</td>
                                            <td class="td-actions text-right" width="10%">
                                               {# <a href="{{ path('update_video',{'id': video.id}) }}" rel="tooltip" title="Modifier video" class="btn btn-vu btn-link btn-sm">  <img src="{{ asset('images/icons/pensil-xs.png') }}"></a>
                                                <a href="{{ path('delete_video',{'id': video.id}) }}" rel="tooltip" title="Supprimer video" class="btn btn-vu btn-link btn-sm"> <img src=" {{ asset('images/icons/trash-xs.png') }}"></a>
                                            #}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
{% endblock %}