{% extends 'baseAdmin.html.twig' %}
{% block title %} Plannings des paramètres - Kiwi Institute {% endblock %}
{% block top_title %} Lives et vidéos {% endblock %}
{% block body %}
    <div class="container pt-4">

        <form method="post" id="livevid">
            <div class="row create-formation pr-5 pl-1">
                <div class="col-6 pl-5">
                    <div class="form-container sign-in-container">
                        <div class="form-group green-border-focus">
                            <label class="text-uppercase pl-2"> Titre </label>
                            <input type="text" name="title" id="titre" class="form-control">
                        </div>
                        <div class="form-group green-border-focus">
                            <label class="text-uppercase pl-2"> Url </label>
                            <input type="text" name="url" id="url" class="form-control">
                        </div>
                        <div class="form-group green-border-focus description">
                            <label class="text-uppercase pl-2"> Description </label>
                            <textarea rows="4" name="description" id="description" class="form-control">
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="col-6 pl-5">
                    <div class="form-group green-border-focus">
                            <label class="text-uppercase pl-2"> Date </label>
                            <input type="date" name="date" id="date" class="form-control text-center pl-5">
                    </div>
                    <div class="form-group green-border-focus">
                        <label class="text-uppercase pl-2"> Heure </label>
                        <input type="time"  name="hour" id="hour" class="form-control text-center">
                    </div>
                    <div class="form-group green-border-focus">
                        <label class="text-uppercase pl-2"> Durée </label>
                        <input type="number" name="duration" min="0" placeholder="0 min" id="duration" class="form-control text-center">
                    </div>
                </div>
            </div>


        <div class="container pt-5 row rounded-bloc">
            <div class="col-3">
                <div class="box-arrow live">
                    <div class="live-cont text-uppercase">
                        Formations
                        <input type="text" id="formations" onkeyup="searchFormations(this.value,'formations')" data-value="" autocomplete="on" class="text-center search-live" />
                    </div>
                   {# <input type="hidden" value="{{ jsonResp }}" id="formationsjson" />#}
                    <div class="row my-result my-result-formations" id="liveFormations"></div>
                </div>
            </div>
            <div class="col-3">
                <div class="box-arrow live">
                    <div class="live-cont text-uppercase">
                        Membres
                        <input type="text" id="users" onkeyup="searchStudents(this.value,'users')" autocomplete="on"  class="text-center search-live"/>
                    </div>
                    {#<input type="hidden" value="{{ users }}" />#}
                    <div class="row my-result my-result-users" id="liveMember"></div>
                </div>
            </div>
            <div class="col-3">
                <div class="box-arrow live">
                    <div class="live-cont text-uppercase">
                        Classe
                        <input type="text" id="classes" onkeyup="searchClasses(this.value,'classes')" autocomplete="on"  class="text-center search-live" />
                    </div>
                    {#<input type="hidden" value="{{ classes }}" />#}
                    <div class="row my-result my-result-classes" id="liveClass"></div>
                </div>
            </div>
            <div class="col-3">
                <div class="box-arrow live">
                    <div class="live-cont text-uppercase">
                        Type Utilisateur
                        <input type="text" id="type" onkeyup="searchType(this.value,'type')" autocomplete="on"   class="text-center search-live" />
                    </div>
                    <div class="row my-result my-result-type" id="liveType">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 live-btn pl-4 pr-4 mr-5 pt-4 ">
            <button type="submit" id="save-live" class="btn btn-primary btn-live float-right">Programmer le live</button>
        </div>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/live.js') }}"></script>
{% endblock %}