<link href="{{ asset('css/croppie.css') }}" rel="stylesheet" />
<div id="sidebar-wrapper" class="update-imageInfo">
    {% set extention = media.name|split('.')|last %}

	<div class="img-sidebar">
        {% if extention == 'pdf' %}
            <img  src="/images/pdf.png" width="120">
        {% elseif extention == 'docx' %}
            <img src="/images/word.png" width="120">
        {% elseif extention == 'wav' %}
            <img src="/images/audio.png" width="120">
        {% else %}
            <label class="cabinet">
            <figure>
                <img src="/images/uploads/{{app.user.id}}/documents/{{media.name}}" class="gambar img-responsive img-thumbnail" id="item-img-output">
                <figcaption><i class="fa fa-camera"></i></figcaption>
            </figure>
            <input type="file" class="item-img file center-block" name="file_photo">
            </label>
        {% endif %}
        <input type="hidden" value="{{media.name}}" id="picId">
    </div>

     <div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header" id="new-note">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title" id="myModalLabel">
                         <?=multiLanguage( "Edit Foto" , "Edit Photo" )?></h4>
                 </div>
                 <div class="modal-body">
                     <div id="upload-demo" class="center-block"></div>
                 </div>
                 <div class="modal-footer noteAdd">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Revenir à l'original</button>
                     <button type="button" id="cropImageBtn" class="btn btn-primary">Enregistrer</button>
                 </div>
             </div>
         </div>
     </div>

    <ul class="sidebar-nav">
        {% set extention = media.name|split('.')|last %}
        <li> TÉLÉVERSÉ LE : {{media.createdAt|date("d M Y")}}</li>
        <li> TYPE DE FICHIER : {{ media.name|split('.')|last }}</li>
        <li> DIMENSIONS : 200px x 400px </li>
        <li> TAILLE : {{media.size}} KB </li>
        <li> DOSSIERS : 
            {% set doc = '' %}
            {% set array = [] %}
            {% for f in media.getDocumentFolders() %}
              {% set doc = [doc, f.name]|join(', ') %}
              {% set array = array|merge([f.id]) %}
            {% endfor %}
            {{ doc|trim(',') }}
         </li>
        <li>
        	<div class="sidebar-dropdown" id="choose-folder">
              <label class="dropdown-label text-uppercase">Ajouter au(x) dossier(s)</label>
              <div class="dropdown-list">
                {% for folder in allfolders %}
                <div class="checkbox custom-control custom-checkbox small">
                  <input type="checkbox" name="dropdown-group"  {% if folder.id in array %} checked="checked" {% endif %} class="check custom-control-input " id="checkbox-custom_{{ folder.id }}" />
                  <label for="checkbox-custom_{{ folder.id }}" class="custom-control-label" data-id="{{folder.id}}"> {{ folder.name }}</label>
                </div>
                  {% endfor %}
              </div>
            </div>
        </li>
        <li> EMPLACEMENTS:
        	<ul>
        		<li>Cours A (2)</li>
        		<li>Cours B (2)</li>
        	</ul>	
        </li>
    </ul>
    <div class="form-img" id="form-sidebar">
    	<div class="form-group">
    		<label>NOM DU FICHIER</label>
    		<input type="text" name="name-file" id="name-file" class="form-control" value="{{media.name}}">
    	</div>
    	<div class="form-group">
    		<label>TITRE</label>
    		<input type="text" name="title-file" id="title-file" class="form-control" value="{{media.title}}">
    	</div>
    	<div class="form-group">
    		<label>TEXTE ALTERNATIF</label>
    		<input type="text" name="alternativ-text" id="alternativ-text" class="form-control" placeholder="Décrire l'image" value="{{media.alternatifText}}">
    	</div>
    	<div class="form-group">
    		<label>DESCRIPTION</label>
    		<textarea name="description" id="description" class="form-control" > {{media.description}}</textarea>
    	</div>
    	<div class="row">
    		<button class="col-4 btn btn-primary p-1 replace-file">Remplacer</button>
    		<button class="col-4 btn btn-primary p-1 delete-image" data-id="">Supprimer</button>
    		<button class="col-4 btn btn-primary p-1 save-file" data-id="{{media.id}}">Enregister</button> 
        </div>
    </div>
</div> <!-- /#sidebar-wrapper -->

<script type="text/javascript">
    $(document).ready(function() {
        checkboxDropdown('.sidebar-dropdown');
        $('.save-file').click(function(e) {
            e.preventDefault();
            var id             = $(this).attr('data-id');
            var nameFile       = $('#name-file').val();
            var alternativText = $('#alternativ-text').val();
            var title          = $('#title-file').val();
            var description    = $('#description').val();
            var foldersIds     = $('#choose-folder').attr('data-ids');
            var picture = $('#item-img-output').attr('src');
            var namePic = $('#picId').val();
           $.ajax({
                type: "POST",
                url: '/admin/updateFile',
                data: { id: id, nameFile: nameFile, title: title, alternativText: alternativText, description: description,foldersIds: foldersIds, picture: picture, name: namePic  },
                success: function(data) {
                    if (data == "success") {
                        location.reload();
                    }
                }
            });
        });
        $('.delete-image').click(function(e) {
            e.preventDefault();
            var id = $(this).attr('data-id');
            var path = $(this).attr("data-path");
            console.log( id);
            if (id) {
                $.ajax({
                    type: "POST",
                    url: path,
                    data: { id: id },
                    success: function(data) {
                        if (data == "success") {
                            $.ajax({
                                type: "POST",
                                url: '/admin/getMedia',
                                success: function(data) {
                                    $('#file-view').html(data);
                                }
                            });
                        }
                    }
                });
            }
        })
    });
</script>
 <script>
     // Start upload preview image
     var $uploadCrop,
         tempFilename,
         rawImg,
         imageId;
     function readFile(input) {
         if (input.files && input.files[0]) {
             var reader = new FileReader();
             reader.onload = function (e) {
                 $('.upload-demo').addClass('ready');
                 $('#cropImagePop').modal('show');
                 rawImg = e.target.result;
             }
             reader.readAsDataURL(input.files[0]);
         }
         else {
             swal("Sorry - you're browser doesn't support the FileReader API");
         }
     }

     $uploadCrop = $('#upload-demo').croppie({
         viewport: {
             width: 150,
             height: 200,
         },
         enforceBoundary: false,
         enableExif: true
     });
     $('#cropImagePop').on('shown.bs.modal', function(){
         // alert('Shown pop');
         $uploadCrop.croppie('bind', {
             url: rawImg
         }).then(function(){
             console.log('jQuery bind complete');
         });
     });

     $('.item-img').on('change', function () {
         imageId = $(this).data('id');
         tempFilename = $(this).val();
         $('#cancelCropBtn').data('id', imageId);
         readFile(this);
     });

     $('#cropImageBtn').on('click', function (ev) {
         $uploadCrop.croppie('result', {
             type: 'canvas',
             size: 'viewport'
         }).then(function (resp) {
             $('#item-img-output').attr('src', resp);
             $('#cropImagePop').modal('hide');
         });
     });
     // End upload preview image
 </script>
 <script src="{{ asset('js/croppie.js') }}"></script>
