<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Font Awesome JS -->
    <!-- Custom fonts for this template-->
    <link href="{{ asset('css/fontawesome.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="{{ asset('css/sb-admin.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
</head>
<!-- get general font -->


<body class="p-0" style="{{ globalStyle }}">
<div class="wrapper no-font">
    <!-- Sidebar Holder -->

    <!-- Page Content Holder -->
    <div id="content">
        <div class="main-content">
            <div class="row show-chapter">
                {{ htmlContent| raw }}
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
