{% extends 'baseBuilder.html.twig' %}
{% block body %}
    <div class="row builder">
        <div class="col-10 offset-1 text-center">
            <div class="creation-container">
                <div class="col-4 builder-item">
                    <div class="model-builder">
                        <img src="{{ asset('images/builder/bg-2.png') }}">
                        <span class="model-title"> Page existante</span>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#choose-page" class="app-btn-1">Appliquer</a>
                </div>
                <div class="col-4 builder-item">
                    <div class="model-builder">
                        <img src="{{ asset('images/builder/bg-3.png') }}">
                        <span class="model-title"> Vierge</span>
                    </div>
                     <a href="{{path('build_chapter',{'idChapter':idChapter})}}" class="app-btn-2">Appliquer</a>
                </div>
                <div class="col-4 builder-item">
                    <div class="model-builder">
                        <img src="{{ asset('images/builder/bg-1.png') }}">
                        <span class="model-title"> Modéles</span>
                    </div>
                     <a href="#" class="app-btn-3">Appliquer</a>
                </div>
            </div>
        </div>
    </div>

    <!-- modal choose model from existing page -->
    <div class="modal fade builder-modal" id="choose-page" tabindex="-1" role="dialog" aria-labelledby="choose-page" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="top-modal text-center">
                    <img src="{{ asset('images/builder/bg-2.png') }}" width="60%">
                    <span class="d-block text-gray-700">Page existante</span>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="cercel-sh">
                                <a href="" data-toggle="modal" data-target="#learnin-model" class="show-model">
                                    <img src="{{ asset('images/e-learning.png') }}" width="50%">
                                    <span class="text-uppercase d-block">e-learning</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="cercel-sh">
                                <a href="">
                                    <img src="{{ asset('images/sit-blog.png') }}" width="50%">
                                    <span class="text-uppercase d-block">Site et blog</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="cercel-sh">
                                <a href="">
                                    <img src="{{ asset('images/boutique.png') }}" width="50%">
                                    <span class="text-uppercase d-block">Boutique</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">  
                </div>
            </div>
        </div>
    </div>
    <!-- end choose model from existing page  -->

    <!-- modal choose model from existing page -->
    <div class="modal fade builder-modal" id="learnin-model" tabindex="-1" role="dialog" aria-labelledby="earnin-model" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="top-modal row">
                    <div class="col-3 text-left"> <img src="{{ asset('images/builder/bg-2.png') }}" class="exist-page" ></div>
                    <div class="col-8 types-global">
                        <div class="cercel-img active"> <img src="{{ asset('images/e-learning.png') }}" width="20%"></div>  
                        <div class="cercel-img">   <img src="{{ asset('images/sit-blog.png') }}" width="20%"></div>
                        <div class="cercel-img"> <img src="{{ asset('images/boutique.png') }}" width="20%"></div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="validation col-5">
                        <div class="col-12 shadow mb-4 details-formations">
                            <a href="#collapseCardExample1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                    <h6 class="m-0 text-gray-700">CAP AEPE > MATIÉRES GÉNÉRALES > MATH > 01. GÉOMÉTRIE</h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse" id="collapseCardExample1" style="">

                               <a href="#collapseCardExample2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample2">
                                <h6 class="m-0 text-gray-700">Francais</h6>
                            </a>
                                <div class="collapse" id="collapseCardExample2" style=""><ul class="events">
                                        <li>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="element">
                                                        <div class="checkbox custom-control custom-checkbox small">
                                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox1" checked />
                                                            <label for="checkbox1" class="custom-control-label" data-id="3"> Français
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="element">
                                                        <div class="checkbox custom-control custom-checkbox small">
                                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox2" checked />
                                                            <label for="checkbox2" class="custom-control-label" data-id="3"> MATHÉMATIQUES
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            
                        </div>
                        <div class="col-3">
                            
                        </div>
                        <div class="col-3">
                            
                        </div>
                        <div class="col-3">
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">  
                </div>
            </div>
        </div>
    </div>
    <!-- end choose model from existing page  -->
{% endblock %}