{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="full-card shadow mb-4">
        <div class="container">
            <h1>Oops  ! Une erreur est survenue</h1>
            <h2>Le serveur a renvoyé un"{{ statuscode }} ".</h2>
            <p>{{statustext}}</p>
        </div>
    </div>
{% endblock %}
