{% extends 'baseStudent.html.twig' %}
{% block title %}Contact - Kiwi Institute{% endblock %}
{% block top_title %} Contact {% endblock %}
{% block stylesheets %}
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ asset('/assets/images/favicon/favicon.ico') }}"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('ContactForm/vendor/bootstrap/css/bootstrap.min.css') }}">
	<!--===============================================================================================-->
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('ContactForm/fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('ContactForm/vendor/animate/animate.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('ContactForm/vendor/css-hamburgers/hamburgers.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('ContactForm/vendor/animsition/css/animsition.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('ContactForm/vendor/select2/select2.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('ContactForm/vendor/daterangepicker/daterangepicker.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('ContactForm/css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('ContactForm/css/main.css') }}">
	<!--===============================================================================================-->
	<link href="{{ asset('css/fontawesome.css') }}" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link href="{{ asset('css/sb-admin.min.css') }}" rel="stylesheet" />
	<link rel="stylesheet" href="{{ asset('css/select2.css') }}">
	<link href="{{ asset('css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
	<link href="{{ asset('css/style.css') }}" rel="stylesheet" />
	<link href="{{ asset('css/menu.css') }}" rel="stylesheet" />
	<link href="{{ asset('css/kiwi.css') }}" rel="stylesheet" />

	<link rel="apple-touch-icon" sizes="60x60" href="{{asset('images/favicon/apple-icon-60x60.png')}}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{asset('images/favicon/apple-icon-72x72.png')}}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{asset('images/favicon/apple-icon-76x76.png')}}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{asset('images/favicon/apple-icon-114x114.png')}}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{asset('images/favicon/apple-icon-120x120.png')}}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{asset('images/favicon/apple-icon-144x144.png')}}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{asset('images/favicon/apple-icon-152x152.png')}}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{asset('images/favicon/apple-icon-180x180.png')}}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{asset('images/favicon/android-icon-192x192.png')}}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{asset('images/favicon/favicon-32x32.png')}}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{asset('images/favicon/favicon-96x96.png')}}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{asset('images/favicon/favicon-16x16.png')}}">
{% endblock %}
{% block body %}

		<div class="container-contact100">
			<div class="wrap-contact100">
				<div class="contact100-more flex-col-c-m" style="background-image: url('/assets/ContactForm/images/bg-01.jpg');">
					<div class="flex-w size1 p-b-47">
						<div class="txt1 p-r-25">
							<span class="far fa-question-circle"></span>
						</div>

						<div class="flex-col size2">
						<span class="txt1 p-b-20">
							La fonctionnalité messagerie instantanée sera déployée dans un court délai.

						</span>

							<span class="txt2">
							Pour toutes questions ou accompagnement, nous sommes entièrement disponibles en semaine sur les heures d’ouverture de Kiwi Institute.
						</span>
						</div>
					</div>

					<div class="dis-flex size1">
						<div class="txt1 p-r-25">
							<span class="lnr lnr-phone-handset"></span>
						</div>
						<div class="flex-col size2">
						<span class="txt1 p-b-20">
							02.30.96.35.42
						</span>
						</div>
					</div>
					<div class="dis-flex size1 p-b-47">
						<div class="txt1 p-r-25">
							<i class="far fa-clock"></i>
						</div>
						<div class="flex-col size2">
							<span class="txt1">
							9h-12h / 14h-18h
						</span>
						</div>
					</div>

					<div class="dis-flex size1 p-b-47">
						<div class="txt1 p-r-25">
							<span class="lnr lnr-envelope"></span>
						</div>

						<div class="flex-col size2">
						<span class="txt1 p-b-20">
							informatique@kiwi-institute.com
						</span>
						</div>
					</div>
				</div>
				{{ form_start(form, {'attr':{'class':'contact100-form validate-form'}}) }}
				<span class="contact100-form-title">
					Envoyez-nous un message
				</span>
				<label class="label-input100" for="first-name">Qui êtes-vous? *</label>
				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Prénom">
					{{ form_widget(form.firstname, {'attr':{'placeholder':'Prénom','class':"input100"}}) }}
					{#<input id="first-name" class="input100" type="text" name="first-name" placeholder="Prénom">#}
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Nom">
					{{ form_widget(form.lastname, {'attr':{'placeholder':'Nom','class':"input100"}}) }}
					{#<input class="input100" type="text" name="last-name" placeholder="Nom">#}
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="email">Mail de votre compte *</label>
				<div class="wrap-input100 validate-input" data-validate = "Un email valide est requis: ex@abc.xyz">
					{{ form_widget(form.mail, {'attr':{'placeholder':'Ex : nom.prénom@gmail.com','class':"input100"}}) }}
					{#<input id="email" class="input100" type="text" name="email" placeholder="Ex. example@email.com">#}
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="phone">Numéro de téléphone</label>
				<div class="wrap-input100">
					{{ form_widget(form.phone, {'attr':{'placeholder':'Ex : 0659847521','class':"input100"}}) }}
					{#<input id="phone" class="input100" type="text" name="phone" placeholder="Ex. +1 800 000000">#}
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="message">Message *</label>
				{{ form_widget(form.message, {'attr':{'placeholder':'Votre message...','class':"input100"}}) }}
				<div class="wrap-input100 validate-input" data-validate = "Message est obligatoire">
					{#<textarea id="message" class="input100" name="message" placeholder="Écrivez-nous un message"></textarea>#}
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="btn btn-primary">
						Envoyer
					</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>


		<div id="dropDownSelect1"></div>

{% endblock %}

{% block javascripts %}

	<!--===============================================================================================-->
	<script src="{{ asset('ContactForm/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ asset('ContactForm/vendor/animsition/js/animsition.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ asset('ContactForm/vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ asset('ContactForm/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ asset('ContactForm/vendor/select2/select2.min.js') }}"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
	<!--===============================================================================================-->
	<script src="{{ asset('ContactForm/vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ asset('ContactForm/vendor/daterangepicker/daterangepicker.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ asset('ContactForm/vendor/countdowntime/countdowntime.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ asset('ContactForm/js/main.js') }}"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-23581568-13');
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{ asset('js/circle-progress-bar.min.js') }}"></script>
	<script src="{{ asset('js/select2.js') }}"></script>
	<script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
