<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact - Kiwi Institute</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ asset('/assets/images/favicon/favicon.ico') }}"/>
<!--===============================================================================================-->
<!--===============================================================================================-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('ContactForm/fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('ContactForm/vendor/animate/animate.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('ContactForm/vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('ContactForm/vendor/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('ContactForm/vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('ContactForm/vendor/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('ContactForm/css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('ContactForm/css/main.css') }}">
<!--===============================================================================================-->
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<script src="{{ asset('js/circle-progress-bar.min.js') }}"></script>
	<link href="{{ asset('css/sb-admin.min.css') }}" rel="stylesheet" />
	<link href="{{ asset('css/dropzone/dropzone.css') }}" rel="stylesheet" />
	<script src="{{ asset('js/dropzone/dropzone.js') }}"></script>
	<link rel="stylesheet" href="{{ asset('css/select2.css') }}">
	<link href="{{ asset('css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
	<link href="{{ asset('css/admin.css') }}" rel="stylesheet">
	<!--<link rel="stylesheet" href="{{ asset('css/jquery.jOrgChart.css') }}">-->
	<link href="{{ asset('css/style.css') }}" rel="stylesheet" />
	<link href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" />
	<link rel="apple-touch-icon" sizes="60x60" href="{{asset('images/favicon/apple-icon-60x60.png')}}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{asset('images/favicon/apple-icon-72x72.png')}}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{asset('images/favicon/apple-icon-76x76.png')}}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{asset('images/favicon/apple-icon-114x114.png')}}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{asset('images/favicon/apple-icon-120x120.png')}}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{asset('images/favicon/apple-icon-144x144.png')}}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{asset('images/favicon/apple-icon-152x152.png')}}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{asset('images/favicon/apple-icon-180x180.png')}}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{asset('images/favicon/android-icon-192x192.png')}}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{asset('images/favicon/favicon-32x32.png')}}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{asset('images/favicon/favicon-96x96.png')}}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{asset('images/favicon/favicon-16x16.png')}}">
	<link href="{{ asset('css/webfonts/all.css') }}" rel="stylesheet" />
	<link href="{{ asset('css/webfonts/regular.css') }}" rel="stylesheet" />
	<link href="{{ asset('css/webfonts/solid.css') }}" rel="stylesheet" />
	<link href="{{ asset('css/webfonts/fontawesome.css') }}" rel="stylesheet" />
	<link href="{{ asset('css/menu.css') }}" rel="stylesheet" />
	<link href="{{ asset('css/kiwi.css') }}" rel="stylesheet" />
</head>
<body>

<div class="wrapper student no-font">
	<!-- Sidebar Holder -->

	<!-- Sidebar -->
	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion shadow-lg sidebar-student {% if app.request.attributes.get('_route') == 'content_library'  or toggled is defined %} toggled {% endif %} {% if app.request.attributes.get('_route') == 'admin_global_menu' %} d-none {% endif %}" id="accordionSidebar">

		<!-- Sidebar - logo -->
		<li class="nav-item"><a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('admin_global_menu') }}"><img width="150px" height="150px" alt="logo" src="{{ asset('images/svg/logo-kiwi.svg')}}"></a></li>
		<li class="nav-item"><a class="nav-link" id="elearning-menu">
				<select class="text-uppercase select2"  onchange="location = this.value;">
					<option class="text-uppercase" value="{{ path('admin_dashboard') }}">E-learning</option>
					<option class="text-uppercase" value="{{ path('admin_global_menu') }}">Général</option>
					<option class="text-uppercase" value="">Site et blog</option>
					<option class="text-uppercase" value="">Boutique</option>
					<option class="text-uppercase" value="{{ path('type_user') }}">Gestion utilisateurs</option>
					<option class="text-uppercase" value="">Aide</option>
				</select>
			</a> </li>
		<li class="nav-item {% if app.request.attributes.get('_route') == 'admin_dashboard' %}active{% endif %}"><a class="nav-link" href="{{ path('admin_dashboard') }}"><i class="fa fa-home" id="home-menu"></i><span style="margin-top: -29px;">Dashboard</span></a> </li>

		<li class="nav-item {% if app.request.attributes.get('_route') == 'admin_config' %}active{% endif %}"><a class="nav-link" href="{{ path('admin_config') }}"><i class="fa fa-cog" id="reg-menu"></i><span style="margin-top: -29px;">Réglages</span></a> </li>
		<li class="nav-item {% if app.request.attributes.get('_route') == 'home_formation' %}active{% endif %}"> <a class="nav-link" href="{{ path('home_formation') }}"><i class="fa fa-list" id="formation-menu"></i><span style="margin-top: -29px;">Formations</span> </a></li>

		<li class="nav-item {% if app.request.attributes.get('_route') == 'admin_rewards' %}active{% endif %}"><a class="nav-link" href="{{ path('admin_rewards') }}"><i class="fa fa-medal" id="recomp-menu"></i><span style="margin-top: -29px;">Récompenses</span></a> </li>

		<li class="nav-item {% if app.request.attributes.get('_route') == 'content_library' %}active{% endif %}"> <a class="nav-link" href="{{ path('content_library') }}"> <i class="fas fa-images" id="content-menu"></i><span style="margin-top: -29px;">Bibliothèque de contenus</span> </a> </li>
		<li class="nav-item {% if app.request.attributes.get('_route') == 'admin_profil' %}active{% endif %}"> <a class="nav-link" href="{{ path('admin_profil') }}"> <i class="fa fa-user" id="user-menu"></i><span style="margin-top: -29px;">Profil</span></a> </li>
		<li class="nav-item {% if app.request.attributes.get('_route') == 'admin_statistical' %}active{% endif %}"> <a class="nav-link" href="{{path ('admin_statistical')}}"><i class="fa fa-chart-line" id="stat-menu"></i><span style="margin-top: -29px;">Statistiques</span></a> </li>
		<li class="nav-item {% if app.request.attributes.get('_route') == 'admin_planing' %}active{% endif %}"> <a class="nav-link" href="{{ path ('admin_planing') }}"><i class="fa fa-calendar" id="planing-menu"></i><span style="margin-top: -29px;">Plannings</span></a> </li>
		<li class="nav-item {% if app.request.attributes.get('_route') == 'contact' %}active{% endif %}"> <a class="nav-link" href="{{path('contact')}}"><i class="fa fa-envelope" id="messagerie-menu"></i><span style="margin-top: -29px;">Messagerie</span></a> </li>
		<li class="nav-item {% if app.request.attributes.get('_route') == 'admin_forums' %}active{% endif %}"> <a class="nav-link" href="{{path ('admin_forums')}}"><i class="fas fa-comments" id="forums-menu"></i><span style="margin-top: -29px;">Forums</span> </a></li>
		<li class="nav-item {% if app.request.attributes.get('_route') == 'admin_books' %}active{% endif %}"> <a class="nav-link" href="{{path ('admin_books')}}"><i class="fa fa-play" id="video-menu"></i><span style="margin-top: -29px;">Lives et Vidéos</span></a> </li>
		<!-- Divider -->

		<!-- Sidebar Toggler (Sidebar) -->
		<!--<div class="text-center d-none d-md-inline d-md-none">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>-->
	</ul>
	<!-- End of Sidebar -->
	<!-- Page Content Holder -->
	<div id="content">
		<!-- Topbar -->
		<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top">

			<!-- Sidebar Toggle (Topbar) -->
			<button id="sidebarToggleTop" class="btn btn-link  {% if app.request.attributes.get('_route') == 'admin_global_menu' %} d-none {% endif %}"> <i class="fa fa-bars pt-1"></i> </button>

			<!-- Topbar Search -->
			<div class="d-sm-flex align-items-center justify-content-between">
				<h1 class="h3 mb-0 text-gray-800 pl-5">
					{% block top_title %} Contact {% endblock %}</h1>
			</div>

			<!-- Topbar Navbar -->
			<ul class="navbar-nav ml-auto custom-navbar">
				<li class="nav-item no-arrow">
					<div class="switch_box box_3">
						<div class="toggle_switch">
							<input type="checkbox" class="switch_3">
							<svg class="checkbox" xmlns="http://www.w3.org/2000/svg" style="isolation:isolate" viewBox="0 0 168 80">
								<svg class="is_checked"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px"  viewBox="-25 8 64 60" enable-background="new 0 0 32 32" xml:space="preserve">
                                    <image xmlns="http://www.w3.org/2000/svg" id="image0" width="78" height="78" x="0" y="0" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAABOCAMAAAC5dNAvAAAABGdBTUEAALGPC/xhBQAAACBjSFJN AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAB71BMVEUAAACHLoWNLoWULoaa LoahLoesLoOuLX2xLHezLHK1K2x5LoR/LoW4KmW7Kl9sL4RxL4S9KVjAKFNkL4NqL4PAKFHCJ0xe L4PFJ0ZXL4LHJkBRL4JVL4LIJj7KJTpPL4LKJThKL4LMJDNIL4HNJDJDL4HPJC1DL4HPJCw1RILQ IywsUoPQIys7O4LQJCzPJC1DL4FJL4HNJDLMJDNQL4LKJThRL4LIJj5XL4JcL4PFJkTHJkBeL4Nj L4PDJ0vEJ0ZlL4NqL4PAKFLCJ01sL4RxL4S9KVi/KFR6LoR/LoWGLoW2K2u4KmW7KmCNLoWTLoaa LoahLoeoLoesLoOuLX2xLHezLHGoLoeGLoWMLoWTLoaaLoahLoesLoOuLX2xLHezLHG2K2t4LoR/ LoW4KmW7KV5xL4S9KVhjL4NqL4PAKFHDJ0tcL4PFJkStO47Gb6rXlr7YlrvZlbjIYJBVL4KnSJXc sdL////25OzPbZTIJj5PL4K7fLP58vfjsMm6OHTLJTe3fLPTiLJIL4GUSJT48vfmvdbNJDHRsdG4 R42GO4zgsNCeYqPLfLG+l8LBYqK2ibqWVZvRibnw5fDw2OfCl8LCYp3p2Oj15e+2OX+TO43q2Ojx 1+W4OXqaO47my+H68vbNbZm4YqXkvtn68vf7o6A1AAAAV3RSTlMAIHCfv+/fv59gIEC/v0Agv78g UO/vQGBgUEAg7+8Qv69AQK+vIBBgYJ+Pv7+PgFAQn58gn48Q3zDv7zAw7+8wMN/fMBCPjxAgn+/v nyBQgK+/v7+vgFCgmyOVAAAAAWJLR0R3RmT51wAAAAd0SU1FB+MGGBE4A9WbbVoAAAGKSURBVFjD 7dTVUgMxGIbh4O4Oxd3d3d2lhUKLu1uhWHF3d71QIDubboWDZHvQYfJewDP/7GQ/AGg0Go1G++cZ GBoZmwhNzcwtLPljVtai1jZxu7BDIu3ssrHlh9nZd/dwuN4+B0cempNzvxo34OJKrLkNDmlwwyPu hJrHqFZuzJNI8xJwuPGJyanpGYbz9iHhfGcRNzcv+21hEXJyPwLNfwlxyytQW11jrpMrAvC5QMSt Q0y2wX47uSIIWwveZLmtbajtSJXcbgguF4q4Pea4fS4XhsuFs9wBox1KuFwELhfJckcMd6zCRRFz Jwx3qp/cmW65c4a74MdFo4dyCbkrFS4Gl1O+u2vmvBsuF4vLxSFOdAu5u3s+fwWIR9zDI/SenhGX gK1xF+XlFXpv7yyXiM+BJOXeiT8+vzh7l0yggRTBH+OeSrTGIC1dK5eRSaQBkJWthcvJJdQAyMvX 4AoKiTUAiorVuJJSHtpPZeUViKusquaHwWpq6+obGpuaW3Rg0Wg0Go1G05e+ATdNNGTkZqCnAAAA JXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTA2LTI1VDAwOjU2OjAzLTA3OjAw4YRG8QAAACV0RVh0ZGF0 ZTptb2RpZnkAMjAxOS0wNi0yNVQwMDo1NjowMy0wNzowMJDZ/k0AAAAZdEVYdFNvZnR3YXJlAEFk b2JlIEltYWdlUmVhZHlxyWU8AAAAAElFTkSuQmCC"/>
                                 </svg>
								<svg class="is_unchecked"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="20 8 50 60" enable-background="new 0 0 32 32" xml:space="preserve">
                                    <image xmlns="http://www.w3.org/2000/svg" id="image0" width="78" height="78" x="0" y="0" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAABOCAMAAAC5dNAvAAAABGdBTUEAALGPC/xhBQAAACBjSFJN AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAACOlBMVEUAAACQLoaVLoacLoai LoepLoesLoOuLX2wLHiyLHN8LoSCLoWILoW1K2y4Kma5KmJwL4R1L4S6KmC9KVpoL4NuL4S/KFTB KE9iL4PCJ07EJ0lbL4PGJkRVL4LHJkLIJT1PL4JUL4LJJTtOL4LLJTZJL4LMJTXNJDFIL4HNJDBD L4HOJC9DL4HQIytCL4HQIyswTIPQIyosUoPQIyvQIyvOJC9HL4HOJDBOL4JPL4LJJTvLJTdVL4LI JT1bL4PGJkNhL4PEJ0loL4O/KFTBJ09vL4R1L4S9KVq+KFZ8LoSBLoW1K2y4Kma6KmKKLoWPLoWV LoacLoaiLoepLoesLoOuLX2wLHizLHKPLoWVLoacLoaiLoepLoesLoOuLX2wLHizLHJ7LoSBLoWI LoW1K2y4KmZ0L4SzVZ368ve6KmC9KVpnL4NuL4S5YqX///+/KFRhL4PCJ07EJ0haL4ONY6KpfbLm r8LHJkJUL4LIsdGtfLLlr8TXeZPJJTtNL4LKsdGpb6vgor3WeZfFpMmxfLPBfLPRl8PUl8PVlsHC Yp3blbPUeZvMJTVHL4Gxb6vy5fDw1+XBU4ysb6v68vbDU4fOJC+JO4338vftytq3ibrFUoLfy+Hc lbJYPIrk2Oj45OZ+Y6GDY6KIY6KJVpvPXn7RXXrTXXXVXHHTTmDHpMrObZWRSJT25ey7ibrIYJC/ ibrGYJW0ibqhYqSiSJXNl8Poy+Hpy+HlvtjSiba1OYDSeqDQbJH05fBwPIvlDcw/AAAAWHRSTlMA IGCAgICAgFAgII/fz3AQEJ/vgFDvzzBg70BgQFDvMCDvz6+AQO8Qn2AQz1AQgECvgL9QIN+vgL8w 3xBwQJ9gn2Bw71Awv58QQK/vnyAQUICvv7+/n4BAY3cYKQAAAAFiS0dEbiIPURcAAAAHdElNRQfj BhgRMBsOLn8EAAAB70lEQVRYw2NgGAWjYBSMglEwCigHjEzMLKxs7BycVDCLi5snIjIqOiY2Lj6B l4+fMsMEBBOTkuHGpaQKCVNimohoGsS49AyIcZlZYuJkmyaRnQM1LjcPZly+pBSZpkkXYDOusEiG LNNki3EYJydPhmkKisUFJXmlaMaV5RUWlSuRYZxyBdB1lXlVKDFbnVcDNK5WhWTTVOtAxuXU5zUg GdeY15QPMk5NnVTjNCDGpTW3AI1rbWvv6AQa19WdBTauR5NE07R6ocYBw66vPw8EJkyERgXQOG0S jdNBGDcpDwomT4EbN1WXNOP04MZNmw4zLm8Gwjh90owzgBs3Mw8BZsGNMyTNOCO4cbORjJtDvnFz QfrnYRgHouaT47oFCxeVLMYwbsnSZctXUODZlUjGrSLXs4iYXY0wbQ0iZo1JMw4p3a2FG7cOYZwJ acYh54r10FS8AZErTEkzjYHBDGrcxk3JEZu3bN22fcfOhJRdu6HGmZNqHN4SpYfkEoXBgqrlHYNl BVJpnL4HuTS2sibdOAab4oK9izHqiiVA42zJMI2BwQ5H1WNPlmkMDA5YjXMk0zQGBidM45xdyDaN gcHVDbWNkunuQYFpQODphTDO28eXMsNAwM8/IDAoOCQ0LJxys0bBKBgFo2AUjIJRMGgAAAKcZQ4F kCXNAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTA2LTI1VDAwOjQ4OjI3LTA3OjAwiKmK7AAAACV0 RVh0ZGF0ZTptb2RpZnkAMjAxOS0wNi0yNVQwMDo0ODoyNy0wNzowMPn0MlAAAAAZdEVYdFNvZnR3 YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAAElFTkSuQmCC"/>
                                 </svg>
							</svg>
						</div>
					</div>
				</li>
				<!-- Nav Item - Alerts -->
				<li class="nav-item dropdown no-arrow mx-1"> <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{ asset('images/svg/ico_notification.svg')}}" width="30px" height="30px"> </a> </li>
				<li class="nav-item dropdown no-arrow user-profile" id="user-kiwi">
					<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img  class="img-profile rounded-circle" src="{{ asset('/images/users/' ~ app.user.getPicture()) }}">
					</a>
					<!-- Dropdown - User Information -->
					<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" id="adminDrop">
						<div class="row text-gray-700">
							<div class="text-center"> {{ app.user.username|title  ~ ' ' ~ app.user.lastname|title }}</div>
						</div>
						{#<div class="dropdown-divider"></div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label for="admin" class="radio">
                                <input type="radio" name="roles" id="admin"/>
                                <span class="label"></span>Administrateur
                            </label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label for="student" class="radio">
                                <input type="radio" name="roles" id="student"/>
                                <span class="label"></span>Etudiant
                            </label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label for="formator" class="radio">
                                <input type="radio" name="roles" id="formator"/>
                                <span class="label"></span>Formateur
                            </label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label for="coach" class="radio">
                                <input type="radio" name="roles" id="coach"/>
                                <span class="label"></span>Coach
                            </label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label for="writer" class="radio">
                                <input type="radio" name="roles" id="writer"/>
                                <span class="label"></span>Editeur
                            </label>
                        </div>#}
						<div class="dropdown-divider"></div>
						<div class="block-content text-center mr-3" id="langue">
							<span>Langue de la plateforme</span>
							<select class="form-control btn-user ml-3 pr-0">
								<option> francais</option>
							</select>
						</div>
						<div class="dropdown-divider"></div>
						<div class="block-content text-center mr-3" id="langue">
							<span class="pl-1">Langue des formations</span>
							<select class="form-control btn-user ml-3 pr-0">
								<option> francais</option>
							</select>
						</div>
						<a class="dropdown-item btn-help btn-user" href="{{ path('contact') }}" >Aide</a></div>
				</li>
				<li class="nav-item dropdown no-arrow mx-1"> <a class="nav-link" href="#" data-href="" data-toggle="modal" data-target="#lamp-modal"> <img src="{{ asset('images/lamp.gif')}}" width="50px"> </a> </li>
				<li class="nav-item dropdown no-arrow mx-1"> <a class="nav-link dropdown-toggle" href="{{ path('logout_form') }}"> <img src="{{ asset('images/svg/ico-singin.svg')}}" width="30px" height="30px"> </a></li>

				<!-- Nav Item - User Information -->
			</ul>
		</nav>
		<!-- End of Topbar -->
		<div class="main-content">
			<div class="container-contact100">
				<div class="wrap-contact100">
					<div class="contact100-more flex-col-c-m" style="background-image: url('/assets/ContactForm/images/bg-01.jpg');">
						<div class="flex-w size1 p-b-47">
							<div class="txt1 p-r-25">
								<span class="far fa-question-circle"></span>
							</div>

							<div class="flex-col size2">
						<span class="txt1 p-b-20">
							La fonctionnalité messagerie instantanée sera déployée dans un court délai.

						</span>

								<span class="txt2">
							Pour toutes questions ou accompagnement, nous sommes entièrement disponibles en semaine sur les heures d’ouverture de Kiwi Institute.
						</span>
							</div>
						</div>

						<div class="dis-flex size1">
							<div class="txt1 p-r-25">
								<span class="lnr lnr-phone-handset"></span>
							</div>
							<div class="flex-col size2">
						<span class="txt1 p-b-20">
							02.30.96.35.42
						</span>
							</div>
						</div>
						<div class="dis-flex size1 p-b-47">
							<div class="txt1 p-r-25">
								<i class="far fa-clock"></i>
							</div>
							<div class="flex-col size2">
							<span class="txt1">
							9h-12h / 14h-18h
						</span>
							</div>
						</div>

						<div class="dis-flex size1 p-b-47">
							<div class="txt1 p-r-25">
								<span class="lnr lnr-envelope"></span>
							</div>

							<div class="flex-col size2">
						<span class="txt1 p-b-20">
							informatique@kiwi-institute.com
						</span>

							</div>
						</div>
					</div>
					{{ form_start(form, {'attr':{'class':'contact100-form validate-form'}}) }}
					<span class="contact100-form-title">
					Envoyez-nous un message
				</span>
					<label class="label-input100" for="first-name">Qui êtes-vous? *</label>
					<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Prénom">
						{{ form_widget(form.firstname, {'attr':{'placeholder':'Prénom','class':"input100"}}) }}
						{#<input id="first-name" class="input100" type="text" name="first-name" placeholder="Prénom">#}
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Nom">
						{{ form_widget(form.lastname, {'attr':{'placeholder':'Nom','class':"input100"}}) }}
						{#<input class="input100" type="text" name="last-name" placeholder="Nom">#}
						<span class="focus-input100"></span>
					</div>

					<label class="label-input100" for="email">Mail de votre compte *</label>
					<div class="wrap-input100 validate-input" data-validate = "Un email valide est requis: ex@abc.xyz">
						{{ form_widget(form.mail, {'attr':{'placeholder':'Ex : nom.prénom@gmail.com','class':"input100"}}) }}
						{#<input id="email" class="input100" type="text" name="email" placeholder="Ex. example@email.com">#}
						<span class="focus-input100"></span>
					</div>

					<label class="label-input100" for="phone">Numéro de téléphone</label>
					<div class="wrap-input100">
						{{ form_widget(form.phone, {'attr':{'placeholder':'Ex : 0659847521','class':"input100"}}) }}
						{#<input id="phone" class="input100" type="text" name="phone" placeholder="Ex. +1 800 000000">#}
						<span class="focus-input100"></span>
					</div>

					<label class="label-input100" for="message">Message *</label>
					{{ form_widget(form.message, {'attr':{'placeholder':'Écrivez-nous un message','class':"input100"}}) }}
					<div class="wrap-input100 validate-input" data-validate = "Message est obligatoire">
						{#<textarea id="message" class="input100" name="message" placeholder="Écrivez-nous un message"></textarea>#}
						<span class="focus-input100"></span>
					</div>

					<div class="container-contact100-form-btn">
						<button class="contact100-form-btn">
							Envoyer
						</button>
					</div>
					{{ form_end(form) }}

				</div>
			</div>
			<div id="dropDownSelect1"></div>
		</div>
	</div>
	</div>

<!--===============================================================================================-->
	<script src="{{ asset('ContactForm/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ asset('ContactForm/vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ asset('ContactForm/vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ asset('ContactForm/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ asset('ContactForm/vendor/select2/select2.min.js') }}"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="{{ asset('ContactForm/vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ asset('ContactForm/vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ asset('ContactForm/vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ asset('ContactForm/js/main.js') }}"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<script src="{{ asset('js/select2.js') }}"></script>
	<script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('js/Sortable.min.js') }}"></script>


	<script src="{{ asset('js/OrgChart.js') }}"></script>
	<script src="{{ asset('js/ajax-live-search.min.js') }}"></script>
	<script src="{{ asset('js/bootstrap-datetimepicker.js') }}"></script>
	<script src="{{ asset('js/locales/bootstrap-datetimepicker.fr.js') }}"></script>
	<script src="{{ asset('js/main.js') }}"></script>
	<script src="{{ asset('js/jplist.core.min.js') }}"></script>
	<script src="{{ asset('js/jplist.sort-bundle.min.js') }}"></script>
	<!-- modal lampe magique -->
	<div class="modal fade" id="lamp-modal" tabindex="-1" role="dialog" aria-labelledby="lamp-modal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header pb-1">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h5 class="modal-title default-title" id="exampleModalLongTitle">QUEL EST VOTRE SOUHAIT AUJOURD'HUI</h5>
					<h5 class="modal-title hidden success-title"> MERCI DE PARTICIPER À NOTRE AMÉLIORATION !</h5>
				</div>
				<div class="modal-body pt-0">

					<div class="default-content">
						<p>Envie de plus de modèles de pages de cours ? Vous rêvez d’un module de jeu spéciﬁque ? D’un format de ﬁchier ? D’une nouvelle fonctionnalité ?</p>
						<label>Nous sommes à votre écoute</label>
						<textarea class="form-control" rows="3"> </textarea>
						<button type="button" class="btn btn-primary float-right m-2" id="click-lamp" data-path="{{path('add_folder_note')}}">Frotter la lampe</button>
					</div>
					<div class="hidden new-content">
						<p>
							Nos petits génies vont étudier attentivement votre demande
						</p>
						<p>
							Il est possible que nous vous contactions pour vous demander plus de précisions ou tout simplement vous annoncer...
						</p>
						<p><strong>...la date à laquelle votre voeux sera exaucé !</strong></p>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>
