{% extends 'base.html.twig' %}
{% block body %}
<h1><span>Confirmation d'inscription</span></h1>
<div>
    <h3 align="justify">
        <strong>Votre inscription a bien été prise en compte.</strong>
    </h3>
    <p align="justify">Merci d'avoir pris le temps de renseigner ce formulaire.</p>
    <p><strong>Vous devez confirmer votre inscription en cliquant sur le lien contenu dans l'email que nous venons juste de vous envoyer. </strong></p>
</div>
{% endblock %}