{% extends 'base.html.twig' %}
{% block title %}Mentions légales - Kiwi Institute{% endblock %}
{% block body %}
    <div class="container" id="custommentionlegal">
        <h1 class="text-center">Protection des données</h1>
        <div class="row">
            <div class="col-6">
                <h2>Article 12 – Protection des Données </h2>
                <p>   Toutes les données personnelles recueillies sur le site sont traitées avec la plus stricte confidentialité. Nous vous rappelons que vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent :(art. 34 de la loi " Informatique et Libertés " du 6 janvier 1978).
                </p>
                <p>Par l'inscription aux différents formulaires, vous autorisez expressément Kiwi Institute à utiliser les informations vous concernant, en particulier, les informations issues des demandes d'informations à des fins de prospection commerciale, notamment par courrier électronique, dans les conditions posées par l'article L. 34-5 du Code des postes et des communications électroniques. </p>
                <p> Vous pouvez vous y opposer et exercer ce droit, sans frais hormis ceux liés à la transmission du refus, en adressant à Kiwi institute un courrier à l'adresse ci-dessous :<br>
                    Kiwi Institute Sas<br>
                    1 Place du Marechal Juin - 35 000 Rennes
                </p>
                <h2>Responsabilité </h2>
                <p>La responsabilité de Kiwi Institute ne saurait être engagée pour tous les inconvénients ou dommages inhérents à l'utilisation du réseau Internet, notamment une rupture du service, une intrusion extérieure ou la présence de virus informatiques, ou de tout fait qualifié de force majeure, conformément à la jurisprudence. </p>
                <p>Bien qu'une très grande attention ait été apportée à la réalisation de ce site, Kiwi Institute ne saurait être tenu responsable des éventuelles erreurs qui pourraient s'y trouver. </p>
              <h2>Propriété intellectuelle </h2>
                <P>Tous les éléments du site lms.kiw-institute.com, y compris logos, images et documents téléchargeables, sont protégés par le droit d'auteur, des marques ou des brevets. Ils sont la propriété exclusive de Kiwi institute . En conséquence, vous ne pouvez en aucun cas et d'aucune manière, reproduire, représenter, diffuser, modifier, concéder tout ou partie de l'un quelconque des éléments reproduits sur le site et tout ou partie du site sans l'accord préalable et expresse de Kiwi Institute. </P>
               <P>Tous les éléments du site lms.kiw-institute.com, y compris logos, images et documents téléchargeables, sont protégés par le droit d'auteur, des marques ou des brevets. Ils sont la propriété exclusive de Kiwi institute . En conséquence, vous ne pouvez en aucun cas et d'aucune manière, reproduire, représenter, diffuser, modifier, concéder tout ou partie de l'un quelconque des éléments reproduits sur le site et tout ou partie du site sans l'accord préalable et expresse de Kiwi Institute. </P>
               <h2>Finalités de la collecte et du traitement des données </h2>
                <p>Les données personnelles collectées sur notre site sont utilisées pour réaliser le traitement des commandes et gérer la relation commerciale (livraisons de la prestation, factures). Nous pouvons également utiliser vos données à des fins publicitaires, soit après avoir recueilli votre consentement exprès, soit dans les limites autorisées par la loi. Nous sommes également susceptibles d’utiliser vos données pour satisfaire le cas échéant à nos obligations légales et/ou règlementaires. </p>

            </div>
            <div class="col-6">
                <h2>Destinataires des données à caractère personnel </h2>
                <p>Les destinataires de vos données à caractère personnel collectées sur notre site sont en tout premier lieu nous-mêmes pour le traitement de vos commandes et la gestion de la relation client. D’autres destinataires de vos données personnelles sont, le cas échéant, nos prestataires de moyens de paiement ou de sécurisation des paiements, nos prestataires de livraison, nos partenaires commerciaux. Dans le cas où cela est exigé par la loi, votre consentement est recueilli ou une possibilité de refus vous est aménagée avant toute transmission de données. </p>
                <h2>Vos Droits</h2>
                <p>Il est rappelé que la personne dont les données à caractère personnel sont traitées bénéficie des droits d’accès, de rectification et d’opposition au traitement de ses données à caractère personnel. Vous pouvez exercer ces droits en vous adressant au service Webmarketing (informatique@kiwi-institute.fr) </p>
                <h2>Cookies </h2>
                <p>Notre site internet utilise des cookies. Il s’agit de petits fichiers texte enregistrés sur votre disque dur. Les cookies utilisés sur notre site nous permettent de vous proposer les services suivants : liste de souhaits, sauvegarde du panier, identification lors d’une nouvelle visite, mémorisation des consultations. </p>
              <p>La plupart des cookies sont destinés à permettre ou faciliter votre navigation et sont nécessaires au fonctionnement de notre boutique en ligne. L’utilisation de cookies, propres ou tiers, n’étant pas obligatoirement nécessaires au fonctionnement du site nécessite un consentement exprès de votre part. Vous pouvez manifester votre consentement ou vous opposer à l’utilisation des cookies en paramétrant votre dispositif de connexion de manière appropriée. Reportez-vous pour cela notamment au guide d’utilisation de votre navigateur.</p>
            <p><i>Cookies de mesure d’audience</i></p>
                <p>Ces cookies nous permettent de collecter des informations sur la fréquentation du site. Ils ne sont activés que par acceptation exprès de l’internaute.  Le cookie _ga a une durée de vie maximum de 13 mois. Chaque internaute est également anonymisé sur le site par respect pour sa vie privée </p>
            </div>
        </div>
        <a href="{{ path('dashboard_student')}}" class="custombtnmentionlegal btn btn-primary">
            Retour
        </a>
    </div>





{% endblock %}