{% extends 'base.html.twig' %}
{% block title %}Kiwi Institute - Connexion{% endblock %}
{% block body %}
<div class="login">
    <div class="wrapper d-flex">
        <div class="container container-signup m-auto">
            <div class="text-black-50">
                <a class="sidebar-brand d-flex align-items-center justify-content-center mb-4" href="#"><img width="250px" height="250px" alt="logo" src="{{ asset('images/kiwi/logo.svg')}}"></a>
            </div>
            <h1 class="h3 mb-3 font-weight-normal text-white text-center">Mot de passe oublié</h1>
            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            <form class="user text-center" method="post">
                <div class="form-group">
                    <input type="email" class=" form-control" required name="email" class="form-control" placeholder="MAIL">
                </div>
                <button type="submit" class="btn btn-primary btn-user">Envoyer</button>
                <a href="{{ path('login_form') }}" class="text-white mt-3 pl-3 d-block text-left">< Revenir à la page de connexion</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
