{% extends 'base.html.twig' %}
{% block title %}Mentions légales - Kiwi Institute{% endblock %}
{% block body %}
<div class="container" id="custommentionlegal">
    <h1 class="text-center">Mentions légales</h1>
    <div class="row">
        <div class="col-6">
           <p><strong>Raison sociale :</strong> SARL Kiwi Institute - Organisme de formation professionnelle
           </p>
            <p><strong>Siège social :</strong>   1 place Maréchal Juin - 35000 Rennes</p>
            <p><strong>E-mail :</strong>  contact@kiwi-institute.com</p>
            <p><strong>Tél :</strong>02.30.96.35.42</p>
            <p><strong>Rcs :</strong> Rennes B 530 051 267</p>
        </div>
        <div class="col-6">
            <p><strong>Capital social :</strong> 10 000 €</p>
            <p><strong> Numéro de déclaration d’activité auprès de la Préfecture d’Ille et Vilaine</strong>
                3 Avenue de la Préfecture, 35026 Rennes : 53 35 09771 35. Cet enregistrement ne vaut pas agrément de l'Etat.
            </p>
            <p><strong>Numéro de TVA intracommunautaire :</strong>   FR27530051267</p>
        </div>
    </div>


<div class="row">
    <div class="col-6">
    <h2>Respect de la réglementation</h2>
        <p>    Ce site respecte la vie privée de l'internaute et est en accord avec les lois en vigueur sur la protection de la vie privée et des libertés individuelles.
            </p>
        <p><strong>Aucune information personnelle n'est collectée à votre insu.</strong></p>
        <p> Aucune information personnelle n'est cédée à des tiers.</p>
        <p>Les courriels, les adresses électroniques ou autres informations nominatives dont ce site est destinataire ne font l'objet d'aucune exploitation et ne sont conservés que pour la durée nécessaire à leur traitement.</p>
    </div>
    <div class="col-6">
        <h2>Cookies</h2>
        <p>la navigation sur ce site ne génère aucun cookie.</p>
        <p>Les cookies sont de petites quantités d’informations stockées dans des fichiers au sein même du navigateur de votre ordinateur. Les cookies sont accessibles et enregistrés par les sites internet que vous consultez, et par les sociétés qui affichent leurs annonces publicitaires sur des sites internet, pour qu’ils puissent reconnaître le navigateur. Les sites Internet peuvent uniquement accéder aux cookies qu’ils ont stockés sur votre ordinateur
        </p>
    </div>
</div>

        <h2>Vos Choix Concernant les Cookies et Balises Web</h2>
    <div class="row">
        <div class="col-6">
        <p> Vous avez le choix de configurer votre navigateur pour accepter tous les cookies, rejeter tous les cookies, vous informer quand un cookie est émis, sa durée de validité et son contenu, ainsi que vous permettre de refuser son enregistrement dans votre terminal, et supprimer vos cookies périodiquement.</p>
        </div>
        <div class="col-6">
       <p> Vous pouvez paramétrer votre navigateur Internet pour désactiver les cookies. Notez toutefois que si vous désactivez les cookies, votre nom d’utilisateur ainsi que votre mot de passe ne seront plus sauvegardés sur aucun site web. Pour plus d’informations relatives aux méthodes vous permettant de supprimer et de contrôler les cookies stockés sur votre ordinateur, consultez le site suivant : http://www.allaboutcookies.org/fr/
       </p>
        </div>
    </div>


        <h2>Comment configurer votre navigateur</h2>
    <div class="row">
        <div class="col-6">
        <p><strong>Firefox :</strong></p>
        <ul class="bullet">
            <li>	1. Ouvrez Firefox</li>
            <li>	2. Appuyez sur la touche « Alt »</li>
            <li>	3. Dans le menu en haut de la page cliquez sur « Outils » puis « Options »</li>
            <li>	4. Sélectionnez l’onglet « Vie privée »</li>
            <li>	5. Dans le menu déroulant à droite de « Règles de conservation », cliquez sur « utiliser les paramètres personnalisés pour l’historique »</li>
            <li>	6. Un peu plus bas, décochez « Accepter les cookies »</li>
            <li>	7. Sauvegardez vos préférences en cliquant sur « OK »</li>
        </ul>
        </div>
        <div class="col-6">

            <p>	<strong>	Internet Explorer :</strong></p>
            <ul class="bullet">
       <li>	1. Ouvrez Internet Explorer</li>
            <li>2. Dans le menu « Outils », sélectionnez « Options Internet »</li>
            <li>	3. Cliquez sur l’onglet « Confidentialité »</li>
            <li>	4. Cliquez sur « Avancé » et décochez « Accepter »</li>
            <li>5. Sauvegardez vos préférences en cliquant sur « OK »</li>
        </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6">

                <p>	<strong>	Google Chrome :</strong></p>
            <ul class="bullet">
                <li>	1. Ouvrez Google Chrome</li>
                <li>	2. Cliquez sur l’icône d’outils dans la barre de menu</li>
                <li>3. Sélectionnez « Options »</li>
                <li>	4. Cliquez sur l’onglet « Options avancées »</li>
                <li>	5. Dans le menu déroulant « Paramètres des cookies », sélectionnez « Bloquer tous les cookies »</li>

            </ul>
        </div>
        <div class="col-6">

                    <p>	<strong>	Safari :</strong></p>
            <ul class="bullet">
            <li>	1. Ouvrez Safari</li>
            <li>	2. Dans la barre de menu en haut, cliquez sur « Safari », puis « Préférences »</li>
            <li>	3. Sélectionnez l’icône « Sécurité »</li>
            <li>	4. À côté de « Accepter les cookies », cochez « Jamais »</li>
            <li>	5. Si vous souhaitez voir les cookies qui sont déjà sauvegardés sur votre ordinateur, cliquez sur « Afficher les cookies »</li>
        </ul>
        </div>
    </div>
    <h2>Site hébergeur</h2>
   <p>Online SAS - BP 438 - 75366 Paris CEDEX 08 - RCS Paris B 433 115 904 - France- Web : http://www.online.net
   </p>
    <p class="text-right"><strong>Mis à jour le 08/2019</strong></p>
<a href="{{ path('dashboard_student')}}" class="custombtnmentionlegal btn btn-primary">
Retour
</a>
</div>





{% endblock %}