{% extends 'base.html.twig' %}
{% block title %}Kiwi Institute - Connexion!{% endblock %}
{% block body %}

<div class="login">
    <div class="wrapper d-flex">
        <div class="container container-signup m-auto">
            <div class="text-black-50">
                <a class="sidebar-brand d-flex align-items-center justify-content-center mb-4" href="#"><img width="250px" height="250px" alt="logo" src="{{ asset('images/kiwi/logo.svg')}}"></a>
            </div>
            <form class="user text-center" action="{{ path('login_form')}}" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="form-group">
                    <input type="email" class=" form-control" required name="_username" class="form-control" placeholder="MAIL">
                </div>
                <div class="form-group">
                    <div class="position-relative">
                        <input type="password" required name="_password" id="typepass" class="form-control" placeholder="MOT DE PASSE">
                        <div class="show-password show-pass text-gray-800 pr-3"> <i class="fas fa-eye"></i> </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group text-left">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="remember_me" name="_remember_me">
                            <label class="custom-control-label" for="remember_me">Se souvenir de moi </label>
                        </div>
                    </div>
                    <div class="col-6 form-group text-right">
                        <a href="{{ path('app_forgotten_password') }}" class="text-white">Mot de passe oublié? </a>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user"> Se connecter </button>
                <!-- <hr>
                                    <p class="msg text-black-50 op-7 text-center">Se connecter avec mon compte :</p>
                                    <p class="text-center">
                                        <a href="index.html" class="icone_sociaux"><img src="{{ asset('images/svg/icon_facebook.svg')}}" width="40px" height="40px"></a>
                                        <a href="index.html" class="icone_sociaux"><img src="{{ asset('images/svg/icon_google.svg')}}" width="40px" height="40px"> </a>
                                        <a href="index.html" class="icone_sociaux"><img src="{{ asset('images/svg/icon_in.svg')}}" width="40px" height="40px"> </a>
                                    </p>-->
            </form>
        </div>
    </div>
</div>
{% endblock %}
