 {% extends 'base.html.twig' %}
 {% block title %}Finaliser inscription - Kiwi institute{% endblock %}
{% block body %}

    <div class="login">
        <div class="wrapper d-flex">
            <div class="container container-signup m-auto">
                <h3 class="text-center">Terminer mon inscription</h3>
                {{ form_start(form) }}
                <div class="login-form">
                    <label class="field a-field a-field_a1 page__field show-pass-1">
                        {{ form_widget(form.password.first,{'attr':{'placeholder':'MOT DE PASSE','class':"field__input a-field__input form-group"}}) }}
                        <div class="show-password"> <i class="fas fa-eye"></i>
                        </div>
                    </label>
                     <small class="text-danger">
                            {{form_errors(form.password.first) }}
                        </small>
                    <label class="field a-field a-field_a1 page__field show-pass-2">
                        {{ form_widget(form.password.second,{'attr':{'placeholder':'CONFIRMER Le MOT DE PASSE','class':"field__input a-field__input form-group"}}) }}
                        <small class="text-danger">
                            {{form_errors(form.password.second) }}
                        </small>
                        <div class="show-password"> <i class="fas fa-eye"></i> </div>
                    </label>
                </div>
                <hr>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-secondary btn-user">Se connecter</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
