{% extends 'base.html.twig' %}
{% block body %}
    <div class="login">
        <div class="wrapper wrapper-login wrapper-login-full p-0">
            <div class="login-aside w-50 d-flex align-items-center justify-content-center">
                <div class="container">
                    <div class="row">
                        <div class="col-8 offset-md-2">
                            <div class="p-5">
                                <div class="text-black-50">
                                    <a class="sidebar-brand d-flex align-items-center justify-content-center mb-4" href="#"><img width="250px" height="250px" alt="logo" src="{{ asset('images/kiwi/logo.svg')}}"></a>
                                </div>
                                <h1 class="h3 mb-3 font-weight-normal text-white text-center">Réinitialiser votre mot de passe</h1>
                                <form class="user text-center" method="post">
                                    <div class="form-group">
                                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Tapez votre nouveau mot de passe" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user">Enregistrer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}