<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard - Kiwi Institute{% endblock %}</title>

    <!-- Font Awesome JS -->
    <!-- Custom fonts for this template-->
    <link href="{{ asset('css/fontawesome.css') }}" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <script src="{{ asset('js/circle-progress-bar.min.js') }}"></script>
    <link href="{{ asset('css/sb-admin.min.css') }}" rel="stylesheet" />
    {# <link rel="stylesheet" href="{{ asset('css/select2.css') }}">#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <link href="{{ asset('css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/menu.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/kiwi.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/langue.css') }}" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="60x60" href="{{asset('images/favicon/apple-icon-60x60.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{asset('images/favicon/apple-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{asset('images/favicon/apple-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{asset('images/favicon/apple-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{asset('images/favicon/apple-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{asset('images/favicon/apple-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{asset('images/favicon/apple-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset('images/favicon/apple-icon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{asset('images/favicon/android-icon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset('images/favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{asset('images/favicon/favicon-96x96.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset('images/favicon/favicon-16x16.png')}}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{#<div class="viewport ">
<header class="header">

</header>

</div>#}
<div class="wrapper student viewport">
    <!-- Sidebar Holder -->

    <!-- Sidebar -->
    <ul class="hiddenmobile navbar-nav bg-gradient-primary sidebar sidebar-dark accordion shadow-lg sidebar-student {% if app.request.attributes.get('_route') == 'student_formations' or app.request.attributes.get('_route') == 'show_formation' or app.request.attributes.get('_route') == 'show_module'%} toggled {% endif %}" id="accordionSidebar">

        <!-- Sidebar - logo -->
        <li class="nav-item"><a class="sidebar-brand d-flex align-items-center justify-content-center" href="#"><img width="150px" height="150px" alt="logo" src="{{ asset('images/svg/logo-kiwi.svg')}}"></a></li>

        <li class="nav-item {% if app.request.attributes.get('_route') == 'dashboard_student' %}active{% endif %}"><a class="nav-link" href="{{ path('dashboard_student') }}"><i class="fa fa-home" id="home-student"></i><span style="margin-top: -29px;">Dashboard</span></a> </li>
        {% if roleUser is defined  %}
            {% if roleUser == 'admin' %}
                <li class="nav-item {% if app.request.attributes.get('_route') == 'home_formation' %}active{% endif %}"> <a class="nav-link" href="{{ path('home_formation') }}"><i class="fa fa-list" id="formation-student"></i><span style="margin-top: -29px;">Formations</span> </a></li>
            {% else %}
                <li class="nav-item  {% if app.request.attributes.get('_route') == 'student_formations' %}active{% endif %}"> <a class="nav-link" href="{{ path('student_formations') }}"><i class="fa fa-list" id="formation-student"></i><span style="margin-top: -29px;">Formations</span> </a></li>
            {% endif %}
        {% else %}
            <li class="nav-item {% if app.request.attributes.get('_route') == 'student_formations' %}active{% endif %}"> <a class="nav-link" href="{{ path('student_formations') }}"><i class="fa fa-list" id="formation-student"></i><span style="margin-top: -29px;">Formations</span> </a></li>
        {% endif %}

        {#<li class="nav-item {% if app.request.attributes.get('_route') == 'Videosetting' %}active{% endif %}"> <a class="nav-link" href="{{ path('Videosetting') }}"> <i class="fa fa-play" id="video-student"></i><span style="margin-top: -29px;">Vidéos</span> </a></li> #}

        <li class="nav-item  {% if app.request.attributes.get('_route') == 'student_note' %}active{% endif %}"> <a class="nav-link" href="{{ path('student_note') }}"> <i class="fa fa-list-alt" id="note-student"></i><span style="margin-top: -29px;">Notes</span> </a> </li>
        <li class="nav-item {% if app.request.attributes.get('_route') == 'contact_student' %}active{% endif %}"> <a class="nav-link" href="{{ path('contact_student') }}"><i class="fa fa-envelope" id="msg-student"></i><span style="margin-top: -29px;">Contact</span></a> </li>

        {#
        <li class="nav-item {% if app.request.attributes.get('_route') == 'forum' %}active{% endif %}"> <a class="nav-link" href="{{path ('forum')}}"> <i class="fa fa-comments" id="forum-student"></i><span style="margin-top: -29px;">Forum</span></a> </li>
        <li class="nav-item {% if app.request.attributes.get('_route') == 'calendarsetting' %}active{% endif %}"> <a class="nav-link" href="{{ path ('calendarsetting') }}"><i class="fa fa-calendar" id="calendar-student"></i><span style="margin-top: -29px;">Calendrier</span></a> </li>
        <li class="nav-item {% if app.request.attributes.get('_route') == 'statistical' %}active{% endif %}"> <a class="nav-link" href="{{ path ('statistical') }}"><i class="fa fa-chart-line" id="stat-student"></i><span style="margin-top: -29px;">Statistiques</span></a> </li>
        #}
        <li class="nav-item {% if app.request.attributes.get('_route') == 'user_profile' %}active{% endif %}"> <a class="nav-link" href="{{ path('user_profile') }}"><i class="fa fa-user" id="profil-student"></i><span style="margin-top: -29px;">Profil</span></a> </li>

        <!-- Divider -->


    </ul>
    <nav id="nav" class="visiblemobile nav" role="navigation">

        <!-- ACTUAL NAVIGATION MENU -->
        <ul class="nav__menu text-center {% if app.request.attributes.get('_route') == 'student_formations' or app.request.attributes.get('_route') == 'show_formation' or app.request.attributes.get('_route') == 'show_module'%}  {% endif %}" id="menu" tabindex="-1" aria-label="main navigation" hidden>
            <!-- Sidebar - logo -->
            <li class="nav__item"><a class="nav__link" href="#"><img width="150px" height="150px" alt="logo" src="{{ asset('images/kiwi/logo.svg')}}"></a></li>

            <li class="nav__item {% if app.request.attributes.get('_route') == 'dashboard_student' %}active{% endif %}"><a class="nav__link" href="{{ path('dashboard_student') }}">Dashboard</a> </li>
            {% if roleUser is defined  %}
                {% if roleUser == 'admin' %}
                    <li class="nav__item {% if app.request.attributes.get('_route') == 'home_formation' %}active{% endif %}"> <a class="nav__link" href="{{ path('home_formation') }}">Formations</a></li>
                {% else %}
                    <li class="nav__item  {% if app.request.attributes.get('_route') == 'student_formations' %}active{% endif %}"> <a class="nav__link" href="{{ path('student_formations') }}">Formations</a></li>
                {% endif %}
            {% else %}
                <li class="nav__item {% if app.request.attributes.get('_route') == 'student_formations' %}active{% endif %}"> <a class="nav__link" href="{{ path('student_formations') }}">Formations</a></li>
            {% endif %}

            <li class="nav__item {% if app.request.attributes.get('_route') == 'Videosetting' %}active{% endif %}"> <a class="nav__link" href="{{ path('Videosetting') }}"> Vidéos </a></li>

            <li class="nav__item {% if app.request.attributes.get('_route') == 'student_note' %}active{% endif %}"> <a class="nav__link" href="{{ path('student_note') }}"> Notes </a> </li>
            <li class="nav__item {% if app.request.attributes.get('_route') == 'contact_student' %}active{% endif %}"> <a class="nav__link" href="{{ path('contact_student') }}">Contact</a> </li>
            <li class="nav__item {% if app.request.attributes.get('_route') == 'user_profile' %}active{% endif %}"> <a class="nav__link" href="{{ path('user_profile') }}">Profil</a> </li>

        </ul>

        <!-- MENU TOGGLE BUTTON -->



        <div class="splash"></div>
        <!-- ANIMATED BACKGROUND ELEMENT -->


    </nav>
    <div class="modal fade" id="messagerie" tabindex="-1" role="dialog" aria-labelledby="chaiptre-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content-dev">

                <div class="modal-header-dev">
                    <h5 class="modal-title" id="exampleModalLongTitle">Envoyer un message</h5>
                    <button type="button" class="closepopup close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" name="messagesujet" id="messagesujet" class="form-control" placeholder="Sujet">
                    <textarea id="subjectmessage" name="subjectmessage" class="form-group ckeditor " >
                    </textarea>
                    <div class="row mt-2">
                        <div class="col-6"></div>
                        <div class="col-6"><button type="submit" data-dismiss="modal" class="btn btn-primary pr-0 pl-0 sendmessage">Envoyer</button></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End of Sidebar -->
    <!-- Page Content Holder -->
    <div id="content">
        <!-- Topbar -->

        <nav class=" navbar navbar-expand navbar-light bg-white topbar mb-4 static-top" id="contentsed">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="hiddenmobile btn btn-link"> <i class="fa fa-bars pt-1"></i> </button>
            <a href="#nav" id="nav-sel" class="visiblemobile nav__toggle" role="button" aria-expanded="false" aria-controls="menu">
                <svg class="menuicon" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                    <title>Toggle Menu</title>
                    <g>
                        <line class="menuicon__bar" x1="13" y1="16.5" x2="37" y2="16.5"/>
                        <line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5"/>
                        <line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5"/>
                        <line class="menuicon__bar" x1="13" y1="32.5" x2="37" y2="32.5"/>
                        <circle class="menuicon__circle" r="23" cx="25" cy="25" />
                    </g>
                </svg>
            </a>

            <!-- Topbar Search -->
            <div class="d-sm-flex align-items-center justify-content-between">
                <h1 class="h3 mb-0 text-gray-800 pl-5">
                    {% block top_title %}
                    {% endblock %}</h1>
            </div>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto custom-navbar">
                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow user-profile" id="user-kiwi">
                    {% if app.user.getPicture() is not null  %}
                        <a class="nav-link " href="#" id="userDropdown" role="button"  aria-haspopup="true" aria-expanded="false">
                            <img  class="img-profile rounded-circle"  src="{{ asset('/images/users/' ~ app.user.getPicture()) }}">
                        </a>
                    {% else %}
                        <a class="nav-link " href="#" id="userDropdown" role="button"  aria-haspopup="true" aria-expanded="false">
                            <img  class="img-profile rounded-circle"  src="{{ asset('/images/users/default-user.jpg') }}">
                        </a>
                    {% endif %}
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <div class="row text-gray-700">
                            <div class="col-12 text-center"> {{ app.user.username|title  ~ ' ' ~ app.user.lastname|title }}</div>
                        </div>
                        {#<div class="dropdown-divider"></div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label for="admin" class="radio">
                                <input type="radio" name="roles" id="admin"/>
                                <span class="label"></span>Administrateur
                            </label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label for="student" class="radio">
                                <input type="radio" name="roles" id="student"/>
                                <span class="label"></span>Etudiant
                            </label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label for="formator" class="radio">
                                <input type="radio" name="roles" id="formator"/>
                                <span class="label"></span>Formateur
                            </label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label for="coach" class="radio">
                                <input type="radio" name="roles" id="coach"/>
                                <span class="label"></span>Coach
                            </label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label for="writer" class="radio">
                                <input type="radio" name="roles" id="writer"/>
                                <span class="label"></span>Editeur
                            </label>
                        </div>#}
{#                        <div class="dropdown-divider"></div>#}
{#                        <div class="block-content text-center mr-3 selecarrows" id="langue globallangue">#}
{#                            <span>Langue de la plateforme</span>#}
{#                            <div class="sidebar-dropdown dropdown-select right-check selectedall m-3">#}
{#                                <label class="dropdown-label text-uppercase">Français</label>#}
{#                                <div class="dropdown-list text-uppercase catalogue-list ">#}

{#                                    {% if app.request.get('_route')  %}#}
{#                                        {% set actualLangue = app.request.locale %}#}

{#                                        {% set routeParams = app.request.get('_route_params') %}#}
{#                                        <div class="langues" id="globallangue">#}
{#                                            {% for langue in ['fr','en'] %} #}{# If you have a language referential you may call a controller to get all languages #}
{#                                                <div class="langue langue-{{langue}}">#}
{#                                                    {% if actualLangue == langue %}#}

{#                                                        <label for="checkbox-custom1" class="text-gray-800 d-block" data-id="">#}
{#                                                            <div class="langue-current langue-current-{{langue}}">#}
{#                                                                <div class="iso">#}
{#                                                                    {{ langue|capitalize }}#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </label>#}

{#                                                    {% else %}#}

{#                                                        {% if routeParams['_locale'] is defined %}#}
{#                                                            {%set routeParams = routeParams|merge({'_locale': langue}) %}#}
{#                                                        {% endif %}#}
{#                                                        <label for="checkbox-custom1" class="text-gray-800 d-block" data-id="">#}
{#                                                            <div class="langue-available langue-available-{{langue}}">#}
{#                                                                <div class="flag flag-{{langue}}">#}
{#                                                                    <a href="{{ path(app.request.get('_route'), routeParams) }}"></a>#}
{#                                                                </div>#}
{#                                                                <div class="iso">#}
{#                                                                    <a href="{{ path(app.request.get('_route'), routeParams) }}">{{ langue }}</a>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </label>#}
{#                                                    {% endif %}#}
{#                                                </div>#}
{#                                            {% endfor %}#}
{#                                        </div>#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}

                        <div class="dropdown-divider"></div>

                        <div class="block-content text-center mr-3" id="langue">
                            <span class="pl-1">Langue de la plateforme</span>
                            <select  data-placeholder="Français" class="  select2-container select-filter beforeslectfrancais  selectlanguahechoice " data-minimum-results-for-search="Infinity">
                                <option>Français</option>
                            </select>
                        </div>

                        <div class="dropdown-divider"></div>
                        <div class="block-content text-center mr-3 selecarrows" id="langue">
                            <span class="pl-1">Langue des formations</span>
                            <select data-placeholder="Français" class="select2-container select-filter beforeslectfrancais bggrandientselect selectlanguahechoice" data-minimum-results-for-search="Infinity">
                                <option>Français</option>
                            </select>
                        </div>
                        <a class="dropdown-item btn-help btn-user" href="{{ path('contact_student') }}" >Aide</a></div>
                </li>
                <li class="nav-item dropdown no-arrow mx-1 logout"> <a class="nav-link dropdown-toggle" href="{{ path('logout_form') }}"> <img src="{{ asset('images/svg/ico-singin.svg')}}" width="30px" height="30px"> </a> </li>
                <!-- Nav Item - User Information -->

            </ul>
        </nav>
        <!-- End of Topbar -->
        <div class="main-content pl-5">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.full.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
<script type="text/javascript" src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
