{% extends 'baseStudent.html.twig' %}
{% block title %} Vidéos - Kiwi Institute {% endblock %}
{% block top_title %} Vidéos {% endblock %}
{% block body %}
    <div class="d-flex ">
        <div class="row container m-auto">
            <div class="col-xl-8 col-md-9 mb-4 h-100">
                <div class="row pr-0 mr-0">
            <div class="col-xl-12 col-md-12 mb-4 h-100" id="">
                <h1 class="text-center text-uppercase gray-title pb-2">{{ video.name }}</h1>
                <div class="row formation-image">
                    {% set url = video.url%}
                    {% if url == null %}
                        <div class="col-12 text-center addhiddeninbanner">
                            <img src="{{ asset('/assets/images/default-image.png') }}" width="250px">
                        </div>
                    {% else %}
                        <div class="col-12 text-center embed-responsive embed-responsive-16by9 embed-vid">
                            <iframe allowfullscreen frameborder="0" src="{{ url }}">
                            </iframe>
                        </div>
                    {% endif %}

                </div>
            </div>
                    <div class="col-xl-12   details-formations pl-0 pr-0  ">
                        <div class="col-12 shadow mb-4 bgblanc embed-vid">
                            <div id="messages">
                                <ul class="list-unstyled text-left">
                                    <input type="hidden" value="{{ app.user.username}} {{ app.user.lastname}}" id="infoUser">
                                    {% for comment in video.comments %}
                                    <li class="media pt-4">
                                        <img class="img-profile rounded-circle-comment mr-3" src="{{ asset('/images/users/' ~ app.user.getPicture()) }}">
                                        <div class="media-body pt-1">
                                            <h5 class="mt-0 mb-1 getname" data-name="{{ comment.user.username}} {{comment.user.lastname }}" data-comment="{{ comment.created_at|ago}}"><b>{{ comment.user.username }} {{ comment.user.lastname }}</b><small class="text-muted"> a ajouté un commentaire <small>
                                                        <b>{{ comment.created_at|ago}}</b>
                                                    </small></small> </h5>
                                            <p>{{ comment.content }}</p>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="row">
                                <div id="list" class="col-lg-12 col-md-12 col-sm-12 rounded message-list"></div>
                            </div>
                                <div class="container">
                                    <input type="hidden" id="vidId" value="{{ video.id }}"/>
                                    <div class="create-formation form-container">
                                        <div class="form-group green-border-focus">
                                            <textarea id="message-box" required class="form-control" rows="3" style="resize:none;"></textarea>
                                        </div>
                                        <div class="col-3 text-center">
                                            <button id="send" type="button" class="btn btn-primary btn-live mb-2">Ajouter un commentaire</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-xl-4 col-md-3 mt-4 pt-2">
                <div class="full-card shadow py-2">
                    <h5 class="text-uppercase modif text-center pt-4">Lives programmés </h5>
                    {% for vid in videos %}
                        <div class="my-planing-f mb-4 mt-4 pl-2 row ">
                            <span class="planing-date col-2 text-center"></span>
                            <div class="col-10">
                                </a><span class="modif-der pl-2"><td>{{ vid.date|date('d M Y') }}</td></span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            </div>
        </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/live.js') }}"></script>
{% endblock %}
