{% extends 'baseUser.html.twig' %}
{% block top_title %} <h1 class="text-uppercase h3 mb-0 text-gray-800 pl-5"><a href="{{ path('membres') }}">Membres</a> | Ajouter des membres </h1>{% endblock %}
{% block body %}
    <div class="row pr-0 mr-0" id="addmembergeneral">
        <div class="col-12 py-2">
            <div class="full-card shadow py-2 mt-4">
                <div class="card-body">
                    <div class="add-users">
                        <div class="row">
                            <div class="col-12 pt-4">
                                <div class="row align-items-center">
                                    <div class="offset-4 col-5 text-left">
                                        <span class="d-block text-gray-700 mt-4 mb-4 step-titel">Ajouter des Utilisateurs</span>
                                    </div>
                                </div>
                                <div class="row pl-0 mt-4 mb-4" id="forma">
                                    <div class="col-3 card-header">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="checkAll">
                                            <label class="custom-control-label" for="checkAll">Tout Sélectionner </label>
                                        </div>
                                    </div>
                                    <div class="col-3 pr-2 pl-2 ml-2 pt-2">
                                     {#   <select class="js-select2 select-filter small-select typste" multiple="multiple" id="typeFC">#}
                                        <select data-placeholder="Affecter"  class=" editplaceholder select2customjs small-select typste" data-minimum-results-for-search="Infinity" id="typeFC">
                                            <option></option>
                                            <option class="text-uppercase">Ajouter à une/des formation(s)</option>
                                            <option class="text-uppercase">Ajouter à une/des classe(s)</option>
                                        </select>
                                    </div>
                                    {#type class or formation#}
                                  <div class="col-3 pr-0 pl-0 ml-2 pt-2" id="formationS">
                                    <select  data-placeholder="Sélectionner" class="js-select2  small-select" data-minimum-results-for-search="Infinity" multiple="multiple" id="select-multi-formation">
                                        {% for formation in formations %}
                                            <option value="{{ formation.id }}" data-badge="">{{formation.titre_formation}}</option>
                                        {% endfor %}
                                    </select>
                                    </div>
                                  {# <div class="col-3 pr-0 pl-0 ml-2 pt-2" id="formationS">
                                        <div class="sidebar-dropdown dropdown-select right-check ">
                                            <label class="dropdown-label text-uppercase color-select">Sélectionner</label>
                                            <div class="dropdown-list text-uppercase pl-0">
                                                {% for formation in formations %}
                                                    <div class="checkbox custom-control custom-checkbox small pl-2" >
                                                        <input type="checkbox" class="custom-control-input " id="formationCheck_{{ formation.id }}" value="{{ formation.id }}">
                                                        <label for="formationCheck_{{ formation.id }}" class="custom-control-label pl-0 text-uppercase position-absolute"> {{formation.titre_formation}}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>#}
                                    <div class="col-3 pr-0 pl-0 ml-2 pt-2 hidden" id="classe">
                                        <select  data-placeholder="Sélectionner" class="js-select2  small-select" data-minimum-results-for-search="Infinity" multiple="multiple" id="select-multi-class">
                                            {% for classe in classes %}
                                                <option value="{{ classe.id }}" data-badge="">{{classe.name}}</option>
                                            {% endfor %}
                                        </select>

                                      {#  <div class="sidebar-dropdown dropdown-select right-check pb-0 pt-0">
                                            <label class="dropdown-label text-uppercase color-select">SÉLECTIONNER</label>
                                            <div class="dropdown-list text-uppercase p-0">
                                                {% for classe in classes %}
                                                    <div class="checkbox custom-control custom-checkbox small pl-0" >
                                                        <input type="checkbox" class="custom-control-input " id="classCheck_{{ classe.id }}" value="{{ classe.id }}">
                                                        <label for="classCheck_{{ classe.id }}" class="custom-control-label pl-0 text-uppercase position-absolute"> {{classe.name}}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>#}
                                    </div>
                                    <div class="col-2 mt-2">
                                        <button type="button" id="affect-checked-user" class="btn btn-primary style-btn-save">Affecter</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form name="profile" method="post" enctype="multipart/form-data" id="form_user" data-nb-user="5">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row rounded-bloc">
                                        <div class="col-2 pr-0 pl-0">
                                            <div class="box-arrow m-1">
                                                <div class="text-uppercase n-users mb-3">
                                                    Nom
                                                </div>
                                                {% for i in [1,2,3,4,5] %}
                                                    <div class="form-group pt-0 pb-2 m-0 pr-1 user-gr list-name" id="">
                                                        <div class="checkbox custom-checkbox small pt-2 pl-2">
                                                            <input type="checkbox" class="custom-control-input check-element" name="user-check" id="userCheck_{{ i }}" value="{{ i }}">
                                                            <label for="userCheck_{{ i }}" class="custom-control-label text-uppercase pl-0 pr-2 ml-2"> </label>
                                                        </div>
                                                        <input type="text" id="profile_lastname_{{ i }}" name="lastname_{{ i }}"  maxlength="255" class="form-control" data-num_user="{{ i }}">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-2 pr-0 pl-0">
                                            <div class="box-arrow m-1">
                                                <div class="text-uppercase n-users mb-3">
                                                    Prénom
                                                </div>
                                                {% for i in [1,2,3,4,5] %}
                                                    <div class="row list-userName">
                                                        <div class="form-group pt-0 pb-2 m-0 ">
                                                            <input type="text" id="profile_username{{ i }}" name="username_{{ i }}" maxlength="255" class="form-control" data-num_user="{{ i }}">
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-2 pr-0 pl-">
                                            <div class="box-arrow m-0">
                                                <div class="text-uppercase n-users mb-3">
                                                    Mail
                                                </div>
                                                {% for i in [1,2,3,4,5] %}

                                                    <div class="row  list-email">
                                                        <div class="form-group pt-0 pb-2 m-0">
                                                            <input type="email" id="profile_email_{{ i }}" name="email_{{ i }}"  maxlength="255" class="form-control" data-num_user="{{ i }}">
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-2 pr-0 pl-0 placeholderofmutiple">
                                            <div class="box-arrow m-1 pt-3  box-formations">
                                                <div class="text-uppercase n-users mb-2 pb-1">
                                                    Formation supplémentaire(s)
                                                </div>
                                                {% for j in [1,2,3,4,5] %}
                                                    <div class="row list-formations">
                                                        <div class="col-11 pl-3 pr-0 mb-2" id="" >
                                                            <select   data-placeholder="Sélectionner"  id="formation-search_{{ j }}" class="js-select2  small-select" data-minimum-results-for-search="Infinity" multiple="multiple">
                                                                {% for formation in formations %}
                                                                    <option value="{{ formation.id }}">{{ formation.titre_formation }}</option>
                                                                {% endfor %}
                                                            </select>

                                                           {# <div class="sidebar-dropdown dropdown-select right-check" id="formation-search_{{ j }}" >
                                                                <label class="dropdown-label text-uppercase">Sélection</label>
                                                                <div class="dropdown-list text-uppercase catalogue-list pl-0 pad-user">
                                                                    {% for formation in formations %}
                                                                        <div class="checkbox custom-control custom-checkbox small pl-0" >
                                                                            <input type="checkbox" id="profile_formations_sup_{{ formation.id }}_{{ j }}"  name="listFormation_{{ j }}" data-id-formation="{{ formation.id }}" class="check custom-control-input pl-0" value="{{ formation.id }}" data-num_user="{{ j }}">
                                                                            <label class="custom-control-label pl-0 position-absolute" for="profile_formations_sup_{{ formation.id }}_{{ j}}">{{ formation.titre_formation }}</label>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>#}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-2 pr-0 pl-0 placeholderofmutiple">
                                            <div class="box-arrow m-1">
                                                <div class="text-uppercase n-users mb-2 pb-3">
                                                    Classe(s)
                                                </div>
                                                {% for j in [1,2,3,4,5] %}
                                                <div class="row list-class">
                                                    <div class="col-11 pl-3 pr-0 mb-2" id="" >
                                                        <select data-placeholder="Sélectionner" id="class-search_{{ j }}" class="js-select2  small-select" data-minimum-results-for-search="Infinity" multiple="multiple">
                                                            {% for classe in classes %}
                                                                <option value="{{ classe.id }}">{{classe.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                       {# <div class="sidebar-dropdown dropdown-select right-check" id="class-search_{{ j }}" >
                                                            <label class="dropdown-label text-uppercase">Sélection</label>
                                                            <div class="dropdown-list text-uppercase catalogue-list pl-0 pad-user">
                                                                {% for class in classes %}
                                                                    <div class="checkbox custom-control custom-checkbox small pl-0" >
                                                                        <input type="checkbox" id="profile_class_{{ class.id }}_{{ j }}"  name="class_{{ j }}" data-id-formation="{{ class.id }}" class="check custom-control-input pl-0" value="{{ class.id }}" data-num_user="{{ j }}">
                                                                        <label class="custom-control-label pl-0 position-absolute" for="profile_class_{{ class.id }}_{{ j}}">{{ class.name }}</label>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>#}
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-2 pr-0 pl-0 ">
                                            <div class="box-arrow m-1">
                                                <div class="text-uppercase n-users mb-2 pb-3">
                                                   Type D'utilisateur
                                                </div>
                                                {% for i in [1,2,3,4,5] %}
                                                    <div class="row list-roles">
                                                        <div class="col-11 " >
                                                            <div id="statut_{{ i }}" class="pl-1 pr-0 mb-2 ">
                                                                <select   data-placeholder="Sélectionner"  class="js-select2  small-select" data-minimum-results-for-search="Infinity" multiple="multiple">
                                                                    <option  data-id="ROLE_STUDENT"> Étudiant</option>
                                                                    <option  data-id="ROLE_EDITOR"> Éditeur</option>
                                                                    <option  data-id="ROLE_FORMATOR"> Formateur</option>
                                                                    <option  data-id="ROLE_COACH"> Coach</option>
                                                                </select>
                                                             {#   <div class="sidebar-dropdown dropdown-select right-check">
                                                                    <label class="dropdown-label text-uppercase">Sélection</label>
                                                                    <div class="dropdown-list text-uppercase catalogue-list pad-user pl-0">
                                                                        <div class="checkbox custom-control custom-checkbox small pl-3 pr-0 mb-1 ">
                                                                            <input type="checkbox"  name="roles_{{ i }}" class="check custom-control-input " id="checkbox-statut_1_{{ i }}"  data-num_user="{{ i }}" value="ROLE_STUDENT"/>
                                                                            <label for="checkbox-statut_1_{{ i }}" class="custom-control-label pl-0" data-id="1"> Étudiant</label>
                                                                        </div>
                                                                        <div class="checkbox custom-control custom-checkbox small pl-3 pr-0 mb-1 pl-0 ">
                                                                            <input type="checkbox" name="roles_{{ i }}" class="check custom-control-input " id="checkbox-statut_2_{{ i }}"  data-num_user="{{ i }}" value="ROLE_EDITOR"/>
                                                                            <label for="checkbox-statut_2_{{ i }}" class="custom-control-label pl-0" data-id="2"> Éditeur</label>
                                                                        </div>
                                                                        <div class="checkbox custom-control custom-checkbox small pl-3 pr-0 mb-1 pl-0 ">
                                                                            <input type="checkbox" name="roles_{{ i }}" class="check custom-control-input " id="checkbox-statut_3_{{ i }}"  data-num_user="{{ i }}" value="ROLE_FORMATOR"/>
                                                                            <label for="checkbox-statut_3_{{ i }}" class="custom-control-label pl-0" data-id="3"> Formateur</label>
                                                                        </div>
                                                                    </div>
                                                                </div>#}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex add-nod mt-3">
                                        <div class="new-elemnt m-auto ">
                                            <a href="#" id="addNewUser"> <img src="/assets/images/icons/plus.svg" width="20"></a>
                                        </div>

                                    </div>
                                   <!-- <div class="row col-2 offset-6 pb-4 pt-4">
                                        <a href="#" id="addNewUser"><img src="{{ asset('images/step/plus-round.png') }}"></a>
                                    </div>-->
                                    <div class="row col-2 offset-10 pl-2 pb-4 pt-4">
                                        <button class="btn btn-primary small" id="save-user">Enregistrer</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}