 {% extends 'base.html.twig' %}
{% block body %}

    <div class="login">
        <div class="wrapper wrapper-signup">
            <div class="container container-signup">
                <h3 class="text-center">Inscrire vous</h3>
                {{ form_start(form) }}
                <div class="login-form">
                    <label class="field a-field a-field_a1 page__field">
                        {{ form_widget(form.username, {'attr':{'placeholder':'NOM','class':"field__input a-field__input form-group"}}) }}
                        <small class="text-danger">
                            {{form_errors(form.username) }}
                        </small>
                    </label>
                    <label class="field a-field a-field_a1 page__field">
                        {{ form_widget(form.lastname, {'attr':{'placeholder':'PRÉNOM','class':"field__input a-field__input form-group"}}) }}
                        <small lass="text-danger">
                            {{form_errors(form.lastname) }}
                        </small>
                    </label>
                    <label class="field a-field a-field_a1 page__field">
                        {{ form_widget(form.email,{'attr':{'placeholder':'MAIL','class':"field__input a-field__input form-group"}}) }}
                        <small class="text-danger">
                            {{form_errors(form.email) }}
                        </small>
                    </label>
                    <label class="field a-field a-field_a1 page__field show-pass-1">
                        {{ form_widget(form.password.first,{'attr':{'placeholder':'MOT DE PASSE','class':"field__input a-field__input form-group"}}) }}
                        <div class="show-password"> <i class="fas fa-eye"></i>
                        </div>
                    </label>
                     <small class="text-danger">
                            {{form_errors(form.password.first) }}
                        </small>
                    <label class="field a-field a-field_a1 page__field show-pass-2">
                        {{ form_widget(form.password.second,{'attr':{'placeholder':'CONFIRMER MOT DE PASSE','class':"field__input a-field__input form-group"}}) }}
                        <small class="text-danger">
                            {{form_errors(form.password.second) }}
                        </small>
                        <div class="show-password"> <i class="fas fa-eye"></i> </div>
                    </label>
                    <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="accept-terms">
                        <label class="custom-control-label text-white" for="accept-terms">j'ai lu et j'accepte les termes et conditions  </label>
                    </div>
                </div>
                <hr>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-secondary btn-user" disabled>ENREGISTRER</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}