{% extends 'baseUser.html.twig' %}
{% block top_title %} TYPES D’UTILISATEURS {% endblock %}
{% block body %}
    <div class="row mr-2">
        <div class="col-12">
            <a class="btn btn-primary float-right p-2" href="{{ path('new_type_user') }}">Créer un nouveau type d'utilisateur</a>
        </div>
    </div>

    <div class="row row pr-0 mr-0">
        <div class="col-12 py-2">
                <div class="full-card shadow py-2 mt-4">
                    <div class="card-header py-3">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="checkAll">
                            <label class="custom-control-label" for="checkAll">Tout Sélectionner </label>
                            <div class="btn-action version-2">
                                <button type="button" class="btn btn-download btn-link btn-sm" rel="tooltip" data-toggle="modal" data-target="#delete-selected-user" title="Supprimer les utilisateurs selectionnées"  data-path="{{ path('delete_notes')}}">
                                    <img src="{{ asset('images/icons/trash-small.png') }}">
                                </button>
                                <label class="green-switch">
                                    <input type="checkbox"  class="activate_all_user">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                <div class="card-body">
                    <div class="table-responsive custom-table">
                        <table class="table" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th class="nosort"></th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Pseudonyme</th>
                                <th>Temps passé sur la plateforme</th>
                                <th>Type d'utilisateur</th>
                                <th>Date d’ajout à la plateforme</th>
                                <th>Activer/desactiver</th>
                                <th>Dernière connexion</th>
                                <th class="nosort"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input check-element"  name="user_check"  id="user_{{ user.id }}" name="user-{{ user.id }}" data-id="{{ user.id }}" value="">
                                            <label class="custom-control-label" for="user_{{ user.id }}"></label>
                                        </div>
                                    </td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.lastname }}</td>
                                    <td>{{ user.pseudo }}</td>
                                    <td>{{ user.pseudo }}</td>
                                    <td>
                                        {% set roles = "" %}
                                        {%  for role in user.roles %}
                                            {%  set roles = roles ~ functions_manager.get_roles(role) ~ ', ' %}
                                        {% endfor %}
                                        {{ roles|trim(', ') }}
                                    </td>
                                    <td>{{ user.createdAt |date("d M, Y")}}</td>
                                    <td>
                                        <label class="green-switch">
                                            <input type="checkbox" {% if  user.active == 1 %}checked {% endif %} class="activate-user" data-id="{{ user.id }}">
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                    <td>{{ user.pseudo }}</td>
                                    <td class="td-actions text-right" >
                                        <a href="{{ path('user_profile',{'id': user.id}) }}" rel="tooltip" title="Voir profile" class="btn btn-vu btn-link btn-sm" >  <i class="fas fa-eye"></i></a>
                                        <a href="" rel="tooltip" data-toggle="modal" data-target="#delete-user" title="Supprimer utilisateur" class="btn btn-vu btn-link btn-sm modal-delete-user" data-id="{{ user.id }}"> <img src=" {{ asset('images/icons/trash-xs.png') }}"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                           </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal delete user -->
    <div class="modal fade" id="delete-user" tabindex="-1" role="dialog" aria-labelledby="delete-user" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Supprimer cette utilisateur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer cet utilisateur ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <a href="#" class="btn btn-primary delete-user">Oui</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal delete user -->

    <!-- modal delete selected user -->
    <div class="modal fade" id="delete-selected-user" tabindex="-1" role="dialog" aria-labelledby="delete-selected-user" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Supprimer les utilisateurs selectionnées</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer ces utilisateurs ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <a href="#" class="btn btn-primary" id="delete-selected-user">Oui</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal delete selected user -->
{% endblock %}