{% extends 'baseUser.html.twig' %}
{% block title %} Types d'utilisateurs - Kiwi Institute {% endblock %}
{% block top_title %} Types d'utilisateurs {% endblock %}
{% block body %}
   <div class="row mr-2">
       <div class="col-12">
           <a class="btn btn-user float-right p-2 btnuserhover" href="{{ path('new_type_user') }}">Créer un nouveau type d'utilisateur</a>
       </div>
   </div>
    <div id="typusereditprofil">
    <ul class=" ch-grid">
        <div class="row">
            <div class="col-4">
                <li >
                    <div class="ch-item">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-9"></div>
                            <div class="ch-info-back">
                                <div class="centerbloc">
                                    <h3>TOUS LES MEMBRES</h3>
                                    <a class="link-normal" href="{{ path('users_list') }}">Voir les membres</a>
                                    <a class="link-normal" href="">Ajouter des membres</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="customtitle">TOUS LES MEMBRES</span>
                </li>
            </div>
            <div class="col-4">
                <li >
                    <div class="ch-item">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-10"></div>
                            <div class="ch-info-back">
                                <div class="centerbloc">
                                    <h3>ADMINISTRATEURS</h3>
                                    <a class="link-normal" href="{{ path('users_list', {'role':'ROLE_ADMIN'}) }}">Voir les membres</a>
                                    <a class="link-normal" href="">Ajouter des membres</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="customtitle">ADMINISTRATEURS</span>
                </li>
            </div>
            <div class="col-4">
                <li >
                    <div class="ch-item">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-11"></div>
                            <div class="ch-info-back">
                                <div class="centerbloc">
                                    <h3>ÉDITEURS</h3>
                                    <a class="link-normal" href="{{ path('users_list', {'role':'ROLE_EDITOR'}) }}">Voir les membres</a>
                                    <a class="link-normal" href="">Ajouter des membres</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <span class="customtitle">ÉDITEURS</span>
                </li>
            </div>
        </div>
    </ul>
    <ul class=" ch-grid margedit">
        <div class="row">
            <div class="col-4">
                <li>
                    <div class="ch-item">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-12"></div>
                            <div class="ch-info-back">
                                <div class="centerbloc">
                                    <h3>ÉTUDIANTS</h3>
                                    <a class="link-normal" href="{{ path('users_list', {'role':'ROLE_USER'}) }}">Voir les membres</a>
                                    <a class="link-normal" href="">Ajouter des membres</a>

                                </div>
                            </div>
                        </div>

                    </div>
                    <span class="customtitle">ÉTUDIANTS</span>
                </li>
            </div>

            <div class="col-4">
                <li>
                    <div class="ch-item">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-13"></div>
                            <div class="ch-info-back">
                                <div class="centerbloc">
                                    <h3>FORMATEURS</h3>
                                    <a class="link-normal" href="{{ path('users_list', {'role':'ROLE_FORMATOR'}) }}">Voir les membres</a>
                                    <a class="link-normal" href="">Ajouter des membres</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="customtitle editbottomusertile">FORMATEURS</span>

                </li>

        </div>
            <div class="col-4">
                <li>
                    <div class="ch-item">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-14"></div>
                            <div class="ch-info-back">
                                <div class="centerbloc">
                                    <h3>COACHS</h3>
                                    <a class="link-normal" href="{{ path('users_list', {'role':'ROLE_COACH'}) }}">Voir les membres</a>
                                    <a class="link-normal" href="">Ajouter des membres</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="customtitle editbottomusertile">COACHS
</span>
                </li>

            </div>
        </div>

    </ul>
    </div>


   {# <div class="row row pr-0 mr-0">
        <div class="a-section octopus-pc-category-card-v2-content">
            <ul class="a-unordered-list a-nostyle a-horizontal a-spacing-none">
                <span class="a-declarative">
                    <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                        <span class="a-list-item">
                            <div class="a-section octopus-pc-category-card-v2-item-block">
                              <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                                <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">
                                  <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                        <img  alt="e-learning" src="{{ asset('images/all-user.gif') }}" width="34%" class="octopus-pc-category-card-v2-image pt-3">
                                </div>
                                <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                                  <span class="a-size-medium a-color-base a-text-bold">TOUS LES MEMBRES</span>
                                </div>
                              </a>
                              <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">
                                  <a class="link-normal" href="{{ path('users_list') }}">Voir les membres</a>
                                  <a class="link-normal" href="">Ajouter des membres</a>
                              </div>
                            </div>
                        </span>
                    </li>
                </span>
                <span class="a-declarative">
                    <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                        <span class="a-list-item">
                            <div class="a-section octopus-pc-category-card-v2-item-block">
                              <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                                <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">
                                  <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                        <img  alt="e-learning" src="{{ asset('images/admin.gif') }}" class="octopus-pc-category-card-v2-image">
                                </div>
                                <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                                  <span class="a-size-medium a-color-base a-text-bold">ADMINISTRATEURS</span>
                                </div>
                              </a>
                             <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">
                                 <a class="link-normal" href="{{ path('users_list', {'role':'ROLE_ADMIN'}) }}">Voir les membres</a>
                                  <a class="link-normal" href="">Ajouter des membres</a>
                              </div>
                            </div>
                        </span>
                    </li>
                </span>
                <span class="a-declarative">
                    <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                        <span class="a-list-item">
                            <div class="a-section octopus-pc-category-card-v2-item-block">
                              <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                                <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">
                                  <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                        <img  alt="e-learning" src="{{ asset('images/editors.gif') }}" class="octopus-pc-category-card-v2-image">
                                </div>
                                <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                                  <span class="a-size-medium a-color-base a-text-bold">ÉDITEURS</span>
                                </div>
                              </a>
                                <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">
                                  <a class="link-normal" href="{{ path('users_list', {'role':'ROLE_EDITOR'}) }}">Voir les membres</a>
                                  <a class="link-normal" href="">Ajouter des membres</a>
                              </div>
                            </div>
                        </span>
                    </li>
                </span>

                <span class="a-declarative">
                    <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                        <span class="a-list-item">
                            <div class="a-section octopus-pc-category-card-v2-item-block">
                              <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                                <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">
                                  <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                        <img  alt="e-learning" src="{{ asset('images/student.gif') }}" class="octopus-pc-category-card-v2-image">
                                </div>
                                <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                                  <span class="a-size-medium a-color-base a-text-bold">ÉTUDIANTS</span>
                                </div>
                              </a>
                                <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">
                                  <a class="link-normal" href="{{ path('users_list', {'role':'ROLE_USER'}) }}">Voir les membres</a>
                                  <a class="link-normal" href="">Ajouter des membres</a>
                              </div>
                            </div>
                        </span>
                    </li>
                </span>
                <span class="a-declarative">
                    <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                        <span class="a-list-item">
                            <div class="a-section octopus-pc-category-card-v2-item-block">
                              <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                                <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">
                                  <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                        <img  alt="e-learning" src="{{ asset('images/formator.gif') }}" class="octopus-pc-category-card-v2-image">
                                </div>
                                <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                                  <span class="a-size-medium a-color-base a-text-bold">FORMATEURS </span>
                                </div>
                              </a>
                                <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">
                                 <a class="link-normal" href="{{ path('users_list', {'role':'ROLE_FORMATOR'}) }}">Voir les membres</a>
                                  <a class="link-normal" href="">Ajouter des membres</a>
                              </div>
                            </div>
                        </span>
                    </li>
                </span>
                <span class="a-declarative">
                    <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                        <span class="a-list-item">
                            <div class="a-section octopus-pc-category-card-v2-item-block">
                              <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                                <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">
                                  <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                        <img  alt="e-learning" src="{{ asset('images/coach.gif') }}" class="octopus-pc-category-card-v2-image">
                                </div>
                                <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                                  <span class="a-size-medium a-color-base a-text-bold">COACHS</span>
                                </div>
                              </a>
                                 <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">
                                 <a class="link-normal" href="{{ path('users_list', {'role':'ROLE_COACH'}) }}">Voir les membres</a>
                                  <a class="link-normal" href="">Ajouter des membres</a>
                              </div>
                            </div>
                        </span>
                    </li>
                </span>
            </ul>
        </div>
    </div>#}
{% endblock %}