{% extends 'baseUser.html.twig' %}
{% block top_title %}<h1 class="text-uppercase h3 mb-0 text-gray-800 pl-5"> {% if currentCalss is defined and  currentCalss is not empty %}<a href="{{ path('home_classe') }}">Classe</a> |  {{ currentCalss.name }} {%  else %} Membres {% endif %}</h1>{% endblock %}
{% block body %}
    <div class="row mr-2" id="hoverkiwi">
        <div class="offset-6 col-6 text-right">
            <a class="btn btn-primary p-2" href="{{ path('add_members') }}">Ajouter des membres</a>
            <a class="btn btn-primary p-2" data-toggle="modal" href="#new-class">Nouvelle Classe</a>
        </div>
    </div>
    <div class="row pr-0 mr-0">
        <div class="col-12 py-2">
            <div class="full-card shadow py-2 mt-4">
                <div class="card-header py-3">
                    <div class="row pl-0 mt-4 mb-4" id="forma">
                        <div class="col-4 pr-2 pl-2 ml-2 pt-2">
                            <input type="hidden" id="path-class" value="{{ path('affect_users_classes') }}">
                            <input type="hidden" id="path-formation" value="{{ path('affect_users_formation') }}">
                            <div class="custom-control custom-checkbox small">
                                <input type="checkbox" class="custom-control-input" id="checkAll">
                                <label class="custom-control-label" for="checkAll">Tout Sélectionner </label>
                                <div class="btn-action version-2 ml-3">
                                    <button type="button" class="btn btn-download btn-link btn-sm" rel="tooltip" data-toggle="modal" data-target="#delete-selected-user" title="Supprimer les utilisateurs selectionnées"  data-path="{{ path('delete_notes')}}">
                                        <img src="{{ asset('images/icons/formation/trash-gray.png') }}" width="25">
                                    </button>
                                    <label class="green-switch">
                                        <input type="checkbox"  class="activate_all_user">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 pr-2 pl-2 ml-2 pt-2">
                            <select class="select-filter small-select typste" id="typeFC">
                                <option class="text-uppercase" >Affecter</option>
                                <option value="1" class="text-uppercase">Ajouter à une/des formation(s)</option>
                                <option value="2" class="text-uppercase">Ajouter à une/des classe(s)</option>
                            </select>
                        </div>
                        <div class="col-3 pr-0 pl-0 ml-2 pt-2 hidden formationaffect "  id="formationS">
                            <select  data-placeholder="Sélectionner"   class="js-select2  small-select" data-minimum-results-for-search="Infinity" multiple="multiple" id="select-formation">
                                {% for formation in formations %}
                                    <option value="{{ formation.id }}" data-badge="">{{formation.titre_formation}}</option>
                                {% endfor %}
                            </select>
                            <!--<div class="sidebar-dropdown dropdown-select right-check p-1">
                                <label class="dropdown-label text-uppercase color-select">Sélectionner</label>
                                <div class="dropdown-list text-uppercase pl-0">
                                    {% for formation in formations %}
                                        <div class="checkbox custom-control custom-checkbox small pl-2" >
                                            <input type="checkbox" class="custom-control-input " id="formationCheck_{{ formation.id }}" value="{{ formation.id }}">
                                            <label for="formationCheck_{{ formation.id }}" class="custom-control-label pl-0 text-uppercase position-absolute"> {{formation.titre_formation}}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>-->
                        </div>
                        <div class="col-3 pr-0 pl-0 ml-2 pt-2 hidden classeaffecttoformation "   id="classe">
                            <select  data-placeholder="Sélectionner"    class="js-select2  small-select" data-minimum-results-for-search="Infinity" multiple="multiple"  id="select-class">
                                {% for classe in listClass %}
                                    <option value="{{ classe.id }}" data-badge="">{{classe.name}}</option>
                                {% endfor %}
                            </select>

                            <!-- <div class="sidebar-dropdown dropdown-select right-check pb-0 pt-0">
                                <label class="dropdown-label text-uppercase color-select">SÉLECTIONNER</label>
                                <div class="dropdown-list text-uppercase p-0">
                                    {% for classe in listClass %}
                                        <div class="checkbox custom-control custom-checkbox small pl-0" >
                                            <input type="checkbox" class="custom-control-input " id="classCheck_{{ classe.id }}" value="{{ classe.id }}">
                                            <label for="classCheck_{{ classe.id }}" class="custom-control-label pl-0 text-uppercase position-absolute"> {{classe.name}}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>-->
                        </div>
                        <div class="col-1 mt-2">
                            <button type="button" id="affect-list-user" class="btn btn-primary style-btn-save">Affecter</button>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="kiwiicon">
                    <div class="table-responsive custom-table">
                        <table class="table" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th class="nosort"></th>
                                <th>Nom/Prénom</th>
                                <th>Temps sur la plateforme</th>
                                <th>Activer/desactiver</th>
                                <th>Classe</th>
                                <th>Badge</th>
                                <th>Quiz validés</th>
                                <th>Score</th>
                                <th>Dernière Connexion</th>
                                <th class="nosort"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                {% set classes = "" %}
                                {% set classesIds = "" %}
                                {% set myArrayClass = [] %}
                                {%  for class in user.classe %}
                                    {%  set classes = classes ~ class.name ~ ', ' %}
                                    {%  set classesIds = classesIds ~ class.id ~ ', ' %}
                                    {% set myArrayClass = myArrayClass|merge([class.id]) %}
                                {% endfor %}
                                {% if currentCalss  %}
                                    {%  if currentCalss.id in myArrayClass %}
                                        <tr>
                                            <td>
                                                <div class="custom-control custom-checkbox small list-user">
                                                    <input type="checkbox" class="custom-control-input check-element" id="user-id-{{ user.id }}" name="user_check" data-id="{{ user.id }}" value="{{ user.id }}">
                                                    <label class="custom-control-label" for="user-id-{{ user.id }}"></label>
                                                </div>
                                            </td>
                                            <td>{{ user.username }} {{ user.lastname }}</td>
                                            <td>0h</td>
                                            <td>

                                                <label class="green-switch">
                                                    <input type="checkbox" {% if  user.active == 1 %}checked {% endif %} class="activate-user" data-id="{{ user.id }}">
                                                    <span class="slider round"></span>
                                                </label>
                                            </td>
                                            <td>{{ classes|trim(', ') }}</td>
                                            <td>Badge</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>
                                                {{ user.createdAt |date("d M, Y")}}
                                            </td>
                                            <td class="td-actions text-right" >
                                                <a  data-id="{{ user.id }}" data-userClasses="{{ classesIds|trim(', ') }}" title="Changer Class" id="" class="affect-user btn btn-vu btn-link btn-sm" ><img src="{{ asset('images/icons/pensil-sm.png') }}" width="20"></a>
                                                <a href="{{ path('user_profile',{'id': user.id}) }}" rel="tooltip" title="Voir profile" class="btn btn-vu btn-link btn-sm" >  <i class="fas fa-eye"></i></a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% else %}
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input check-element"  name="user_check"  id="user-id-{{ user.id }}" name="user-{{ user.id }}" data-id="{{ user.id }}" value="{{ user.id }}">
                                                <label class="custom-control-label" for="user-id-{{ user.id }}"></label>
                                            </div>
                                        </td>
                                        <td>{{ user.username }} {{ user.lastname }}</td>
                                        <td>0</td>
                                        <td>

                                            <label class="green-switch">
                                                <input type="checkbox" {% if  user.active == 1 %}checked {% endif %} class="activate-user" data-id="{{ user.id }}">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>{{ classes|trim(', ') }}</td>
                                        <td>Badge</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            {{ user.createdAt |date("d M, Y")}}
                                        </td>
                                        <td class="td-actions text-right" >
                                            <a  data-id="{{ user.id }}" data-userClasses="{{ classesIds|trim(', ') }}" title="Changer Class" id="" class="affect-user btn btn-vu btn-link btn-sm" ><img src="{{ asset('images/icons/pensil-sm.png') }}" width="20"></a>
                                            <a href="{{ path('user_profile',{'id': user.id}) }}" rel="tooltip" title="Voir profile" class="btn btn-vu btn-link btn-sm" >  <i class="fas fa-eye"></i></a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- New Class -->
    <div class="modal fade" id="new-class" tabindex="-1" role="dialog" aria-labelledby="classe-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title-categ-new text-uppercase" id="new-classe">Nouvelle classe</h5>
                    <button type="button" class="close-categ" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                    <div class="col-6">
                        <div class="form-container sign-in-container">
                            <div class="form-group green-border-focus">
                                <label for="exp" class="offset-1 text-uppercase title-new-categ">Nom</label>
                                {{ form_widget(form.name) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer-categ">
                    <button type="submit" class="btn btn-primary btn-class">Enregistrer</button>
                </div>
                {{  form_end(form) }}
            </div>
        </div>
    </div>
    <!-- end class-->

    <!-- Affect User To class -->
    <div class="modal fade" id="affect-class" tabindex="-1" role="dialog" aria-labelledby="affect-class" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title-categ-new text-uppercase" id="new-classe">affecter Utilisateur au class</h5>
                <button type="button" class="close-categ" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <div class="form-container">
                        <div class="form-group green-border-focus">
                            <input type="hidden" id="user-id">
                            <input type="hidden" id="userclasses">
                            <div class="sidebar-dropdown dropdown-select right-check class-search pl-0">
                                <label class="dropdown-label text-uppercase">Choisir Classes</label>
                                <div class="dropdown-list text-uppercase catalogue-list pad-user p-0">
                                    {% for class in listClass %}
                                        <div class="checkbox custom-control custom-checkbox small" >
                                            <input type="checkbox" id="profile_class_{{ class.id }}" name="class" class="check custom-control-input pl-0" value="{{ class.id }}">
                                            <label class="custom-control-label pl-0 position-absolute" for="profile_class_{{ class.id }}">{{ class.name }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- <select id="list-class" name="form" class="form-control mb-3">
                                    <option value="">Choisir Class</option>
                                    {% for class in listClass %}
                                    <option value="{{ class.id }}">{{class.name}}</option>
                                    {% endfor %}
                                </select>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer-categ">
                <button class="btn btn-primary btn-class" id="affect-user-class" data-path="{{ path('affect_user_class') }}">Enregistrer</button>

            </div>
        </div>
    </div>
    {% block javascripts %}{% endblock %}

{% endblock %}