{% extends 'baseStudent.html.twig' %}
{% block title %}Profil - Kiwi Institute{% endblock %}
{% block top_title %} Profil {% endblock %}
{% block body %}
    {{ form_start(formUser,{'enctype':"multipart/form-data"}) }}
    <div class="row row pr-0 mr-0 margin-15-mobile" id="customprofilstudent">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-3 mb-4 editwithxs">
            <div class="full-card shadow py-2 text-center text-gray-700">
                <div class="card-body">
                    <div class="picture">
                        <div class="overlay"></div>
                            {{ form_widget(formUser.imageFile,{'attr':{'placeholder':'Photo','class':"form-control input-border-bottom noshow"}}) }}
                            <img id="showimagepicture" class="img-profile rounded-circle" src="{{ asset('/images/users/default-user.jpg')}}">
                    </div>

                    <div class="row no-gutters align-items-center general-data">
                        <div class="col mr-2">
                            <div class="text-sm mb-1 mt-2">{{ app.user.pseudo }}</div>
                            <div class="h5 mb-0 mt-3">{{ app.user.username }} {{ app.user.lastname }}</div>
                            <span>   {{ app.user.birthday|date("d-m-Y") }}</span>
                            <span>{{ app.user.email }}</span>
                     {#       <div class="col-auto mt-4 no-wrap">
                                <a href="" class="pr-3"><i class="fab fa-pinterest-p"></i></a>
                                <a href="" class="pr-3"><i class="fab fa-facebook-f"></i></a>
                                <a href="" class="pr-3"><i class="fab fa-twitter"></i></a>
                                <a href="" class="pr-3"><i class="fab fa-instagram"></i></a>
                            </div>#}

                        </div>

                    </div>
                </div>
            </div>
            <div class="list-btn">
                <a href="{{ path('student_data') }}" class="btn btn-primary col-12 mb-2">Mes données personnelles</a>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-9 col-md-9 mb-4 editwithxs">
            <div class="full-card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <span class="text-uppercase">ÉDITER le profil</span>
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}

                            <div class="row">
                                <div class="form-group col-12 col-md-6">
                                    {{ form_widget(formUser.pseudo, {'attr':{'placeholder':'Pseudonyme','class':"form-control input-border-bottom"}}) }}
                                    <small class="text-danger">
                                        {{form_errors(formUser.pseudo) }}
                                    </small>
                                </div>
                                <div class="col-12 col-md-6 birthday-input">
                                    <!--<label class="text-gray-700">Date de naissance</label>-->
                                    {{ form_widget(formUser.birthday,{'attr':{'placeholder':'Date de naissance','class':"form-control input-border-bottom text-right"}}) }}
                                    <small class="text-danger">
                                        {{form_errors(formUser.birthday) }}
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 smcustomprofil">
                                    {{ form_widget(formUser.username, {'attr':{'placeholder':'Nom','class':"form-control input-border-bottom"}}) }}
                                    <small class="text-danger">
                                        {{form_errors(formUser.username) }}
                                    </small>
                                </div>
                                <div class="form-group col-md-6 form-group col-md-6 ml-0 pl-0 pt-3 smcustomprofil">
                                    <label class="text-gray-700 mr-2 ml-3">Sexe</label>
                                    <div class="custom-control custom-radio custom-control-inline  nomargcote col-2 ml-2 mr-5">
                                        <label for="defaultInline1" class="radio">
                                            <input type="radio" class="custom-control-input sexRadio"  {% if gender is not null and gender == 0 %}checked{% endif %} id="defaultInline1" name="gender" value="0">
                                            <span class="label"></span>
                                            <span class="dinline">Féminin</span>
                                        </label>


                                    </div>

                                    <!-- Default inline 2-->
                                    <div class="custom-control custom-radio custom-control-inline col-3 ml-5">
                                        <label for="defaultInline2" class="radio">
                                        <input type="radio" class="custom-control-input sexRadio"  {% if gender == 1 %}checked{% endif %} id="defaultInline2" name="gender" value="1">
                                            <span class="label"></span>
                                            <span class="dinline">Masculin</span>
                                        </label>
                                 {#       <label class="custom-control-label" for="defaultInline2"></label>#}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    {{ form_widget(formUser.lastname, {'attr':{'placeholder':'Prénom','class':"form-control input-border-bottom"}}) }}
                                    <small lass="text-danger">
                                        {{form_errors(formUser.lastname) }}
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    {{ form_widget(formUser.email,{'attr':{'placeholder':'Mail','class':"form-control input-border-bottom"}}) }}
                                    <small class="text-danger">
                                        {{form_errors(formUser.email) }}
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    {{ form_widget(formUser.phone,{'attr':{'placeholder':'Téléphone','class':"form-control input-border-bottom"}}) }}
                                    <small class="text-danger">
                                        {{form_errors(formUser.phone) }}
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    {{ form_widget(formUser.address,{'attr':{'placeholder':'Adresse','class':"form-control input-border-bottom"}}) }}
                                    <small class="text-danger">
                                        {{form_errors(formUser.address) }}
                                    </small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    {{ form_widget(formUser.zipCode,{'attr':{'placeholder':'Code postal','class':"form-control input-border-bottom"}}) }}
                                    <small class="text-danger">
                                        {{form_errors(formUser.zipCode) }}
                                    </small>
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form_widget(formUser.city,{'attr':{'placeholder':'Ville','class':"form-control input-border-bottom"}}) }}
                                    <small class="text-danger">
                                        {{form_errors(formUser.city) }}
                                    </small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    {{ form_widget(formUser.region,{'attr':{'placeholder':'Région','class':"form-control input-border-bottom"}}) }}
                                    <small class="text-danger">
                                        {{form_errors(formUser.region) }}
                                    </small>
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form_widget(formUser.country,{'attr':{'placeholder':'Pays','class':"form-control input-border-bottom"}}) }}
                                    <small class="text-danger">
                                        {{form_errors(formUser.country) }}
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 show-1">
                                    {{ form_widget(formUser.password,{'attr':{'placeholder':'Mot de passe actuel','class':"form-control input-border-bottom"}}) }}
                                    <div class="show-password  text-gray-800"> <i class="fas fa-eye"></i> </div>
                                    <small class="text-danger">
                                        {{form_errors(formUser.password) }}
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    {{ form_widget(formUser.newPassword.first,{'attr':{'placeholder':'Nouveau mot de passe','class':"form-control input-border-bottom"}}) }}
                                    <div class="show-password show-2 text-gray-800"> <i class="fas fa-eye"></i> </div>
                                    <small class="text-danger">
                                        {{form_errors(formUser.newPassword.first) }}
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    {{ form_widget(formUser.newPassword.second,{'attr':{'placeholder':'Confirmer le nouveau mot passe','class':"form-control input-border-bottom"}}) }}
                                    <div class="show-password show-3 text-gray-800"> <i class="fas fa-eye"></i> </div>
                                    <small class="text-danger">
                                        {{form_errors(formUser.newPassword.second) }}
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    {{ form_widget(formUser.additionalInformation,{'attr':{'placeholder':'Informations complémentaires','class':"form-control input-border-bottom"}}) }}
                                    <small class="text-danger">
                                        {{form_errors(formUser.additionalInformation) }}
                                    </small>
                                </div>
                            </div>
                           <div class="row hidden">
                                <div class="form-group col-md-4">
                                    <i class="fab fa-pinterest-p"></i>{{ form_widget(formUser.pinterest,{'attr':{'placeholder':'','class':"form-control input-border-bottom  pl-3"}}) }}
                                    <small class="text-danger">
                                        {{form_errors(formUser.pinterest) }}
                                    </small>
                                </div>
                                <div class="form-group col-md-4">
                                    <i class="fab fa-twitter"></i> {{ form_widget(formUser.twitter,{'attr':{'placeholder':'','class':"form-control input-border-bottom"}}) }}
                                    <small class="text-danger">
                                        {{form_errors(formUser.twitter) }}
                                    </small>
                                </div>
                            </div>
                            <div class="row hidden">
                                <div class="form-group col-md-4">
                                    <i class="fab fa-facebook-f"></i> {{ form_widget(formUser.facebook,{'attr':{'placeholder':'','class':"form-control input-border-bottom  pl-3"}}) }}
                                    <small class="text-danger">
                                        {{form_errors(formUser.facebook) }}
                                    </small>
                                </div>
                                <div class="form-group col-md-4">
                                    <i class="fab fa-instagram"></i>{{ form_widget(formUser.instagrame,{'attr':{'placeholder':'','class':"form-control input-border-bottom"}}) }}
                                    <small class="text-danger">
                                        {{form_errors(formUser.instagrame) }}
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4 offset-md-8">
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(formUser) }}
{% endblock %}