{% extends 'baseStudent.html.twig' %}
{% block title %} Notes - Kiwi Institute {% endblock %}

{% block top_title %} <a href="{{ path('student_note') }}" class="text-uppercase text-gray-800">Notes </a> | <span class="text-uppercase"> {{ folder.name }} </span> {% endblock %}
{% block body %}
    <div class="row row pr-0 mr-0">
    <div class="col-12">
        <div class="full-card shadow py-2">
            <div class=" mb-4">
                <div class="card-header py-3" id="noteFold">
                    <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="checkAll">
                        <label class="custom-control-label" for="checkAll">Tout Sélectionner </label>
                        <div class="btn-action">
                            {#<button type="button" class="btn btn-download btn-link btn-sm download-notes pt-2" rel="tooltip" title="Télécharger les notes selectionnées" data-path="{{ path('download_notes')}}">
                                <img src="{{ asset('images/icons/download-sm.png') }}" width="30px" height="30px">
                            </button>#}
                            <button type="button" class="btn btn-download btn-link btn-sm pt-2" id="delete-all-notes" data-path="{{ path('delete_notes')}}">
                                <img src="{{ asset('images/icons/trash-sm.png') }}" width="30px" height="30px">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tbl-content">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th class=" span">Nom de la note</th>
                                    <th class="span">Date</th>
                                    <th class="span">&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for note in notes %}

                                    <tr>
                                        <td><div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input check-element" id="note_{{ note.id }}" name="note-checks" value="{{ note.id }}" data-id="{{ note.id }}">
                                                <label class="custom-control-label" for="note_{{ note.id }}"></label>
                                            </div>
                                        </td>
                                        <td class="">{{ note.title }}</td>

                                        <td class="">{{ note.createdAt |date("d/m/Y")}}</td>
                                        <td class="">
                                            <a href="{{ path('duplicate_note',{'id': note.id}) }}" rel="tooltip" title="Dupliquer la note" class="btn btn-vu btn-link btn-sm">  <img src="{{ asset('images/icons/duplicate-xs.png') }}"></a>
                                            <a href="{{ path('download_note',{'id': note.id}) }}" rel="tooltip" title="Télécharger note" class="btn btn-vu btn-link btn-sm"> <img src="{{ asset('images/icons/download-xs.png') }}" width="20px" height="20px"> </a>
                                            <a href="{{ path('update_note',{'id': note.id}) }}" rel="tooltip" title="Modifier note" class="btn btn-vu btn-link btn-sm">  <img src="{{ asset('images/icons/pensil-xs.png') }}"></a>
                                            <a href="{{ path('delete_note',{'id': note.id}) }}" rel="tooltip" title="Supprimer note" class="btn btn-vu btn-link btn-sm"> <img src=" {{ asset('images/icons/trash-xs.png') }}"></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}