{% extends 'baseStudent.html.twig' %}
{% block top_title %} <a href="{{ path('student_note') }}" class="text-uppercase">Notes</a> {% endblock %}
{% block body %}
    <div class="row row pr-0 mr-0 row-edit">
        <div class="col-12">
            <div class="full-card shadow py-2 margin-15-mobile">
                <div class="mb-4">
                    <div class="card-body" id="update-form">
                        {{ form_start(formNote) }}
                            {{ form_widget(formNote.title,{'attr':{'placeholder':'Titre de la note','class':"form-control mb-3"}}) }}
                            {{ form_widget(formNote.studentFolder,{'attr':{'class':"form-control mb-3"}}) }}
                            {{ form_widget(formNote.value,{'attr':{'placeholder':'','class':"form-group ckeditor"}}) }}
                            <div class="row mt-4">
                                <div class="col-12 col-md-6">
                                    <a href="#" id="print-doc"><img class="customimgsvgcloud"  src="{{ asset('images/icons/imp.svg') }}"></a>
                                    <a href="{{ path('download_note',{'id': note.id}) }}"><img class="customimgsvgcloud" src="{{ asset('images/icons/cloud-svg.svg') }}"></a>
                                </div>
                                <div class="col-12 col-md-6 text-right">
                                    <button type="reset" class="hoverkiwi btn btn-primary pr-0 pl-0 col-12 col-md-3">Réinitialiser</button>
                                    <button type="submit" class="hoverkiwi btn btn-primary pr-0 pl-0 col-12 col-md-3">Enregistrer</button>
                                </div>
                            </div>
                        {{ form_end(formNote) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none div-impression">
        <p><strong>Titre : </strong>{{note.title}} </p>
        <p><strong>Description : </strong>{{ note.value }}</p>
        <p><strong>Date de création: </strong> {{note.createdAt|date("d M Y")}}</p>
    </div>
{% endblock %}